<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.editProfile.user}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.editProfile.user}}</a></li>
      <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.editProfile.home}}</a></li>
      <li class="active breadcrumb-item">{{language.pernsonalizesDocument.userPeronalDoc}}</li>
    </ol>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngIf="customer && customer.length > 0">
        <div class="profile-sidebar">
          <div class="profile-sidebar-inner">
            <div class="card">
              <div class="card-body">
                <div class="profile-img">
                  <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                    <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                    <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                  </a>
                </div>
                <div class="profile-media" *ngFor="let item of customer">
                  <h4 class="profile-user">{{item.mail}}</h4>
                  <p class="user-job" *ngIf="item && item.society"><strong>{{language.news.club}}:</strong>{{item.society}}</p>
                </div>
              </div>
            </div>

            <app-profile-sidebar [userId]="userId" [userData]="customer"></app-profile-sidebar>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="profile-description">
          <div class="card">
            <div class="card-header">{{language.pernsonalizesDocument.userDocs}}</div>
            <div class="card-body">
              <div class="card-details">

                <!-- update setting -->
                <div class="card user-following">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-12">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                          <div class="row product-row" *ngIf="documents && documents.length > 0">
                            <h3 class="product-title">{{language.pernsonalizesDocument.userPeronalDoc}}</h3>
                            <div class="pricing-option col-lg-3 col-md-6 col-sm-6"
                              *ngFor="let item of documents; let i = index">

                              <div class="document-item" (click)="previewDocs(item.user_personalized_pdf_url)">
                                <div class="document-image">
                                  <!-- <img [src]="extArr[i]? docExt[i] :'../../../assets/img/pdf.webp'"> -->
                                  <img src="../../../assets/img/pdf.webp">
                                </div>
                                <h5> <a>
                                    <span class="docu_name">{{fileNameArr[i]}}</span>
                                  </a>
                                </h5>
                              </div>
                            </div>
                          </div>

                          <div class="row product-row">
                            <h3 class="product-title">{{language.sideBar.contactDocs}}</h3>
                            <div class="col-md-3" *ngFor="let item of contactDocuments; let i = index">
                              <div class="document-item" (click)="previewDocs(item.path)">
                                <div class="document-image">
                                  <!-- <img [src]="extArr[i]? docExt[i] :'../../../assets/img/pdf.webp'"> -->
                                  <img src="../../../assets/img/pdf.webp">
                                </div>
                                <h5> <a>
                                    <span class="docu_name">{{fileNameAllArr[i]}}</span>
                                  </a>
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Example Select -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End update setting -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade document_modal" id="userDocs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel"></h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="url != ''">
        <ngx-doc-viewer [url]="this.url[0]" viewer="google" style="width:100%;height:90vh;">
        </ngx-doc-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">{{language.register.close}}</button>
        <button type="button" class="btn btn-primary" (click)="download(this.url[0])">{{language.productPrice.downloadPdf}}</button>
      </div>
    </div>

  </div>
</div>
<!-- End Page -->

<!-- Button trigger modal -->


<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>