/* top card css */
.media-body h4 {
    font-size: 1.35rem;
    font-weight: 600;
  }
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card-body{
    font-family: Inter, sans-serif;
  }
  .text-primary i{
    color: #5664d2!important;
  }
  .badge-soft-success {
    color: #1cbb8c;
    background-color: rgba(28,187,140,.18);
    line-height: 9px;
  }
  /* dd css start */
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }
  .card-drop {
    font-size: 20px;
    line-height: 0;
    color: inherit;
    padding: 0px;
  }
  .card-drop:focus {
    box-shadow: none;
    outline: none;
  }
  .dropdown-toggle {
    white-space: nowrap;
  }
  .dropdown-menu-right {
    right: 0!important;
    left: auto!important;
    transform: translate3d(-10px, 22px, 0px) !important;
  }
  .card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 500;
  }
  .dropdown.b-dropdown.float-right.btn-group .dropdown-menu>li>a {
    font-weight: 400;
    margin: 0;
  }
  .widget-dr .dropdown-item:active {
    background-color: #5664d2;
    color: #fff;
  }
  ul.dropdown-menu.open {
    display: block;
  }
  .card-drop:after {
    content: '';
    border: transparent;
  }
  .widget-dr ul.dropdown-menu li a {
    font-weight: 400;
    font-family: Inter, sans-serif;
  }
  
  
  
  
  
  .page-user .page-content form {
    margin-bottom: 40px;
  }
  
  .page-user .page-content .list-group-item {
    padding: 25px 0;
    border-top-color: #e4eaec;
  }
  
  .page-user .page-content .list-group-item:first-child {
    border-top-color: transparent;
  }
  
  .page-user .page-content .list-group-item:last-child {
    border-bottom-color: #e4eaec;
  }
  
  .page-user .page-content .list-group-item .media-heading > small {
    margin-left: 10px;
  }
  
  .page-user .page-content .list-group-item p {
    margin-bottom: 5px;
  }
  
  .page-user .page-content .nav-tabs-horizontal {
    position: relative;
  }
  
  .page-user .page-content .page-user-sortlist {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
  }
  
  @media (max-width: 991px) {
    .page-user .page-content .page-user-sortlist {
      top: -15px;
    }
  }
  
  @media (max-width: 479px) {
    .page-user .page-content .list-group-item .media-body {
      display: block;
      text-align: center;
    }
  
    .page-user .page-content .list-group-item .media-body {
      width: auto;
    }
  
    .page-user .page-content .list-group-item .media-body {
      margin-top: 15px;
    }
  
    .page-user .page-content .tab-content nav {
      text-align: center;
    }
  }
  
  /* user css start */
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size: 14px !important;
  }
  td, th {
    padding: 15px 10px !important ;
  }
  .header_add_option span{
    margin-top: 5px;
    display: inline-block;
  }
  .nav-tabs-custom {
    border-bottom: 2px solid #f1f5f7;
  }
  .nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
  }
  .nav-tabs-custom .nav-item .nav-link {
  border: none;
  }
  .nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
  }
  .p-3 {
  padding: 1rem!important;
  }
  .table-bordered th, .table-bordered td, .table-bordered {
  border: transparent;
  vertical-align: middle !important;
  color:#505d69;
  }
  .table-striped tbody tr:nth-of-type(odd) {
  background-color:#fff !important;
  }
  tr {
  height: 56px;
  border-top: 1px solid #eff2f7;
  }
  .page-content.add_content_main table {
  font-family: Inter, sans-serif;
  }
  .table th {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  }
  .page-content table button {
  background: transparent !important;
  border: transparent;
  padding: 0;
  }
  .table_action {
  text-align: center;
  }
  td.table_action.view i {
  color: #5664d2;
  font-size: 20px;
  }
  .list-search-panel{
    justify-content: flex-end;
  }
  .user-list-main {
    max-height: 565px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 320px;
  }
  
  /* user role css start */
  .user-image {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 10px;
  }
  .user-image img {
    max-width: 100%;
    height: 100%;
  }
  .user-img {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .user-media span {
    display: inline-block;
    width: 100%;
  }
  .user-media span.text-truncate {
    margin-bottom: 0px !important;
    font-size: 14px !important;
    font-weight: 600;
  }
  .user-media {
    line-height: 18px;
  }
  .user-role-inner {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  .user-status .badge {
    line-height: 17px;
    padding-right: 11px !important;
    border-radius: 25px;
  }
  
  .profile_info h5 {
    font-size: 15px;
  }
  .user-base.card-block {
    color: #263238;
  }
  
  .page-profile .profile-user {
    margin: 10px 0px !important;
    color: #263238;
    font-size: 1.286rem;
    text-transform: capitalize;
  }
  .user-info {
    border: transparent;
    box-shadow: 0px 0px 6px 3px #f1f4f5;
  }
  .profile_info h5.card-title {
    padding: 10px 10px;
    background: #f1f4f5;
    margin:10px;
  }
  .profile-action a {
    color: #263238 ;
    padding-top: 10px;
  }
  .profile-d-inner {
    display: flex;
    border: 1px solid #ebebeb;
    height: 45px;
    align-items: center;
  }
  span.profile-ic {
    height: 45px;
    display: flex;
    align-items: center;
    width: 45px;
    justify-content: center;
    background: #5664d2;
    margin-right: 10px;
  }
  span.profile-ic i{
    color: #fff;
    font-size: 20px;
  }
  .profile-details {
    font-size: 14px;
    font-family: Inter, sans-serif;
  }
  .profile-details label {
    font-weight: 600;
    margin-bottom: 15px;
  }
  .profile-in span {
    color: #74788d;
  }
  
  
  .pricing-option {
    background: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding: 24px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    border: 1px solid #eff2f7;
    cursor: pointer;
  }
  .pricing-option:hover i, .pricing-option:hover h1, .pricing-option:hover span, .pricing-option:hover b {
    color: #5664d2 !important;
  }
  .pricing-option:hover .front {
    opacity: 1;
    visibility: visible;
  }
  .pricing-option:hover .detail_btn {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .pricing-option:hover .back a.button {
    transform: translateY(0px) !important;
  }
  .pricing-option hr {
    border: none;
    border-bottom: 1px solid #F0F0F0;
  }
  .pricing-option i {
    font-size: 3rem;
    color: #D8D8D8;
    transition: all 0.3s ease-in-out;
  }
  .pricing-option h1 {
    margin: 10px 0;
    color: #212121;
    transition: all 0.3s ease-in-out;
  }
  .pricing-option p {
    color: #999;
    padding: 0 10px;
    line-height: 1.3;
  }
  .pricing-option p strong{
    color: #212121;
  }
  .pricing-option .price {
    position: relative;
  }
  .pricing-option .price .front span.price {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
  }
  .pricing-option .price .front span.price b {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
  }
  .pricing-option .price .detail_btn {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .pricing-option .price .detail_btn .button {
    background: #5664d2;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    top: -5px;
    left: 0;
    right: 0;
    width: 165px;
    margin: auto;
    text-transform: uppercase;
    border: transparent;
  }
  .pricing-option .price .detail_btn .button:hover {
    background: #5664d2;
  }
  .pricing-option svg path {
    fill: #d8d8d8;
  }
  .pricing-option:hover svg path {
    fill: #5664d2;
  }
  .pricing-option svg {
    width: 50px;
  }
  .plan_description .modal-dialog {
  max-width: 650px;
  top: 4em;
  }
  .modal-title {
  font-size: 22px !important;
  margin-bottom: 0px !important;
  }
  .product_image {
  display: grid;
  place-content: center;
  }
  /* sidebar css start */
  .sidebar-content ul {
  padding-left: 25px;
  margin: 0;
  }
  .sidebar-content ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #eff2f7;
  }
  .product-details a {
  text-decoration: none;
  font-weight: 500;
  }
  .product-details {
  font-family: Inter, sans-serif;
  }
  .front h3 {
  font-size: 14px;
  font-weight: 500;
  color: #5664d2;
  font-family: Inter, sans-serif;
  line-height: 20px;
  }
  .pricing-option:hover h5 a {
  color: #5664d2 !important;
  }
  .product_image img {
  width: 100px;
  height: auto;
  margin-bottom: 30px;
  }
  ::ng-deep .row.pagination-filter ul.ngx-pagination {
  float: right;
  }
  .pagination-filter {
  margin: 35px 0px 20px 0px;
  }
  .row.pagination-filter input, .row.pagination-filter select {
  width: 40px;
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
  }
  .row.pagination-filter input{
  padding-left: 5px;
  }
  .row.pagination-filter input:focus{
  outline: none;
  }
  ::ng-deep .ngx-pagination .current {
  background: #5664d2 !important;
  }
  .pagination-filter .col-lg-6{
  padding: 0px;
  color: #919191;
  }
  .profile-card ul {
    padding: 0;
    margin: 0;
}
.profile-card ul li {
  padding: 15px;
  list-style: none;
  display: flex;
  border-bottom: 1px dotted #ccc;
}
.profile-sidebar-inner .card, .profile-description .card {
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 8%);
  border: transparent;
}

