<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.dashboard.dashboard}}</h1>
    <!-- <ol class="breadcrumb">
      <li class="active breadcrumb-item">{{language.dashboard.dashboard}}</li>
    </ol> -->
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <div class="mat-table-view">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="profile-sidebar">
                    <div class="profile-sidebar-inner">
                      <div class="card">
                        <div class="card-body">
                          <div class="profile-img">
                            <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                              <img *ngIf="hasPicture != true" id="imagePreview" src="../assets/img/profile.png">
                              <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                            </a>
                          </div>
                          <div class="profile-media" *ngFor="let item of userData">
                            <h4 class="profile-user">{{item.mail}}</h4>
                            <p class="user-job" *ngIf="item && item.society">
                              <strong>{{language.sideBar.clubs}}:</strong>{{item.society}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="profile-card" *ngFor="let item of userData">
                            <ul>
                              <li *ngIf="item && item['firstName']"><i
                                  class="bx ri-user-2-line"></i>{{item['firstName']}}</li>
                              <li *ngIf="item && item['lastName']"><i class="bx ri-user-2-line"></i>{{item['lastName']}}
                              </li>
                              <li *ngIf="item && item['mail']"><i class="bx ri-mail-add-line"></i>{{item['mail']}}</li>
                              <li *ngIf="item && item['society']"><i
                                  class="bx ri-user-follow-line"></i>{{item['society']}}</li>
                              <li *ngIf="item && item['contactNumber']"><i
                                  class="bx ri-cellphone-line"></i>{{item['contactNumber']}}</li>
                              <li *ngIf="item && item['country']"><i
                                  class="bx ri-map-pin-2-line"></i>{{item['country']}}</li>
                              <li *ngIf="item && item['place']"><i class="bx ri-road-map-line"></i>{{item['place']}}
                              </li>
                              <li *ngIf="item && item['addressLine1']"><i
                                  class="bx ri-treasure-map-line"></i>{{item['addressLine1']}}</li>
                              <li *ngIf="item && item['accountNumber']"><i
                                  class="bx ri-account-box-line"></i>{{item['accountNumber']}}</li>
                              <!-- <li><i class="bx ri-user-2-line"></i><span *ngFor="let role of item['role']">
                                  {{role['role']}} <span></li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-8">
                  <mat-tab-group>
                    <mat-tab label="{{language.dashboard.licenceInfo}}">
                      <div class="">
                        <div class="profile-description">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-details">
                                <div class="page-content">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="panel widget_inner">
                                        <div class="panel-body container-fluid">
                                          <div class="col-md-12">
                                            <div class="row" *ngIf="completedOrders && completedOrders.length > 0">
                                              <div class="pricing-option col-lg-4 col-md-6 col-sm-6"
                                                *ngFor="let product of completedOrders">
                                                <div class="product_image">
                                                  <img src="../assets/img/v-logo.png" />
                                                </div>
                                                <div class="product-details">
                                                  <h5 class="font-size-18" *ngIf="product && product.PlanVariantName"><a
                                                      class="text-dark">
                                                      <span>{{product.PlanVariantName}}</span>
                                                    </a></h5>
                                                  <p class="font-size-12 mb-1">
                                                    <span> {{product.Contract.StartDate | date: 'dd/MM/yyyy'}}</span>
                                                  </p>
                                                </div>
                                                <div class="price">
                                                  <div class="detail_btn"
                                                    routerLink="/product-details/{{product.PlanVariantId}}">
                                                    <button type="button"
                                                      class="button">{{language.dashboard.licenceInfo}}</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="col-md-12"
                                              *ngIf="completedOrders && completedOrders.length == 0">
                                              <span>{{language.dashboard.noData}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>

                    <mat-tab label="{{language.billwerk.invoice}}">
                      <div class="">
                        <div class="profile-description">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-details" *ngIf="isData == true">
                                <div  class="table-responsive">
                                  <div class="list-search-panel mt-10">
                                    <div class="search-list">
                                      <mat-form-field>
                                        <mat-label>{{language.common.search}}</mat-label>
                                        <input matInput (keyup)="applyinvoiceFilter($event)"
                                          placeholder="{{language.common.exsearch}}" #input>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <!-- search heading of list end -->
                                  <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
                                    class="table
                                                table-bordered" data-plugin="floatThead">
                                    <ng-container matColumnDef="Date">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.date}}
                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        {{dataSource.DocumentDate | date: 'MMM d, y'}}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Name">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.firstName}}

                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        {{dataSource.RecipientName}}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Document-Number">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.documentNumber}}
                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        <a routerLink="/invoice-details/{{dataSource.Id}}">
                                          {{dataSource.InvoiceNumber}}
                                        </a>
                                      </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Contract">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.contract}}

                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        {{dataSource.ContractId}}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Currency">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.currency}}

                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        {{dataSource.Currency}}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Gross-Total">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.grossTotal}}

                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        {{dataSource.TotalGross | number : '1.2-2'}}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Net-Total">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{language.billwerk.netTotal}}

                                      </th>
                                      <td class="odd" mat-cell *matCellDef="let dataSource">
                                        {{dataSource.TotalNet | number : '1.2-2'}}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Download">
                                      <th mat-header-cell *matHeaderCellDef>
                                        {{language.billwerk.download}}

                                      </th>
                                      <td class="odd table_action view" mat-cell href="" *matCellDef="let dataSource">
                                        <button class="btn btn-warning" (click)="downloadInvoice(dataSource.Id)"> <i
                                            class="icon  wb-download" aria-hidden="true"></i></button>
                                      </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayInvoice"></tr>
                                    <tr mat-row *matRowDef="let row; columns: columnsToDisplayInvoice;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                      <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                                        "{{input.value}}"
                                      </td>
                                    </tr>
                                  </table>
                                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                                    aria-label="Select page">
                                  </mat-paginator>
                                </div>
                              </div>
                              <div *ngIf="isData == false" style="text-align: center;">
                                <h3>{{language.common.noDataFound}}</h3>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="{{language.dashboard.relatedProducts}}">
                      <div class="col-lg-12">
                        <div class="profile-description">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-details">
                                <div class="page-content">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="panel widget_inner">
                                        <div class="panel-body container-fluid">
                                          <div class="col-md-12">
                                            <div class="row">
                                              <div class="pricing-option col-lg-4 col-md-6 col-sm-6"
                                                *ngFor="let product of productData">
                                                <div class="product_image">
                                                  <img src="../assets/img/v-logo.png" />
                                                </div>
                                                <div class="product-details">
                                                  <p class="font-size-12 mb-1" *ngIf="product && product.planGroup">
                                                    <span>{{product.planGroup.Name._c}}</span>
                                                  </p>
                                                  <h5 class="font-size-18" *ngIf="product && product.InternalName"><a
                                                      class="text-dark">
                                                      {{product.InternalName}}</a></h5>
                                                </div>
                                                <div class="price">
                                                  <div class="detail_btn" routerLink="/product-details/{{product.Id}}">
                                                    <button type="button" class="button">
                                                      {{language.dashboard.view_detail}}
                                                    </button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
              <div class="user-list-main">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>