<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.emailTemplate.email_template }}</h1>
        <div class="bread_with_add_btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
                <li class="active breadcrumb-item">{{language.emailTemplate.email_template }}</li>
            </ol>
            <div *ngIf="authService.isAdmin()|| permissions.emailTemplate &&
            permissions.emailTemplate.includes('ADD')" class="page-header-actions text-center header_add_option"
                routerLink="/create-email-template">
                <button type="button" class="btn btn-floating btn-success btn-sm"
                    title="{{language.emailTemplate.create_email }}"><i class="icon wb-plus"
                        aria-hidden="true"></i></button><br>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="panel" *ngIf="error == true || success == true">
            <div class="panel-body">
                <div class="alert alert-danger" role="alert" *ngIf="error == true">
                    <span>{{message}}</span>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    <span>{{message}}</span>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
        <div class="panel">
            <div class="panel-inner">
                <!-- tab navigation start -->
                <div class="tabs">
                    <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active p-3">
                                {{language.emailTemplate.email_template}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- tab navigation end -->
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>{{language.emailTemplate.template_type}}
                            </th>
                            <th>{{language.emailTemplate.subject}}</th>
                            <th>{{language.emailTemplate.header_content }}</th>
                            <th>{{language.emailTemplate.body_content }}</th>
                            <th>{{language.emailTemplate.footer_content }}</th>
                            <th>{{language.emailTemplate.url }}</th>
                            <th>{{language.emailTemplate.logo }}</th>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of emailTemplateData| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
                            <td>{{item.template_type}}</td>
                            <td>{{item.subject}} </td>
                            <td>
                                <p
                                    [innerHTML]=" (item['header_content'].length > 0 )? (item['header_content'] | slice:0:20)+'...':(item['header_content']) ">
                                </p>
                            </td>
                            <td>
                                <p
                                    [innerHTML]="(item['template_body'].length > 0 )? (item['template_body'] | slice:0:20)+'...':(item['template_body'])">
                                </p>
                            </td>
                            <td>
                                <p
                                    [innerHTML]="(item['footer_content'].length > 0 )? (item['footer_content'] | slice:0:20)+'...':(item['footer_content'])">
                                </p>
                            </td>
                            <td>{{ (item['url'].length > 0 )? (item['url'] | slice:0:15)+'...':(item['url']) }}</td>
                            <td><img src="{{item.logo}}"></td>
                            <td>
                                <div class="table-action-main">
                                    <div class="table-action-btn" *ngIf="authService.isAdmin() || permissions.emailTemplate &&
                                    permissions.emailTemplate.includes('EDIT')"
                                        routerLink="/edit-email-template/{{item.id}}"><a><i
                                                class="bx ri-pencil-line text-warning"></i></a></div>
                                    <div class="table-action-btn" *ngIf="authService.isAdmin() || permissions.emailTemplate &&
                                    permissions.emailTemplate.includes('DELETE')" (click)="deletetemplate(item.id)">
                                        <a><i class="bx ri-delete-bin-2-line text-danger"></i></a></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pagination-filter" *ngIf="emailTemplateData && emailTemplateData.length > 0">
                    <div class="col-lg-0">
                        <pagination-controls (pageChange)="pageChanged($event);"
                            previousLabel={{language.pagination.previous}} nextLabel={{language.pagination.next}}>
                        </pagination-controls>
                    </div>
                    <div class="col-lg-6">
                        <span>{{language.pagination.go_to_page}}
                            <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
                        </span>
                        <span>{{language.pagination.limit_per_page}}
                            <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                                <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
                                    {{limitValue.value}}
                                </option>
                            </select>
                        </span>
                        {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
                        {{ (currentPageNmuber * itemPerPage) >
                        totalRecord ? totalRecord : (currentPageNmuber * itemPerPage) }}
                        {{language.pagination.of}} {{ totalRecord | number }} {{language.emailTemplate.email_template }}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="empty-data-image" *ngIf="emailTemplateData && emailTemplateData.length == 0">
        <span> {{language.common.noDataFound}}</span>
    </div>
</div>

<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>