
.nav-tabs-custom {
  border-bottom: 2px solid #f1f5f7;
}
.nav-tabs-custom .nav-item .nav-link.active {
color: #5664d2;
background-color: #fff;
border-bottom: 2px solid #5664d2;
}
.nav-tabs-custom .nav-item .nav-link {
border: none;
}
.nav-tabs .nav-link {
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
font-weight: 500;
color: #5664d2;
}
table.table.table-responsive th, table.table.table-responsive tr {
  padding: 15px 10px !important;
}
table.table.table-responsive thead tr th {
  border-bottom: transparent;
}
table.table.table-responsive tr {
  border-top: 1px solid #eff2f7;
  height: 56px;
}
table.table.table-responsive tr td{
  line-height: 32px;
}
.table-action-main {
  display: flex;
}
table.table.table-responsive {
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow-x: auto;
  font-family: Inter, sans-serif;
}
.table-action-btn {
  padding: 0 10px;
}
.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.white_btn {
  background-color: #fff;
  border: 1px solid #95a2b4;
  border-radius: 12px;
  padding: 15px 25px;
  color: #677180;
  font-size: 16px;
  font-weight: 500;
}
.page-title h2 {
  margin: 0;
}
.white_btn .create_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.title-wrapper .white_btn {
  margin-top: 10px;
}
.survey-tabs-wrapper {
  width: 100%;
}
.chat-navigation a.nav-link.active:before,
.chat-navigation a.nav-link:hover:before,
.chat-navigation a.nav-link:before {
  background-image: none;
}

.table tr{
border-bottom: 1px solid #eff2f7;
}
.table {
  background-color: #fff;
  margin: 25px 0 0;
}
.table th {
  text-transform: capitalize;
}
.table td,
.table th {
  border-color: #e5e9f2;
  color: #424d5c;
  font-size: 15px;
  padding: 20px 15px;
}
.table td .btn {
  border: 1px solid #e12217;
    border-radius: 4px;
    background: #e12217;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    text-transform: capitalize;
}
.table-responsive {
  overflow: auto;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  .chat-navigation .nav-tabs .nav-item {
    width: 100%;
  }
  .chat-navigation a.nav-link {
    padding-left: 0 !important;
  }
}
.title-btn-group {
  margin-bottom: 0px;
}
.survey_action {
  display: inline-block;
  margin-right: 10px;
}
.survey_action_main {
  float: right;
}
.table-responsive {
  font-family: 'poppinsregular';
}
.pagination-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
::ng-deep .mat-tab-label-content {
  color: #424d5c;
  font-size: 14px;
  font-family: 'Poppinsregular';
  font-weight: 500;
}
::ng-deep .mat-tab-label-active .mat-tab-label-content{
  color: red;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background: red;
}
.survey_action_main {
  float: right;
}
.survey_action {
  display: inline-block;
}
.survey_action .btn{
  background-color: #e12217;
  color: #fff;
  padding: 8px 12px;
  text-transform: capitalize;
}

.survey_action .btn:hover{
  color: #fff;
}
.survey_action_main {
  float: right;
}
.survey_action_main .btn {
  margin-right: 5px;
}
.email_img {
  width: 80px;
  overflow: hidden;
}

td.content_wrapping p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 38%;
  text-transform: capitalize;
}
table img {
  width: 50px;
  height: 50px;
}
.pagination-filter {
  margin: 35px 0px 20px 0px;
}
.row.pagination-filter input, .row.pagination-filter select {
  width: 40px;
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
}
.row.pagination-filter input{
  padding-left: 5px;
}
.row.pagination-filter input:focus{
  outline: none;
}
::ng-deep .ngx-pagination .current {
  background: #5664d2 !important;
}
.pagination-filter .col-lg-6{
  padding: 0px;
  color: #919191;
}
pagination-controls {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width:1300px){
  table.table.table-responsive {
    display: block;
}

}