



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.login-fields {
    display: inline-block;
    width: 100%;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 50px;
}

img.brand-img {
    width: 40px;
    margin-right: 10px;
    margin-top: -10px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 140px auto;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    max-width: inherit;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

@media only screen and (max-width:700px) {
    .sign-in-container {
        width: 100%;
    }

    .form-container {
        position: inherit;
    }

    .sign-up-container {
        display: none;
    }

    .overlay-container {
        display: none;
    }

    .d-flex.align-items-center a {
        display: inline-block;
        line-height: 0;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 0 20px !important;
    }

    .d-flex.align-items-center {
        display: none !important;
    }

    .container {
        box-shadow: transparent !important;
    }
}

@media only screen and (max-width:990px) and (min-width:768px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row !important;
    }

    .navbar-expand-lg .navbar-nav li {
        margin-right: 10px !important;
    }

    .d-flex.align-items-center {
        display: none !important;
    }
}

/* header-css start */
a.navbar-brand .brand {
    display: flex;
    align-items: center;
}

.header a.navbar-brand .brand img {
    width: 35px;
}

.header a.navbar-brand .brand h3 {
    font-size: 28px !important;
}

.header a.navbar-brand.mt-2.mt-lg-0 {
    margin: 0;
    display: flex;
    align-items: center;
}

.d-flex.align-items-center a {
    color: rgba(0, 0, 0, 0.5);
}

.header button {
    padding: 10px 20px;
}

.header .dropdown-menu.show {
    left: -40px;
}

.header button.navbar-toggler {
    height: auto;
    width: auto;
    border-radius: 5px;
}

.collapse.navbar-collapse.expand {
    display: block;
}

.form-container.sign-in-container .alert {
    margin: 20px 20px 0px 20px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size: 14px !important;
  }
  td, th {
    padding: 15px 10px !important ;
  }
  .header_add_option span{
    margin-top: 5px;
    display: inline-block;
  }
.nav-tabs-custom {
    border-bottom: 2px solid #f1f5f7;
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}
.p-3 {
  padding: 1rem!important;
}
.table-bordered th, .table-bordered td, .table-bordered {
 border: transparent;
 vertical-align: middle !important;
 color:#505d69;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color:#fff !important;
}
tr {
  height: 56px;
  border-top: 1px solid #eff2f7;
}
.page-content.add_content_main table {
  font-family: Inter, sans-serif;
  table-layout: fixed;
}
.table th {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.page-content table button {
  background: transparent !important;
  border: transparent;
  padding: 0;
}
.table_action {
  text-align: center;
}
td.table_action.view i {
  color: #5664d2;
}
td.frd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-search-panel {
    justify-content: flex-end;
}
img.table-news-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
}

.product-image .product-img {
    border: 1px solid #eff2f7;
    padding: 24px;
    height: 450px;
    min-height: 180px;
    background: #eff2fd;
    text-align: center;
}
.product-img img {
    height: 100%;
    object-fit: scale-down;
}
.order-status h3 {
    font-family: Inter, sans-serif;
}
.plans-details h5 {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #eff2f7;
    padding: 10px;
    background: #eceeff;
}
.plans-details {
    margin-bottom: 40px;
}
.product_action button {
    line-height: 23px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    height: 44px;
    width: 300px;
    float: left;
}
.product_action {
    margin-bottom: 30px;
}

::ng-deep.mat-tab-body-content .tab-inner {
    padding: 20px;
  }
::ng-deep.mat-tab-body-content .tab-inner p {
    font-size: 14px;
    color: #505d69;
    font-family: Inter, sans-serif;
    font-weight: 400;
  }
  .tab-inner div p {
    display: flex;
}
.plans_details p{
    color: #74788d!important;
    font-size: .9rem;
}
.plans_details h5{
    font-size: 1.125rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.desc_section{
    width: 100%;
}
.plans_details {
    margin-bottom: 25px;
}
@media only screen and (min-width:768px) and (max-width:1400px){
    .col-xl-4.offset-md-1{
        margin-left: 0px !important;
    }
    .product-image .product-img {
        height: 300px;
    }
    .col-xl-7 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media only screen and  (max-width:767px){
    .product-image .product-img {
        height: 100%;
    }
    .product_action button{
        width: 100%;
    }
}

::ng-deep .mat-tab-label-active .mat-tab-label-content {
    color: #5664d2;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #5664d2;
}