<!-- Page -->

<!-- End Page -->

<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>



<div class="page">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <span>{{error}}</span>
    </div>
    <div class="page-header">
        <h1 class="page-title">{{language.news.newsDetails}}</h1>
        <div class="bread_with_add_btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.news.home}}</a></li>
                <li class="active breadcrumb-item">{{language.news.newsDetails}}</li>
            </ol>
        </div>
    </div>
    <div class="page-content add_content_main">
        <div class="panel">
            <div class="panel-inner">
                <!-- tab navigation start -->
                <div class="tabs">
                    <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active p-3">
                                {{language.news.newsDetails}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Panel -->
                <div class="panel">

                    <div class="panel-body container-fluid">
                        <div class="row">
                            <!-- Middle Column -->
                            <div class="col-lg-12 col-xl-9 order-xl-2">
                                <!-- User Background -->
                                <div class="user-background card card-shadow  profile_info">

                                    <div class="page-content" *ngFor="let item of EnterData">
                                        <div class="panel">
                                          <div class="panel-body container-fluid">
                                            <div class="row">
                                              <div class="col-xl-4">
                                                <div class="product-image">
                                                  <div class="product-img">
                                                    <img class="img-fluid" *ngIf="item && !item.image" src="../assets/img/v-logo.png" />
                                                    <img class="img-fluid" *ngIf="item && item.image" [src]="item.image" />
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-xl-7">
                                                <div class="product-details">
                                                  <h5 class="font-size-20">{{item['title']}}</h5>
                                                  <p class="font-size-12 mb-1">{{item['content']}}</p>
                                                  <div class="divider-line"></div>
                                                  <div class="plans-description">
                                                    <div class="row">
            
                                                      <div class="col-lg-4 col-xs-6 col-sm-6">
                                                        <div class="plans_details">
                                                          <p class="text-muted mb-0">{{language.news.author}}</p>
                                                          <h5>{{item['author']}} </h5>
                                                        </div>
                                                      </div>
            
                                                      <div class="col-lg-4 col-xs-6 col-sm-6">
                                                        <div class="plans_details">
                                                          <p class="text-muted mb-0">Created At</p>
                                                          <h5>{{item['created']| date:
                                                            'MMM d'}}</h5>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="divider-line"></div>
                                                  <!-- order button section start -->
                
                                                </div>
                                              </div>
                                            
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!-- End Middle Column -->
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>