<!-- <div class="page"> -->

    <!-- <div class="page-header">
        <h1 class="page-title">{{language.billwerk.orderHistory}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
            <li class=" active breadcrumb-item">{{language.billwerk.orderHistory}}</li>
        </ol>
    </div> -->
    <div class="page-content add_content_main">
        <div class="panel" *ngIf="error == true || success == true">
            <div class="panel-body">
                <div class="alert alert-danger" role="alert" *ngIf="error == true">
                    <span>{{message}}</span>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    <span>{{message}}</span>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-inner">
                <!-- tab navigation start -->
       
                <!-- tab navigation end -->
                <div class="list-search-panel mt-10">
                    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="control-label">{{language.viewUser.status}}</label>
                            <select class="form-control" name="status" formControlName="status">
                                <option *ngFor="let item of productStatus" value="{{item}}">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="btns-group mt-10">
                            <div class="btns-set">
                                <button type="submit" data-style="zoom-in" data-plugin="ladda"
                                    class="btn btn-primary rounded-pill">{{language.viewUser.addFilter}}</button>
                            </div>
                        </div>
                        <div class="btns-group mt-10">
                            <div class="btns-set" (click)="reset()">
                                <button type="button" data-style="zoom-in" data-plugin="ladda"
                                    class="btn btn-secondary rounded-pill">{{language.common.reset}}</button>
                            </div>
                        </div>
                    </form>
                    <div class="search-list">
                        <mat-form-field>
                            <mat-label>{{language.domain.search}}</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                                #input>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="isData == true">
                    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table
             table-bordered" data-plugin="floatThead">

                        <ng-container matColumnDef="Timestamp">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.timestamp}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                {{dataSource.CreatedAt | date: 'MMM d, y, h:mm:ss a'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Customer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.customer}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                <ng-container
                                    *ngIf="dataSource && dataSource.Customer.FirstName || dataSource && dataSource.Customer.LastName ">
                                    {{dataSource.Customer.FirstName}} {{dataSource.Customer.LastName}}
                                </ng-container>
                                <ng-container
                                    *ngIf="dataSource && !dataSource.Customer.FirstName || dataSource && !dataSource.Customer.LastName ">
                                    {{dataSource.Customer.EmailAddress}}
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Plan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.plan}},{{language.billwerk.planVariant}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                {{dataSource.PlanName}},{{dataSource.PlanVariantName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.type}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                {{dataSource.OrderType}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.amount}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                {{ dataSource.Total | number : '1.2-2' }} {{language.billwerk.eur}}  </td>
                        </ng-container>

                        <ng-container matColumnDef="Payment-Provider">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.paymentProvider}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                <ng-container *ngIf="dataSource && dataSource.Contract.PaymentProvider">
                                    {{dataSource.Contract.PaymentProvider}}
                                </ng-container>
                                <ng-container *ngIf="dataSource && !dataSource.Contract.PaymentProvider">
                                    --
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Method">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.paymentMethod}}</th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                <ng-container *ngIf="dataSource && dataSource.Contract.PaymentProviderRole">
                                    {{dataSource.Contract.PaymentProviderRole}}
                                </ng-container>
                                <ng-container *ngIf="dataSource && !dataSource.Contract.PaymentProviderRole">
                                    --
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.billwerk.status}}</th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                {{dataSource.Status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Order-Details">
                            <th mat-header-cell *matHeaderCellDef> {{language.billwerk.orderDetails}}
                            </th>
                            <td class="odd text-center table_action view" mat-cell *matCellDef="let dataSource"><button
                                    class="btn btn-warning" (click)="goTo(dataSource.Id)"> <i
                                        class="bx ri-eye-line"></i></button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">{{language.common.doNot}}
                                {{input.value}}</td>
                        </tr>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
                    </mat-paginator>
                </div>

                <div *ngIf="isData == false" style="text-align: center;">
                    <h3>{{language.common.noDataFound}}</h3>
                </div>
            </div>

        </div>
    </div>
<!-- </div> -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>