<div class="page">
  <div *ngIf="error == true || success == true">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.customerAssign.viewCustomerAssign}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.customerAssign.home}}</a></li>
      <li class="breadcrumb-item" routerLink="/sales-partner"><a>{{language.salesPartner.salesPartner}}</a></li>
      <li class="active breadcrumb-item">{{language.customerAssign.viewCustomerAssign}}</li>
    </ol>

  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <div class="assign_table">
          <!-- tab navigation start -->
          <div class="tabs">
            <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
              <li role="presentation" class="nav-item">
                <a class="nav-link active p-3">
                  {{language.customerAssign.show}}
                </a>
              </li>
            </ul>
          </div>
          <!-- tab navigation end -->
          <!-- search heading of list start -->
          <div *ngIf="isData == true">
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.customerAssign.search}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <table mat-table matSort [dataSource]="dataSource" class="table
                table-bordered" data-plugin="floatThead">
            <!-- Position Column -->
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.email}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                <a routerLink="/view-profile/{{dataSource.uid}}">
                  {{dataSource.mail}} 
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="Club-Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.clubname}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                <ng-container *ngIf="dataSource && dataSource.society">
                  {{dataSource.society}}
                </ng-container>
                <ng-container *ngIf="dataSource && !dataSource.society">
                  ---
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.status}}</th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.status}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Member-Since">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.memberSince}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.membersince| date: 'MM/dd/yyyy'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.customerAssign.doNot}}
                "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
          </div>
          <div *ngIf="isData == false" style="text-align: center;">
            <h3>{{language.common.noDataFound}}</h3>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>