<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.contact.user}}</h1>
    <ol class="breadcrumb">
      <li class="active breadcrumb-item"><a>{{language.contact.user}}</a></li>
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.contact.home}}</a></li>
      <li class="active breadcrumb-item">{{language.contact.contact}}</li>
    </ol>
  </div>
  <div class="page-content">
    <div class="row">
         <div class="col-lg-4 col-md-6" *ngIf="reEnterData && reEnterData.length > 0">
          <div class="profile-sidebar">
            <div class="profile-sidebar-inner">
              <div class="card">
                <div class="card-body">
                  <div class="profile-img">
                    <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                      <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                      <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                    </a>
                  </div>
                  <div class="profile-media" *ngFor="let item of reEnterData">
                    <h4 class="profile-user">{{item.mail}}</h4>
                    <p class="user-job" *ngIf="item && item.society"><strong>{{language.news.club}}:</strong>{{item.society}}</p>
                  </div>
                </div>
              </div>
                <app-profile-sidebar [userId]="id" [userData]="reEnterData"></app-profile-sidebar>
            </div>
          </div>
        </div>
      <div class="col-lg-8 col-md-6">
        <div class="profile-description">
          <div class="card">
            <div class="card-header">{{language.contact.contact}}</div>
            <div class="card-body">
              <div class="card-details">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                  <div class="col-md-12">
                    <!-- Example Basic Form (Form grid) -->
                    <div class="example-wrap mb-20">
                      <div class="example">
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label class="form-control-label"
                              for="inputBasicLastName"><strong>{{language.contact.userEmail}}</strong></label>
                            <input type="text" class="form-control" id="inputBasicLastName"
                              placeholder="{{language.contact.userEmail}}" name="email" formControlName="email"
                              [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
                            <span class="danger" role="alert" *ngIf="msg && msg.email">
                              <span>{{msg.email}}</span>
                            </span>
                            <span class="danger" *ngIf="isSubmitted && formControls['email'].errors">
                              {{language.error_message.userEmailError}}
                            </span>
                            <span
                              *ngIf="(formControls['email'].touched || formControls['email'].dirty) && formControls['email'].invalid"
                              class="danger">
                              <span *ngIf="formControls['email'].errors && formControls['email'].errors['pattern']">
                                {{language.error_message.invalidEmail}}</span>
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-control-label"
                            for="inputBasicEmail"><strong>{{language.contact.subject}}</strong></label>
                          <input type="email" class="form-control" id="inputBasicEmail"
                            placeholder="{{language.contact.subject}}" name="subject" formControlName="subject"
                            [ngClass]="{ 'is-invalid': isSubmitted && formControls['subject'].errors }">
                          <span class="danger" role="alert" *ngIf="msg && msg.subject">
                            <span>{{msg.subject}}</span>
                          </span>
                          <span class="danger" *ngIf="isSubmitted && formControls['subject'].errors">
                            {{language.error_message.subjectError}}
                          </span>

                        </div>
                        <div class="form-group">
                          <label class="form-control-label"
                            for="inputBasicPassword"><strong>{{language.contact.message}}</strong></label>

                          <angular-editor placeholder="{{language.contact.message}}" name="message"
                            formControlName="message">
                          </angular-editor>
                          <span class="danger" role="alert" *ngIf="msg && msg.message">
                            <span>{{msg.message}}</span>
                          </span>
                          <span class="danger" *ngIf="isSubmitted && formControls['message'].errors">
                            {{language.error_message.messageError}}
                          </span>

                        </div>
                        <div class="form-group">
                          <div class="checkbox-custom checkbox-default">
                            <input type="checkbox" id="inputBasicRemember" name="status" formControlName="status"
                              [ngClass]="{ 'is-invalid': isSubmitted && formControls['subject'].errors }">
                            <label for="inputBasicRemember"><strong>{{language.contact.send}}</strong></label>

                          </div>
                          <span class="danger" role="alert" *ngIf="msg && msg.status">
                            <span>{{msg.status}}</span>
                          </span>
                        </div>
                        <span class="danger" role="alert" *ngIf="msg && msg.uid">
                          <span>{{msg.uid}}</span>
                        </span>
            
                        <div class="alert alert-danger" role="alert" *ngIf="error == true">
                          <span>{{message}}</span>
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="success == true">
                          <span>{{message}}</span>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">{{language.contact.sendMessage}}</button>
                        </div>
                      </div>
                    </div>
                    <!-- End Example Basic Form (Form grid) -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>