<div  class="modal fade" id="push-notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
           {{language.Survey.survey}}
          <h2 class="modal-title" id="exampleModalCenterTitle" *ngIf="displayNotification">{{displayNotification.data.survey}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="displayNotification">
          {{displayNotification.data.text}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> {{language.Survey.close}}</button>
          <button *ngIf="displayNotification" type="button" class="btn btn-primary" (click)="readSurvey(displayNotification.id)"> {{language.Survey.read}}</button>
        </div>
      </div>
    </div>
  </div>

  