<div class="container" id="container">
   <div class="sign-in-container">
      <div class="card-header">{{language.register.signUp}}</div>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
         <div class="row">
            <div class="col-md-6 col-lg-6">
               <!-- Example Placeholder -->
               <div class="example-wrap mb-0">
                  <h4 class="example-title">{{language.editProfile.userEmail}}
                     <span style="color: red;">*</span>
                  </h4>
                  <input type="text" class="form-control" placeholder="{{language.editProfile.userEmail}}" name="email"
                     formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
                  <span class="danger" *ngIf="isSubmitted &&  formControls['email'].errors">
                     {{language.error_message.userEmailError}}
                  </span>
                  <span *ngIf="(f['email'].touched || f['email'].dirty) &&  f['email'].invalid" class="danger">
                     <span
                        *ngIf="f['email'].errors && f['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
                  </span>
                  <span class="text-help">{{language.editProfile.emailMsg}}</span>
               </div>
            </div>
            <div class="col-md-6 col-lg-6">
               <h4 class="example-title">{{language.trialRegister.confirmEmail}}
                  <span style="color: red;">*</span>
               </h4>
               <input type="email" class="form-control" match="email" id="inputPassword" name="conEmail"
                  placeholder="{{language.trialRegister.confirmEmail}}" formControlName="conEmail" [ngClass]="{ 'is-invalid':
                   isSubmitted &&
                   formControls['conEmail'].errors }">
               <span class="danger" *ngIf="isSubmitted &&
                   formControls['conEmail'].errors">
                  {{language.trialRegister.conemailError}}
               </span>
               <span *ngIf="(f['conEmail'].touched || f['conEmail'].dirty) &&
                   show ==
                   true" class="danger">
                  {{language .trialRegister.conemailInvalid}}
               </span>
            </div>
         </div>
         <!-- form panel section -->
         <div class="form-panel">
            <div class="panel-heading mt-20">
               <h4 class="example-title">{{language.editProfile.personalInfo}}</h4>
            </div>
            <div class="row">
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.editProfile.firstName}}<span style="color: red;">*</span></h4>
                     <input type="text" class="form-control" name="firstName"
                        placeholder="{{language.editProfile.firstName}}" formControlName="firstName" [ngClass]="{ 'is-invalid':
            isSubmitted && formControls['firstName'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
            formControls['firstName'].errors">
                        {{language.error_message.firstNameError}}
                     </span>
                     <span class="danger" role="alert" *ngIf="msg && msg.firstName">
                        <span>{{msg.firstName}}</span>
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.editProfile.lastName}}<span style="color: red;">*</span></h4>
                     <input type="text" class="form-control" name="lastName"
                        placeholder="{{language.editProfile.lastName}}" formControlName="lastName" [ngClass]="{ 'is-invalid':
            isSubmitted && formControls['lastName'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
            formControls['lastName'].errors">
                        {{language.error_message.lastNameError}}
                     </span>
                     <span class="danger" role="alert" *ngIf="msg && msg.lastName">
                        <span>{{msg.lastName}}</span>
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.editProfile.society}}<span style="color: red;">*</span></h4>
                     <input type="text" class="form-control" name="society"
                        placeholder="{{language.editProfile.society}}" formControlName="society" [ngClass]="{ 'is-invalid':
            isSubmitted && formControls['society'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
            formControls['society'].errors">
                        {{language.error_message.societyError}}
                     </span>
                     <span class="danger" role="alert" *ngIf="msg && msg.society">
                        <span>{{msg.society}}</span>
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <!-- Example Placeholder -->
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.viewProfile.address}}<span style="color: red;">*</span>
                     </h4>
                     <input type="text" class="form-control" name="address"
                        placeholder="{{language.viewProfile.address}}" formControlName="address" [ngClass]="{ 'is-invalid':
            isSubmitted && formControls['address'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
            formControls['address'].errors">
                        {{language.error_message.addressError}}
                     </span>
                     <span class="danger" role="alert" *ngIf="msg &&
            msg.address">
                        <span>{{msg.address}}</span>
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.editProfile.zipCode}}<span style="color: red;">*</span></h4>
                     <input type="text" class="form-control" name="zipcode"
                        placeholder="{{language.editProfile.zipCode}}" formControlName="zipcode" [ngClass]="{ 'is-invalid':
                                                isSubmitted && formControls['zipcode'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
                                                formControls['zipcode'].errors">
                        {{language.error_message.zipError}}
                     </span>
                     <span *ngIf="(f['zipcode'].touched || f['zipcode'].dirty) &&
                                                f['zipcode'].invalid" class="danger">
                        <span
                           *ngIf="f['zipcode'].errors &&
                                                f['zipcode'].errors['pattern']">{{language.error_message.zipInvalid}}</span>
                     </span>
                     <span class="danger" role="alert" *ngIf="msg && msg.zipcode">
                        <span>{{msg.zipcode}}</span>
                     </span>
                     <span class="danger" *ngIf="formControls['zipcode'].errors?.['minlength']">
                        {{language.error_message.zipCodeMin}}
                     </span>
                     <span class="danger" *ngIf="formControls['zipcode'].errors?.['maxlength']">
                        {{language.error_message.zipCodeMax}}
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.editProfile.place}}<span style="color: red;">*</span></h4>
                     <input type="text" class="form-control" placeholder="{{language.editProfile.place}}" name="place"
                        formControlName="place" [ngClass]="{ 'is-invalid': isSubmitted
            && formControls['place'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
            formControls['place'].errors">
                        {{language.error_message.placeError}}
                     </span>
                     <span class="danger" role="alert" *ngIf="msg && msg.place">
                        <span>{{msg.place}}</span>
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                     <h4 class="example-title">{{language.editProfile.contactNumber}}<span style="color: red;">*</span>
                     </h4>
                     <input type="text" class="form-control" placeholder="{{language.editProfile.contactNumber}}"
                        name="contactNumber" formControlName="contactNumber" [ngClass]="{ 'is-invalid': isSubmitted &&
                             formControls['contactNumber'].errors }">
                     <span class="danger" *ngIf="isSubmitted &&
                              formControls['contactNumber'].errors">
                        {{language.error_message.contactError}}
                     </span>
                     <span *ngIf="(f['contactNumber'].touched ||
                             f['contactNumber'].dirty) && f['contactNumber'].invalid" class="danger">
                        <span *ngIf="f['contactNumber'].errors &&
                                f['contactNumber'].errors['pattern']">{{language.error_message.contactInvalid}}</span>
                     </span>
                     <span class="danger" role="alert" *ngIf="msg &&
                                   msg.contactNumber">
                        <span>{{msg.contactNumber}}</span>
                     </span>
                     <span class="danger" *ngIf="formControls['contactNumber'].errors?.['minlength']">
                        {{language.error_message.contactNumberMin}}
                     </span>
                     <span class="danger" *ngIf="formControls['contactNumber'].errors?.['maxlength']">
                        {{language.error_message.contactNumberMax}}
                     </span>
                  </div>
                  <!-- End Example Placeholder -->
               </div>
               <div class="col-md-6 col-lg-4">
                  <div class="example-wrap mb-20">
                     <div class="example-wrap">
                        <h4 class="example-title">{{language.addUser.country}}<span style="color: red;">*</span></h4>
                        <div class="form-group">
                           <div class="example-wrap m-sm-0">
                              <div class="form-group">
                                 <select class="form-control" name="country" formControlName="country"
                                    [ngClass]="{'is-invalid': isSubmitted && formControls['country'].errors }">
                                    <option>Germany</option>
                                    <option>Switzerland</option>
                                    <option>Austria</option>
                                 </select>
                                 <span class="danger" *ngIf="isSubmitted && formControls['country'].errors">
                                    {{language.error_message.countryError}}
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="checkbox-custom checkbox-primary">
                     <input type="checkbox" id="inputChecked" name="termsCon" formControlName="termsCon">
                     <label for="rememberMe">{{language.trialRegister.accept}} <a class="float"
                           (click)="termsCondition()">{{language.trialRegister.termsCon}}</a> </label> <br />
                     <span class="danger" *ngIf="isSubmitted &&
                         formControls['termsCon'].errors">
                        {{language.trialRegister.termsConError}}
                     </span>
                  </div>
               </div>
            </div>
         </div>

         <div class="alert alert-danger" role="alert" *ngIf="error == true">
            <span>{{message}}</span>
         </div>

         <!-- End Panel -->
         <div class="example example-buttons">
            <div class="float-left">
               <button type="submit" class="btn btn-primary">
                  <span class="ladda-label">{{language.register.signUp}}</span></button>
            </div>
         </div>
      </form>
   </div>
</div>

<div *ngIf="authService.showLoader">
   <div class="overlay">
      <div class="overlay__inner">
         <div class="overlay__content"><span class="spinner"></span></div>
      </div>
   </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{language.common.success}} </h5>
            <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
               <span>{{message}}</span>
            </div>
         </div>

         <div class="modal-body">

            <div class="modal-footer d-flex justify-content-center">
               <button type="button" (click)="close()" class="btn btn-primary ">{{language.register.close}}</button>

            </div>
         </div>

      </div>
   </div>
</div>