.custom-alert {  
  width:300px;  
}  

.modal-backdrop.in {  
  opacity: 0.9;  
}  

.modal-body {  
  background-color: whitesmoke;  
  border-radius: 11px;  
}  

.modal {  
  background-color: rgba(58, 51, 51, 0.4);  
  padding-top:5px;  
}  

.confirm-message {  
  font-family:'Times New Roman', Times, serif;  
  font-size:20px;  
  font-weight:bold;  
  margin-bottom:0px;  
  margin-top:5px;  
}  

.confirm-button {  
  text-align: center;  
  margin: 15px 0px 15px 0px;  
}  

.btn.btn-primary{
  cursor: pointer;
  /* text-align: center; */
  /* padding: 0px; */
  /* margin: 0px; */
  width: 142px;
  height: 49px;
}
form a {
  color: #74788d !important;
  font-weight: 500;
}
span {
font-size: 12px;
}

a {
color: #333;
font-size: 14px;
text-decoration: none;
margin: 15px 0;
}
form a:hover {
color:#FF4B2B !important;
}
.btn-no {  
  background-color: #f4516c;  
  color:white;  
}  

.btn-yes {  
  background-color: #716aca;  
  color:white;  
}   
.add-role {
    display: inline-block;
    margin-right: 15px;
}
.avatar-upload {
  position: inherit;
  max-width: 100%;
  margin: inherit;
  transform: inherit;
}
.avatar-upload .avatar-edit {
  margin-top: 20px;
  text-align: center;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload:before {
  width: 100%;
  height: 150px;
  position: absolute;
  background: #5664d2;
  content: '';
  left: 0;
  top: 0;
}
.profile-img:before{
  height: auto;
}
.profile-sidebar-inner .profile-img {
  max-width: 150px;
  margin: 0 auto;
  position: relative;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  background: #fbac06;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  padding: 0;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 45px;
  right: 27px;
}
.avatar-upload .avatar-edit input + label i{
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-right: 0px;
}
.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-preview img {
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 5px;
  width: 150px;
  height: 150px;
}
.panel-heading h4 {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #eff2f7;
  padding: 10px;
  background: #e8f0fe;
}
.edit_more_info a.panel-title {
  background: #e8f0fe;
  color: #343a40;
}
.panel-group .panel-title[aria-expanded=false]:before {
  opacity: 1;
}

.edit-profile-popup .modal-dialog{
  max-width: 800px;
}
.edit-profile-popup .modal-body .page-content {
  max-height: 590px;
    overflow-y: auto;
    padding: 0;
    overflow-x: hidden;
}
.edit-profile-popup .modal-footer button{
  margin-bottom: 0;
}
.commit_popup .modal-header{
  justify-content: center;
}
.commit_popup .modal-dialog{
  max-width: 800px;
}
.mandate-row ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
}
.mandate-row ul li{
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}
.mandate-row ul li label{
  margin-bottom: 0;
  padding: 10px;
  font-weight: 500;
  background-color: #f9f9f9;
}
.mandate-row ul li span {
  display: inline-flex;
  padding: 10px;
}
.nav-tabs-custom {
  border-bottom: 2px solid #f1f5f7;
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.nav-tabs .nav-link{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}
.modal-footer.text-center{
  justify-content: center;
}
.modal-footer.text-center button{
  text-transform: capitalize;
}