<div class="modal edit-profile-popup" id="editProfile" tabindex="-1" role="dialog" style="display:block!important">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" *ngIf="displayMsg == false" id="exampleModalLabel">
               {{language.editProfile.editProfile}}</h5>
            <h1 class="modal-title" *ngIf="displayMsg == true" id="exampleModalCenterTitle">
               {{language.billwerk.sepaMandate}}</h1>
            <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">
                  <mat-icon>cancel</mat-icon>
               </span>
            </button>
         </div>
         <div class="modal-body" *ngIf="displayMsg == false">
            <div class="page-content">
               <div class="row">
                  <div class="col-md-12">
                     <div class="profile-sidebar">
                        <div class="profile-sidebar-inner">
                           <div class="card">
                              <div class="card-body">
                                 <div class="avatar_main">
                                    <label *ngIf="errorImage.isError" class="text-danger">
                                       {{ errorImage.errorMessage }}
                                    </label>
                                    <div class="avatar-upload">
                                       <div class="profile-img">
                                          <a class="avatar avatar-100 avatar-preview" href="javascript:void(0)">
                                             <img *ngIf="hasPicture == false" id="imagePreview"
                                                src="../assets/img/profile.png">
                                             <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                                          </a>
                                          <div class="avatar-edit">
                                             <span class="danger" *ngIf="isSubmitted && formControls['image'].errors">
                                                {{language.error_message.required}}
                                             </span>
                                             <input type='file' (change)="uploadFile($event)" id="imageUpload"
                                                accept=".png, .jpg, .jpeg" />
                                             <label for="imageUpload"><i class="bx ri-pencil-line"></i></label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="profile-media" *ngFor="let item of reEnterData">
                                    <h4 class="profile-user">{{item.mail}}</h4>
                                    <p class="user-job" *ngIf="item && item.society">
                                       <strong>{{language.sideBar.clubs}}:</strong>{{item.society}}
                                    </p>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="profile-description">
                        <div class="card">
                           <div class="card-body">
                              <div class="card-details">
                                 <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                
                                       <div class="col-md-6 col-lg-6">
                                          <!-- Example Placeholder -->
                                          <div class="example-wrap mb-0">
                                             <h4 class="example-title">{{language.editProfile.userEmail}}
                                                <span style="color: red;">*</span>
                                             </h4>
                                             <input type="text" class="form-control"
                                                placeholder="{{language.editProfile.userEmail}}" name="email"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
                                             <span class="danger" *ngIf="isSubmitted &&  formControls['email'].errors">
                                                {{language.error_message.userEmailError}}
                                             </span>
                                             <span
                                                *ngIf="(f['email'].touched || f['email'].dirty) &&  f['email'].invalid"
                                                class="danger">
                                                <span
                                                   *ngIf="f['email'].errors && f['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
                                             </span>
                                             <span class="danger" role="alert" *ngIf="msg && msg.email">
                                                <span>{{msg.email}}</span>
                                             </span>
                                          </div>
                                          <!-- End Example Placeholder -->
                                       </div>
                                    </div>
                                    <!-- form panel section -->
                                    <div class="form-panel">
                                       <div class="panel-heading mt-20">
                                          <h4 class="example-title">{{language.editProfile.personalInfo}}</h4>
                                       </div>
                                       <div class="row">
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.firstName}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control" name="firstName"
                                                   placeholder="{{language.editProfile.firstName}}"
                                                   formControlName="firstName"
                                                   [ngClass]="{ 'is-invalid': isSubmitted && formControls['firstName'].errors }">
                                                <span class="danger"
                                                   *ngIf="isSubmitted && formControls['firstName'].errors">
                                                   {{language.error_message.firstNameError}}
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.firstName">
                                                   <span>{{msg.firstName}}</span>
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.lastName}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control" name="lastName"
                                                   placeholder="{{language.editProfile.lastName}}"
                                                   formControlName="lastName"
                                                   [ngClass]="{ 'is-invalid': isSubmitted && formControls['lastName'].errors }">
                                                <span class="danger"
                                                   *ngIf="isSubmitted && formControls['lastName'].errors">
                                                   {{language.error_message.lastNameError}}
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.lastName">
                                                   <span>{{msg.lastName}}</span>
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.society}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control" name="society"
                                                   placeholder="{{language.editProfile.society}}"
                                                   formControlName="society"
                                                   [ngClass]="{ 'is-invalid':isSubmitted && formControls['society'].errors }">
                                                <span class="danger"
                                                   *ngIf="isSubmitted && formControls['society'].errors">
                                                   {{language.error_message.societyError}}
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.society">
                                                   <span>{{msg.society}}</span>
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <!-- Example Placeholder -->
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.addressLine1}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control" name="addressLine1"
                                                   placeholder="{{language.editProfile.addressLine1}}"
                                                   formControlName="addressLine1"
                                                   [ngClass]="{ 'is-invalid': isSubmitted && formControls['addressLine1'].errors }">
                                                <span class="danger"
                                                   *ngIf="isSubmitted && formControls['addressLine1'].errors">
                                                   {{language.error_message.addressLine1Error}}
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.addressLine1">
                                                   <span>{{msg.addressLine1}}</span>
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.addressLine2}}</h4>
                                                <input type="text" class="form-control" name="addressLine2"
                                                   placeholder="{{language.editProfile.addressLine2}}"
                                                   formControlName="addressLine2">
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.zipCode}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control" name="zipcode"
                                                   placeholder="{{language.editProfile.zipCode}}"
                                                   formControlName="zipcode"
                                                   [ngClass]="{ 'is-invalid':
                                                                        isSubmitted && formControls['zipcode'].errors }">
                                                <span class="danger" *ngIf="isSubmitted &&
                                                                        formControls['zipcode'].errors">
                                                   {{language.error_message.zipError}}
                                                </span>
                                                <span *ngIf="(f['zipcode'].touched || f['zipcode'].dirty) &&
                                                                        f['zipcode'].invalid" class="danger">
                                                   <span
                                                      *ngIf="f['zipcode'].errors &&
                                                                        f['zipcode'].errors['pattern']">{{language.error_message.zipInvalid}}</span>
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.zipcode">
                                                   <span>{{msg.zipcode}}</span>
                                                </span>
                                                <span class="danger"
                                                   *ngIf="formControls['zipcode'].errors?.['minlength']">
                                                   {{language.error_message.zipCodeMin}}
                                                </span>
                                                <span class="danger"
                                                   *ngIf="formControls['zipcode'].errors?.['maxlength']">
                                                   {{language.error_message.zipCodeMax}}
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.place}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control"
                                                   placeholder="{{language.editProfile.place}}" name="place"
                                                   formControlName="place"
                                                   [ngClass]="{ 'is-invalid': isSubmitted && formControls['place'].errors }">
                                                <span class="danger"
                                                   *ngIf="isSubmitted && formControls['place'].errors">
                                                   {{language.error_message.placeError}}
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.place">
                                                   <span>{{msg.place}}</span>
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.contactNumber}}<span
                                                      style="color: red;">*</span></h4>
                                                <input type="text" class="form-control"
                                                   placeholder="{{language.editProfile.contactNumber}}"
                                                   name="contactNumber" formControlName="contactNumber"
                                                   [ngClass]="{ 'is-invalid': isSubmitted && formControls['contactNumber'].errors }">
                                                <span class="danger"
                                                   *ngIf="isSubmitted && formControls['contactNumber'].errors">
                                                   {{language.error_message.contactError}}
                                                </span>
                                                <span
                                                   *ngIf="(f['contactNumber'].touched || f['contactNumber'].dirty) && f['contactNumber'].invalid"
                                                   class="danger">
                                                   <span
                                                      *ngIf="f['contactNumber'].errors && f['contactNumber'].errors['pattern']">{{language.error_message.contactInvalid}}</span>
                                                </span>
                                                <span class="danger" role="alert" *ngIf="msg && msg.contactNumber">
                                                   <span>{{msg.contactNumber}}</span>
                                                </span>
                                                <span class="danger"
                                                   *ngIf="formControls['contactNumber'].errors?.['minlength']">
                                                   {{language.error_message.contactNumberMin}}
                                                </span>
                                                <span class="danger"
                                                   *ngIf="formControls['contactNumber'].errors?.['maxlength']">
                                                   {{language.error_message.contactNumberMax}}
                                                </span>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                          <div class="col-md-6 col-lg-4">
                                             <!-- Example Placeholder -->
                                             <div class="example-wrap mb-20">
                                                <div class="example-wrap">
                                                   <h4 class="example-title">{{language.editProfile.country}}<span
                                                         style="color: red;">*</span></h4>
                                                   <div class="form-group">
                                                      <div class="example-wrap m-sm-0">
                                                         <div class="form-group">
                                                            <select class="form-control" name="country"
                                                               formControlName="country"
                                                               [ngClass]="{ 'is-invalid': isSubmitted && formControls['country'].errors }">
                                                               <option>Germany</option>
                                                               <option>Switzerland</option>
                                                               <option>Austria</option>
                                                            </select>
                                                            <span class="danger"
                                                               *ngIf="isSubmitted && formControls['country'].errors">
                                                               {{language.error_message.countryError}}
                                                            </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <!-- End Example Placeholder -->
                                          </div>
                                       </div>
                                    </div>
                                    <!-- form panel section end-->
                                    <div class="form-panel">
                                       <div class="panel-heading mt-20">
                                          <h4 class="example-title">{{language.editProfile.paymentDetail}}</h4>
                                       </div>
                                       <div class="row">
                                          <div class="col-md-6 col-lg-4">
                                             <div class="example-wrap mb-0">
                                                <h4 class="example-title">iban</h4>
                                                <input type="text" class="form-control" placeholder="iban" (keyup)="validIban($event)"
                                                   name="iban" formControlName="iban">
                                                   <span class="danger" *ngIf="isValidIban">
                                                      {{isValidIban}}
                                                    </span>
                                             </div>
                                          </div>
                                          <!-- <div class="col-md-6 col-lg-3">
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.accountNum}}</h4>
                                                <input type="text" class="form-control"
                                                   placeholder="{{language.editProfile.accountNum}}"
                                                   name="accountNumber" formControlName="accountNumber" [ngClass]="{
                                                      'is-invalid': isSubmitted && formControls['accountNumber'].errors }">
                                                <span class="danger" *ngIf="isSubmitted && formControls['accountNumber'].errors">
                                                   {{language.error_message.accountError}}
                                                </span>
                                                <span *ngIf="(f['accountNumber'].touched || f['accountNumber'].dirty) && f['accountNumber'].invalid" class="danger">
                                                   <span *ngIf="f['accountNumber'].errors && f['accountNumber'].errors['pattern']">{{language.error_message.accountInvalid}}</span>
                                                </span>
                                             </div>
                                          </div>
                                          <div class="col-md-6 col-lg-3">
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.bankCode}}</h4>
                                                <input type="text" class="form-control"
                                                   placeholder="{{language.editProfile.bankCode}}" name="bankCode"
                                                   formControlName="bankCode" [ngClass]="{ 'is-invalid': isSubmitted && formControls['bankCode'].errors }">
                                                <span class="danger" *ngIf="isSubmitted && formControls['bankCode'].errors">
                                                   {{language.error_message.bankCodeError}}
                                                </span>
                                             </div>
                                          </div>
                                          <div class="col-md-6 col-lg-3">
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">IBAN</h4>
                                                <input type="text" class="form-control" name="iban"
                                                   formControlName="iban"
                                                   [ngClass]="{'is-invalid': isSubmitted && formControls['iban'].errors }">
                                                <span class="text-help">{{language.editProfile.Ibnmsg}}</span>
                                             </div>
                                          </div>
                                          <div class="col-md-6 col-lg-3">
                                             <div class="example-wrap mb-20">
                                                <h4 class="example-title">{{language.editProfile.bic}}</h4>
                                                <input type="text" class="form-control" disabled>
                                                <span class="text-help">{{language.editProfile.bicMsg}}</span>
                                             </div>
                                          </div> -->
                                       </div>
                                    </div>
                                    <!-- accordion section start -->
                                    <div class="row row-lg">
                                       <div class="col-md-12">
                                          <!-- Example Accordion Example -->
                                          <div class="example-wrap mb-20">
                                             <div class="example edit_more_info">
                                                <div class="panel-group panel-group-simple mb-0" id="exampleAccordion"
                                                   aria-multiselectable="true" role="tablist">
                                                   <div class="panel">
                                                      <div class="panel-heading" id="exampleHeadingFive" role="tab">
                                                         <a class="panel-title collapsed"
                                                            data-parent="#exampleAccordion" data-toggle="collapse"
                                                            href="#exampleCollapseFive"
                                                            aria-controls="exampleCollapseFive" aria-expanded="false">
                                                            {{language.editProfile.termsSerivce}}
                                                         </a>
                                                      </div>
                                                      <div class="panel-collapse collapse" id="exampleCollapseFive"
                                                         aria-labelledby="exampleHeadingFive" role="tabpanel">
                                                         <div class="panel-body">
                                                            <div class="example-wrap mb-20 terms_content">
                                                               <p> Allgemeine Geschäftsbedingungen und
                                                                  Nutzungsbedingungen
                                                                  der Tineon AG für die S-Verein Softwarelösungen
                                                               </p>
                                                               <p>§ 1 Vertragsgegenstand</p>
                                                               <p> 1.1. Diese Allgemeinen Geschäftsbedingungen und
                                                                  Nutzungsbedingungen der Tineon AG (im
                                                                  folgenden AGB genannt), mit Sitz in 88709
                                                                  Meersburg und eingetragen beim Registergericht
                                                                  Freiburg unter HRB 706 986, regeln die Überlassung
                                                                  der S-Verein Softwarelösungen. Der
                                                                  Einsatz der cloudbasierten S-Verein
                                                                  Softwarelösungen unterstützt Vereine insbesondere
                                                                  bei der
                                                                  Verwaltung oder Finanzbuchhaltung und erhöht die
                                                                  Effizienz von Abläufen. Unter der Marke S-
                                                                  Verein werden aktuell die
                                                                  Vereinsverwaltungs-Softwareprogramme inklusive
                                                                  einer DATEV-
                                                                  Schnittstelle sowie ein dazu passendes
                                                                  Finanzbuchhaltungs-Softwareprogramm angeboten.
                                                                  Sollten weitere Softwaremodule hinzukommen, so
                                                                  gelten diese AGB auch für die neuen
                                                                  Module.
                                                               </p>
                                                               <p>1.2. Die Tineon AG räumt dem Verein das
                                                                  nicht-ausschließliche Recht ein, für je eine
                                                                  registrierte
                                                                  Domain die im Vertrag oder unter www.s-verein.de
                                                                  beschriebene, bekannte Leistungs-
                                                                  beschreibung gemäß den Bestimmungen dieses
                                                                  Vertrages zu nutzen. Die Tineon AG überlässt
                                                                  dem Verein für den gemäß § 4 genannten Zeitraum
                                                                  die Software ausschließlich zum Zwecke
                                                                  der vertragsgemäßen Nutzung.
                                                               </p>
                                                               <p>1.3. Die Tineon AG stellt dem Verein für die
                                                                  Software eine entsprechende Dokumentation als
                                                                  digitale Onlinehilfe zur Verfügung.
                                                               </p>
                                                               <p>1.4. Der Vertragschluß zwischen der Tineon AG und
                                                                  dem Verein erfolgt online auf der Webseite von
                                                                  S-Verein. Dazu muss der Verein eine
                                                                  Authentifizierung durchführen und das Anmelde- und
                                                                  Registrierungsverfahren ordnungsgemäß durchlaufen.
                                                                  Daraufhin erfolgt die Zuteilung einer
                                                                  Zugangskennung.
                                                               </p>
                                                               <p>1.5. Nach Ablauf der Vertragslaufzeit erlischt
                                                                  das Recht auf Nutzung der Software. Die Tineon
                                                                  weist
                                                                  den Verein hiermit auf eine rechtzeitige
                                                                  Datensicherung (Datenexport) vor Ablauf des
                                                                  Vertrages
                                                                  hin. Die Tineon AG ist im Falle des Ablaufs der
                                                                  Vertragslaufzeit zur sofortigen Sperrung der
                                                                  Daten des Vereins berechtigt und nach einer
                                                                  Nachfrist von 30 Tagen, ohne weitere
                                                                  Ankündigung, zur Löschung der Daten des Vereins
                                                                  berechtigt.
                                                               </p>
                                                               <p>1.6. Die Tineon AG behält sich das Recht vor, im
                                                                  Rahmen der vertragsgegenständlichen S-Verein
                                                                  Softwarelösungen zentrale Werbeplätze zu
                                                                  definieren und zu vermarkten. Es wird sicher-
                                                                  gestellt, dass die Nutzung der Funktionen der vom
                                                                  Verein bezogenen Software dadurch in
                                                                  keiner Weise beeinträchtigt wird. Die Tineon AG
                                                                  wird die der zentralen Vermarktung
                                                                  vorbehaltenen Werbeplätze und die Bereiche, die
                                                                  der dezentralen Vermarktung durch die
                                                                  Vereine vorbehaltenen Flächen, entsprechend
                                                                  kennzeichnen.
                                                               </p>
                                                               <p>§ 2 Pflichten und Obliegenheiten des Vereins</p>
                                                               <p>2.1 Der Verein verpflichtet sich zur
                                                                  vertragsgemäßen Nutzung der Software und zur
                                                                  fristgerechten
                                                                  Zahlung der vereinbarten Lizenzbeträge.
                                                               </p>
                                                               <p>2.2 Ansichtsfrist/Testphase: Sofern im
                                                                  Bestellangebot eine Ansichtsfrist/Testphase
                                                                  angegeben ist
                                                                  (z.B. "Jetzt 4 Wochen testen. Kostenlos!"), hat
                                                                  der Verein beim erstmaligen Bezug eine
                                                                  angebotsabhängige Ansichtsfrist/Testphase. Die
                                                                  Ansichtsfrist/Testphase beginnt mit Erhalt der
                                                                  Zugangsdaten. Während der Ansichtsfrist/Testphase
                                                                  kann der Verein die bestellten Produkte
                                                                  ausgiebig testen.
                                                               </p>
                                                               <p>2.3 Über das Online-Vereinskonto kann der
                                                                  registrierte Verein viele Dinge rund um seine
                                                                  Produkte
                                                                  selbst online verwalten, z.B. Änderungen von
                                                                  Adressen, Kontostand überprüfen, Rechnungs-
                                                                  download etc.).
                                                               </p>
                                                               <p>Die Nutzung des Online-Vereinskontos setzt
                                                                  zwingend einen wirksamen Vertrag voraus. Ein
                                                                  Vertragsschluss mit einer juristischen Person darf
                                                                  nur von vertretungsberechtigten natürlichen
                                                                  Personen vorgenommen werden, die namentlich
                                                                  genannt werden müssen.
                                                               </p>
                                                               <p>Der Zugang des Vereins zum Online-Vereinskonto
                                                                  und/oder zur vertragsgegenständlichen
                                                                  Software erfolgt passwortgeschützt über das
                                                                  Internet. Der Verein ist verpflichtet, seine
                                                                  Zugangsdaten und sein Passwort geheim zu halten
                                                                  und vor Missbrauch durch Dritte zu
                                                                  schützen. In diesem Zusammenhang weisen wir darauf
                                                                  hin, dass unsere Mitarbeiter nicht
                                                                  berechtigt sind, telefonisch oder schriftlich
                                                                  Passwörter abzufragen. Bei der Wahl des Pass-
                                                                  wortes sollten die allgemein bekannten Regeln
                                                                  beachtet werden (Länge, Komplexität des
                                                                  Passwortes), Änderungen des Passwortes sind nur
                                                                  online innerhalb des Vereinskontos
                                                                  möglich. Der Verein hat die entsprechenden
                                                                  Zugangskennungen geschützt vor dem Zugriff
                                                                  unbefugter Dritter aufbewahren.
                                                               </p>
                                                               <p>Der Verein hat uns bei Verlust der Zugangsdaten,
                                                                  des Passwortes oder bei Verdacht der
                                                                  missbräuchlichen Nutzung dieser Daten unverzüglich
                                                                  zu unterrichten. Im Übrigen sind wir
                                                                  berechtigt, bei Missbrauch den Zugang zum
                                                                  Kundenkonto bzw. zu den Online-Produkten zu
                                                                  sperren. Der Verein haftet bei von ihm zu
                                                                  vertretendem Missbrauch.
                                                               </p>
                                                               <p>2.4 Der Verein ist weiterhin insbesondere
                                                                  verpflichtet,
                                                               </p>
                                                               <p>2.4.1 keine Informationsangebote mit rechts- oder
                                                                  sittenwidrigen Inhalten anzubieten, insbesondere
                                                                  keine Informationen zu übermitteln, die i.S.d.
                                                                  §130, §130 a und §131 des StGB zum
                                                                  Rassenhass aufstacheln, Gewalt verherrlichen oder
                                                                  verharmlosen, sexuell anstößig sind, i. S.
                                                                  d. §184 StGB pornografisch sind, den Krieg
                                                                  verherrlichen, geeignet sind, Kinder oder
                                                                  Jugendliche sittlich schwer zu gefährden oder in
                                                                  ihrem Wohl zu beeinträchtigen, Dritte zu
                                                                  beleidigen sowie das Ansehen der Tineon schädigen
                                                                  können oder auf Angebote mit solchem
                                                                  Inhalt hinzuweisen,
                                                               </p>
                                                               <p>2.4.2 die Tineon AG von Ansprüchen Dritter
                                                                  freizustellen, die sich aus den mit der
                                                                  Beanspruchung,
                                                                  Nutzung oder Registrierung einer eigenen
                                                                  Domain-Namensseite des Vereins verbundenen
                                                                  namens-, marken-, urheber- oder sonstigen
                                                                  schutzrechtlichen Streitigkeiten ergeben,
                                                               </p>
                                                               <p>2.4.3 den möglichen Austausch von elektronischen
                                                                  Nachrichten nicht missbräuchlich für den
                                                                  unzulässigen Versand von E-Mails an Dritte (sog.
                                                                  Spamming) zu nutzen,
                                                               </p>
                                                               <p>2.4.4 auf seiner Internet-Seite eingestellte
                                                                  Inhalte als eigene Inhalte, unter Angabe seines
                                                                  vollständigen Namens und seiner Anschrift zu
                                                                  kennzeichnen. Eine gesetzliche Kennzeich-
                                                                  nungspflicht bleibt hiervon unberührt. Der Verein
                                                                  stellt die Tineon AG von allen Ansprüchen frei,
                                                                  die auf einer Verletzung der vorgenannten
                                                                  Pflichten beruhen. Die Tineon AG ist nicht
                                                                  verpflichtet, die Internetpräsenz des Vereins auf
                                                                  eventuelle Rechtsverstöße zu prüfen.
                                                               </p>
                                                               <p>2.5 Der Verein sichert zu, dass die von ihm
                                                                  gemachten Angaben richtig und vollständig sind. Er
                                                                  verpflichtet sich, die Tineon AG jeweils
                                                                  unverzüglich über vertragsrelevante Änderungen der
                                                                  mitgeteilten Daten zu unterrichten.
                                                               </p>
                                                               <p>§ 3 Weitergabe / Vermietung</p>
                                                               <p>3.1 Der Verein ist berechtigt, die Nutzung der
                                                                  Software innerhalb seines Vereins weiter zu geben.
                                                                  Der Verein wird die Personen, die die Zugangsdaten
                                                                  erhalten, in geeigneter Weise darüber
                                                                  informieren, dass Zugangsdaten so zu behandeln
                                                                  sind, dass sie unautorisierten Dritten nicht zur
                                                                  Kenntnis gelangen.
                                                               </p>
                                                               <p>3.2 Der Verein ist nicht berechtigt, die Software
                                                                  zu vermieten oder zu verleasen oder in sonstiger
                                                                  Wiese kostenpflichtig Dritten zur Nutzung zu
                                                                  überlassen.
                                                               </p>
                                                               <p>§ 4 Vertragsbeginn, -laufzeit und -beendigung</p>
                                                               <p>4.1 Der Vertrag tritt mit dem Zeitpunkt der
                                                                  Aktivierung einer Lizenz in Kraft gemäß § 1.4 in
                                                                  Kraft.
                                                               </p>
                                                               <p>4.2 Die Zuteilung einer Zugangskennung zu den
                                                                  Softwarelösungen setzt voraus, dass der Verein
                                                                  die Allgemeinen Geschäfts- und Nutzungsbedingungen
                                                                  anerkannt hat.
                                                               </p>
                                                               <p>4.3 Für jedes Software-Modul wird ein eigener
                                                                  Lizenzvertrag mit einer eigenen Laufzeit
                                                                  geschlossen:
                                                               </p>
                                                               <p>4.3.1 Die Mindestvertragslaufzeit für die
                                                                  S-Verein Softwaremodule beträgt jeweils 12 Monate.
                                                                  Der
                                                                  Vertrag verlängert sich nach Ablauf der
                                                                  Mindestvertragslaufzeit automatisch um weitere 12
                                                                  Monate, wenn er nicht mit einer Frist von vier
                                                                  Kalenderwochen, frühestens zum Ende der
                                                                  jeweiligen Mindestvertragslaufzeit, gekündigt
                                                                  wird.
                                                               </p>
                                                               <p>4.3.2 Wird ein weiteres Modul (z.B. S-Verein
                                                                  Finanz) zu einem bereits genutzten Vereins-
                                                                  verwaltungs-Softwaremodul hinzu gebucht, hat diese
                                                                  grundsätzlich auch eine eigene 12-
                                                                  monatige Vertragslaufzeit. Diese endet aber
                                                                  automatisch spätestens bei der Kündigung des
                                                                  Softwaremoduls S-Verein Vereinsverwaltung.
                                                               </p>
                                                               <p>4.4 Jede Partei hat das Recht zur
                                                                  außerordentlichen Kündigung aus wichtigem Grund.
                                                                  Wichtige
                                                                  Gründe für die Tineon sind insbesondere
                                                               </p>
                                                               <p>4.4.1 wenn der Verein gegen eine vertragliche
                                                                  Verpflichtung, insbesondere die des § 2 dieser AGB
                                                                  verstößt,
                                                               </p>
                                                               <p>4.4.2 wenn ein Insolvenzverfahren über das
                                                                  Vermögen des Vereins beantragt oder eröffnet wird,
                                                               </p>
                                                               <p>4.4.3 wenn der Verein mit der Bezahlung der
                                                                  Vergütung mehr als drei Monate nach Fälligkeit in
                                                                  Verzug gerät.
                                                               </p>
                                                               4.5 Die Tineon kann diesen Vertrag ordentlich
                                                               kündigen wenn der Verein nach Zugang einer
                                                               Mitteilung über die Änderung der AGB dieser
                                                               innerhalb von vier Wochen widerspricht.<br>
                                                               4.6 Kündigungen haben schriftlich zu erfolgen.<br>
                                                               § 5 Vergütung, Zahlungsbedingungen<br>
                                                               5.1 Die monatliche Vergütung für die Software und
                                                               ggf. zusätzliche verwendete weitere Module
                                                               wird gemäß der zum Vertragsbeginn aktuellen
                                                               Preisliste zuzüglich der jeweils gültigen
                                                               gesetzlichen Mehrwertsteuer festgelegt und ist im
                                                               voraus jährlich (je 12 Monate) zu bezahlen.
                                                               Vergütungen werden im Lastschriftverfahren
                                                               eingezogen. Eine Rechnung wird elektronisch,
                                                               z.B. per E-Mail, übermittelt. Der Verein ist damit
                                                               einverstanden, Rechnungen auf
                                                               elektronischem Wege zu erhalten.<br>
                                                               5.2 Einwendungen gegen die Höhe der
                                                               nutzungsabhängigen Entgelte sind umgehend nach
                                                               Zugang
                                                               der Rechnung gegenüber der Tineon AG schriftlich zu
                                                               erheben und müssen innerhalb von
                                                               sechs Wochen ab Rechnungsdatum bei der Tineon AG
                                                               eingegangen sein. Die Unterlassung
                                                               rechtzeitiger Einwendungen gilt als Genehmigung;
                                                               gesetzliche Ansprüche des Vereins bei
                                                               Einwendungen nach Fristablauf bleiben unberührt.<br>
                                                               5.3 Der Verein verpflichtet sich, der Tineon AG für
                                                               sämtliche Zahlungen aus diesem Vertrag und
                                                               den sich eventuell ergebenden Änderungen des
                                                               Vertrages jeweils eine Einzugsermächtigung
                                                               für den Einzug der fälligen Beiträge – im Rahmen
                                                               eines Lastschriftseinzugs – zu erteilen.<br>
                                                               5.4 Sollten im Rahmen des
                                                               Lastschrifteinzugsverfahrens Rücklastschriften
                                                               anfallen, so berechnet
                                                               die Tineon AG eine pauschale Bearbeitungsgebühr in
                                                               Höhe von 9,60 Euro pro Lastschrift zzgl.
                                                               der für die Tineon AG anfallenden Bankgebühren.<br>
                                                               5.5 Bei Zahlungsverzug ist die Tineon AG berechtigt,
                                                               dem Verein Verzugszinsen in Höhe von 3%-
                                                               Punkte über dem jeweiligen Basiszinssatz, mind.
                                                               jedoch 6% p. a. in Rechnung zu stellen.<br>
                                                               5.7 Ist der Verein trotz zweier Mahnungen in
                                                               Zahlungsverzug, ist die Tineon AG berechtigt, die
                                                               Leistungen einzustellen und/oder den Zugang des
                                                               Vereins zur Software sofort zu sperren. Der
                                                               Verein bleibt auch für die Zeit der Sperrungen zur
                                                               Zahlung des vereinbarten Entgelts
                                                               verpflichtet.<br>
                                                               § 6 Preiserhöhung<br>
                                                               Die Tineon AG hat jederzeit das Recht, die Vergütung
                                                               für die Nutzung der Software zu erhöhen.
                                                               Eine Preiserhöhung tritt immer erst dann in Kraft,
                                                               wenn bestehende Lizenzverträge und
                                                               Vertragslaufzeiten verlängert werden, d.h. ab dem
                                                               auf das jeweils aktuelle Vertragsjahr
                                                               folgende Vertragsjahr (siehe § 4, Ziffer 4). Die
                                                               Tineon AG wird eine Preiserhöhung mindestens
                                                               drei Monate vor Inkrafttreten ankündigen. Der Verein
                                                               kann der angekündigten Preiserhöhung
                                                               innerhalb von vier Wochen nach Zugang der
                                                               Ankündigung widersprechen. Die Tineon AG weist
                                                               schon jetzt darauf hin, dass sie in diesem Fall die
                                                               Möglichkeit hat, den Vertrag ordentlich zu
                                                               kündigen.<br>
                                                               § 7 Änderungen der AGB<br>
                                                               Änderungen dieser AGB wird Tineon dem Verein
                                                               schriftlich oder per E-Mail mitteilen. Die
                                                               Zustimmung des Vereins zur Änderung von
                                                               Vertragsbedingungen gilt als erteilt wenn der Verein
                                                               der Änderung nicht innerhalb von vier Wochen nach
                                                               Zugang der Mitteilung über die Änderung
                                                               per Brief oder per E-Mail widerspricht. Widerspricht
                                                               der Verein, kann die Tineon AG den
                                                               jeweiligen Vertrag ordentlich zum nächstmöglichen
                                                               Termin kündigen. Die Tineon AG verpflichtet
                                                               sich, mit der Änderungsmitteilung den Verein auf die
                                                               Folgen eines nicht erfolgten Widerspruchs
                                                               hinzuweisen.<br>
                                                               § 8 Gewährleistung / Updates<br>
                                                               8.1 Die Tineon AG weist daraufhin, dass es nach dem
                                                               Stand der Technik nicht möglich ist,
                                                               Software so zu erstellen, dass sie in allen
                                                               Anwendungen und unter allen Bedingungen fehlerfrei
                                                               arbeitet. Die Tineon AG gewährleistet, dass die
                                                               Software den wesentlichen Funktionsbe-
                                                               schreibungen entspricht. Der Verein hat eventuell
                                                               auftretende Mängel – unter Protokollierung
                                                               gegebenenfalls angezeigter Fehlermeldungen –
                                                               schriftlich zu melden. Von der Gewährleistung
                                                               ausgeschlossen sind grundsätzlich solche Fehler, die
                                                               durch äußere Einflüsse, Bedienungs-
                                                               fehler oder nicht von der Tineon AG bzw. im Auftrag
                                                               der Tineon AG durchgeführte Änderungen,
                                                               Ergänzungen, Ein- oder Ausbauten, Reparaturversuchen
                                                               oder sonstige Manipulationen
                                                               entstehen, es sei denn, der Verein weist nach, dass
                                                               diese Nutzung für den Mangel nicht
                                                               ursächlich war.<br>
                                                               8.2 Die Tineon AG gewährleistet eine Erreichbarkeit
                                                               der Server von mind. 99 % im Jahresmittel.
                                                               Hiervon ausgenommen sind reguläre Wartungsarbeiten
                                                               und Zeiten, in denen der Server auf
                                                               Grund von technischen oder sonstigen Problemen, die
                                                               nicht im Einflussbereich von der Tineon
                                                               AG liegen (höhere Gewalt, Verschulden Dritter usw.)
                                                               über das Internet nicht zu erreichen ist.<br>
                                                               Die Tineon AG kann den Zugang zu den Leistungen
                                                               beschränken, sofern dies die Sicherheit
                                                               des Netzbetriebes, die Aufrechterhaltung der
                                                               Netzintegrität, insbesondere die Vermeidung
                                                               schwerwiegender Störungen des Netzes, der Software
                                                               oder gespeicherter Daten erfordern.<br>
                                                               8.3 Wenn es der Tineon AG nicht gelingt, den
                                                               aufgetretenen Fehler innerhalb von 20 Werktagen zu
                                                               beseitigen und dieser Fehler nicht vom Verein zu
                                                               vertreten ist hat der Verein das Recht den
                                                               Vertrag fristlos zu kündigen. Ansonsten ist das
                                                               Kündigungsrecht des Vereins wegen Nicht-
                                                               gewährung des Gebrauchs gem. § 542 BGB
                                                               ausgeschlossen.<br>
                                                               8.4 Die Tineon AG wird die Software weiterentwickeln
                                                               und in regelmäßigen Abständen die Software
                                                               updaten.<br>
                                                               8.5 Die Tineon AG informiert den Verein rechtzeitig
                                                               über wesentliche Änderungen der Software
                                                               bzw. des Leistungspakets, welche die mit dem Verein
                                                               vertraglich vereinbarten Funktionalitäten
                                                               betreffen.<br>
                                                               § 9 Haftung<br>
                                                               9.1 Die Software wird von der Tineon AG nach dem
                                                               Stand der Technik getestet und auf ihre
                                                               allgemeine Tauglichkeit hin geprüft.<br>
                                                               9.2 Die Tineon AG oder ein Erfüllungsgehilfe der
                                                               Tineon AG haften für Vorsatz oder grobe
                                                               Fahrlässigkeit. Darüber hinaus haftet Tineon AG bis
                                                               zur Höhe des typischerweise voraus-
                                                               sehbaren Schadens, jedoch maximal der Höhe nach
                                                               beschränkt auf eine Jahresgebühr, auch
                                                               für solchen Schaden, den die Tineon AG oder die
                                                               leitenden Angestellten der Tineon AG in
                                                               Verletzung einer Pflicht, deren Erfüllung die
                                                               ordnungsgemäße Durchführung des Vertrages
                                                               überhaupt erst ermöglicht und auf deren Einhaltung
                                                               der Nutzer regelmäßig vertrauen darf
                                                               (wesentliche Vertragspflicht/Kardinalpflicht)
                                                               verursacht haben.<br>
                                                               9.3 Diese Haftungsbeschränkung gilt im Hinblick auf
                                                               alle Schadensersatzansprüche und unab-
                                                               hängig von ihrem Rechtsgrund insbesondere auch im
                                                               Hinblick auf vorvertragliche oder neben-
                                                               vertragliche Ansprüche. Sie schränkt jedoch eine
                                                               gesetzlich zwingende Haftung nach dem
                                                               Produkthaftungsgesetz oder eine Haftung für
                                                               zugesicherte Eigenschaften, soweit die
                                                               zugesicherte Eigenschaft den Verein gerade vor dem
                                                               einge-tretenen Schaden schützen sollte,
                                                               ebenso nicht ein wie die Haftung für schuldhafte
                                                               Verletzung von Leib, Leben oder Gesundheit.
                                                               Die verschuldensunabhängige Haftung von der Tineon
                                                               AG für bereits bei Vertragsabschluß
                                                               vorhandene Fehler nach § 536 b BGB wird ausdrücklich
                                                               ausgeschlossen.<br>
                                                               § 10 Datenschutz<br>
                                                               Die Tineon AG bietet dem Verein die Möglichkeit
                                                               einen Vertrag zur Auftragsverarbeitung gemäß
                                                               Art. 28 DS-GVO abzuschließen. Näheres kann auf der
                                                               Webseite www.s-verein.de/datenschutz
                                                               in Erfahrung gebracht werden.<br>
                                                               § 11 Nebenabreden, Rechtswirksamkeit, Aufrechnung<br>
                                                               11.1 Nebenabreden und Vertragsergänzungen bedürfen
                                                               zu ihrer Wirksamkeit der Schriftform. Das
                                                               gilt auch für das Schriftformerfordernis selbst.
                                                               Sollte eine Bestimmung dieses Vertrages
                                                               unwirksam sein oder werden, so wird hiervon die
                                                               Wirksamkeit der sonstigen Bestimmungen
                                                               nicht berührt. Die unwirksame oder fehlende
                                                               Bestimmung soll vielmehr durch eine wirtschaftlich
                                                               und rechtlich gleichwertige ersetzt werden.
                                                               Entsprechendes gilt im Falle einer Regelungslücke.<br>
                                                               11.2 Die Geltendmachung eines
                                                               Zurückbehaltungsrechtes oder die Aufrechnung mit
                                                               etwaigen
                                                               Gegenansprüchen des Vereins ist ausgeschlossen,
                                                               soweit diese Gegenansprüche nicht
                                                               rechtskräftig festgestellt, oder von der Tineon AG
                                                               ausdrücklich anerkannt worden sind.<br>
                                                               § 12 Gerichtsstand<br>
                                                               Erfüllungsort ist Meersburg. Überlingen wird als
                                                               Gerichtsstand für alle Streitigkeiten im
                                                               Zusammenhang mit diesem Vertrag vereinbart. Es gilt
                                                               deutsches Recht mit Ausnahme des UN-
                                                               Kaufrechts (CISG).<br>
                                                               Stand: 26. Mai 2018<br>
                                                            </div>
                                                            <div class="example-wrap mb-20">
                                                               <div class="checkbox-custom checkbox-primary">
                                                                  <input type="checkbox" checked="">
                                                                  <input type="checkbox" class="form-control"
                                                                     name="termsCon" formControlName="termsCon"
                                                                     [ngClass]="{ 'is-invalid': isSubmitted &&
                                                      formControls['termsCon'].errors }">
                                                                  <span class="danger" *ngIf="isSubmitted &&
                                                      formControls['termsCon'].errors">
                                                                     {{language.error_message.termsConError}}
                                                                  </span>
                                                                  <label
                                                                     for="inputChecked">{{language.editProfile.acceptterms}}
                                                                     <span style="color: red;">*</span></label>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- End Example Accordion Example -->
                                       </div>
                                    </div>
                                    <div role="alert" *ngIf="error == true">
                                       <div class="alert alert-danger" *ngIf="message">
                                          <span>{{message}}</span>
                                       </div>
                                       <div class="alert alert-danger" *ngIf="messagePurchase">
                                          <h4>{{messagePurchase}} <a
                                                (click)="redirect()">{{language.productPrice.clickHere}}</a></h4>
                                       </div>
                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf="success == true">
                                       <span>{{message}}</span>
                                    </div>
                                    <!-- End Panel -->
                                    <div class="modal-footer text-center">
                                       <div class="example example-buttons">
                                          <div class="">
                                             <button type="submit" class="btn btn-primary">
                                                <span
                                                   class="ladda-label">{{language.editProfile.saveProceed}}</span></button>
                                             <div *ngIf="authService.showLoader">
                                                <div class="overlay">
                                                   <div class="overlay__inner">
                                                      <div class="overlay__content"><span class="spinner"></span></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End Page -->
         </div>

         <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" *ngIf="displayMsg == true">
               <div class="alert alert-success">
                  <h3>{{language.billwerk.orderSuccess}}</h3>
               </div>
               <div class="mandate-row" *ngFor="let item of commitData">
                  <ul>
                     <li *ngIf="item && item.PaymentBearer.MandateText">
                        <label>{{language.billwerk.mandateText}}</label>
                        <span>
                           <p [innerHTML]="item.PaymentBearer.MandateText"></p>
                        </span>
                     </li>
                     <li *ngIf="item && item.PaymentBearer.MandateReference">
                        <label>{{language.billwerk.mandateReference}}</label>
                        <span>{{item.PaymentBearer.MandateReference}}</span>
                     </li>
                     <li *ngIf="item && item.PaymentBearer.MandateSignatureDate">
                        <label>{{language.billwerk.mandateSignDate}}</label>
                        <span>{{item.PaymentBearer.MandateSignatureDate | date: 'MM/dd/yyyy'}}</span>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="modal-footer" *ngIf="displayMsg == true">
               <button type="button" class="btn btn-primary" (click)="proceed()">{{language.Survey.close}}</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div>
   <div class="overlay">
      <div class="overlay__inner">
         <div class="overlay__content"><span class="spinner"></span></div>
      </div>
   </div>
</div>