<div class="page">
    <div>
        <div>{{ data }}</div>
        <div class="dismiss" test-selector="aaaa">
            <button mat-icon-button (click)="sbRef.dismiss()">
                <mat-icon>{{language.confirmBox.dismiss}}</mat-icon>
            </button>
        </div>
    </div>
</div>