<div class="panel" *ngIf="errorMessage == true || successMessage == true">
	<div class="panel-body">
		<div class="alert alert-danger" role="alert" *ngIf="errorMessage == true">
			<span>{{message}}</span>
		</div>
		<div class="alert alert-success" role="alert" *ngIf="successMessage == true">
			<span>{{message}}</span>
		</div>
	</div>
</div>
<div class="page-content" *ngFor="let item of productComponent">
	<div class="panel">
		<div class="panel-body container-fluid">
			<div class="row">
				<div class="col-xl-4">
					<div class="product-image">
						<div class="product-img">
							<img class="img-fluid" src="../assets/img/v-logo.png" />
						</div>
					</div>
				</div>
				<div class="col-xl-7">
					<div class="product-details">
						<h5 class="font-size-20">{{item.Name._c}}</h5>
						<div class="divider-line"></div>
						<div class="plans-description">
							<div class="row">
								<div class="col-lg-4 col-xs-6 col-sm-6">
									<div class="plans_details">
										<p class="text-muted mb-0">{{language.productPrice.componentType}}</p>
										<h5>{{item.ComponentType}}</h5>
									</div>
								</div>
								<div class="col-lg-4 col-xs-6 col-sm-6">
									<div class="plans_details">
										<p class="text-muted mb-0">{{language.billwerk.pricePerUnit}}</p>
										<h5>{{item.PricePerUnit | number : '1.2-2'}} {{language.billwerk.eur}}</h5>
									</div>
								</div>
								<div class="col-lg-4 col-xs-6 col-sm-6">
									<div class="plans_details">
										<p class="text-muted mb-0">{{language.productPrice.taxPolicyId}}</p>
										<h5>{{item.TaxPolicyId}}</h5>

									</div>
								</div>
							</div>
						</div>

						<div class="panel-body desc_section">
							<div class="row">
								<div class="col-md-12">
									<mat-tab-group class="mat-tabular-view">
										<mat-tab label="{{language.productPrice.description}}">
											<div class="tab-inner"
												*ngIf="item && item.Description && item.Description._c">
												<p [innerHTML]="item.Description._c"></p>

											</div>
											<div class="tab-inner" *ngIf="item   && !item.Description._c ">
												<p>{{language.productPrice.noDescription}}</p>
											</div>
										</mat-tab>
									</mat-tab-group>
								</div>
							</div>
						</div>
						<div class="divider-line"></div>
						<!-- order button section start -->
						<div class="order-btnsection">
							<!-- To purchase the sub-products, please order the Club-Administration product first. -->
							<div class="alert alert-danger" *ngIf="error">
								<h4>{{error}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="authService.showLoader">
	<div class="overlay">
		<div class="overlay__inner">
			<div class="overlay__content"><span class="spinner"></span></div>
		</div>
	</div>
</div>