<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.product.viewProduct}}</h1>
    <div class="bread_with_add_btn">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.news.home}}</a></li>
        <li class="active breadcrumb-item">{{language.product.viewProduct}}</li>
      </ol>
      <div class="page-header-actions text-center header_add_option" routerLink="/add-product">
        <button type="button" class="btn btn-floating btn-success btn-sm" title="{{language.product.addProduct}}"><i
            class="icon wb-plus" aria-hidden="true"></i></button><br>
      </div>
    </div>
  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <!-- tab navigation start -->
        <div class="tabs">
          <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
            <li role="presentation" class="nav-item">
              <a class="nav-link active p-3">
                {{language.product.viewProduct}}
              </a>
            </li>
          </ul>
        </div>
        <div class="panel" *ngIf="error == true || success == true">
          <div class="panel-body">
              <div class="alert alert-danger" role="alert" *ngIf="error ==
                  true">
                  <span>{{message}}</span>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="success
                  == true">
                  <span>{{message}}</span>
              </div>
          </div>
      </div>
        <!-- tab navigation end -->
        <!-- search heading of list start -->
        <div *ngIf="isData == true">
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.common.search}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table
            table-bordered" data-plugin="floatThead">
            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.product.productName}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.product_name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.product.description}} </th>
              <td class="odd frd" mat-cell *matCellDef="let dataSource">
                {{dataSource.description}} </td>
            </ng-container>


            <ng-container matColumnDef="productPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.product.productPrice}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.price}} {{language.billwerk.eur}}</td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.imageUpload}} </th>
              <td mat-cell *matCellDef="let dataSource">
                <ng-container *ngIf="dataSource.image == '' || dataSource.image == 'undefined'">
                  <img class="table-news-img" src="/assets/img/v-logo.png">
                </ng-container>
                <ng-container *ngIf="dataSource.image != '' && dataSource.image != 'undefined'">
                  <img class="table-news-img" [src]="dataSource.image">
                </ng-container>

              </td>
            </ng-container>


            <ng-container matColumnDef="Edit">
              <th class="text-center" mat-header-cell *matHeaderCellDef>{{language.product.editProduct}}
              </th>
              <td class="odd table_action_edit text-center" mat-cell *matCellDef="let dataSource"><button
                  class="btn btn-warning" routerLink="/edit-product/{{dataSource.id}}"><i
                    class="bx ri-pencil-line"></i></button>
              </td>
            </ng-container>

            <ng-container matColumnDef="Delete-Product">
              <th mat-header-cell *matHeaderCellDef>
                {{language.productAssign.deleteProduct }}
              </th>
        
              <td class="odd table_action_edit text-center" mat-cell *matCellDef="let dataSource"><button (click)=" deleteProduct(dataSource.id)"
                class="btn btn-danger text-danger" ><i
                  class="bx ri-delete-bin-line"></i></button>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.common.doNot}}
                "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>
        <div *ngIf="isData == false" style="text-align: center;">
          <h3>{{language.common.noDataFound}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>