<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.editProfile.user}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.editProfile.user}}</a></li>
      <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.editProfile.home}}</a></li>
      <li class="active breadcrumb-item">{{language.common.information}}</li>
    </ol>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngIf="EnterData && EnterData.length > 0">
        <div class="profile-sidebar">
          <div class="profile-sidebar-inner">
            <div class="card">
              <div class="card-body">
                <div class="profile-img">
                  <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                    <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                    <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                  </a>
                </div>
                <div class="profile-media" *ngFor="let item of EnterData">
                  <h4 class="profile-user">{{item.mail}}</h4>
                  <p class="user-job" *ngIf="item && item.society">
                    <strong>{{language.news.club}}:</strong>{{item.society}}
                  </p>
                </div>
              </div>
            </div>
            <app-profile-sidebar [userId]="id" [userData]="EnterData"></app-profile-sidebar>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="profile-description">
          <div class="card">
            <div class="card-header">{{language.common.information}}</div>
            <div class="card-body">
              <div class="card-details">
                <!-- update setting -->
                <div class="card user-following">
                  <div class="card-header card-header-transparent p-10">
                    <h4 class="card-title mb-0">{{language.common.information}}</h4>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-12">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                          <div *ngIf="error == true || success == true">
                            <div class="alert alert-danger" role="alert" *ngIf="error == true">
                              <span>{{message}}</span>
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="success == true">
                              <span>{{message}}</span>
                            </div>

                          </div>
                          <div style="text-transform: capitalize;float:right; "
                            *ngIf="(userOrderList && userOrderList.length) && authService.isAdmin()">
                            <mat-slide-toggle [checked]="licenseBlocked" (change)="blockLicense($event)">
                              <Strong>{{language.orderPlatform.blockLicense}} </Strong>
                            </mat-slide-toggle>
                          </div>
                          <ul class="info_section">
                            <li class="list-style"><Strong>{{language.orderPlatform.server}}: </Strong>thdbo1 - db198
                              (TDBO8)</li>
                            <li class="list-style"><Strong>{{language.orderPlatform.ip}}: </Strong>93.180.157.199</li>
                            <li class="list-style"><Strong>{{language.orderPlatform.database}}: </Strong>198</li>
                            <li class="list-style"><a
                                style="text-transform: capitalize;">{{language.billwerk.licenseHistory}}</a></li>

                            <table class="table table-bordered" *ngIf="userOrderList && userOrderList.length > 0">
                              <thead>
                                <tr>
                                  <th scope="col">{{language.billwerk.name}}</th>
                                  <th scope="col">{{language.billwerk.licenseInstalledOn}}</th>
                                  <th scope="col">{{language.billwerk.licenseExpires}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of userOrderList">
                                  <td>{{item.PlanVariantName}}</td>
                                  <td>{{item.Contract.StartDate | date: 'MMMM d, y'}}</td>
                                  <td>{{item.Contract.NextBillingDate | date: 'MMMM d, y'}}</td>
                                  <td *ngIf="buttonDisabbled(item.ContractId); else notEqual">
                                    <button (click)=" cancleLicense(item.ContractId)"
                                      class="btn btn-primary">{{language.productPrice.cancleOrder}}</button>
                                  </td>
                                  <ng-template #notEqual>
                                    <td>
                                      <button class="btn btn-secondary">{{language.billwerk.orderCancle}}</button>
                                    </td>
                                  </ng-template>
                                </tr>

                              </tbody>
                            </table>

                            <li class="list-style" *ngIf="downloadButton == true"><a
                                style="text-transform: capitalize;"><button (click)="downloadPdf()"
                                  class="btn btn-primary">{{language.billwerk.downloadMandate}}</button></a></li>
                          </ul>
                          <div>

                          </div>
                        </div>
                        <!-- End Example Select -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End update setting -->
                <!-- update setting -->
                <div class="card user-following">
                  <div class="card-header card-header-transparent p-10">
                    <h4 class="card-title mb-0">{{language.common.loginData}}</h4>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-12">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                          <ul class="info_section" *ngFor="let item of loginData">

                            <li class="list-style"><Strong>{{language.common.link}} :- <a [href]="item.link"
                                  target="_blank">{{item.link}}</a> </Strong>
                            </li>
                          </ul>
                          <div *ngIf="isData == true">
                            <div class="list-search-panel mt-10">
                              <div class="search-list">
                                <mat-form-field>
                                  <mat-label>{{language.domain.search}}</mat-label>
                                  <input matInput (keyup)="applyFilter($event)"
                                    placeholder="{{language.common.exsearch}}" autocomplete="off" #input>
                                </mat-form-field>
                              </div>
                            </div>
                            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
                                          table-bordered" data-plugin="floatThead">
                              <!-- Position Column -->
                              <ng-container matColumnDef="User-Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  {{language.viewUser.userName}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let row">
                                  {{row.username}}
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="Email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  {{language.viewUser.email}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let row">
                                  {{row.email}}
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="firstname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  {{language.editUser.firstName}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let row">
                                  {{row.firstname}}

                                </td>
                              </ng-container>

                              <ng-container matColumnDef="lastname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  {{language.editUser.lastName}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let row">
                                  {{row.lastname}}
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  {{language.pages.type}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let row">
                                  {{row.type}}
                                </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                              <!-- Row shown when there is no matching data. -->
                              <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                                  "{{input.value}}"
                                </td>
                              </tr>

                            </table>

                            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                              aria-label="Select page">
                            </mat-paginator>

                          </div>
                          <div *ngIf="isData == false" style="text-align: center;">
                            <h3>{{language.common.noDataFound}}</h3>
                          </div>

                        </div>
                        <!-- End Example Select -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card user-following" *ngIf="isData == true && visibleTo()">
                  <div class="card-header card-header-transparent p-10">
                    <h4 class="card-title mb-0">{{language.orderPlatform.supportUser}}</h4>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-12">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                          <div style="text-align: left;">
                            <button class="btn btn-primary"
                              (click)="supportUserStore()">{{language.orderPlatform.getSupportUser}}</button>
                          </div> <br>
                          <table class="table table-bordered" *ngIf="supportuserData && supportuserData.length > 0">
                            <thead>
                              <tr>
                                <th scope="col">{{language.addUser.userName}}</th>
                                <th scope="col">{{language.login.password}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of supportuserData">
                                <td>{{item.user}}</td>
                                <td>{{item.password}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table table-bordered" *ngIf="supportuserData && supportuserData.length == 0">
                            <thead>
                              <tr>
                                <th scope="col">{{language.addUser.userName}}</th>
                                <th scope="col">{{language.login.password}}</th>
                              </tr>
                            </thead>
                            <div class="noData">
                              <h3>{{language.common.noDataFound}}</h3>
                            </div>
                          </table>
                        </div>
                        <!-- End Example Select -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End update setting -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<!-- Button trigger modal -->


<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>