.profile_info h5 {
    font-size: 15px;
}

.user-base.card-block {
    color: #263238;
}

.page-profile .profile-user {
    margin: 10px 0px !important;
    color: #263238;
    font-size: 1.286rem;
    text-transform: capitalize;
}

.user-info {
    border: transparent;
    box-shadow: 0px 0px 6px 3px #f1f4f5;
}

/* new csss start */
ul.info_section {
    padding: 0px;
}

ul.info_section li {
    list-style: none;
    padding: 10px;
}

.card.user-following strong {
    color: #5664d2;
}

.card.user-following {
    font-size: 14px;
    font-family: Inter, sans-serif;
    color: #74788d;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th {
    font-size: 14px !important;
}

td,
th {
    padding: 15px 10px !important;
}

.noData{
    margin-block-start: 23px;
    padding-inline: 16px;
}