<div class="page">
  <div *ngIf="error == true || success == true">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.customerAssign.viewCustomerAssign}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.customerAssign.home}}</a></li>
      <li class="active breadcrumb-item">{{language.customerAssign.viewCustomerAssign}}</li>
    </ol>

  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <div class="row row-lg">
          <!-- Example Rounded Input -->
          <div class="col-md-6 mt-20">
            <div class="example-wrap mb-0 m-sm-0">
              <h4 class="example-title">{{language.customerAssign.select}}</h4>
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [settings]="dropdownSettings"
                  [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <!-- End Example Rounded Input -->
        </div>
        <!-- sub select dd -->
        <div class="row row-lg" *ngIf="visibility == 1 ||visibility == 2">
          <!-- Example Rounded Input -->
          <div class="col-md-6 mt-20" *ngIf="visibility == 1">
            <!-- Example Select -->
            <div class="example-wrap mb-0 m-sm-0">
              <h4 class="example-title">{{language.customerAssign.sales}}
              </h4>
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [settings]="salesdownSettings"
                  [data]="salesList" (onSelect)="salesSelect($event)" (onDeSelect)="salesDeSelect($event)">
                </ng-multiselect-dropdown>

              </div>
            </div>
            <!-- End Example Select -->
          </div>

          <div class="col-md-6 mt-20" *ngIf="visibility == 2">
            <!-- Example Select -->
            <div class="example-wrap mb-0 m-sm-0">
              <h4 class="example-title">{{language.customerAssign.distributer}}
              </h4>
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [settings]="distributerdownSettings"
                  [data]="distributerList" (onSelect)="distSelect($event)" (onDeSelect)="distDeSelect($event)">
                </ng-multiselect-dropdown>

              </div>
            </div>
            <!-- End Example Select -->
          </div>
          <!-- End Example Rounded Input -->
        </div>
        <!-- sub select dd -->
      </div>
    </div>
    <div class="panel" *ngIf="tableShow == true">
      <div class="panel-inner">
        <div class="assign_table">
          <!-- tab navigation start -->
          <div class="tabs">
            <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
              <li role="presentation" class="nav-item">
                <a class="nav-link active p-3">
                  {{language.customerAssign.show}}
                </a>
              </li>
            </ul>
          </div>
          <!-- tab navigation end -->
          <!-- search heading of list start -->
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.customerAssign.search}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <table mat-table matSort [dataSource]="dataSource" class="table
              table-bordered" data-plugin="floatThead">
            <!-- Position Column -->
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.email}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.mail}} </td>
            </ng-container>
            <ng-container matColumnDef="Club-Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.clubname}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.society}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.status}}</th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.status}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.role}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.role}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Member-Since">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.customerAssign.memberSince}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.membersince| date: 'MM/dd/yyyy'}} </td>
            </ng-container>


            <ng-container matColumnDef="Delete-User">
              <th class="text-center" mat-header-cell *matHeaderCellDef>
                {{language.customerAssign.deleteUser}} </th>
              <td class="odd text-center" mat-cell *matCellDef="let dataSource">
                <button class="btn btn-danger text-danger" (click)="deleteUser(dataSource.id)">
                  <i class="bx ri-delete-bin-2-line"></i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.customerAssign.doNot}}
                "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>