.title-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .white_btn {
    background-color: #fff;
    border: 1px solid #95a2b4;
    border-radius: 12px;
    padding: 15px 25px 15px 18px;
    color: #677180;
    font-size: 16px;
    font-weight: 500;
  }
  .white_btn .create_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .title-wrapper .white_btn {
    margin-top: 10px;
  }
  .survey-view-wrapper {
    width: 100%;
    font-family: Inter, sans-serif !important;
  }
  .title-survey-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .title-survey-wrap h2 {
    font-size: 18px;
    color: #1d202f;
    font-family: Inter, sans-serif !important;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .voting-results-graph {
    margin-top: 20px;
    background: #e8f0fe;
    padding: 15px;
}
  .msg-by-right {
    text-align: right;
    font-size: 14px;
    color: #677180;
    line-height: 15px;
  }
  .msg-by-right a,
  .votes-show-all a {
    color: #589ffc;
  }
  
  .survey-view-wrapper p {
    color: #677180;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .msg-text-wrap .alert-info {
    background-color: #deeef5;
    border-color: #deeef5;
    color: #677180;
    font-size: 14px;
    max-width: 626px;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 0 25px;
  }
  .msg-text-wrap .alert-info img {
    vertical-align: -3px;
    margin-right: 3px;
  }
  .title-survey-wrap span {
    font-weight: normal;
  }
  .vote-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .user-background.card.card-shadow.profile_info {
    box-shadow: none;
}
  .vote-inner {
    display: flex;
  }
  .voting-results-graph .date {
    color: #1d202f;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .votes-show-all {
    margin-left: 10px;
  }
  .graph-bar {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
  }
  .bar-filled {
    width: 43%;
    background-color:#1d202f;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar-filled_0 {
    width: 43%;
    background-color: #e12217;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar-filled_1 {
    width: 57%;
    background-color: #039400;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar-filled_2 {
    width: 57%;
    background-color:blue;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar-filled_3 {
    width: 57%;
    background-color: yellow;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-control {
    padding-left: 0;
  }
  .save_btn {
    border: 1px solid #e12217;
    border-radius: 4px;
    background: #e12217;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 43px;
    margin-right: 17px;
  }
  .btn-block {
    margin: 15px 0 0;
  }
  .duration-left {
    color: #677180;
    font-size: 14px;
  }
  .modal-body p {
    background: #edf1ff;
    padding: 10px;
}
.modal-body p strong {
  text-transform: capitalize;
}
  /* Media Queries */
  @media only screen and (max-width: 767px) {
    .msg-by-right {
      text-align: left;
      margin-bottom: 30px;
    }
    .title-survey-wrap h2 {
      font-size: 16px;
      line-height: normal;
    }
    .white_btn {
      padding: 15px 20px;
    }
    .survey-view-wrapper p,
    .msg-by-right {
      margin-bottom: 15px;
    }
  }
  .voting-options input {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
  .survey-view-wrapper .card{
    box-shadow: none;
    margin-bottom: 0;
}
.user-background.card.card-shadow.profile_info {
  width: 100%;
}