<!-- Page -->

<div class="page">
    <div class="page-header">
        <h1 class="page-title"> {{language.billwerk.orderProductList}}</h1>
        <div class="bread_with_add_btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
                <li class="active breadcrumb-item"> {{language.billwerk.orderProductList}}</li>
            </ol>

        </div>
    </div>
    <div class="page-content add_content_main">
        <!-- Panel -->
        <div class="content">
            <div class="row">
                <div class="col-md-12 page-main">
                    <div class="title-wrapper">

                    </div>
                    <div class="survey-tabs-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tasks_navigation">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="head-allTask"
                                                        (click)="onSelectCategory('1')">
                                                        <div class="mat-tab-label-content">
                                                            {{language.sideBar.allOrders}}</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="head-personalTask"
                                                        (click)="onSelectCategory('2')">
                                                        <div class="mat-tab-label-content">{{language.componentProduct.addCompOrdersList}}
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                        </div>
                                        <div class="tab-content">
                                            <div class="active" id="tabs-1" *ngIf="displayAllOrderedList">
                                                <div class="chat-navigation">
                                                    <div class="tab-content" *ngIf="authService.isAdmin()">
                                                        <app-order-product-list></app-order-product-list>
                                                    </div>
                                                    <div class="tab-content" *ngIf="!authService.isAdmin()">
                                                        <app-order-history></app-order-history>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="" id="tabs-2" *ngIf="displayAdditionalComponents">
                                                <div class="chat-navigation">
                                                    <div class="tab-content">
                                                        <app-additioncomponentorders></app-additioncomponentorders>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<!-- End Page -->