
<div class="page">
    <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
    </div>
    <div class="page-header">
        <h1 class="page-title">{{language.productAssign.viewproductAssign}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{language.productAssign.home}}</a></li>
            <li class="active breadcrumb-item">{{language.productAssign.viewproductAssign}}</li>
        </ol>

    </div>
    <div class="page-content add_content_main">
        <div class="panel">

            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-12 col-lg-12">
                        <!-- Example Rounded Input -->
                        <div class="example-wrap">
                            <div class="col-md-6 p-0 mt-20">

                                <div class="example-wrap m-sm-0">
                                    <h4 class="example-title">{{language.productAssign.select}}</h4>
                                    <div class="form-group">
                                        <ng-multiselect-dropdown
                                            [settings]="dropdownSettings"
                                            [data]="dropdownList"
                                            [(ngModel)]="selectedItems"
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="onDeSelect($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Rounded Input -->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" *ngIf="visibility == 1 ||visibility == 2">

            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-12 col-lg-12">
                        <!-- Example Rounded Input -->
                        <div class="example-wrap">
                            <div class="col-md-6 p-0 mt-20">
                            </div>
                            <div class="col-md-6 p-0 mt-20" *ngIf="visibility ==
                                1">
                                <!-- Example Select -->
                                <div class="example-wrap m-sm-0">
                                    <h4 class="example-title">{{language.productAssign.sales}}
                                    </h4>
                                    <div class="form-group">
                                        <ng-multiselect-dropdown
                                            [settings]="salesdownSettings"
                                            [data]="salesList"
                                            (onSelect)="salesSelect($event)"
                                            (onDeSelect)="salesDeSelect($event)">
                                        </ng-multiselect-dropdown>

                                    </div>
                                </div>
                                <!-- End Example Select -->
                            </div>

                            <div class="col-md-6 p-0 mt-20" *ngIf="visibility ==
                                2">
                                <!-- Example Select -->
                                <div class="example-wrap m-sm-0">
                                    <h4 class="example-title">{{language.productAssign.distributer}}
                                    </h4>
                                    <div class="form-group">
                                        <ng-multiselect-dropdown
                                            [placeholder]="'custom placeholder'"
                                            [settings]="distributerdownSettings"
                                            [data]="distributerList"
                                            (onSelect)="distSelect($event)"
                                            (onDeSelect)="distDeSelect($event)">
                                        </ng-multiselect-dropdown>

                                    </div>
                                </div>
                                <!-- End Example Select -->
                            </div>
                        </div>
                        <!-- End Example Rounded Input -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tableShow == true">
        <div class="page-content add_content_main">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title pl-20 pb-0">
                        {{language.productAssign.show}}
                    </h3>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-md-6 col-lg-4">
                            <mat-form-field>
                                <mat-label>{{language.productAssign.search}}</mat-label>
                                <input matInput (keyup)="applyFilter($event)"
                                placeholder="{{language.common.exsearch}}" #input>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="example table-responsive user-table">
                        <table mat-table matSort [dataSource]="dataSource"
                            class="table
                            table-striped table-bordered"
                            data-plugin="floatThead">
                            <!-- Position Column -->
                            <ng-container matColumnDef="productId">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.sNo}} </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource; let j=
                                    index"> {{j+1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Product-Name">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.productName}} </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    {{dataSource.productName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Product-Component">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.productComponent}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    {{dataSource.productComponent}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Product-Details">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.productDetails}}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    {{dataSource.productDetails}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Price">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.price }}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    {{dataSource.price}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Publish">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.publish }}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    {{dataSource.publish}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Description">
                                <th mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    {{language.productAssign.description }}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    {{dataSource.description}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="Delete-Product">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{language.productAssign.deleteProduct }}
                                </th>
                                <td class="odd" mat-cell *matCellDef="let
                                    dataSource">
                                    <button class="btn btn-danger"
                                        (click)="modal('delete')"
                                        (click)="getproductId(dataSource.id)">
                                        <i class="icon wb-minus-circle mr-10"
                                            aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row
                                *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns:
                                columnsToDisplay;"></tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">{{language.customerAssign.doNot}}
                                    "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [length]="100"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{language.modal.title}}</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{language.modal.msg}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                    data-dismiss="modal"
                    (click)="modal('yes')">{{language.modal.yes}}</button>
                <button type="button" class="btn btn-success"
                    data-dismiss="modal"
                    data-dismiss="modal">{{language.modal.no}}</button>
            </div>
        </div>
    </div>
</div>