<div class="page">
   <div class="alert alert-danger" role="alert" *ngIf="error">
      <span>{{error}}</span>
   </div>
   <div class="page-header">
      <h1 class="page-title">{{language.billwerk.completedOrders}}</h1>
      <ol class="breadcrumb">
         <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
         <li class="active breadcrumb-item">{{language.billwerk.completedOrders}}</li>
      </ol>
   </div>
   <div class="page-content add_content_main">
      <div class="panel">
         <div class="panel-inner">
            <!-- tab navigation start -->
            <div class="tabs">
               <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                  <li role="presentation" class="nav-item">
                     <a class="nav-link active p-3">
                        {{language.billwerk.completedOrdersList}}
                     </a>
                  </li>
               </ul>
            </div>
            <!-- tab navigation end -->
            <div *ngIf="isData == true">
               <!-- search heading of list start -->
               <div class="list-search-panel mt-10">
                  <div class="search-list">
                     <mat-form-field>
                        <mat-label>{{language.common.search}}</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
                     </mat-form-field>
                  </div>
               </div>
               <!-- search heading of list end -->
               <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table
               table-bordered" data-plugin="floatThead">
                  <ng-container matColumnDef="Customer">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.customer}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        <ng-container
                           *ngIf="dataSource && dataSource.Customer.FirstName || dataSource && dataSource.Customer.LastName ">
                           <a (click)="userDetails(dataSource.CustomerId)">
                              {{dataSource.Customer.FirstName}} {{dataSource.Customer.LastName}}
                           </a>
                        </ng-container>
                        <ng-container
                           *ngIf="dataSource && !dataSource.Customer.FirstName || dataSource && !dataSource.Customer.LastName ">
                           <a (click)="userDetails(dataSource.CustomerId)">
                              {{dataSource.Customer.EmailAddress}}
                           </a>
                        </ng-container>
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="contractId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.ContractId}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        {{dataSource.Contract.Id}}
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="Plan">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.plan}} , {{language.billwerk.planVariant}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        {{dataSource.PlanName}},{{dataSource.PlanVariantName}}
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.status}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        {{dataSource.Status}}
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="last-nextBill">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.lastBilling}}, {{language.billwerk.nextBilling}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        {{dataSource.Contract.LastBillingDate | date: 'MMM d, y'}}, <br>
                        {{dataSource.Contract.NextBillingDate | date: 'MMM d, y'}}
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="paymentMethod">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.paymentMethod}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        <ng-container
                           *ngIf="dataSource && dataSource.Contract.PaymentProvider || dataSource && dataSource.Contract.PaymentProviderRole">
                           {{dataSource.Contract.PaymentProvider}} {{dataSource.Contract.PaymentProviderRole}}
                        </ng-container>
                        <ng-container
                           *ngIf="dataSource && !dataSource.Contract.PaymentProvider || dataSource && !dataSource.Contract.PaymentProviderRole">
                           --
                        </ng-container>

                     </td>
                  </ng-container>
                  <ng-container matColumnDef="Balance">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.billwerk.balance}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let dataSource">
                        {{dataSource.Total | number : '1.2-2'}} {{language.billwerk.eur}}
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="Order-Details">
                     <th class="text-center" mat-header-cell *matHeaderCellDef> {{language.billwerk.orderDetails}}
                     </th>
                     <td class="odd table_action view" mat-cell *matCellDef="let dataSource"><button
                           class="btn btn-warning" routerLink="/order-details/{{dataSource.Id}}"> <i
                              class="bx ri-eye-line"></i></button>
                     </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                  <tr class="mat-row" *matNoDataRow>
                     <td class="mat-cell" colspan="4">{{language.common.doNot}}
                        {{input.value}}
                     </td>
                  </tr>
               </table>
               <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
               </mat-paginator>
            </div>

            <div *ngIf="isData == false" style="text-align: center;">
               <h3>{{language.common.noDataFound}}</h3>
            </div>
         </div>
      </div>
   </div>
</div>
<div *ngIf="authService.showLoader">
   <div class="overlay">
      <div class="overlay__inner">
         <div class="overlay__content"><span class="spinner"></span></div>
      </div>
   </div>
</div>