<div class="page">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <span>{{error}}</span>
    </div>
    <div class="page-header">
        <h1 class="page-title">{{language.productAssign.productAssign}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{language.productAssign.home}}</a></li>
            <li class="active breadcrumb-item">{{language.productAssign.productAssign}}</li>
        </ol>
    </div>

    <div class="page-content add_content_main">
        <form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-md-12 col-lg-12">
                            <!-- Example Rounded Input -->
                            <div class="example-wrap">
                                <div class="col-md-6 p-0 mt-20">
                                    <!-- Example Select -->
                                    <div class="example-wrap m-sm-0" *ngIf="customerList && customerList.length > 0">
                                        <h4 class="example-title">{{language.customerAssign.customers}}
                                        </h4>
                                        <div class="form-group">
                                            <ng-multiselect-dropdown formControlName="userId"
                                                [settings]="customerdownSettings" [data]="customerList"
                                                (onSelect)="customerSelect($event)"
                                                (onDeSelect)="customerDeSelect($event)">
                                            </ng-multiselect-dropdown>
                                            <span class="danger" *ngIf="isSubmitted &&
                                            formControls['userId'].errors">
                                                {{language.error_message.required}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Example Select -->
                                </div>

                                <div class="col-md-6 p-0 mt-20">
                                    <!-- Example Select -->
                                    <div class="example-wrap m-sm-0" *ngIf="productsList && productsList.length > 0">
                                        <h4 class="example-title">{{language.productAssign.products}}
                                        </h4>
                                        <div class="form-group">
                                            <ng-multiselect-dropdown formControlName="assignedProducts"
                                                [settings]="productsdownSettings" [data]="productsList"
                                                (onSelect)="productsSelect($event)"
                                                (onDeSelect)="productsDeSelect($event)"
                                                (onSelectAll)="productsSelectAll($event)"
                                                (onDeSelectAll)="productsDeSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                            <span class="danger" *ngIf="isSubmitted &&
                                                formControls['assignedProducts'].errors">
                                                {{language.error_message.required}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Example Select -->
                                </div>
                            </div>
                            <!-- End Example Rounded Input -->
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="error == true || success == true">
                <div class="alert alert-danger" role="alert" *ngIf="error ==
                              true">
                    <span>{{message}}</span>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success
                              == true">
                    <span>{{message}}</span>
                </div>
            </div>
            <div class="example example-buttons">
                <div class="float-left">
                    <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-primary
                        ladda-button">
                        <span class="ladda-label">{{language.productAssign.assignProduct}}</span>
                        <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>