/* .page-login-v2 {
    height: 100%;
    overflow-x: hidden;
  }
  
  .page-login-v2:before {
    background-image: url(../../../assets/img/login.jpg)
  }
  
  .page-login-v2.page-dark.layout-full:after {
    background-color: rgba(38, 50, 56, .6);
  }
  
  .page-login-v2 .page-brand-info {
    margin: 220px 100px 0 90px;
  }
  
  .page-login-v2 .page-brand-info .brand-img {
    vertical-align: middle;
  }
  
  .page-login-v2 .page-brand-info .brand-text {
    display: inline-block;
    margin: 11px 0 11px 20px;
    vertical-align: middle;
  }
  
  .page-login-v2 .page-brand-info p {
    max-width: 650px;
    opacity: .6;
  }
  
  .page-login-v2 .page-login-main {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    min-height: 100%;
    padding: 150px 60px 180px;
    color: #76838f;
    background: #fff;
  }
  
  .page-login-v2 .page-login-main .brand {
    margin-bottom: 60px;
  }
  
  .page-login-v2 .page-login-main .brand-img {
    vertical-align: middle;
  }
  
  .page-login-v2 .page-login-main .brand-text {
    display: inline-block;
    margin: 11px 0 11px 20px;
    color: #3e8ef7;
    vertical-align: middle;
  }
  
  .page-login-v2 form {
    width: 350px;
    margin: 45px 0 20px;
  }
  
  .page-login-v2 form > button {
    margin-top: 38px;
  }
  
  .page-login-v2 form a {
    margin-left: 20px;
  }
  
  .page-login-v2 footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 50px 60px;
    text-align: center;
  }
  
  .page-login-v2 .social .icon, .page-login-v2 .social .icon:hover, .page-login-v2 .social .icon:active {
    color: #fff;
  }
  
  @media (min-width: 992px) {
    .page-login-v2 .page-content {
      padding-right: 500px;
    }
  }
  
  @media (max-width: 991px) {
    .page-login-v2 .page-login-main {
      padding-top: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .page-login-v2 .page-login-main {
      padding-top: 80px;
    }
  
    .page-login-v2 .page-brand-info {
      margin: 160px 0 0 35px;
    }
  
    .page-login-v2 .page-brand-info > p {
      color: transparent;
      opacity: 0;
    }
  }
  
  @media (max-width: 767px) {
    .page-login-v2 .page-login-main {
      width: 100%;
      padding-top: 60px;
    }
  
    .page-login-v2 form {
      width: auto;
    }
  }
  
  @media (max-width: 479px) {
    .page-login-v2 .page-brand-info {
      margin: 220px 0 0;
    }
  
    .page-login-v2 .page-login-main {
      padding: 50px 30px 180px;
    }
  
    .page-login-v2 form {
      width: auto;
    }
  
    .page-login-v2 footer {
      margin: 50px 30px;
    }
  }
  .brand img {
    width: 50px;
  } */
  /* .page-login-v2 {
  height: 100%;
  overflow-x: hidden;
}

.page-login-v2:before {
  background-image: url(../../../assets/img/login.jpg)
}

.page-login-v2.page-dark.layout-full:after {
  background-color: rgba(38, 50, 56, .6);
}

.page-login-v2 .page-brand-info {
  margin: 220px 100px 0 90px;
}

.page-login-v2 .page-brand-info .brand-img {
  vertical-align: middle;
}

.page-login-v2 .page-brand-info .brand-text {
  display: inline-block;
  margin: 11px 0 11px 20px;
  vertical-align: middle;
}

.page-login-v2 .page-brand-info p {
  max-width: 650px;
  opacity: .6;
}

.page-login-v2 .page-login-main {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  min-height: 100%;
  padding: 150px 60px 180px;
  color: #76838f;
  background: #fff;
}

.page-login-v2 .page-login-main .brand {
  margin-bottom: 60px;
}

.page-login-v2 .page-login-main .brand-img {
  vertical-align: middle;
}

.page-login-v2 .page-login-main .brand-text {
  display: inline-block;
  margin: 11px 0 11px 20px;
  color: #3e8ef7;
  vertical-align: middle;
}

.page-login-v2 form {
  width: 350px;
  margin: 45px 0 20px;
}

.page-login-v2 form > button {
  margin-top: 38px;
}

.page-login-v2 form a {
  margin-left: 20px;
}

.page-login-v2 footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px 60px;
  text-align: center;
}

.page-login-v2 .social .icon, .page-login-v2 .social .icon:hover, .page-login-v2 .social .icon:active {
  color: #fff;
}

@media (min-width: 992px) {
  .page-login-v2 .page-content {
    padding-right: 500px;
  }
}

@media (max-width: 991px) {
  .page-login-v2 .page-login-main {
    padding-top: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-login-v2 .page-login-main {
    padding-top: 80px;
  }

  .page-login-v2 .page-brand-info {
    margin: 160px 0 0 35px;
  }

  .page-login-v2 .page-brand-info > p {
    color: transparent;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .page-login-v2 .page-login-main {
    width: 100%;
    padding-top: 60px;
  }

  .page-login-v2 form {
    width: auto;
  }
}

@media (max-width: 479px) {
  .page-login-v2 .page-brand-info {
    margin: 220px 0 0;
  }

  .page-login-v2 .page-login-main {
    padding: 50px 30px 180px;
  }

  .page-login-v2 form {
    width: auto;
  }

  .page-login-v2 footer {
    margin: 50px 30px;
  }
}
.brand img {
  width: 50px;
} */




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}
.login-fields {
  display: inline-block;
  width: 100%;
}
button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  height: 50px;
}
img.brand-img {
  width: 40px;
  margin-right: 10px;
  margin-top: -10px;
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  margin: 140px auto;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

/* .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
  max-width: inherit;
} */

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
@media only screen and (max-width:700px){
  .sign-in-container{width: 100%;}
  .form-container{position: inherit;}
  .sign-up-container{display: none;}
  .overlay-container{display: none;}
  .d-flex.align-items-center a {
    display: inline-block;
    line-height: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0 20px !important;
}
.d-flex.align-items-center{display: none !important;}
.container{box-shadow: transparent !important;}
}
@media only screen and (max-width:990px) and (min-width:768px){
  .navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
}
.navbar-expand-lg .navbar-nav li{ margin-right: 10px !important;}
.d-flex.align-items-center{display: none !important;}
}
/* header-css start */
a.navbar-brand .brand {
  display: flex;
  align-items: center;
}
.header a.navbar-brand .brand img {
  width: 35px;
}
.header a.navbar-brand .brand h3 {
  font-size: 28px !important;
}
.header a.navbar-brand.mt-2.mt-lg-0 {
  margin: 0;
  display: flex;
  align-items: center;
}
.d-flex.align-items-center a {
  color: rgba(0, 0, 0, 0.5);
}
.collapse.navbar-collapse.expand {
  display: block;
}
.header button{
	padding:10px 20px;
}
.header .dropdown-menu.show {
    left: -40px;
}
.signin-inner h3 {
  font-size: 18px !important;
  margin-bottom: 0;
}
.progress-bar-sigin {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.progress-bar-row{
  text-align: center;
}
.progress-bar-row .logo-img{
  width: 100%;
}
.progress-bar-row .logo-img img{
  max-height: 160px;
}
.progress-bar-row h2{
  font-size: 22px;
  font-weight: 600;
}
