<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title"> {{language.billwerk.invoiceDetails}}</h1>
        <ol class="breadcrumb">
            <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
            <li class="active breadcrumb-item"> {{language.billwerk.invoiceDetails}}</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel" *ngIf="EnterData && EnterData.length > 0">
            <div class="panel-body container-fluid" *ngFor="let item of EnterData">
                <div class="row">
                    <!-- Middle Column -->
                    <div class="col-lg-12 col-xl-9 order-xl-2 invoice_main">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="top-left-detail">
                                    <div class="top-label">{{language.billwerk.recipient}}</div>
                                    <p><strong>{{item['RecipientName']}}</strong></p>
                                    <p><strong>{{language.billwerk.address}}:</strong>{{item['RecipientAddress']['Street']}}</p>
                                    <p><strong>{{language.billwerk.city}}:</strong>{{item['RecipientAddress']['City']}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="top-right-details float-right">
                                    <div class="top-label">{{language.billwerk.invoic}}</div>
                                    <p><strong>{{item['InvoiceNumber']}}</strong></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                            <table class="table table-bordered mt-50">
                                <thead>
                                    <tr>
                                        <th scope="col">{{language.billwerk.description}}</th>
                                        <th scope="col">{{language.billwerk.quantity}}</th>
                                        <th scope="col">{{language.billwerk.pricePerUnit}}</th>
                                        <th scope="col">{{language.billwerk.net}}</th>
                                        <th scope="col">{{language.billwerk.vatPer}}</th>
                                        <th scope="col">{{language.billwerk.vat}}</th>
                                        <th scope="col">{{language.billwerk.gross}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of item['ItemList']">
                                        <td>{{items['Description']}} <br>
                                            {{items['ProductDescription']}} <br>
                                            {{items['PeriodStart'] | date: 'M.d.yyyy, h:mm a'}} -
                                            {{items['PeriodEnd'] | date: 'M.d.yyyy, h:mm a'}} <br>

                                        </td>
                                        <td>{{items['Quantity']}}</td>
                                        <td>{{items['PricePerUnit'] | number : '1.2-2'}}  {{language.billwerk.eur}}</td>
                                        <td>{{items['TotalNet']}} {{language.billwerk.eur}}</td>
                                        <td>{{items['VatPercentage']}}</td>
                                        <td>{{items['TotalVat']}}</td>
                                        <td>{{items['TotalGross'] | number : '1.2-2'}} {{language.billwerk.eur}}</td>

                                    </tr>
                                    <tr>

                                        <td colspan="6">{{language.billwerk.grandTotal}}</td>
                                        <td colspan="1">
                                            <h5>{{item.TotalGross | number : '1.2-2'}} {{language.billwerk.eur}}</h5>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="6">{{language.billwerk.totalEur}}</td>
                                        <td colspan="1">
                                            <h5>{{item.TotalGross | number : '1.2-2'}}  {{language.billwerk.eur}}</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <!-- User Background -->
                        <div class="user-background card card-shadow profile_info">
                            <!-- <div class="card-header card-header-transparent p-20">
                                <h4 class="card-title mb-0">Recipient</h4>

                                <h5 class="card-title">
                                    <span><i class="icon wb-user-circle mr-10" aria-hidden="true"></i><strong>
                                            Name</strong>{{item['RecipientName']}}</span>
                                </h5>
                                <h5 class="card-title">
                                    <span><i class="icon fa-map-marker mr-10"
                                            aria-hidden="true"></i><strong>Street</strong>
                                        {{item['RecipientAddress']['Street']}}</span>
                                </h5>
                                <h5 class="card-title">
                                    <span><i class="icon fa-map-o mr-10" aria-hidden="true"></i><strong>City</strong>
                                        {{item['RecipientAddress']['City']}}</span>
                                </h5>
                                <h5 class="card-title">
                                    <span><i class="icon wb-users mr-10" aria-hidden="true"></i><strong>VAT ID</strong>
                                        -</span>
                                </h5>
                                <h1 class="card-title">
                                    <span><strong>Invoice</strong>
                                        {{item['InvoiceNumber']}}</span>
                                </h1>

                            </div> -->
                        </div>

                        <button class="btn btn-primary" (click)="downloadInvoice(item.Id)">{{language.billwerk.download}}</button>

                    </div>
                    <!-- End Middle Column -->

                    <!-- Left Column -->

                    <!-- End Left Column -->
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body container-fluid" *ngIf="EnterData && EnterData.length <1">
                <div class="row">
                    <!-- Middle Column -->
                    <div class="col-lg-12 col-xl-9 order-xl-2">
                        <!-- User Background -->
                        <div class="user-background card card-shadow profile_info">
                            <div class="card-header card-header-transparent p-20">
                  

                                <p>{{language.billwerk.noInvoice}}</p>

                            </div>



                        </div>



                    </div>
                    <!-- End Middle Column -->

                    <!-- Left Column -->

                    <!-- End Left Column -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>