<!-- Page -->
<div class="page">
   <div class="page-header">
      <h1 class="page-title">{{language.emailTemplate.create_email}}</h1>
      <ol class="breadcrumb">
         <li class="breadcrumb-item" routerLink="/email-template"><a> {{language.emailTemplate.email_template }}</a>
         </li>
         <li class="breadcrumb-item">{{language.emailTemplate.create_email}}</li>
      </ol>
   </div>
   <form [formGroup]="emailTemplateForm" (ngSubmit)="onSubmit()">
      <div class="page-content add_content_main">
         <!-- Panel -->
         <div class="panel">
            <div class="panel-body container-fluid">
               <div class="row row-lg">
                  <div class="col-lg-6">
                     <!-- Example Rounded Input -->
                     <div class="example-wrap mb-0">
                        <h4 class="example-title">{{language.emailTemplate.template_type}}<span
                              style="color: red;">*</span></h4>
                        <div class="example-wrap m-sm-0">
                           <div class="form-group">
                              <select class="form-control" name="templateType" formControlName="templateType"
                                 [ngClass]="{ 'is-invalid': isSubmitted &&formControls['templateType'].errors }">
                                 <option *ngFor="let item of templateType" value="{{item.value}}">{{item.value}}
                                 </option>
                              </select>
                              <span class="danger" *ngIf="isSubmitted &&
                                   formControls['templateType'].errors">
                                 {{language.error_message.required}}
                              </span>
                              <span class="danger" role="alert" *ngIf="msg && msg.templateType">
                                 <span>{{msg.templateType }}</span>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                     <!-- Example Placeholder -->
                     <div class="example-wrap mb-20">
                        <h4 class="example-title">{{language.emailTemplate.subject}}<span style="color: red;">*</span>
                        </h4>
                        <input type="text" class="form-control" placeholder="{{language.emailTemplate.subject}}"
                           name="subject" formControlName="subject" [ngClass]="{ 'is-invalid':
                               isSubmitted && formControls['subject'].errors }">
                        <!-- <span class="text-help">{{language.addUser.userMsg}}</span> -->
                        <span class="danger" *ngIf="isSubmitted &&
                                  formControls['subject'].errors">
                           {{language.error_message.required}}
                        </span>
                        <span class="danger" role="alert" *ngIf="msg && msg.subject">
                           <span>{{msg.subject }}</span>
                        </span>
                     </div>
                     <!-- End Example Placeholder -->
                  </div>
                  <!-- End Example Rounded Input -->
               </div>

               <div class="row">
                  <div class="col-lg-6">
                     <div class="example-wrap mb-20">
                        <h4 class="example-title">{{language.emailTemplate.logo}}</h4>
                        <div class="event_upload news_pic_upload">
                           <label class="preview_txt" style="display: none;"></label>
                           <input type='file' (change)="uploadFile($event)" id="imageUpload"
                              accept=".png, .jpg, .jpeg" />
                           <label *ngIf="errorImage.isError" class="text-danger">
                              {{ errorImage.errorMessage }}
                           </label>
                           <span class="danger" *ngIf="isSubmitted &&
                              formControls['file'].errors">
                              {{language.error_message.required}}
                           </span>
                           <span class="event_uplod_overlay avatar-preview">
                              <img id="imagePreview" src="../assets/img/event_upload.png">
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                     <!-- Example Placeholder -->
                     <div class="example-wrap mb-20">
                        <h4 class="example-title">{{language.emailTemplate.header_content}}<span
                              style="color: red;">*</span>
                        </h4>
                        <angular-editor name="headerContent" formControlName="headerContent" rows="3"
                           placeholder="{{language.emailTemplate.header_content}}" data-fv-field="skills" [ngClass]="{ 'is-invalid':
                        isSubmitted && formControls['headerContent'].errors }">
                        </angular-editor>
                        <span class="danger" *ngIf="isSubmitted &&
                        formControls['headerContent'].errors">
                           {{language.error_message.required}}
                        </span>
                        <span class="danger" role="alert" *ngIf="msg && msg.headerContent">
                           <span>{{msg.headerContent }}</span>
                        </span>
                     </div>
                     <!-- End Example Placeholder -->
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-lg-6">
                     <!-- Example Placeholder -->
                     <div class="example-wrap mb-20">
                        <h4 class="example-title">{{language.emailTemplate.body_content}}<span
                              style="color: red;">*</span>
                        </h4>
                        <angular-editor name="templateBody" formControlName="templateBody" rows="3"
                           placeholder="{{language.emailTemplate.body_content}}" data-fv-field="skills" [ngClass]="{ 'is-invalid':
                        isSubmitted && formControls['templateBody'].errors }">
                        </angular-editor>
                        <span class="danger" *ngIf="isSubmitted &&
                        formControls['templateBody'].errors">
                           {{language.error_message.required}}
                        </span>
                        <span class="danger" role="alert" *ngIf="msg && msg.templateBody">
                           <span>{{msg.templateBody }}</span>
                        </span>
                     </div>
                     <!-- End Example Placeholder -->
                  </div>
                  <div class="col-md-6 col-lg-6">
                     <!-- Example Placeholder -->
                     <div class="example-wrap mb-20">
                        <h4 class="example-title">{{language.emailTemplate.footer_content}}<span
                              style="color: red;">*</span>
                        </h4>
                        <angular-editor name="footerContent" formControlName="footerContent" rows="3"
                           placeholder="{{language.emailTemplate.footer_content}}" data-fv-field="skills" [ngClass]="{ 'is-invalid':
                        isSubmitted && formControls['footerContent'].errors }">
                        </angular-editor>
                        <span class="danger" *ngIf="isSubmitted &&
                        formControls['footerContent'].errors">
                           {{language.error_message.required}}
                        </span>
                        <span class="danger" role="alert" *ngIf="msg && msg.footerContent">
                           <span>{{msg.footerContent }}</span>
                        </span>
                     </div>
                     <!-- End Example Placeholder -->
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-lg-6">
                     <!-- Example Placeholder -->
                     <div class="example-wrap mb-20">
                        <h4 class="example-title">{{language.emailTemplate.url}}<span style="color: red;">*</span>
                        </h4>
                        <input type="text" class="form-control" placeholder="{{language.emailTemplate.url}}" name="url"
                           formControlName="url" [ngClass]="{ 'is-invalid':
                               isSubmitted && formControls['url'].errors }">
                        <!-- <span class="text-help">{{language.addUser.userMsg}}</span> -->
                        <span class="danger" *ngIf="isSubmitted &&
                                  formControls['url'].errors">
                           {{language.error_message.required}}
                        </span>
                        <span class="danger" role="alert" *ngIf="msg && msg.url">
                           <span>{{msg.url }}</span>
                        </span>
                     </div>
                     <!-- End Example Placeholder -->
                  </div>
                  <!-- End Example Rounded Input -->
               </div>

               <div class="row">
                  <div class="col-md-12">
                     <div class="panel" *ngIf="error == true || success == true">
                        <div class="panel-body">
                           <div class="alert alert-danger" role="alert" *ngIf="error == true">
                              <span>{{message}}</span>
                           </div>
                           <div class="alert alert-success" role="alert" *ngIf="success == true">
                              <span>{{message}}</span>
                           </div>
                        </div>
                     </div>

                     <div class="float-left">
                        <div class="example example-buttons mt-0">
                           <div class="float-left">
                              <button type="submit" class="btn btn-primary">
                                 <span class="ladda-label">{{language.common.save}}</span>
                              </button>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="example example-buttons mt-0">
                        <div class="float-left">
                           <button type="button" class="btn btn-danger">
                              <span class="ladda-label">{{language.common.cancel}}</span>
                           </button>
                        </div>
                     </div> -->
                  </div>
               </div>

            </div>
         </div>
         <!-- End Panel -->
         <!-- Panel -->
      </div>
   </form>
</div>
<!-- End Page -->

<div *ngIf="authService.showLoader">
   <div class="overlay">
     <div class="overlay__inner">
       <div class="overlay__content"><span class="spinner"></span></div>
     </div>
   </div>
 </div>