<div class="panel" *ngIf="error == true || success == true">
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" *ngIf="error ==
                  true">
            <span>{{message}}</span>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="success
                  == true">
            <span>{{message}}</span>
        </div>
    </div>
</div>
<div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
<div class="survey-main">
<table class="table table-responsive" *ngIf="Completed && Completed.length > 0">
    <thead>
        <tr>
            <th>{{language.Survey.title}}</th>
            <th>{{language.Survey.author}}</th>
            <th>{{language.Survey.expired_date}}</th>
            <!-- <th>{{language.Survey.remaining_time}}</th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let item of Completed  | paginate: {itemsPerPage: itemPerPage,  currentPage: currentPageNmuber,  totalItems: totalCompletedSurvey  }">

            <td>{{item.title}}</td>
            <td>
                {{item.author}}
            </td>
            <td>{{item.survey_end_date.split('T')[0] | date: 'd MMM y'}}</td>
            <!-- <td>{{item.dayCount}} {{item.remain}}</td> -->
            <td>
                <div class="table-action-main">
                    <div class="table-action-btn" routerLink="/survey-view/{{item.id}}"><a><i class="bx ri-eye-line text-primary"></i><br><Span>{{language.Survey.view}}</Span></a></div>
                    <div class="table-action-btn" *ngIf="(authService.isAdmin()) || permissions.survey &&
                    permissions.survey.includes('EDIT') " routerLink="/update-survey/{{item.id}}"><a><i class="bx ri-pencil-line text-warning"></i><br><Span>{{language.Survey.edit}}</Span></a></div>
                    <div class="table-action-btn" *ngIf="(authService.isAdmin()) || permissions.survey &&
                    permissions.survey.includes('DELETE') " (click)="deleteSurvey(item.id)" ><a><i class="bx  ri-delete-bin-line text-danger"></i><br><Span>{{language.Survey.delete}}</Span></a></div>
                </div>
            </td>
        </tr>
 
    </tbody>
</table>
</div>
<div class="row pagination-filter"  *ngIf="Completed && Completed.length > 0">
    <div class="col-lg-0">
        <pagination-controls (pageChange)="pageChanged($event);" previousLabel={{language.pagination.previous}}
          nextLabel={{language.pagination.next}}>
        </pagination-controls>
      </div>
      <div class="col-lg-6">
        <span>{{language.pagination.go_to_page}}
          <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
        </span>
        <span>{{language.pagination.limit_per_page}}
          <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
            <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
              {{limitValue.value}}
            </option>
          </select>
        </span>

        {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
        {{ (currentPageNmuber * itemPerPage) >
        totalCompletedSurvey ? totalCompletedSurvey : (currentPageNmuber * itemPerPage) }}
        {{language.pagination.of}} {{ totalCompletedSurvey | number }} {{language.Survey.survey}}
      </div>
</div>
<div class="empty-data-image" *ngIf="Completed && Completed.length == 0">
    <span>{{language.Survey.no_completed_votes}}</span>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{language.Survey.delete}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{language.confirmBox.delete_survey}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="modal('yes')">{{language.confirmBox.yes}}</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    data-dismiss="modal">{{language.confirmBox.no}}</button>
            </div>
        </div>
    </div>
</div> -->