<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.productPrice.Productdetails}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
      <li class="breadcrumb-item" routerLink="/product-price"><a>{{language.productPrice.productPlans}}</a></li>
      <li class="active breadcrumb-item">{{language.productPrice.Productdetails}}</li>
    </ol>
  </div>

  <div class="page-content" *ngFor="let item of productComponent">

    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row">
          <div class="col-xl-4">
            <div class="product-image">
              <div class="product_image" *ngIf="item && item.image != '' && item.image != 'undefined' ">
                <img [src]=" item.image ? item.image: '/assets/img/v-logo.png'" />
              </div>

              <div class="product_image" *ngIf="item && item.image == '' || item.image == 'undefined' ">
                <img [src]="'/assets/img/v-logo.png'" />
              </div>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="product-details">
              <h5 class="font-size-20">{{item.product_name}}</h5>
              <div class="divider-line"></div>
              <div class="plans-description">
                <div class="row">
                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.productPrice.componentType}}</p>
                      <h5>{{item.component_type ? item.component_type : '-'}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.billwerk.pricePerUnit}}</p>
                      <h5>{{item.price | number : '1.2-2'}} {{language.billwerk.eur}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.productPrice.taxPolicyId}}</p>
                      <h5>{{item.tax_policy ? item.tax_policy : '-'}}</h5>

                    </div>
                  </div>
                  <div class="divider-line"></div>

                  <div class="row text-center mt-2 product_action">
                    <div class="col-md-12">

                      <div class="front">
                        <div class="alert alert-warning" *ngIf="checkAcceptOrNot(item); else notEqual">
                          <h3> <strong> {{language.productPrice.orderMessage}} </strong></h3>
                        </div>
                      </div>
                    </div>

                    <ng-template #notEqual>

                      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                        <div class="panel">
                          <div class="panel-body container-fluid">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                  {{language.productPrice.paymentDetail}}
                                </h5>
                              </div>
                              <div class="modal-body">
                                <div class="row row-lg">
                                  <div class="col-md-12 col-lg-6">
                                    <!-- Example Placeholder -->
                                    <div class="example-wrap mb-20">
                                      <h4 class="example-title text-left"> {{language.productPrice.holderName}}<span
                                          style="color: red;">*</span></h4>
                                      <input type="text" class="form-control" [readonly]="this.paymentBearer"
                                        placeholder=" {{language.productPrice.holderName}}" name="account_holder_name"
                                        formControlName="account_holder_name" [ngClass]="{ 'is-invalid':
                                                        isSubmitted && formControls['account_holder_name'].errors }">
                                      <span class="danger" *ngIf="isSubmitted &&
                                                        formControls['account_holder_name'].errors">
                                        {{language.error_message.required}}
                                      </span>
                                    </div>
                                    <!-- End Example Placeholder -->
                                  </div>


                                  <div class="col-md-12 col-lg-6">
                                    <div class="example-wrap mb-0">
                                      <h4 class="example-title text-left">{{language.productPrice.iban}}<span
                                          style="color: red;">*</span> </h4>
                                      <input type="text" class="form-control"
                                        placeholder="{{language.productPrice.iban}}" (keyup)="validIban($event)"
                                        name="iban" formControlName="iban" [readonly]="this.paymentBearer" [ngClass]="{ 'is-invalid':
                                                        isSubmitted && formControls['iban'].errors }">
                                      <span class="danger" *ngIf="isSubmitted &&
                                                        formControls['iban'].errors">
                                        {{language.error_message.required}}
                                      </span>

                                      <span class="danger" *ngIf="isValidIban">
                                        {{isValidIban}}
                                      </span>

                                    </div>
                                  </div>

                                  <div class="col-md-12 col-lg-6">
                                    <div class="example-wrap mb-0">
                                      <h4 class="example-title text-left">{{language.productPrice.coupon_code}} </h4>
                                      <input type="text" class="form-control"
                                        placeholder="{{language.productPrice.coupon_code}}" name="coupon_code"
                                        formControlName="coupon_code">
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="example-wrap mb-0">
                                      <h4 class="example-title text-left">{{language.productPrice.field}}<span
                                          style="color: red;">*</span> </h4>
                                      <input type="text" class="form-control"
                                        placeholder="{{language.productPrice.field}}" [readonly]="this.paymentBearer" name="chairman_name"
                                        formControlName="chairman_name" [ngClass]="{ 'is-invalid':
                                                        isSubmitted && formControls['chairman_name'].errors }">
                                      <span class="danger" *ngIf="isSubmitted &&
                                                        formControls['chairman_name'].errors">
                                        {{language.error_message.required}}
                                      </span>


                                    </div>
                                  </div>
                                  <div class="col-md-12 col-lg-12">
                                    <div class="example-wrap mb-0 text-left">
                                      <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" class="input-checkbox1" (click)="fieldVisibility($event)"
                                          formControlName="association" [ngClass]="{ 'is-invalid':
                                                        isSubmitted && formControls['association'].errors }">
                                        <label for="inputChecked1"> {{language.productPrice.association}}</label> <br>
                                        <span class="danger" *ngIf="isSubmitted &&
                                                        formControls['association'].errors">
                                          {{language.error_message.required}}
                                        </span>
                                      </div>

                                    </div>
                                  </div>
                                  <div class="col-md-12 col-lg-12">
                                    <div class="example-wrap mb-0 text-left">
                                      <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="inputChecked2" formControlName="termsCon">
                                        <label for="inputChecked2">{{language.productPrice.termsCon}}</label>
                                        <span class="danger" *ngIf="isSubmitted &&
                                                        formControls['termsCon'].errors">
                                          {{language.error_message.required}}
                                        </span>
                                      </div>

                                    </div>
                                  </div>
                                  <br>
                                  <div class="col-md-12 col-lg-12">
                                    <div class="example-wrap mb-0 text-left">
                                      <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="inputChecked2" formControlName="mandate_text"
                                          (click)="getMandateText($event)">
                                        <label for="inputChecked2">Ich stimme dem SEPA Lastschrift-Mandat zu. </label>
                                      </div>

                                    </div>
                                    <div class="col-md-12 col-lg-12 text-left">
                                      Ich ermächtige/ Wir ermächtigen <br>
                                      (A) Tineon AG Zahlungen von meinem/ unserem Konto mittels Lastschrift einzuziehen.
                                      Zugleich <br>
                                      (B) weise ich mein/ weisen wir unser Kreditinstitut an, die von Tineon AG auf
                                      mein/
                                      unser
                                      Konto
                                      gezogenen Lastschriften einzulösen.
                                      <strong>Hinweis:</strong> Ich kann/ Wir können innerhalb von acht Wochen,
                                      beginnend
                                      mit
                                      dem Belastungsdatum, die
                                      Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem/
                                      unserem
                                      Kreditinstitut
                                      vereinbarten Bedingungen. <br>
                                      <span class="danger" *ngIf="isSubmitted &&
                                                      formControls['mandate_text'].errors">
                                        {{language.error_message.required}}
                                      </span>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-sm-6">
                                    <div class="avatar_main">
                                      <div class="avatar-upload">
                                        <h4 class="example-title">Upload File<span style="color: red;">*</span>
                                        </h4>
                                        <label for="imageUpload">
                                          <div class="avatar-preview">
                                            <img id="imagePreview"
                                              title="Bitte laden Sie Ihren bisherigen Datenexport hier hoch. Sie können die Daten nur als .txt, EXCEL oder .csv Datei hochladen."
                                              src="../assets/img/document.png">
                                          </div>
                                        </label>
                                        <span id="textPreview"></span>
                                        <div class="avatar-edit">
                                          <span class="danger" *ngIf="isSubmitted &&
                                         formControls['doc'].errors">
                                            {{language.error_message.required}}
                                          </span>
                                          <input type='file' (change)="uploadFile($event)" id="imageUpload"
                                            accept=".xlsx,.xls,.csv,.txt" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="alert alert-danger" *ngIf="clubOrderError">
                                <h4>{{clubOrderError}} <a
                                    routerLink="/product-price">{{language.productPrice.clickHere}}</a></h4>
                              </div>
                              <div class="panel" *ngIf="errorMessage == true || successMessage == true">
                                <div class="panel-body">
                                  <div class="alert alert-danger" role="alert" *ngIf="errorMessage == true">
                                    <span>{{message}}</span>
                                  </div>
                                  <div class="alert alert-success" role="alert" *ngIf="successMessage == true">
                                    <span>{{message}}</span>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="example example-buttons mt-0">
                                <div class="float-left">
                                  <button type="submit" class="btn btn-primary">
                                    <span class="ladda-label"> {{language.productPrice.orderProduct}}</span>
                                    <span class="ladda-spinner"></span></button>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="col-sm-12">
                        <button type="submit" (click)="onSubmit()"
                          class="btn btn-primary btn-block waves-effect waves-light mt-2 mr-1"><i
                            class="mdi mdi-cart mr-2"></i> {{language.productPrice.orderProduct}} </button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="panel-body desc_section">
                <div class="row">
                  <div class="col-md-12">
                    <mat-tab-group class="mat-tabular-view">
                      <mat-tab label="{{language.productPrice.description}}">
                        <div class="tab-inner" *ngIf="item && item.description">
                          <p [innerHTML]="item.description"></p>

                        </div>
                        <div class="tab-inner" *ngIf="item   && !item.description ">
                          <p>{{language.productPrice.noDescription}}</p>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>

              <div class="divider-line"></div>
              <!-- order button section start -->
              <div class="order-btnsection">
                <!-- To purchase the sub-products, please order the Club-Administration product first. -->
                <div class="alert alert-danger" *ngIf="error">
                  <h4>{{error}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>