.product-image .product-img {
    border: 1px solid #eff2f7;
    padding: 24px;
    height: 450px;
    min-height: 180px;
    background: #eff2fd;
    text-align: center;
}
img {
  width: 318px;
    height: 409px;
}
.product-img img {
    height: 100%;
    object-fit: scale-down;
}
.order-status h3 {
    font-family: Inter, sans-serif;
}
.plans-details h5 {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #eff2f7;
    padding: 10px;
    background: #eceeff;
}
.plans-details {
    margin-bottom: 40px;
}
.product_action button {
    line-height: 23px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    height: 44px;
    width: 300px;
    float: left;
}
.product_action {
    margin-bottom: 30px;
}

::ng-deep.mat-tab-body-content .tab-inner {
    padding: 20px;
  }
::ng-deep.mat-tab-body-content .tab-inner p {
    font-size: 14px;
    color: #505d69;
    font-family: Inter, sans-serif;
    font-weight: 400;
  }
  .tab-inner div p {
    display: flex;
}
.plans_details p{
    color: #74788d!important;
    font-size: .9rem;
}
.plans_details h5{
    font-size: 1.125rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.desc_section{
    width: 100%;
}
.plans_details {
    margin-bottom: 25px;
}
@media only screen and (min-width:768px) and (max-width:1400px){
    .col-xl-4.offset-md-1{
        margin-left: 0px !important;
    }
    .product-image .product-img {
        height: 300px;
    }
    .col-xl-7 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media only screen and  (max-width:767px){
    .product-image .product-img {
        height: 100%;
    }
    .product_action button{
        width: 100%;
    }
}

::ng-deep .mat-tab-label-active .mat-tab-label-content {
    color: #5664d2;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #5664d2;
}

.order-btnsection .alert-danger h4 a{
    color: #f90d01;
    text-decoration: underline;
    font-size: 15px;
}
.order-btnsection .alert-danger h4 a:hover{
    text-decoration: none;
}
.commit_popup .modal-header{
    justify-content: center;
}
.mandate-row ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .mandate-row ul li{
    border-top: 1px solid #ddd;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
  }
  .mandate-row ul li label{
    border-right: 1px solid #ddd;
    margin-bottom: 0;
    padding: 10px;
    width: 50%;
    font-weight: 500;
    background-color: #f9f9f9;
  }
  .mandate-row ul li span {
    display: inline-flex;
    padding: 10px;
    width: 50%;
    word-break: break-all;
}
.avatar_main {
    /* background: #e8f0fe; */
   height: 312px;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0 auto;
    transform: translate(0px, 35%);
  }
  .avatar-upload .avatar-edit {
    margin-top: 20px;
    text-align: center;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 0;
    background: #fbac06;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    padding: 0;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 50px;
  }
  .avatar-upload .avatar-edit input + label i{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-right: 0px;
  }
  .avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 13%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .avatar-preview img {
    border: 1px solid #ddd;
    border-radius: 17%;
    padding: 5px;
    width: 150px;
    height: 150px;
  }