/* top card css */
.media-body h4 {
    font-size: 1.35rem;
    font-weight: 600;
  }
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card-body{
    font-family: Inter, sans-serif;
  }
  .text-primary i{
    color: #5664d2!important;
  }
  .badge-soft-success {
    color: #1cbb8c;
    background-color: rgba(28,187,140,.18);
    line-height: 9px;
  }
  /* dd css start */
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }
  .card-drop {
    font-size: 20px;
    line-height: 0;
    color: inherit;
    padding: 0px;
  }
  .card-drop:focus {
    box-shadow: none;
    outline: none;
  }
  .dropdown-toggle {
    white-space: nowrap;
  }
  .dropdown-menu-right {
    right: 0!important;
    left: auto!important;
    transform: translate3d(-10px, 22px, 0px) !important;
  }
  .card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 500;
  }
  .dropdown.b-dropdown.float-right.btn-group .dropdown-menu>li>a {
    font-weight: 400;
    margin: 0;
  }
  .widget-dr .dropdown-item:active {
    background-color: #5664d2;
    color: #fff;
  }
  ul.dropdown-menu.open {
    display: block;
  }
  .card-drop:after {
    content: '';
    border: transparent;
  }
  .widget-dr ul.dropdown-menu li a {
    font-weight: 400;
    font-family: Inter, sans-serif;
  }
  
  
  
  
  
  .page-user .page-content form {
    margin-bottom: 40px;
  }
  
  .page-user .page-content .list-group-item {
    padding: 25px 0;
    border-top-color: #e4eaec;
  }
  
  .page-user .page-content .list-group-item:first-child {
    border-top-color: transparent;
  }
  
  .page-user .page-content .list-group-item:last-child {
    border-bottom-color: #e4eaec;
  }
  
  .page-user .page-content .list-group-item .media-heading > small {
    margin-left: 10px;
  }
  
  .page-user .page-content .list-group-item p {
    margin-bottom: 5px;
  }
  
  .page-user .page-content .nav-tabs-horizontal {
    position: relative;
  }
  
  .page-user .page-content .page-user-sortlist {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
  }
  
  @media (max-width: 991px) {
    .page-user .page-content .page-user-sortlist {
      top: -15px;
    }
  }
  
  @media (max-width: 479px) {
    .page-user .page-content .list-group-item .media-body {
      display: block;
      text-align: center;
    }
  
    .page-user .page-content .list-group-item .media-body {
      width: auto;
    }
  
    .page-user .page-content .list-group-item .media-body {
      margin-top: 15px;
    }
  
    .page-user .page-content .tab-content nav {
      text-align: center;
    }
  }
  
  /* user css start */
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size: 14px !important;
  }
  td, th {
    padding: 15px 10px !important ;
  }
  .header_add_option span{
    margin-top: 5px;
    display: inline-block;
  }
  .nav-tabs-custom {
    border-bottom: 2px solid #f1f5f7;
  }
  .nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
  }
  .nav-tabs-custom .nav-item .nav-link {
  border: none;
  }
  .nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
  }
  .p-3 {
  padding: 1rem!important;
  }
  .table-bordered th, .table-bordered td, .table-bordered {
  border: transparent;
  vertical-align: middle !important;
  color:#505d69;
  }
  .table-striped tbody tr:nth-of-type(odd) {
  background-color:#fff !important;
  }
  tr {
  height: 56px;
  border-top: 1px solid #eff2f7;
  }
  .page-content.add_content_main table {
  font-family: Inter, sans-serif;
  }
  .table th {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  }
  .page-content table button {
  background: transparent !important;
  border: transparent;
  padding: 0;
  }
  .table_action {
  text-align: center;
  }
  td.table_action.view i {
  color: #5664d2;
  font-size: 20px;
  }
  .list-search-panel{
    justify-content: flex-end;
  }
  .user-list-main {
    max-height: 565px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 320px;
  }
  
  /* user role css start */
  .user-image {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 10px;
  }
  .user-image img {
    max-width: 100%;
    height: 100%;
  }
  .user-img {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .user-media span {
    display: inline-block;
    width: 100%;
  }
  .user-media span.text-truncate {
    margin-bottom: 0px !important;
    font-size: 14px !important;
    font-weight: 600;
  }
  .user-media {
    line-height: 18px;
  }
  .user-role-inner {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  .user-status .badge {
    line-height: 17px;
    padding-right: 11px !important;
    border-radius: 25px;
  }