<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.dashboard.dashboard}}</h1>
    <!-- <ol class="breadcrumb">
      <li class="active breadcrumb-item">{{language.dashboard.dashboard}}</li>
    </ol> -->
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-xl-8">
        <div class="row">
          <!-- card start -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">{{language.dashboard.no_of_survey}}</p>
                    <h4 class="mb-0" *ngIf="survey && survey.length > 0">{{survey.length}}</h4>
                    <h5 class="mb-0" *ngIf="survey && survey.length == 0">{{language.common.noDataFound}}</h5>
                  </div>
                  <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                </div>
              </div>
              <div class="card-body border-top py-3">
                <div class="text-truncate" routerLink="/survey">
                  <a class="view-more">{{language.dashboard.viewMore}}</a>
                </div>
              </div>
            </div>
          </div>
          <!-- card start -->
          <!-- card start -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">{{language.dashboard.totalOrder}}</p>
                    <h4 class="mb-0" *ngIf="userOrders && userOrders.length > 0">{{userOrders.length}}</h4>
                    <h5 class="mb-0" *ngIf="userOrders && userOrders.length == 0">{{language.common.noDataFound}}</h5>
                  </div>
                  <div class="text-primary"><i class="ri-store-2-line font-size-24"></i></div>
                </div>
              </div>
              <div class="card-body border-top py-3">
                <div class="text-truncate" routerLink="/order-product-list">
                  <a class="view-more">{{language.dashboard.viewMore}}</a>
                </div>
              </div>
            </div>
          </div>
          <!-- card start -->
          <!-- card start -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">{{language.dashboard.totalNews}}</p>
                    <h4 class="mb-0" *ngIf="news && news.length > 0">{{news.length}}</h4>
                    <h5 class="mb-0" *ngIf="news && news.length == 0">{{language.common.noDataFound}}</h5>
                  </div>
                  <div class="text-primary"><i class="ri-briefcase-4-line font-size-24"></i></div>
                </div>
              </div>
              <div class="card-body border-top py-3">
                <div class="text-truncate" routerLink="/view-news">
                  <a class="view-more">{{language.dashboard.viewMore}}</a>
                </div>
              </div>
            </div>
          </div>
          <!-- card end -->
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="dropdown b-dropdown float-right btn-group widget-dr">
                  <button data-toggle="dropdown" type="button"
                    class="btn dropdown-toggle btn-white arrow-none card-drop"><i
                      class="material-icons">notes</i></button>
                  <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-right menu-2">
                    <li role="presentation"><a role="menuitem" href="#" target="_self" class="dropdown-item">{{language.addUser.userList}}</a></li>
                    <li role="presentation"><a role="menuitem" *ngIf="authService.isAdmin() || permissions.user &&
                        permissions.user.includes('ADD')" routerLink="/add-user" target="_self"
                        class="dropdown-item">{{language.addUser
                        .adduser
                        }}</a></li>
                  </ul>
                </div>
                <h4 class="card-title mb-4">{{language.dashboard.orderHistory}}</h4>
                <div class="mat-table-view">
                  <!-- search heading of list start -->
                  <div *ngIf="isData == true">
                    <div class="list-search-panel mt-10">
                      <div class="search-list">
                        <mat-form-field>
                          <mat-label>{{language.common.search}}</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                            #input>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- search heading of list end -->
                    <!-- search heading of list end -->
                    <div class="user-list-main">
                      <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table
                      table-bordered" data-plugin="floatThead">
                        <!-- Position Column -->

                        <ng-container matColumnDef="Timestamp">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.timestamp}} </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            {{dataSource.CreatedAt | date: 'MMM d, y, h:mm:ss a'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Customer">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>

                            {{language.billwerk.customer}}
                          </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            <ng-container
                              *ngIf="dataSource && dataSource.Customer.FirstName || dataSource && dataSource.Customer.LastName ">
                              <!-- {{dataSource.Customer.FirstName}} {{dataSource.Customer.LastName}} -->
                              <a (click)="userDetails(dataSource.CustomerId)">
                                {{dataSource.Customer.FirstName}} {{dataSource.Customer.LastName}}
                              </a>
                            </ng-container>
                            <ng-container
                              *ngIf="dataSource && !dataSource.Customer.FirstName || dataSource && !dataSource.Customer.LastName ">
                              <!-- {{dataSource.Customer.EmailAddress}} -->
                              <a (click)="userDetails(dataSource.CustomerId)">
                                {{dataSource.Customer.EmailAddress}}
                              </a>
                            </ng-container>

                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Plan">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.plan}} , {{language.billwerk.planVariant}} </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            {{dataSource.PlanName}},{{dataSource.PlanVariantName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Type">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.type}} </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            {{dataSource.OrderType}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Amount">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.amount}} </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            {{dataSource.Total | number : '1.2-2'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Payment-Provider">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.paymentProvider}}
                          </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            <ng-container *ngIf="dataSource && dataSource.Contract.PaymentProvider">
                              {{dataSource.Contract.PaymentProvider}}
                            </ng-container>
                            <ng-container *ngIf="dataSource && !dataSource.Contract.PaymentProvider">
                              --
                            </ng-container>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Method">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.paymentMethod}}
                          </th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            <ng-container *ngIf="dataSource && dataSource.Contract.PaymentProviderRole">
                              {{dataSource.Contract.PaymentProviderRole}}
                            </ng-container>
                            <ng-container *ngIf="dataSource && !dataSource.Contract.PaymentProviderRole">
                              --
                            </ng-container>

                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.billwerk.status}}</th>
                          <td class="odd" mat-cell *matCellDef="let dataSource">
                            {{dataSource.Contract.LifecycleStatus}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Order-Details">
                          <th mat-header-cell *matHeaderCellDef>{{language.billwerk.orderDetails}}
                          </th>
                          <td class="odd text-center table_action view" mat-cell *matCellDef="let dataSource"><button
                              class="btn btn-warning" routerLink="/order-details/{{dataSource.Id}}"> <i
                                class="bx ri-eye-line"></i></button>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">{{language.common.doNot}}
                            "{{input.value}}"</td>
                        </tr>
                      </table>
                      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
                      </mat-paginator>
                    </div>
                  </div>
                  <div *ngIf="isData == false" style="text-align: center;">
                    <h3>{{language.common.noDataFound}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <!-- card start here -->

        <!-- card start here -->
        <div class="card">
          <div class="card-body">
            <div class="dropdown b-dropdown float-right btn-group widget-dr">
              <button data-toggle="dropdown" type="button" class="btn dropdown-toggle btn-white arrow-none card-drop"><i
                  class="material-icons">notes</i></button>
              <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-right menu-2">
                <li role="presentation"><a routerLink="/view-news" class="dropdown-item">{{language.news.news}}</a></li>
              </ul>
            </div>
            <h4 class="card-title mb-4">{{language.news.news}}</h4>
            <div class="user-role-main" *ngIf="news && news.length > 0">
              <div class="user-role-list" *ngFor="let item of news; let i=index">
                <div class="user-role-inner" *ngIf="i < 5">
                  <div class="user-img">
                    <div class="user-image">
                      <img src="../../../assets/img/logo.svg" *ngIf="item.image == ''">
                      <img *ngIf="item.image != ''" [src]="item.image">
                    </div>
                    <div class="user-media">
                      <Span class="text-truncate font-size-14">{{ (item['title'].length > 0 )? (item['title'] |
                        slice:0:15)+'..':(item['title']) }}</Span>
                    </div>
                  </div>
                  <div class="user-status">
                    <button routerLink="/news-details/{{item.url}}" class="btn btn-primary"
                      data-style="zoom-in">{{language.dashboard.view_detail}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-role-main" *ngIf="news && news.length == 0">
              <h5 class="mb-0">{{language.common.noDataFound}}</h5>
            </div>
          </div>
        </div>
        <!-- card end here -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>