<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
  </div>

  <div class="page-header">
    <h1 class="page-title">{{language.billwerk.invoice}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
      <li class="active breadcrumb-item">{{language.billwerk.invoice}}</li>
    </ol>
  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <!-- tab navigation start -->
        <div class="tabs">
          <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
            <li role="presentation" class="nav-item">
              <a class="nav-link active p-3">
                {{language.billwerk.invoice}}
              </a>
            </li>
          </ul>
        </div>
        <!-- tab navigation end -->
        <div *ngIf="isData == true">
          <!-- search heading of list start -->
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.common.search}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <div class="alert alert-danger" role="alert" *ngIf="errorUser == true">
            <span>{{respMessage}}</span>
          </div>
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table table-bordered" data-plugin="floatThead">
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{language.billwerk.date}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource"> {{dataSource.DocumentDate | date: 'MMM d, y'}} </td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.billwerk.company}},
                {{language.billwerk.firstName}},
                {{language.billwerk.lastName}},
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                <span >
                  <a href="javascript:void(0)" (click)="profileInfo(dataSource.CustomerId)">  
                    {{dataSource.RecipientName}}
                  </a>
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="Document-Number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.billwerk.documentNumber}}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                <a routerLink="/invoice-details/{{dataSource.Id}}">
                  {{dataSource.InvoiceNumber}}
                </a>
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="External_Id-Debitor_Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              External Id, Debitor Id
            </th>
            <td class="odd" mat-cell *matCellDef="let dataSource">
              {{dataSource.OrderType}}
            </td>
          </ng-container> -->
            <ng-container matColumnDef="Contract">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.billwerk.contract}}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.ContractId}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Currency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.billwerk.currency}}

              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.Currency}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Gross-Total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.billwerk.grossTotal }}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.TotalGross | number : '1.2-2'}} {{language.billwerk.eur}} 
              </td>
            </ng-container>
            <ng-container matColumnDef="Net-Total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{language.billwerk.netTotal | number : '1.2-2' }} {{language.billwerk.eur}}  -->

              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.TotalNet | number : '1.2-2'}} {{language.billwerk.eur}} 
              </td>
            </ng-container>
            <ng-container matColumnDef="Download">
              <th mat-header-cell *matHeaderCellDef>
                {{language.billwerk.download}}
              </th>
              <td class="odd table_action view" mat-cell href="" *matCellDef="let dataSource"><button
                  class="btn btn-warning" (click)="downloadInvoice(dataSource.Id)"> <i class="icon  wb-download"
                    aria-hidden="true"></i></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.common.doNot}}
                {{input.value}}
              </td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>

        <div *ngIf="isData == false" style="text-align: center;">
          <h3>{{language.common.noDataFound}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>