<!-- Page -->
<div class="page" *ngIf="customerId">
    <div class="page-header">
        <h1 class="page-title">{{language.viewProfile.user}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{language.viewProfile.user}}</a></li>
            <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.viewProfile.home}}</a></li>
            <li class="active breadcrumb-item">{{language.memberManagement.memberStatistics}}</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngIf="EnterData && EnterData.length > 0">
                <div class="profile-sidebar">
                    <div class="profile-sidebar-inner">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-img">
                                    <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                                        <img *ngIf="hasPicture == false" id="imagePreview"
                                            src="../assets/img/profile.png">
                                        <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                                    </a>
                                </div>
                                <div class="profile-media" *ngFor="let item of EnterData">
                                    <h4 class="profile-user">{{item.mail}}</h4>                                    <p class="user-job" *ngIf="item && item.society">
                                        <strong>{{language.news.club}}:</strong>{{item.society}}</p>
                                </div>
                            </div>
                        </div>
                        <app-profile-sidebar [userId]="customerId" [userData]="EnterData"></app-profile-sidebar>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="profile-description">
                    <div class="card">
                        <div class="card-header">{{language.memberManagement.memberStatistics}}</div>
                        <div class="card-body">
                            <div class="card-details" *ngIf="memberFilterData && memberFilterData.length > 0">
                                <div class="list-search-panel mt-10">
                                    <div class="search-list">
                                        <!-- Example Placeholder -->
                                        <div class="example-wrap mb-20">
                                            <div class="example-wrap">
                                                <h4 class="example-title">{{language.memberManagement.statisticsFilter}}
                                                </h4>
                                                <div class="form-group">
                                                    <div class="example-wrap m-sm-0">
                                                        <div class="form-group">
                                                            <select class="form-control" (change)="filter($event)">
                                                                <option></option>
                                                                <option value="All">{{language.memberManagement.all}}
                                                                </option>
                                                                <option value="Gender">
                                                                    {{language.memberManagement.gender}}</option>
                                                                <option value="Status">
                                                                    {{language.memberManagement.status}}</option>
                                                                <option value="Age">{{language.memberManagement.age}}
                                                                </option>
                                                                <option value="App_Use">
                                                                    {{language.memberManagement.appUse}}</option>
                                                                <option value="Deparment_members">
                                                                    {{language.memberManagement.departmentMember}}
                                                                </option>
                                                                <option value="Members">
                                                                    {{language.memberManagement.members}}</option>
                                                                <option value="Entries/Exists">
                                                                    {{language.memberManagement.entries}}/{{language.memberManagement.exits}}
                                                                </option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Example Placeholder -->
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- details field start -->
                                    <ng-container *ngIf="filterType == 'Gender'  || filterType == ''">

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData1 && pieChartData1.length">
                                            <strong>{{language.memberManagement.gender}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData1" [labels]="pieChartLabels1"
                                                    [chartType]="pieChartType1" [options]="pieChartOptions1"
                                                    [plugins]="pieChartPlugins1" [legend]="pieChartLegend1">
                                                </canvas>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData1 && pieChartData1.length">
                                            <strong>{{language.memberManagement.gender}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1"
                                                    [options]="barChartOptions1" [plugins]="barChartPlugins1"
                                                    [legend]="barChartLegend1" [chartType]="barChartType1">
                                                </canvas>
                                            </div>

                                        </div>
                                    </ng-container>


                                    <ng-container *ngIf="filterType == 'Status'  || filterType == ''">

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData2 && pieChartData2.length">
                                            <strong>{{language.addUser.status}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2"
                                                    [chartType]="pieChartType2" [options]="pieChartOptions2"
                                                    [plugins]="pieChartPlugins2" [legend]="pieChartLegend2">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData2 && pieChartData2.length">
                                            <strong>{{language.addUser.status}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2"
                                                    [options]="barChartOptions2" [plugins]="barChartPlugins2"
                                                    [legend]="barChartLegend2" [chartType]="barChartType2">
                                                </canvas>
                                            </div>

                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Age'  || filterType == ''">

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData3 && pieChartData3.length">
                                            <strong>{{language.memberManagement.age}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData3" [labels]="pieChartLabels3"
                                                    [chartType]="pieChartType3" [options]="pieChartOptions3"
                                                    [plugins]="pieChartPlugins3" [legend]="pieChartLegend3">
                                                </canvas>
                                            </div>

                                        </div>



                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData3 && pieChartData3.length">
                                            <strong>{{language.memberManagement.age}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData3" [labels]="barChartLabels3"
                                                    [options]="barChartOptions3" [plugins]="barChartPlugins3"
                                                    [legend]="barChartLegend3" [chartType]="barChartType3">
                                                </canvas>
                                            </div>

                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'App_Use'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData4 && pieChartData4.length">
                                            <strong>{{language.memberManagement.appUse}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData4" [labels]="pieChartLabels4"
                                                    [chartType]="pieChartType4" [options]="pieChartOptions4"
                                                    [plugins]="pieChartPlugins4" [legend]="pieChartLegend4">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData4 && pieChartData4.length">
                                            <strong>{{language.memberManagement.appUse}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData4" [labels]="barChartLabels4"
                                                    [options]="barChartOptions4" [plugins]="barChartPlugins4"
                                                    [legend]="barChartLegend4" [chartType]="barChartType4">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Members'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData5 && pieChartData5.length">
                                            <strong>{{language.memberStatistics.members}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData5" [labels]="pieChartLabels5"
                                                    [chartType]="pieChartType5" [options]="pieChartOptions5"
                                                    [plugins]="pieChartPlugins5" [legend]="pieChartLegend5">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData5 && pieChartData5.length">
                                            <strong>{{language.memberStatistics.members}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData5" [labels]="barChartLabels5"
                                                    [options]="barChartOptions5" [plugins]="barChartPlugins5"
                                                    [legend]="barChartLegend5" [chartType]="barChartType5">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Entries/Exists'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData6 && pieChartData6.length">
                                            <strong>{{language.memberManagement.entries}} {{language.common.and}}
                                                {{language.memberManagement.exits}}</strong>

                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                                    [options]="lineChartOptions" [colors]="lineChartColors"
                                                    [legend]="lineChartLegend" [chartType]="lineChartType"
                                                    [plugins]="lineChartPlugins">
                                                </canvas>
                                            </div>


                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData6 && pieChartData6.length">
                                            <strong>{{language.memberManagement.entries}} {{language.common.and}}
                                                {{language.memberManagement.exits}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData6" [labels]="barChartLabels6"
                                                    [options]="barChartOptions6" [plugins]="barChartPlugins6"
                                                    [legend]="barChartLegend6" [chartType]="barChartType6">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Deparment_members'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData7 && pieChartData7.length">
                                            <strong>{{language.memberStatistics.departmentMember}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData7" [labels]="pieChartLabels7"
                                                    [chartType]="pieChartType7" [options]="pieChartOptions7"
                                                    [plugins]="pieChartPlugins7" [legend]="pieChartLegend7">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData7 && pieChartData7.length">
                                            <strong>{{language.memberStatistics.departmentMember}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData7" [labels]="barChartLabels7"
                                                    [options]="barChartOptions7" [plugins]="barChartPlugins7"
                                                    [legend]="barChartLegend7" [chartType]="barChartType7">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="card-details">
                                <div *ngIf="memberFilterData && memberFilterData.length < 0"
                                    style="text-align: center;">
                                    <h3>{{language.common.noDataFound}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page" *ngIf="!customerId">
    <div class="page-header">
        <h1 class="page-title">{{language.memberManagement.memberStatistics}}</h1>
        <ol class="breadcrumb">
            <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.viewProfile.home}}</a></li>
            <li class="active breadcrumb-item">{{language.memberManagement.memberStatistics}}</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="profile-description">
                    <div class="card">

                        <div class="card-header">{{language.memberManagement.memberStatistics}}</div>
                        <div class="card-body">
                            <div class="card-details" *ngIf="memberFilterData && memberFilterData.length > 0">
                                <div class="list-search-panel mt-10">
                                    <div class="search-list">
                                        <!-- Example Placeholder -->
                                        <div class="example-wrap mb-20">
                                            <div class="example-wrap">
                                                <h4 class="example-title">{{language.memberManagement.statisticsFilter}}
                                                </h4>
                                                <div class="form-group">
                                                    <div class="example-wrap m-sm-0">
                                                        <div class="form-group">
                                                            <select class="form-control" (change)="filter($event)">
                                                                <option></option>
                                                                <option value="All">{{language.memberManagement.all}}
                                                                </option>
                                                                <option value="Gender">
                                                                    {{language.memberManagement.gender}}</option>
                                                                <option value="Status">
                                                                    {{language.memberManagement.status}}</option>
                                                                <option value="Age">{{language.memberManagement.age}}
                                                                </option>
                                                                <option value="App_Use">
                                                                    {{language.memberManagement.appUse}}</option>
                                                                <option value="Deparment_members">
                                                                    {{language.memberManagement.departmentMember}}
                                                                </option>
                                                                <option value="Members">
                                                                    {{language.memberManagement.members}}</option>
                                                                <option value="Entries/Exists">
                                                                    {{language.memberManagement.entries}}/{{language.memberManagement.exits}}
                                                                </option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Example Placeholder -->
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- details field start -->
                                    <ng-container *ngIf="filterType == 'Gender'  || filterType == ''">

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData1 && pieChartData1.length">
                                            <strong>{{language.memberManagement.gender}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData1" [labels]="pieChartLabels1"
                                                    [chartType]="pieChartType1" [options]="pieChartOptions1"
                                                    [plugins]="pieChartPlugins1" [legend]="pieChartLegend1">
                                                </canvas>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData1 && pieChartData1.length">
                                            <strong>{{language.memberManagement.gender}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1"
                                                    [options]="barChartOptions1" [plugins]="barChartPlugins1"
                                                    [legend]="barChartLegend1" [chartType]="barChartType1">
                                                </canvas>
                                            </div>

                                        </div>
                                    </ng-container>


                                    <ng-container *ngIf="filterType == 'Status'  || filterType == ''">

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData2 && pieChartData2.length">
                                            <strong>{{language.addUser.status}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2"
                                                    [chartType]="pieChartType2" [options]="pieChartOptions2"
                                                    [plugins]="pieChartPlugins2" [legend]="pieChartLegend2">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData2 && pieChartData2.length">
                                            <strong>{{language.addUser.status}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2"
                                                    [options]="barChartOptions2" [plugins]="barChartPlugins2"
                                                    [legend]="barChartLegend2" [chartType]="barChartType2">
                                                </canvas>
                                            </div>

                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Age'  || filterType == ''">

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData3 && pieChartData3.length">
                                            <strong>{{language.memberManagement.age}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData3" [labels]="pieChartLabels3"
                                                    [chartType]="pieChartType3" [options]="pieChartOptions3"
                                                    [plugins]="pieChartPlugins3" [legend]="pieChartLegend3">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData3 && pieChartData3.length">
                                            <strong>{{language.memberManagement.age}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData3" [labels]="barChartLabels3"
                                                    [options]="barChartOptions3" [plugins]="barChartPlugins3"
                                                    [legend]="barChartLegend3" [chartType]="barChartType3">
                                                </canvas>
                                            </div>

                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'App_Use'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData4 && pieChartData4.length">
                                            <strong>{{language.memberManagement.appUse}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData4" [labels]="pieChartLabels4"
                                                    [chartType]="pieChartType4" [options]="pieChartOptions4"
                                                    [plugins]="pieChartPlugins4" [legend]="pieChartLegend4">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData4 && pieChartData4.length">
                                            <strong>{{language.memberManagement.appUse}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData4" [labels]="barChartLabels4"
                                                    [options]="barChartOptions4" [plugins]="barChartPlugins4"
                                                    [legend]="barChartLegend4" [chartType]="barChartType4">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Members'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData5 && pieChartData5.length">
                                            <strong>{{language.memberStatistics.members}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData5" [labels]="pieChartLabels5"
                                                    [chartType]="pieChartType5" [options]="pieChartOptions5"
                                                    [plugins]="pieChartPlugins5" [legend]="pieChartLegend5">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData5 && pieChartData5.length">
                                            <strong>{{language.memberStatistics.members}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData5" [labels]="barChartLabels5"
                                                    [options]="barChartOptions5" [plugins]="barChartPlugins5"
                                                    [legend]="barChartLegend5" [chartType]="barChartType5">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Entries/Exists'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData6 && pieChartData6.length">
                                            <strong>{{language.memberManagement.entries}} {{language.common.and}}
                                                {{language.memberManagement.exits}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                                    [options]="lineChartOptions" [colors]="lineChartColors"
                                                    [legend]="lineChartLegend" [chartType]="lineChartType"
                                                    [plugins]="lineChartPlugins">
                                                </canvas>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData6 && pieChartData6.length">
                                            <strong>{{language.memberManagement.entries}} {{language.common.and}}
                                                {{language.memberManagement.exits}}</strong>

                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData6" [labels]="barChartLabels6"
                                                    [options]="barChartOptions6" [plugins]="barChartPlugins6"
                                                    [legend]="barChartLegend6" [chartType]="barChartType6">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="filterType == 'Deparment_members'  || filterType == ''">
                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData7&& pieChartData7.length">
                                            <strong>{{language.memberStatistics.departmentMember}}</strong>
                                            <div style="display: block;">

                                                <canvas baseChart [data]="pieChartData7" [labels]="pieChartLabels7"
                                                    [chartType]="pieChartType7" [options]="pieChartOptions7"
                                                    [plugins]="pieChartPlugins7" [legend]="pieChartLegend7">
                                                </canvas>
                                            </div>



                                        </div>

                                        <div class="col-md-12 col-lg-6" *ngIf="pieChartData7 && pieChartData7.length">
                                            <strong>{{language.memberStatistics.departmentMember}}</strong>
                                            <div style="display: block;">
                                                <canvas baseChart [datasets]="barChartData7" [labels]="barChartLabels7"
                                                    [options]="barChartOptions7" [plugins]="barChartPlugins7"
                                                    [legend]="barChartLegend7" [chartType]="barChartType7">
                                                </canvas>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="card-details">
                                <div *ngIf="memberFilterData && memberFilterData.length < 0"
                                    style="text-align: center;">
                                    <h3>{{language.common.noDataFound}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>