.profile_info h5 {
    font-size: 15px;
}

.user-base.card-block {
    color: #263238;
}

.page-profile .profile-user {
    margin: 10px 0px !important;
    color: #263238;
    font-size: 1.286rem;
    text-transform: capitalize;
}

.user-info {
    border: transparent;
    box-shadow: 0px 0px 6px 3px #f1f4f5;
}

.profile_info h5.card-title {
    padding: 10px 10px;
    background: #f1f4f5;
    margin: 10px;
}

.profile-action a {
    color: #263238;
    padding-top: 10px;
}

.profile-d-inner {
    display: flex;
    border: 1px solid #ebebeb;
    height: 45px;
    align-items: center;
}

span.profile-ic {
    height: 45px;
    display: flex;
    align-items: center;
    width: 45px;
    justify-content: center;
    background: #5664d2;
    margin-right: 10px;
}

span.profile-ic i {
    color: #fff;
    font-size: 20px;
}

.profile-details {
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.profile-details label {
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-in span {
    color: #74788d;
}