<div class="page">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <span>{{error}}</span>
    </div>
    <div class="page-header">
        <h1 class="page-title">{{language.pages.viewpages}}</h1>
        <div class="bread_with_add_btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.pages.home}}</a></li>
                <li class="active breadcrumb-item">{{language.pages.viewpages}}</li>
            </ol>
            <div class="page-header-actions text-center header_add_option" routerLink="/add-pages" *ngIf="authService.isAdmin() || permissions.staticWebPage &&
            permissions.staticWebPage.includes('ADD')">
                <button type="button" class="btn btn-floating btn-success btn-sm"
                    title="{{language.pages.createpages}}"><i class="icon wb-plus" aria-hidden="true"></i></button><br>
            </div>
        </div>
    </div>
    <div class="page-content add_content_main">

        <div class="panel">
            <div class="panel-inner">
                <!-- tab navigation start -->
                <div class="tabs">
                    <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active p-3">
                                {{language.pages.viewpages}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- tab navigation end -->
                <!-- search heading of list start -->
                <div *ngIf="isData == true">
                    <div class="list-search-panel mt-10">
                        <div class="search-list">
                            <mat-form-field>
                                <mat-label>{{language.domain.search}}</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                                    #input>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- search heading of list end -->
                    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
                        class="table table-bordered" data-plugin="floatThead">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.pages.title}} </th>
                            <td class="odd" mat-cell *matCellDef="let
                    dataSource">
                                {{dataSource.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.pages.description}} </th>
                            <td class="odd" mat-cell *matCellDef="let dataSource">
                                <p [innerHTML]="(dataSource['content'].length > 0 )? (dataSource['content'] |slice:0:80)+'..':(dataSource['content']) "></p>
                                <!-- {{ (dataSource['content'].length > 0 )? (dataSource['content'] |
                                slice:0:50)+'..':(dataSource['content']) }} -->
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="author">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.pages.author}} </th>
                            <td class="odd" mat-cell *matCellDef="let
                    dataSource">
                                {{dataSource.author}} </td>
                        </ng-container>



                        <ng-container matColumnDef="url">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.pages.url}} </th>
                            <td class="odd" mat-cell *matCellDef="let
                    dataSource">

                                <ng-container *ngIf="dataSource.url == ''">
                                    ---
                                </ng-container>
                                <ng-container *ngIf="dataSource.url != '' ">
                                    {{dataSource.url}}
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{language.pages.type}} </th>
                            <td class="odd" mat-cell *matCellDef="let
                    dataSource">

                                <ng-container *ngIf="dataSource.type == ''">
                                    ---
                                </ng-container>
                                <ng-container *ngIf="dataSource.type != '' ">
                                    {{dataSource.type}}
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>{{language.pages.editpages}}
                            </th>
                            <td class="odd table_action_edit text-center" mat-cell *matCellDef="let
                    dataSource"><button class="btn btn-warning" routerLink="/edit-pages/{{dataSource.id}}"><i
                                        class="bx ri-pencil-line"></i></button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns:
                columnsToDisplay;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                                "{{input.value}}"</td>
                        </tr>
                    </table>
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
                    </mat-paginator>
                </div>

                <div *ngIf="isData == false" style="text-align: center;">
                    <h3>{{language.common.noDataFound}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>