<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.news.viewnews}}</h1>
    <div class="bread_with_add_btn">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.news.home}}</a></li>
        <li class="active breadcrumb-item">{{language.news.viewnews}}</li>
      </ol>
      <div class="page-header-actions text-center header_add_option" routerLink="/add-news" *ngIf="authService.isAdmin() || permissions.news &&
                permissions.news.includes('ADD')">
        <button type="button" class="btn btn-floating btn-success btn-sm" title="{{language.news.createNews}}"><i
            class="icon wb-plus" aria-hidden="true"></i></button><br>
      </div>
    </div>
  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <!-- tab navigation start -->
        <div class="tabs">
          <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
            <li role="presentation" class="nav-item">
              <a class="nav-link active p-3">
                {{language.news.viewnews}}
              </a>
            </li>
          </ul>
        </div>
        <!-- tab navigation end -->
        <!-- search heading of list start -->
        <div *ngIf="isData == true">
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.common.search}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table
          table-bordered" data-plugin="floatThead">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.title}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.title}} </td>
            </ng-container>

            <ng-container matColumnDef="content">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.description}} </th>
              <td class="odd frd" mat-cell *matCellDef="let dataSource">
                {{dataSource.content}} </td>
            </ng-container>

            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.author}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.author}} </td>
            </ng-container>

            <ng-container matColumnDef="url">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.url}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.url}} </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.imageUpload}} </th>
              <td mat-cell *matCellDef="let dataSource">
                <ng-container *ngIf="dataSource.image == ''">
                  <img class="table-news-img" src="../assets/img/logo.svg">
                </ng-container>
                <ng-container *ngIf="dataSource.image != '' ">
                  <img class="table-news-img" [src]="dataSource.image">
                </ng-container>

              </td>
            </ng-container>

            <ng-container matColumnDef="youtube">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.youtubeUrl}} </th>
              <td class="odd frd" mat-cell *matCellDef="let dataSource">
                <ng-container *ngIf="dataSource.youtube_url == ''">
                  ---
                </ng-container>
                <ng-container *ngIf="dataSource.youtube_url != '' ">
                  {{dataSource.youtube_url}}
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="Edit">
              <th class="text-center" mat-header-cell *matHeaderCellDef>{{language.news.editNews}}
              </th>
              <td class="odd table_action_edit text-center" mat-cell *matCellDef="let dataSource"><button
                  class="btn btn-warning" routerLink="/edit-news/{{dataSource.news_id}}"><i
                    class="bx ri-pencil-line"></i></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.common.doNot}}
                "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>
        <div *ngIf="isData == false" style="text-align: center;">
          <h3>{{language.common.noDataFound}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>