<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.pages.editpages}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="/view-pages">{{language.pages.viewpages}}</li>
            <li class="active breadcrumb-item">{{language.pages.editpages}}</li>
        </ol>
    </div>
    <form [formGroup]="pagesForm" (ngSubmit)="onSubmit()">
        <div class="page-content add_content_main">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title pl-20 pb-0">{{language.pages.createpages}}</h3>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-md-6 col-lg-6">
                            <!-- Example Rounded Input -->
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.pages.title}}
                                    <span style="color: red;">*</span>
                                </h4>
                                <input type="text" class="form-control" id="inputHelpText" name="title"
                                    formControlName="title" [ngClass]="{
                                    'is-invalid': isSubmitted &&
                                    formControls['title'].errors }">
                                <span class="danger" *ngIf="isSubmitted &&
                                    formControls['title'].errors">
                                    {{language.error_message.titleError}}
                                </span>
                                <span class="danger" role="alert" *ngIf="msg &&
                                    msg.title">
                                    <span>{{msg.title}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-xl-12 col-md-12">
                                        <h4 class="example-title">{{language.pages.body}}
                                            <span style="color: red;">*</span>
                                        </h4>
                                        <angular-editor name="content" formControlName="content" placeholder="{{language.pages.body}}"
                                            placeholder="Detailed question" data-fv-field="skills"
                                            [ngClass]="{ 'is-invalid': isSubmitted && formControls['content'].errors }">
                                        </angular-editor>
                                        <span class="danger" role="alert" *ngIf="msg &&
                                            msg.content">
                                            <span>{{msg.content}}</span>
                                        </span>
                                        <span class="danger" *ngIf="isSubmitted
                                            &&
                                            formControls['content'].errors">
                                            {{language.error_message.bodyError}}
                                        </span>
                                   
                                    </div>
                                </div>

                            </div>
                            <!-- End Example Rounded Input -->
                        </div>
                        <div class="col-md-6">
                            <div class="example-wrap">
                                <div class="example-wrap mb-20">
                                    <h4 class="example-title">{{language.common.image}}</h4>
                                    <div class="event_upload news_pic_upload">
                                        <label class="preview_txt" style="display: none;"></label>
                                        <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg"
                                            (change)="uploadFile($event)">
                                        <label *ngIf="errorImage.isError" class="text-danger">
                                            {{ errorImage.errorMessage }}
                                        </label>
                                        <span class="danger" *ngIf="isSubmitted &&
                                                formControls['image'].errors">
                                            {{language.error_message.required}}
                                        </span>
                                        <span class="event_uplod_overlay avatar-preview">
                                            <img *ngIf="hasPicture==false" src="../assets/img/event_upload.png"
                                                id="imagePreview" class="preview_img">
        
                                            <img id="imagePreview" *ngIf="hasPicture==true" src="{{imagePreview}}">
                                        </span>
                                    </div>
                                </div>
        
                                <!-- <div class="form-group">
                                <div class="input-group input-group-file
                                  col-md-6 col-sm-12 pl-0" data-plugin="inputGroupFile"
                                  (change)="onimageSelected($event)">
                                  <input type="text" class="form-control" readonly="">
                                  <span class="input-group-btn">
                                    <span class="btn btn-success
                                      btn-file">
                                      <i class="icon wb-upload" aria-hidden="true"></i>
                                      <input type="file" name="image" multiple="" formControlName="image">
                                    </span>
                                  </span>
                                </div>
                                <span class="text-help">{{language.addUser.picMsg}}</span>
                              </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" id="inputChecked" (change)="diableField($event)">
                                    <label for="inputChecked">
                                        {{language.pages.autoGenerate}}</label>
                                    <p class="text-help">
                                        {{language.pages.customUrl}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.pages.url}}</h4>
                                <input type="text" class="form-control" id="inputPlaceholder" name="url"
                                    formControlName="url" placeholder="{{language.pages.url}}">
                                <p class="text-help">
                                    {{language.pages.alternateUrl}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">
                                    {{language.pages.type}}</h4>
                                <input type="text" class="form-control" id="inputPlaceholder" name="type"
                                    formControlName="type" placeholder="{{language.pages.type}}" [ngClass]="{
                                    'is-invalid': isSubmitted &&
                                    formControls['type'].errors }">
                                <span class="danger" *ngIf="isSubmitted
                                    &&
                                    formControls['type'].errors">
                                    {{language.error_message.typeError}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel" *ngIf="error == true || success == true">
                                <div class="panel-body">
                                    <div class="alert alert-danger" role="alert" *ngIf="error ==
                                        true">
                                        <span>{{message}}</span>
                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf="success
                                        == true">
                                        <span>{{message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="example example-buttons">
                                <div class="float-left">
                                    <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-primary
                                        ladda-button">
                                        <span class="ladda-label">{{language.pages.updatepages}}</span>
                                    </button>
                                </div>
                                <div class="float-left" *ngIf="role[0].name
                                    =='Administrator' || permissions.staticWebPage &&
                                    permissions.staticWebPage.includes('DELETE')">
                                    <button type="button" data-style="zoom-out" data-plugin="ladda" class="btn btn-danger"
                                        (click)="deletePages()">
                                        <span class="ladda-label">{{language.pages.deletepages}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
            <!-- Panel -->
            
        </div>
    </form>
</div>
<!-- End Page -->

<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>


