<div class="container" id="container">
  <div class=" sign-in-container" *ngIf="progress == false">
    <div class="card-header">{{language.emailVerify.user_details}}</div>
    <form [formGroup]="editProfile" (ngSubmit)="onSubmit()">
      <div class="col-md-12 col-lg-12">
        <div class="example-wrap mb-0 text-left">
          <div class="checkbox-custom checkbox-primary">
            <!-- <h4 class="example-title text-left">{{language.productPrice.spg3Month}}</h4> <br> -->
            <h4 class="example-title text-left">{{language.productPrice.choosePlan}}<span style="color: red;">*</span>
            </h4>
            <div class="radio-custom radio-primary radio-label-hover" *ngFor="let item of productData; let i = index">
              <input [type]="'radio'" class="input-radio" name="PlanVariantId" [checked]="item.r_id"
                formArrayName="PlanVariantId" id="{{i}}" [value]="item.Id"
                (change)="onradioChange($event,item.AllowWithoutPaymentData)" />
              <label for="{{i}}" (click)="getproductDetails(item.Id)">{{item.InternalName}}</label>
            </div>
          </div>
          <span class="danger" *ngIf="isSubmitted &&
            formControls['PlanVariantId'].errors">
            {{language.error_message.required}}
          </span>
        </div>
      </div> <br>

      <div *ngIf="istrial == false">
        <div class="row">

          <div class="col-md-6 col-lg-6">
            <!-- Example Placeholder -->
            <div class="example-wrap mb-0">
              <h4 class="example-title">{{language.editProfile.userEmail}}
                <span style="color: red;">*</span>
              </h4>
              <input type="text" class="form-control" placeholder="{{language.editProfile.userEmail}}" name="email"
                formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
              <span class="text-help">{{language.editProfile.emailMsg}}</span>
              <span class="danger" *ngIf="isSubmitted &&  formControls['email'].errors">
                {{language.error_message.userEmailError}}
              </span>
              <span *ngIf="(f['email'].touched || f['email'].dirty) &&  f['email'].invalid" class="danger">
                <span
                  *ngIf="f['email'].errors && f['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
              </span>
              <span class="danger" role="alert" *ngIf="msg && msg.email">
                <span>{{msg.email}}</span>
              </span>
            </div>
            <!-- End Example Placeholder -->
          </div>
        </div>
        <!-- form panel section -->
        <div class="form-panel">
          <div class="panel-heading mt-20">
            <h4 class="example-title">{{language.editProfile.personalInfo}}</h4>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.firstName}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" name="firstName"
                  placeholder="{{language.editProfile.firstName}}" formControlName="firstName" [ngClass]="{ 'is-invalid':
             isSubmitted && formControls['firstName'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
             formControls['firstName'].errors">
                  {{language.error_message.firstNameError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.firstName">
                  <span>{{msg.firstName}}</span>
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.lastName}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" name="lastName" placeholder="{{language.editProfile.lastName}}"
                  formControlName="lastName" [ngClass]="{ 'is-invalid':
             isSubmitted && formControls['lastName'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
             formControls['lastName'].errors">
                  {{language.error_message.lastNameError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.lastName">
                  <span>{{msg.lastName}}</span>
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.society}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" name="society" placeholder="{{language.editProfile.society}}"
                  formControlName="society" [ngClass]="{ 'is-invalid':
             isSubmitted && formControls['society'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
             formControls['society'].errors">
                  {{language.error_message.societyError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.society">
                  <span>{{msg.society}}</span>
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <!-- Example Placeholder -->
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.addressLine1}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" name="addressLine1"
                  placeholder="{{language.editProfile.addressLine1}}" formControlName="addressLine1" [ngClass]="{ 'is-invalid':
             isSubmitted && formControls['addressLine1'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
             formControls['addressLine1'].errors">
                  {{language.error_message.addressLine1Error}}
                </span>
                <span class="danger" role="alert" *ngIf="msg &&
             msg.addressLine1">
                  <span>{{msg.addressLine1}}</span>
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.addressLine2}}</h4>
                <input type="text" class="form-control" name="addressLine2"
                  placeholder="{{language.editProfile.addressLine2}}" formControlName="addressLine2">
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.zipCode}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" name="zipcode" placeholder="{{language.editProfile.zipCode}}"
                  formControlName="zipcode" [ngClass]="{ 'is-invalid': isSubmitted && formControls['zipcode'].errors }">
                <span class="danger" *ngIf="isSubmitted && formControls['zipcode'].errors">
                  {{language.error_message.zipError}}
                </span>
                <span *ngIf="(f['zipcode'].touched || f['zipcode'].dirty) && f['zipcode'].invalid" class="danger">
                  <span
                    *ngIf="f['zipcode'].errors && f['zipcode'].errors['pattern']">{{language.error_message.zipInvalid}}</span>
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.zipcode">
                  <span>{{msg.zipcode}}</span>
                </span>
                <span class="danger" *ngIf="formControls['zipcode'].errors?.['minlength']">
                  {{language.error_message.zipCodeMin}}
                </span>
                <span class="danger" *ngIf="formControls['zipcode'].errors?.['maxlength']">
                  {{language.error_message.zipCodeMax}}
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.place}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" placeholder="{{language.editProfile.place}}" name="place"
                  formControlName="place" [ngClass]="{ 'is-invalid': isSubmitted && formControls['place'].errors }">
                <span class="danger" *ngIf="isSubmitted && formControls['place'].errors">
                  {{language.error_message.placeError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.place">
                  <span>{{msg.place}}</span>
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editProfile.contactNumber}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" placeholder="{{language.editProfile.contactNumber}}"
                  name="contactNumber" formControlName="contactNumber" [ngClass]="{ 'is-invalid': isSubmitted &&
             formControls['contactNumber'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
             formControls['contactNumber'].errors">
                  {{language.error_message.contactError}}
                </span>
                <span *ngIf="(f['contactNumber'].touched ||
             f['contactNumber'].dirty) && f['contactNumber'].invalid" class="danger">
                  <span *ngIf="f['contactNumber'].errors &&
             f['contactNumber'].errors['pattern']">{{language.error_message.contactInvalid}}</span>
                </span>
                <span class="danger" role="alert" *ngIf="msg &&
               msg.contactNumber">
                  <span>{{msg.contactNumber}}</span>
                </span>
                <span class="danger" *ngIf="formControls['contactNumber'].errors?.['minlength']">
                  {{language.error_message.contactNumberMin}}
                </span>
                <span class="danger" *ngIf="formControls['contactNumber'].errors?.['maxlength']">
                  {{language.error_message.contactNumberMax}}
                </span>
              </div>
              <!-- End Example Placeholder -->
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Example Placeholder -->
              <div class="example-wrap mb-20">
                <div class="example-wrap">
                  <h4 class="example-title">{{language.editProfile.country}}<span style="color: red;">*</span></h4>
                  <div class="form-group">
                    <div class="example-wrap m-sm-0">
                      <div class="form-group">
                        <select class="form-control" name="country" formControlName="country" [ngClass]="{ 'is-invalid':
                         isSubmitted && formControls['country'].errors }">
                          <option>Germany</option>
                          <option>Switzerland</option>
                          <option>Austria</option>
                        </select>
                        <span class="danger" *ngIf="isSubmitted &&
                         formControls['country'].errors">
                          {{language.error_message.countryError}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Example Placeholder -->
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="istrial == true">
        <div class="row">

          <div class="col-md-6 col-lg-6">
            <!-- Example Placeholder -->
            <div class="example-wrap mb-0">
              <h4 class="example-title">{{language.editProfile.userEmail}}
                <span style="color: red;">*</span>
              </h4>
              <input type="text" class="form-control" placeholder="{{language.editProfile.userEmail}}" name="email"
                formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
              <span class="text-help">{{language.editProfile.emailMsg}}</span>
              <span class="danger" *ngIf="isSubmitted &&  formControls['email'].errors">
                {{language.error_message.userEmailError}}
              </span>
              <span *ngIf="(f['email'].touched || f['email'].dirty) &&  f['email'].invalid" class="danger">
                <span
                  *ngIf="f['email'].errors && f['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
              </span>
              <span class="danger" role="alert" *ngIf="msg && msg.email">
                <span>{{msg.email}}</span>
              </span>
            </div>
            <!-- End Example Placeholder -->
          </div>
          <div class="col-md-6 col-lg-6">
            <!-- Example Placeholder -->
            <div class="example-wrap mb-20">
              <h4 class="example-title">{{language.editProfile.society}}<span style="color: red;">*</span></h4>
              <input type="text" class="form-control" name="society" placeholder="{{language.editProfile.society}}"
                formControlName="society" [ngClass]="{ 'is-invalid':
           isSubmitted && formControls['society'].errors }">
              <span class="danger" *ngIf="isSubmitted &&
           formControls['society'].errors">
                {{language.error_message.societyError}}
              </span>
              <span class="danger" role="alert" *ngIf="msg && msg.society">
                <span>{{msg.society}}</span>
              </span>
            </div>
            <!-- End Example Placeholder -->
          </div>
        </div>
      </div>
      <!-- accordion section start -->
      <div class="col-md-12" *ngIf="istrial == false || istrial == true">
        <div class="checkbox-custom checkbox-primary">
          <input type="checkbox" id="inputChecked" name="termsCon" formControlName="termsCon">
          <label for="rememberMe">{{language.trialRegister.accept}} <a class="float"
              (click)="termsCondition()">{{language.trialRegister.termsCon}}</a> </label><span
            style="color: red;">*</span> <br />
          <span class="danger" *ngIf="isSubmitted && formControls['termsCon'].errors">
            {{language.trialRegister.termsConError}}
          </span>
        </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>
      <!-- End Panel -->
      <div class="example example-buttons">
        <div class="float-left">
          <button type="submit" class="btn btn-primary">
            <span class="ladda-label">{{language.productPrice.confirmBtn}}</span></button>
        </div>
      </div>
    </form>
  </div>
  <div class="form-container sign-in-container" *ngIf="progress == true">
    <div class="progress-bar-sigin">
      <div class="progress-bar-row">
        <figure class="logo-img">
          <img src="../assets/img/v-logo.png" alt="" />
        </figure>
        <h2 *ngIf="product"> {{product[0].InternalName}}</h2>
        <!-- <h2 *ngIf="!product"> Vereinsverwaltung TRIAL</h2> -->
        <div class="signin-inner">
          <h3 class="font-size-24">{{language.trialRegister.headconfirm}}</h3>
          <progress-bar [progress]="value" [color]="'#1cbb8c'">
          </progress-bar>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="productDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{language.productPrice.Productdetails}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngFor="let item of productDetails">
          <div class="panel">
            <div class="panel-body desc_section container-fluid mt-20">
              <div class="row">
                <div class="col-md-4">
                  <div class="product-image">
                    <div class="product-img">
                      <img class="img-fluid" src="../assets/img/v-logo.png" />
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="product-details">
                    <p class="font-size-12 mb-1">{{item.planGroup.Name._c}}</p>
                    <h5 class="font-size-20">{{item.InternalName}}</h5>
                    <div class="divider-line"></div>
                    <div class="plans-description">
                      <div class="row">
                        <div class="col-lg-4 col-xs-6 col-sm-6">
                          <div class="plans_details">
                            <p class="text-muted mb-0">
                              {{language.productPrice.planGroupName}}</p>
                            <h5>{{item.planGroup.Name._c}}</h5>
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-6 col-sm-6">
                          <div class="plans_details">
                            <p class="text-muted mb-0">
                              {{language.productPrice.planName}}</p>
                            <h5>{{item.planDetail.Name._c}}</h5>
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-6 col-sm-6">
                          <div class="plans_details">
                            <p class="text-muted mb-0">
                              {{language.productPrice.reccuringFee}}</p>
                            <h5>{{item.RecurringFee}}</h5>
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-6 col-sm-6">
                          <div class="plans_details">
                            <p class="text-muted mb-0">
                              {{language.productPrice.currency}}</p>
                            <h5>{{item.planGroup.Currency}}</h5>
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-6 col-sm-6">
                          <div class="plans_details">
                            <p class="text-muted mb-0">
                              {{language.productPrice.priceTaxType}}</p>
                            <h5>{{item.planGroup.PriceTaxType}}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider-line"></div>
                    <!-- order button section start -->
                    <div class="order-btnsection">
                      <div class="alert alert-warning mt-20" *ngIf="error">
                        <h4 class="example-title mb-15"><a style="text-transform: capitalize;">{{error}}</a></h4>
                      </div>
                      <div class="alert alert-success" *ngIf="msg">
                        <h4 class="example-title mb-15"><a style="text-transform: capitalize;">{{msg}}</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body w-100">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-tab-group class="mat-tabular-view">
                        <mat-tab label="{{language.productPrice.description}}">
                          <div class="tab-inner" *ngIf="item && item.Description && item.Description._c">
                            <p [innerHTML]="item.Description._c"></p>
                          </div>
                          <div class="tab-inner" *ngIf="item   && !item.Description._c ">
                            <p>{{language.productPrice.noDescription}}</p>
                          </div>
                        </mat-tab>
                        <mat-tab label="{{language.productPrice.details}}">
                          <div class="tab-inner">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.billingPeriod}}</Strong>
                                  </th>
                                  <td>{{item.BillingPeriod.Quantity}}
                                    {{item.BillingPeriod.Unit}}</td>
                                </tr>
                                <tr>
                                  <th scope="row"><Strong>
                                      {{language.productPrice.cancelPeriod}}</Strong>
                                  </th>
                                  <td>{{item.CancellationPeriod.Quantity}}
                                    {{item.CancellationPeriod.Unit}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.contractPeriod}}</Strong>
                                  </th>
                                  <td>{{item.ContractPeriod.Quantity}}
                                    {{item.ContractPeriod.Unit}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.recurringFee}}</Strong>
                                  </th>
                                  <td colspan="2">{{item.RecurringFee}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.paymentPeriodMode}}</Strong>
                                  </th>
                                  <td colspan="2">{{item.PaymentPeriodMode}}
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.setupFee}}</Strong>
                                  </th>
                                  <td colspan="2">{{item.SetupFee}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.feePeriod}}</Strong>
                                  </th>
                                  <td colspan="2">{{item.SetupFee}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.laterCancellationPeriod}}</Strong>
                                  </th>
                                  <td colspan="2">
                                    {{item.LaterCancellationPeriod.Quantity}}
                                    {{item.LaterCancellationPeriod.Unit}}
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">
                                    <Strong>{{language.productPrice.laterContractPeriod}}</Strong>
                                  </th>
                                  <td colspan="2">
                                    {{item.LaterContractPeriod.Quantity}}
                                    {{item.LaterContractPeriod.Unit}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{language.register.close}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- End Page -->

  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>