<!-- Navbar -->
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <a class="navbar-brand mt-2 mt-lg-0" routerLink="/signin">
                <div class="brand">
                    <img class="brand-img" src="../../assets/img/logo.svg" alt="...">
                    <h3 class="brand-text font-size-40 mb-0">S-Verein</h3>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="act1" (click)="activePage('act1')" class="nav-link "
                            (click)="gotoPage('https://www.youtube.com/channel/UCYHmCIuQSoMyvd_rw9gan4g')">{{language.common.video}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="act2" (click)="activePage('act2')" class="nav-link"
                            (click)="gotoPage('https://hilfe.s-verein.de/')">{{language.common.online}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="act3" (click)="activePage('act3')" class="nav-link"
                            (click)="gotoPage('privacy')">{{language.common.privacy}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="act4" (click)="activePage('act4')" class="nav-link"
                            (click)="gotoPage('imprint')">{{language.common.imprint}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="act5" (click)="activePage('act5')" class="nav-link"
                            (click)="gotoPage('conditions')">{{language.common.condition}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="act6" (click)="activePage('act6')" class="nav-link"
                            (click)="gotoPage('all-news')">{{language.news.news}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="act7" (click)="activePage('act7')" class="nav-link"
                            (click)="gotoPage('products-prices')">{{language.common.order}}</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center" style="padding-right:
                1.0715rem;">
                <!-- Icon -->
                <a class="text" style="margin-right: 20px;"> 0900/1210010 (0.99
                    € / min)
                    {{language.common.monday}}.-{{language.common.friday}}. 9 AM to 5 PM</a>
                <a href="mailto:support@s-verein.de" style="margin-right: 20px;" class="text">support@s-verein.de</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a *ngIf="displayFlag =='en'"><span class="flag-icon
                                flag-icon-gb
                                mr-10"></span>{{language.language.english}}</a>
                        <a *ngIf="displayFlag =='de'"> <span class="flag-icon flag-icon-de
                                mr-10"></span>{{language.language.deutsch}}</a>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item" (click)="onLanguageSelect('en')"><span
                                class="flag-icon flag-icon-gb mr-10"></span>{{language.language.english}}</div>
                        <div class="dropdown-item" (click)="onLanguageSelect('de')"><span
                                class="flag-icon flag-icon-de mr-10"></span>{{language.language.deutsch}}</div>
                    </div>
                </div>
                <!-- Notifications -->

            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
</div>
<!-- Navbar -->