<!-- Page -->
<div class="page">
   <div class="alert alert-danger" role="alert" *ngIf="error">
      <span>{{message}}</span>
   </div>
   <div class="page-header">
      <h1 class="page-title">{{language.viewUser.user}}</h1>
      <div class="bread_with_add_btn">
         <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.viewUser.home}}</a></li>
            <li class="active breadcrumb-item">{{language.editUser.userList}}</li>
         </ol>
         <div class="page-header-actions text-center header_add_option"
            *ngIf="authService.isAdmin() || permissions.user && permissions.user.includes('ADD')"
            routerLink="/add-user">
            <button type="button" class="btn btn-floating btn-success btn-sm" title="{{language.viewUser.addUser}}"><i
                  class="icon wb-plus" aria-hidden="true"></i></button><br>
         </div>
      </div>
   </div>
   <div class="page-content add_content_main">
      <div class="panel">
         <div class="panel-inner">
            <!-- tab navigation start -->
            <div class="tabs">
               <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                  <li role="presentation" class="nav-item">
                     <a class="nav-link active p-3">
                        {{language.viewUser.user}}
                     </a>
                  </li>
               </ul>
            </div>
            <div *ngIf="isData == true">
               <!-- tab navigation end -->
               <!-- search heading of list start -->
               <div class="list-search-panel mt-10">
                  <form [formGroup]="userListForm" (ngSubmit)="onSubmit()">
                     <div class="form-group">
                        <label class="control-label">{{language.viewUser.role}}</label>
                        <select class="form-control" name="role" formControlName="role">
                           <option *ngFor="let item of roleData" [value]="item.name">{{item['name']}}</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label class="control-label">{{language.viewUser.status}}</label>
                        <select class="form-control" name="status" formControlName="status">
                           <option value="1">{{language.viewUser.active}}</option>
                           <option value="0">{{language.viewUser.locked}}</option>
                        </select>
                     </div>
                     <div class="btns-group mt-10">
                        <div class="btns-set">
                           <button type="submit" data-style="zoom-in" data-plugin="ladda"
                              class="btn btn-primary rounded-pill">{{language.viewUser.addFilter}}</button>
                        </div>
                     </div>
                     <div class="btns-group mt-10">
                        <div class="btns-set" (click)="reset()">
                           <button type="button" data-style="zoom-in" data-plugin="ladda"
                              class="btn btn-secondary rounded-pill">{{language.common.reset}}</button>
                        </div>
                     </div>
                  </form>
                  <div class="search-list">
                     <mat-form-field>
                        <mat-label>{{language.domain.search}}</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                           autocomplete="off" #input>
                     </mat-form-field>
                  </div>
               </div>
               <!-- search heading of list end -->

               <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
              table-bordered" data-plugin="floatThead">
                  <!-- Position Column -->

                  <ng-container matColumnDef="Email">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.viewUser.email}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let row">
                        {{row.mail}}
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="Club-Name">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.viewUser.clubname}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let row">
                        <ng-container *ngIf="row && row.society">
                           {{row.society}}
                        </ng-container>
                        <ng-container *ngIf="row && !row.society">
                           ---
                        </ng-container>
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="Status">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.viewUser.status}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let row">
                        {{row.status}}
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="Role">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.viewUser.role}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let row">
                        {{row.role}}
                        <!-- <ng-container *ngFor="let item of row.role">
                           {{item.role}} <br>
                        </ng-container> -->
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="Membar-Since">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{language.viewUser.memberSince}}
                     </th>
                     <td class="odd" mat-cell *matCellDef="let row">
                        {{row.membersince| date: 'MM/dd/yyyy'}}
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="Edit-User">
                     <th class="text-center" mat-header-cell *matHeaderCellDef>
                        {{language.viewUser.editUser}}
                     </th>
                     <td class="odd text-center table_action_edit" mat-cell *matCellDef="let row"><button class="btn"
                           routerLink="/edit-user/{{row.uid}}"> <i class="bx ri-pencil-line"></i></button>
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="View-Profile">
                     <th class="text-center" mat-header-cell *matHeaderCellDef>
                        {{language.viewProfile.viewProfile}}
                     </th>
                     <td class="odd table_action view" mat-cell *matCellDef="let row"><button
                           class="btn btn-outline-secondary" routerLink="/view-profile/{{row.uid}}"> <i
                              class="bx ri-user-2-line"></i></button>
                     </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                     <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                        "{{input.value}}"
                     </td>
                  </tr>

               </table>

               <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
               </mat-paginator>
            </div>

            <div *ngIf="isData == false" style="text-align: center;">
               <h3>{{language.common.noDataFound}}</h3>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
   <div class="overlay">
      <div class="overlay__inner">
         <div class="overlay__content"><span class="spinner"></span></div>
      </div>
   </div>
</div>