<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.role.editRole}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.role.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/roles"><a>{{language.role.roleList}}</a></li>
      <li class="active breadcrumb-item"><a>{{language.role.editRole}}</a></li>

    </ol>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <form [formGroup]="editRoleForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-lg-12">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.role.roleCategory}}</h4>
                <ng-multiselect-dropdown *ngIf="roleCategoryData && roleCategoryData.length" formControlName="cat_id"
                  [placeholder]="'custom placeholder'" [settings]="roleCategorySettings" [data]="roleCategoryList"
                  (onSelect)="roleCategorySelect($event)" (onDeSelect)="roleCategoryDeSelect($event)"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls['cat_id'].errors }">
                </ng-multiselect-dropdown>
                <span class="danger" *ngIf="isSubmitted && formControls['cat_id'].errors">
                  {{language.error_message.required}}
                </span>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.role.role}}</h4>
                <input type="text" class="form-control" readonly placeholder="{{language.role.role}}" name="role"
                  formControlName="role">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.role.roleDescription}}</h4>
                <angular-editor placeholder="{{language.role.roleDescription}}" name="description"
                  formControlName="description">
                </angular-editor>
                <span *ngIf="(formControls['description'].touched ||
                    formControls['description'].dirty) &&
                    formControls['description'].invalid" class="danger">
                  <span *ngIf="formControls['description'].errors?.['maxlength']">
                    {{language.error_message.descriptionMax}}
                  </span>
                  <span *ngIf="formControls['description'].errors?.['minlength']">
                    {{language.error_message.descriptionMin}}
                  </span>
                </span>
              </div>
              <div class="panel" *ngIf="error == true || success == true">
                <div class="panel-body">
                  <div class="alert alert-danger" role="alert" *ngIf="error == true">
                    <span>{{message}}</span>
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="success == true">
                    <span>{{message}}</span>
                  </div>
                </div>
              </div>
              <!-- End Panel -->
              <div class="example example-buttons">
                <div class="float-left">
                  <button type="submit" [disabled]="this.reEnterData && this.reEnterData[0].category_name == ''" class="btn btn-primary">
                    <span class="ladda-label">{{language.role.updateRole}}</span>
                  </button>
                </div>
                <div class="float-left" *ngIf="authService.isAdmin() || permissions.role &&
                    permissions.role.includes('DELETE')">
                  <button type="button" [disabled]="this.reEnterData && this.reEnterData[0].category_name == ''" class="btn btn-danger" (click)="deleteRole()">
                    <span class="ladda-label">{{language.role.deleteRole}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- End Page -->

  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>