.avatar-sm {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.media-body h5 {
  font-size: 18px;
  font-family: Inter, sans-serif;
  color: #121416;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}
.text-muted {
  color: #74788d!important;
  font-size: .9rem;
}
.media-body p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
}
.media-body p i, .media-footer p{
  font-size: .9rem;
}
.media-footer h5 {
  font-size: 1.125rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.media-footer p {
  margin-bottom: 0;
}
::ng-deep .row.pagination-filter ul.ngx-pagination {
  float: right;
}
.pagination-filter {
  margin: 35px 0px 20px 0px;
}
.row.pagination-filter input, .row.pagination-filter select {
  width: 40px;
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
}
.row.pagination-filter input{
  padding-left: 5px;
}
.row.pagination-filter input:focus{
  outline: none;
}
::ng-deep .ngx-pagination .current {
  background: #5664d2 !important;
}
.pagination-filter .col-lg-6{
  padding: 0px;
  color: #919191;
}
/* 29-04-22 */
.assigned-user-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 53px;
  min-height: 53px;
  overflow: auto;
  justify-content: center;
}
.assigned-user-list p.text-muted {
  background: #f3f3f3;
  padding: 1px 5px;
  font-size: 11px !important;
  margin: 0 2px 3px 0 !important;
  border-radius: 3px;
  display: inline-block !important;
  height: 25px;
  line-height: 25px;
}
.assigned-user-list p.text-muted i {
  vertical-align: middle;
}
.media-footer {
  min-height: 63px;
}

