<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.role.userRole}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard">{{language.common.home}}</li>
      <li class="active breadcrumb-item">{{language.role.userRole}}</li>
    </ol>
  </div>
  <div class="page-content">
    <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>

    <div class="row" *ngIf="userData && userData.length > 0">
      <!-- card start -->
      <div class="col-xl-3 col-sm-6"
        *ngFor="let item of userData | paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img *ngIf="item.image == '' || item.image == 'undefined'" src="../assets/img/profile.png"
                class="avatar-sm mt-2 mb-4">
              <img *ngIf="item.image != '' && item.image != 'undefined'" [src]="item.image" class="avatar-sm mt-2 mb-4">
              <div class="media-body">
                <h5  *ngIf="item && item.mail">{{item.mail}}</h5>
                <div class="assigned-user-list">
                <p class="text-muted mb-0" *ngFor="let role of item.role; let i = index">
                  <i class="bx ri-user-2-fill"></i>
                  <span *ngIf="i == 0">{{role.role}}</span>
                  <span *ngIf="i > 0">{{role.role}},  </span>
                </p>
              </div>
              </div>
            </div>
            <hr class="my-4">
            <div class="row text-center media-footer">
              <div class="col-6">
                <p class="text-muted">{{language.role.status}}</p>
                <h5 *ngIf="item.status == 1">{{language.role.active}}</h5>
                <h5 *ngIf="item.status == 0">{{language.viewUser.locked}}</h5>

              </div>
              <div class="col-6">
                <p class="text-muted">{{language.role.clubName}}</p>
                <h5>{{item.society}}</h5>
                <h5 *ngIf="item.society == ''">--</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pagination-filter" *ngIf="userData && userData.length > 0">
      <div class="col-lg-0">
        <pagination-controls (pageChange)="pageChanged($event);" previousLabel={{language.pagination.previous}}
          nextLabel={{language.pagination.next}}>
        </pagination-controls>
      </div>
      <div class="col-lg-6">
        <span>{{language.pagination.go_to_page}}
          <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
        </span>
        <span>{{language.pagination.limit_per_page}}
          <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
            <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
              {{limitValue.value}}
            </option>
          </select>
        </span>

        {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
        {{ (currentPageNmuber * itemPerPage) >
        totalRecord ? totalRecord : (currentPageNmuber * itemPerPage) }}
        {{language.pagination.of}} {{ totalRecord | number }} {{language.role.userRole}}
      </div>
    </div>

    <div *ngIf="userData && userData.length == 0" style="text-align: center;">
      <h3>{{language.common.noDataFound}}</h3>
    </div>
  </div>

    <div *ngIf="authService.showLoader">
      <div class="overlay">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
    </div>