<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.productPrice.Productdetails}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
      <li class="breadcrumb-item" routerLink="/product-price"><a>{{language.productPrice.productPlans}}</a></li>
      <li class="active breadcrumb-item">{{language.productPrice.Productdetails}}</li>
    </ol>
  </div>
  <div class="panel" *ngIf="errorMessage == true || successMessage == true">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="successMessage == true">
        <span>{{message}}</span>
      </div>
    </div>
  </div>
  <div class="page-content" *ngFor="let item of productDetails">

    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row">
          <div class="col-xl-4">
            <div class="product-image">
              <div class="product-img">
                <img class="img-fluid" src="../assets/img/v-logo.png" />
              </div>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="product-details">
              <p class="font-size-12 mb-1">{{item.planGroup.Name._c}}</p>
              <h5 class="font-size-20">{{item.InternalName}}</h5>
              <div class="divider-line"></div>
              <div class="plans-description">
                <div class="row">
                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.productPrice.planGroupName}}</p>
                      <h5>{{item.planGroup.Name._c}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.productPrice.planName}}</p>
                      <h5>{{item.planDetail.Name._c}}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.productPrice.reccuringFee}}</p>
                      <h5>{{item.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</h5>
                    </div>
                  </div>

                  <div class="col-lg-4 col-xs-6 col-sm-6">
                    <div class="plans_details">
                      <p class="text-muted mb-0">{{language.productPrice.priceTaxType}}</p>
                      <h5>{{item.planGroup.PriceTaxType}}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider-line"></div>
              <!-- order button section start -->
              <div class="order-btnsection">
                <!-- To purchase the sub-products, please order the Club-Administration product first. -->
                <div class="alert alert-danger" *ngIf="error">
                  <h4>{{error}}</h4>
                </div>

                <div class="alert alert-danger" *ngIf="clubOrderError">
                  <h4>{{clubOrderError}} <a routerLink="/product-price">{{language.productPrice.clickHere}}</a></h4>
                </div>
                <!-- <div class="alert alert-success" *ngIf="msg">
                  <h4 class="example-title mb-15"><a style="text-transform: capitalize;">{{msg}}</a></h4>
                </div> -->

                <div *ngIf="authService.showpopUp">
                  <!-- <div> -->
                  <app-edit-profile-pop-up [orderData]="orderData" [paymentData]="paymentData">
                  </app-edit-profile-pop-up>
                </div>

                <div class="row text-center mt-2 product_action">
                  <div class="col-md-12">

                    <div class="front">
                      <div class="alert alert-warning" *ngIf="checkAcceptOrNot(item); else notEqual">
                        <h3> <strong> {{language.productPrice.orderMessage}} </strong></h3>
                      </div>
                    </div>
                  </div>
                  <ng-template #notEqual>
                    <form [formGroup]="paymentForm" (ngSubmit)="orderProcess()" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle"> {{language.productPrice.paymentDetail}}
                          </h5>
                        </div>
                        <div class="modal-body">
                          <div class="row row-lg">
                            <div class="col-md-12 col-lg-6">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                <h4 class="example-title text-left"> {{language.productPrice.holderName}}<span
                                    style="color: red;">*</span></h4>
                                <input type="text" class="form-control" [readonly]="this.paymentBearer"
                                  placeholder=" {{language.productPrice.holderName}}" name="holder"
                                  formControlName="holder" [ngClass]="{ 'is-invalid':
                                  isSubmitted && formControls['holder'].errors }">
                                <span class="danger" *ngIf="isSubmitted &&
                                  formControls['holder'].errors">
                                  {{language.error_message.required}}
                                </span>
                              </div>
                              <!-- End Example Placeholder -->
                            </div>


                            <div class="col-md-12 col-lg-6">
                              <div class="example-wrap mb-0">
                                <h4 class="example-title text-left">{{language.productPrice.iban}}<span
                                    style="color: red;">*</span> </h4>
                                <input type="text" class="form-control" [readonly]="this.paymentBearer|| this.customer[0].ibanValue" placeholder="{{language.productPrice.iban}}"
                                  name="iban" formControlName="iban" [ngClass]="{ 'is-invalid':
                                  isSubmitted && formControls['iban'].errors }">
                                <span class="danger" *ngIf="isSubmitted &&
                                  formControls['iban'].errors">
                                  {{language.error_message.required}}
                                </span>

                                <span class="danger" *ngIf="isValidIban">
                                  {{isValidIban}}
                                </span>

                              </div>
                            </div>

                            <div class="col-md-12 col-lg-6">
                              <div class="example-wrap mb-0">
                                <h4 class="example-title text-left">{{language.productPrice.coupon_code}} </h4>
                                <input type="text" class="form-control"
                                  placeholder="{{language.productPrice.coupon_code}}" name="coupon"
                                  formControlName="coupon">
                              </div>
                            </div>
                            <div class="col-md-6" >
                              <div class="example-wrap mb-0">
                                <h4 class="example-title text-left">{{language.productPrice.field}}<span
                                    style="color: red;">*</span> </h4>
                                <input type="text" class="form-control"  [readonly]="this.paymentBearer" placeholder="{{language.productPrice.field}}"
                                  name="chairManName" formControlName="chairManName" [ngClass]="{ 'is-invalid':
                                  isSubmitted && formControls['chairManName'].errors }">
                                <span class="danger" *ngIf="isSubmitted &&
                                  formControls['chairManName'].errors">
                                  {{language.error_message.required}}
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                              <div class="example-wrap mb-0 text-left">
                                <div class="checkbox-custom checkbox-primary">
                                  <input type="checkbox" class="input-checkbox1" (click)="fieldVisibility($event)"
                                    formControlName="association" [ngClass]="{ 'is-invalid':
                                  isSubmitted && formControls['association'].errors }">
                                  <label for="inputChecked1"> {{language.productPrice.association}}</label> <br>
                                  <span class="danger" *ngIf="isSubmitted &&
                                  formControls['association'].errors">
                                    {{language.error_message.required}}
                                  </span>
                                </div>

                              </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                              <div class="example-wrap mb-0 text-left">
                                <div class="checkbox-custom checkbox-primary">
                                  <input type="checkbox" id="inputChecked2" formControlName="termsCon">
                                  <label for="inputChecked2">{{language.productPrice.termsCon}}</label>
                                  <span class="danger" *ngIf="isSubmitted &&
                                  formControls['termsCon'].errors">
                                    {{language.error_message.required}}
                                  </span>
                                </div>

                              </div>
                            </div>
                            <br>
                            <div class="col-md-12 col-lg-12">
                              <div class="example-wrap mb-0 text-left">
                                <div class="checkbox-custom checkbox-primary">
                                  <input type="checkbox" id="inputChecked2" formControlName="mandate"
                                    (click)="getMandateText($event)">
                                  <label for="inputChecked2">Ich stimme dem SEPA Lastschrift-Mandat zu. </label>
                                </div>

                              </div>
                            </div>
                            <div class="col-md-12 col-lg-12 text-left">
                              Ich ermächtige/ Wir ermächtigen <br>
                              (A) Tineon AG Zahlungen von meinem/ unserem Konto mittels Lastschrift einzuziehen.
                              Zugleich <br>
                              (B) weise ich mein/ weisen wir unser Kreditinstitut an, die von Tineon AG auf mein/ unser
                              Konto
                              gezogenen Lastschriften einzulösen.
                              <strong>Hinweis:</strong> Ich kann/ Wir können innerhalb von acht Wochen, beginnend mit
                              dem Belastungsdatum, die
                              Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem/ unserem
                              Kreditinstitut
                              vereinbarten Bedingungen. <br>
                              <span class="danger" *ngIf="isSubmitted &&
                              formControls['mandate'].errors">
                                {{language.error_message.required}}
                              </span>
                            </div>
                            <br />
                            <br />
                          </div>
                        </div>

                      </div>
                    </form>
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-primary btn-block waves-effect waves-light mt-2 mr-1"
                        (click)=" orderProduct(item.Id,item.planDetail.CustomFields.type)"><i
                          class="mdi mdi-cart mr-2"></i> {{language.productPrice.orderProduct}} </button>
                    </div>


                  </ng-template>

                </div>
              </div>
              <!-- order button section start -->
              <div class="divider-line"></div>

            </div>
          </div>
          <div class="panel-body desc_section">
            <div class="row">
              <div class="col-md-12">
                <mat-tab-group class="mat-tabular-view">
                  <mat-tab label="{{language.productPrice.description}}">
                    <div class="tab-inner" *ngIf="item && item.Description && item.Description._c">
                      <p [innerHTML]="item.Description._c"></p>
                    </div>
                    <div class="tab-inner" *ngIf="item   && !item.Description._c ">
                      <p>{{language.productPrice.noDescription}}</p>
                    </div>
                  </mat-tab>
                  <mat-tab label="{{language.productPrice.details}}">
                    <div class="tab-inner">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.billingPeriod}}</Strong></th>
                            <td>{{item.BillingPeriod.Quantity}} {{item.BillingPeriod.Unit}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong> {{language.productPrice.cancelPeriod}}</Strong></th>
                            <td>{{item.CancellationPeriod.Quantity}} {{item.CancellationPeriod.Unit}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.contractPeriod}}</Strong></th>
                            <td>{{item.ContractPeriod.Quantity}} {{item.ContractPeriod.Unit}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.recurringFee}}</Strong></th>
                            <td colspan="2">{{item.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.paymentPeriodMode}}</Strong></th>
                            <td colspan="2">{{item.PaymentPeriodMode}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.setupFee}}</Strong></th>
                            <td colspan="2">{{item.SetupFee | number : '1.2-2'}} {{language.billwerk.eur}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.feePeriod}}</Strong></th>
                            <td colspan="2">{{item.SetupFee | number : '1.2-2'}} {{language.billwerk.eur}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.laterCancellationPeriod}}</Strong></th>
                            <td colspan="2">{{item.LaterCancellationPeriod.Quantity}}
                              {{item.LaterCancellationPeriod.Unit}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><Strong>{{language.productPrice.laterContractPeriod}}</Strong></th>
                            <td colspan="2">{{item.LaterContractPeriod.Quantity}} {{item.LaterContractPeriod.Unit}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>


<div class="modal fade commit_popup" id="commit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngFor="let item of commitData">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalCenterTitle">{{language.billwerk.sepaMandate}}</h1>

      </div>
      <div class="modal-body">
        <div class="alert alert-success">
          <h3>{{language.billwerk.orderSuccess}}</h3>
        </div>
        <div class="mandate-row">
          <ul>
            <li>
              <label>{{language.billwerk.mandateText}}</label>
              <span>
                <p [innerHTML]="item.PaymentBearer.MandateText"></p>
              </span>
            </li>
            <li>
              <label>{{language.billwerk.mandateReference}}</label>
              <span>{{item.PaymentBearer.MandateReference}}</span>
            </li>
            <li>
              <label>{{language.billwerk.mandateSignDate}}</label>
              <span>{{item.PaymentBearer.MandateSignatureDate | date: 'MM/dd/yyyy'}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">{{language.Survey.close}}</button>
      </div>
    </div>
  </div>
</div>