<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.sideBar.contactDocs}}</h1>
    <ol class="breadcrumb">
      <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.viewProfile.home}}</a></li>
      <li class="active breadcrumb-item">{{language.sideBar.contactDocs}}</li>
    </ol>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error == true">
    <span>{{message}}</span>
 </div>
 <div class="alert alert-success" role="alert" *ngIf="success == true">
    <span>{{message}}</span>
 </div>
  <div class="page-content">
    <div class="panel">
      <div class="viewer-container" *ngIf="authService.isAdmin()">
        <div class="viewer-content">
          <a class="close-viewer">
            <i class="nc-icon nc-simple-remove"></i>
          </a>
          <img class="main-img" />
          <div class="main-div">
            <div class="doc_upload_btn">
              <input type="file" (change)="uploadFile($event)"
                accept=".ppt,.pptx,.pdf,.docx,.docs,.txt,.xls,.xlsx,.zip">
              <button type="button" class="btn btn-secondary" title="{{language.viewUser.addUser}}">{{language.common.uploadDocument}}</button><br>
              </div>

          </div>
        </div>
      </div>
      <div class="panel-body container-fluid">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of documents; let i = index">
            <div class="document-item">
              <div class="document-image"  (click)="previewImage(item.id)">
                <!-- <img [src]="extArr[i]? docExt[i] :'../../../assets/img/pdf.webp'"> -->
                <img src="../../../assets/img/pdf.webp">
              </div>
              <h5> <a>
                  <span class="docu_name">{{fileNameArr[i]}}</span>
                </a>
              </h5>
              <div class="dropdown action-dropdown">
                <span class="dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i _ngcontent-urn-c82="" aria-hidden="true" class="fa fa-ellipsis-h"></i>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <!-- <a class="dropdown-item"  (click)="previewImage(item.id)">Preview</a> -->
                  <a class="dropdown-item" (click)="deleteDocs(item.id)">{{language.common.deleteDocument}}</a>
                  <a class="dropdown-item" (click)="download(item.path)" >{{language.productPrice.downloadPdf}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade document_modal" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" >
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel"></h5> -->
          <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  *ngFor="let item of documentData">
                <ngx-doc-viewer
                  [url]="item.path"
                  viewer="google" style="width:100%;height:90vh;"></ngx-doc-viewer>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">{{language.register.close}}</button>
              <button type="button" class="btn btn-primary" (click)="download(documentData[0].path)">{{language.productPrice.downloadPdf}}</button>
            </div>
        </div>
     
      </div>
    </div>
  </div>

  <!-- End Page -->
  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"> </span></div>
      </div>
    </div>
  </div>