.profile_info h5 {
    font-size: 15px;
}
.user-base.card-block {
    color: #263238;
}
.document_modal .modal-dialog {
    max-width: 60%;
}

span.docu_name {
    word-break: break-all;
}
.modal-footer button {
    width: auto;
  }
  div#documentModal .modal-dialog{
    left: 9%;
  }
  @media only screen and (max-width:767px){
    div#documentModal .modal-dialog{
        left: 0;
      }
  }
.doc_upload_btn input {
    position: absolute;
    width: 132px;
    height: 35px;
    opacity: 0;
}
.doc_upload_btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
.page-profile .profile-user {
    margin: 10px 0px !important;
    color: #263238;
    font-size: 1.286rem;
    text-transform: capitalize;
  }
  .user-info {
    border: transparent;
    box-shadow: 0px 0px 6px 3px #f1f4f5;
}
.profile_info h5.card-title {
    padding: 10px 10px;
    background: #f1f4f5;
    margin:10px;
}
.profile-action a {
    color: #263238 ;
    padding-top: 10px;
}
.profile-d-inner {
    display: flex;
    border: 1px solid #ebebeb;
    height: 45px;
    align-items: center;
}
span.profile-ic {
    height: 45px;
    display: flex;
    align-items: center;
    width: 45px;
    justify-content: center;
    background: #5664d2;
    margin-right: 10px;
}
span.profile-ic i{
    color: #fff;
    font-size: 20px;
}
.profile-details {
    font-size: 14px;
    font-family: Inter, sans-serif;
}
.profile-details label {
    font-weight: 600;
    margin-bottom: 15px;
}
.profile-in span {
    color: #74788d;
}
.document-item {
    text-align: center;
    cursor: pointer;
}
.document-image img {
    width: 100px;
    height: auto;
}
.document-image {
    margin-bottom: 20px;
}
.document-item h5 {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.document-item {
    text-align: center;
    padding: 20px;
    background: #f7f7f7;
    margin-bottom: 30px;
}
.dropdown.action-dropdown {
    position: absolute;
    top: 15px;
    right: 28px;
    z-index: 555;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #edecec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.dropdown.action-dropdown span:after {
    content: '';
    border: transparent;
}
.dropdown.action-dropdown span i {
    font-size: 25px;
    color: #a3a3a3;
    margin: 0;
    position: relative;
    right: -2px;
}
.dropdown.action-dropdown .dropdown-menu.show {
    transform: translate3d(-1px, 40px, 0px) !important;
}
.dropdown.action-dropdown span {
    width: 100%;
    justify-content: center;
    display: flex;
}