<div class="panel" *ngIf="error == true || success == true">
  <div class="panel-body">
    <div class="alert alert-danger" role="alert" *ngIf="error ==
          true">
      <span>{{message}}</span>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success
          == true">
      <span>{{message}}</span>
    </div>
  </div>
</div>

<div class="container-fluid" *ngFor="let item of data">
  <div class="outer-main">
    <div class="page-header ">
      <h1 class="page-title">{{title}}</h1>
      <ol class="breadcrumb">
        <li class="active breadcrumb-item">{{title}}</li>
      </ol>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel widget_inner">
            <div class="panel-body container-fluid">
              <div class="col-md-12">
                <div class="row">
                  <div class="field-items">
                    <div>
                      <p [innerHTML]="item.content"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="authService.showLoader">
        <div class="overlay">
          <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Page -->