


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 0px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}
.login-fields {
  display: inline-block;
  width: 100%;
}
button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  height: 50px;
}
img.brand-img {
  width: 40px;
  margin-right: 10px;
  margin-top: -10px;
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  margin: 140px auto;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

/* .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
  max-width: inherit;
} */

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
@media only screen and (max-width:700px){
  .sign-in-container{width: 100%;}
  .form-container{position: inherit;}
  .sign-up-container{display: none;}
  .overlay-container{display: none;}
  .d-flex.align-items-center a {
    display: inline-block;
    line-height: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0 20px !important;
}
.d-flex.align-items-center{display: none !important;}
.container{box-shadow: transparent !important;}
}
@media only screen and (max-width:990px) and (min-width:768px){
  .navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
}
.navbar-expand-lg .navbar-nav li{ margin-right: 10px !important;}
.d-flex.align-items-center{display: none !important;}
}
/* header-css start */
a.navbar-brand .brand {
  display: flex;
  align-items: center;
}
.header a.navbar-brand .brand img {
  width: 35px;
}
.header a.navbar-brand .brand h3 {
  font-size: 28px !important;
}
.header a.navbar-brand.mt-2.mt-lg-0 {
  margin: 0;
  display: flex;
  align-items: center;
}
.d-flex.align-items-center a {
  color: rgba(0, 0, 0, 0.5);
}
.header button{
	padding:10px 20px;
}
.header .dropdown-menu.show {
    left: -40px;
}
.header button.navbar-toggler {
  height: auto;
  width: auto;
  border-radius: 5px;
}
.collapse.navbar-collapse.expand {
  display: block;
}
.form-container.sign-in-container .alert {
    margin: 20px 20px 0px 20px;
}


.pricing-option {
    background: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding: 24px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    border: 1px solid #eff2f7;
    cursor: pointer;
  }
.pricing-option:hover i, .pricing-option:hover h1, .pricing-option:hover span, .pricing-option:hover b {
    color: #5664d2 !important;
  }
.pricing-option:hover .front {
    opacity: 1;
    visibility: visible;
  }
.pricing-option:hover .detail_btn {
    opacity: 1 !important;
    visibility: visible !important;
  }
.pricing-option:hover .back a.button {
    transform: translateY(0px) !important;
  }
.pricing-option hr {
    border: none;
    border-bottom: 1px solid #F0F0F0;
  }
.pricing-option i {
    font-size: 3rem;
    color: #D8D8D8;
    transition: all 0.3s ease-in-out;
  }
.pricing-option h1 {
    margin: 10px 0;
    color: #212121;
    transition: all 0.3s ease-in-out;
  }
.pricing-option p {
    color: #999;
    padding: 0 10px;
    line-height: 1.3;
  }
.pricing-option p strong{
    color: #212121;
  }
.pricing-option .price {
    position: relative;
  }
.pricing-option .price .front span.price {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
  }
.pricing-option .price .front span.price b {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
  }
.pricing-option .price .detail_btn {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
.pricing-option .price .detail_btn .button {
    background: #5664d2;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    top: -5px;
    left: 0;
    right: 0;
    width: 165px;
    margin: auto;
    text-transform: uppercase;
    border: transparent;
  }
.pricing-option .price .detail_btn .button:hover {
    background: #5664d2;
  }
  .pricing-option svg path {
    fill: #d8d8d8;
}
.pricing-option:hover svg path {
    fill: #5664d2;
}
.pricing-option svg {
    width: 50px;
}
.plan_description .modal-dialog {
  max-width: 650px;
  top: 4em;
}
.modal-title {
  font-size: 22px !important;
  margin-bottom: 0px !important;
}
.product_image {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    height: 240px;
    overflow: hidden;
}
.product-details p span {
  font-size: 14px;
  font-weight: 500;
  color: #959595 !important;
}
.news-footer {
  background: #f3f4ff;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 25px;
}
.news-footer span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.news-footer h3 {
  margin-bottom: 0 !important;
  font-size: 14px;
}
.news-footer p {
  padding: 0 !important;
  font-weight: 500 !important;
}
/* sidebar css start */
.sidebar-content ul {
  padding-left: 25px;
  margin: 0;
}
.sidebar-content ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #eff2f7;
}
.product-details h5 a {
  text-decoration: none !important;
  font-weight: 500 !important;
  font-family: Inter, sans-serif !important;
  font-size: 18px !important;
  text-transform: capitalize;
}
.product-details {
  font-family: Inter, sans-serif;
}
.front h3 {
  font-size: 14px;
  font-weight: 500;
  color: #5664d2;
  font-family: Inter, sans-serif;
  line-height: 20px;
}
.pricing-option:hover h5 a {
  color: #5664d2 !important;
}

.product_image img {
  width: 100%;
  margin-bottom: 0;
  object-fit: contain;
  height: 100%;
  background: #f1f4f5;
}
::ng-deep .row.pagination-filter ul.ngx-pagination {
  float: right;
}
.pagination-filter {
  margin: 35px 0px 20px 0px;
}
.row.pagination-filter input, .row.pagination-filter select {
  width: 40px;
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
}
.row.pagination-filter input{
  padding-left: 5px;
}
.row.pagination-filter input:focus{
  outline: none;
}
::ng-deep .ngx-pagination .current {
  background: #5664d2 !important;
}
.pagination-filter .col-lg-6{
  padding: 0px;
  color: #919191;
}

/* loader css start */
@media only screen and (max-width: 990px) {
  .overlay {
    width: 100% !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1480px) {
  .overlay {
    width: 100%;
  }
}
.overlay {
  width: 100%;
}
.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.overlay {
  right: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spinner {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-width: 2px;
  background-color: #E12217;
  animation: spin 1s infinite linear;
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}