<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.role.roles}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.role.home}}</a></li>
      <li class="active breadcrumb-item">{{language.role.roles}}</li>
    </ol>
  </div>
  <div class="page-content add_content_main">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-inner">
          <!-- tab navigation start -->
          <div class="tabs">
            <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
              <li role="presentation" class="nav-item">
                <a class="nav-link active p-3">
                  {{language.role.roles}}
                </a>
              </li>
            </ul>
          </div>
          <!-- tab navigation end -->
          <!-- search heading of list start -->
          <div *ngIf="isData == true">
            <div class="list-search-panel mt-10">
              <div class="search-list">
                <mat-form-field>
                  <mat-label>{{language.role.filter}}</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
                </mat-form-field>
              </div>
            </div>
            <!-- search heading of list end -->
            <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
              class="table table-bordered" data-plugin="floatThead">
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{language.role.name}} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="role-category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{language.role.roleCategory}} </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element && element.category_name">
                    {{element.category_name}}
                  </ng-container>
                  <ng-container *ngIf="element && !element.category_name">
                    ---
                  </ng-container>
              </ng-container>

              <ng-container matColumnDef="Role Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{language.role.roleDescription}} </th>
                <td mat-cell *matCellDef="let element">

                  <ng-container *ngIf="element.description.length>0">
                    <p [innerHTML]="element.description"></p>
                  </ng-container>
                  <ng-container *ngIf="element.description.length == 0">
                    ---
                  </ng-container>
                </td>
              </ng-container>
              <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  {{language.role.editRole}} </th>
                <td mat-cell *matCellDef="let element" class="table_action_edit text-center"> <button class="btn
                          btn-warning" routerLink="/edit-role/{{element.rid}}">
                    <i class="bx ri-pencil-line"></i></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns:
                      columnsToDisplay;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">{{language.role.noData}}
                  "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
          </div>

          <div *ngIf="isData == false" style="text-align: center;">
            <h3>{{language.common.noDataFound}}</h3>
          </div>

        </div>
      </div>

      <!-- form section start for adding roles -->
      <div class="panel" *ngIf="authService.isAdmin() || permissions.role &&
        permissions.role.includes('ADD')">
        <div class="panel-inner">
          <!-- tab navigation start -->
          <div class="tabs mb-20">
            <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
              <li role="presentation" class="nav-item">
                <a class="nav-link active p-3">
                  {{language.role.addRole}}
                </a>
              </li>
            </ul>
          </div>
          <!-- tab navigation end -->
          <div class="panel-body p-0">
            <div class="col-md-6 col-lg-6 mb-20 p-0">
              <div class="example-wrap mb-0">
                <h4 class="example-title mb-10">{{language.role.role}}<span style="color: red;">*</span></h4>
                <input type="text" class="form-control" placeholder="{{language.role.role}}" name="role"
                  formControlName="role" [ngClass]="{ 'is-invalid': isSubmitted &&
                    formControls['role'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
                    formControls['role'].errors">
                  {{language.error_message.roleError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.role">
                  <span>{{msg.role}}</span>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-20 p-0">
              <div class="example-wrap mb-0">
                <h4 class="example-title mb-10">{{language.role.roleCategory}}<span style="color: red;">*</span></h4>
                <ng-multiselect-dropdown *ngIf="roleCategoryData && roleCategoryData.length" formControlName="cat_id"
                  [placeholder]="'custom placeholder'" [settings]="roleCategorySettings" [data]="roleCategoryList"
                  (onSelect)="roleCategorySelect($event)" (onDeSelect)="roleCategoryDeSelect($event)"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls['cat_id'].errors }">
                </ng-multiselect-dropdown>
                <span class="danger" *ngIf="isSubmitted &&
                formControls['cat_id'].errors">
                  {{language.error_message.required}}
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 p-0">
              <div class="example-wrap mb-0">
                <h4 class="example-title mb-10">{{language.role.roleDescription}}</h4>


                <angular-editor placeholder="{{language.role.roleDescription}}" name="description"
                  formControlName="description">
                </angular-editor>

                <span *ngIf="(formControls['description'].touched ||
                            formControls['description'].dirty) &&
                            formControls['description'].invalid" class="danger">
                  <span *ngIf="formControls['description'].errors?.['maxlength']">
                    {{language.error_message.descriptionMax}}
                  </span>
                  <span *ngIf="formControls['description'].errors?.['minlength']">
                    {{language.error_message.descriptionMin}}
                  </span>
                </span>
              </div>
              <!-- validation mesg start -->
              <div class="alert alert-danger" role="alert" *ngIf="error == true">
                <span>{{message}}</span>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="success == true">
                <span>{{message}}</span>
              </div>
              <!-- validation mesg end -->
              <div class="example example-buttons">
                <div class="float-left">
                  <button type="submit" class="btn btn-primary" data-style="zoom-in">
                    <span class="ladda-label"><i class="icon wb-upload text mr-10"
                        aria-hidden="true"></i>{{language.role.addRole}}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- End Panel -->

    <div *ngIf="authService.showLoader">
      <div class="overlay">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
    </div>