 <!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.slicense.updateLicense}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.slicense.home}}</a></li>
      <li class="breadcrumb-item"><a>{{language.slicense.content}}</a></li>
      <li class="active breadcrumb-item">{{language.slicense.updateLicense}}</li>
    </ol>
  </div>
  <form [formGroup]="licenseForm" (ngSubmit)="onSubmit()">
    <div class="page-content add_content_main">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title pl-20">{{language.slicense.updateLicense}}</h3>
        </div>
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-md-6 col-lg-6">
              <!-- Example Rounded Input -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.slicense.title}} <span
                    style="color: red;">*</span></h4>
                <input type="text" class="form-control" id="inputHelpText"
                  placeholder="{{language.slicense.title}}" name="title"
                  formControlName="title" [ngClass]="{ 'is-invalid': isSubmitted
                  && formControls['title'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
                  formControls['title'].errors">
                  {{language.error_message.titleError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.title">
                  <span>{{msg.title}}</span>
                </span>
              </div>
              <div class="form-horizontal">
                <div class="form-group row">
                  <div class="col-xl-12 col-md-12">
                    <h4 class="example-title">{{language.slicense.body}} <span
                        style="color: red;">*</span></h4>
                    <textarea class="form-control" name="description"
                      formControlName="description" rows="3"
                      placeholder="{{language.slicense.body}}"
                      data-fv-field="skills"
                      [ngClass]="{ 'is-invalid': isSubmitted &&
                      formControls['description'].errors }"></textarea>
                    <span class="danger" *ngIf="isSubmitted &&
                      formControls['description'].errors">
                      {{language.error_message.bodyError}}
                    </span>
                    <span class="danger" role="alert" *ngIf="msg &&
                      msg.description">
                      <span>{{msg.description}}</span>
                    </span>
                  </div>
                </div>

              </div>
              <!-- End Example Rounded Input -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Panel -->
      <!-- Panel -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title pl-20">{{language.slicense.domainSetting}}
          </h3>
        </div>
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <!-- Example Rounded Input -->
              <div class="example-wrap">
                <div class="example-wrap">
                  <h4 class="example-title mt-20">{{language.slicense.publishTo}}
                    <span style="color: red;">*</span></h4>
                  <div class="checkbox-custom checkbox-primary" *ngFor="let
                    domainData of domain">
                    <input type="checkbox" id="inputChecked"
                      formArrayName="publish" [value]="domainData.sitename"
                      (change)="onCheckDomain($event)"
                      [checked]="domainData.d_id">
                    <label for="inputChecked">{{domainData['sitename']}}</label>
                  </div>
                  <span class="danger" *ngIf="isSubmitted &&
                    formControls['description'].errors">
                    {{language.error_message.publishToError}}
                  </span>
                  <span class="danger" role="alert" *ngIf="msg && msg.publish">
                    <span>{{msg.publish}}</span>
                  </span>
                  <!-- <span class="danger" role="alert" *ngIf="msg && msg.description"> 
                              <span>{{msg.description}}</span>
                            </span> -->
                  <span class="text-help">{{language.slicense.publishMsg}}</span>
                </div>
                <div class="col-md-6 p-0 mt-20">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.slicense.sourceDomain}}</h4>
                    <div class="form-group">
                      <select class="form-control" name="domain"
                        formControlName="domain">
                        <option
                          *ngFor="let domainData of domain"
                          [selected]="domainData.sitename
                          ==
                          this.reEnterData[0].domain">
                          {{domainData['sitename']}}
                        </option>
                      </select>
                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['domain'].errors">
                        {{language.error_message.sourceDomainError}}
                      </span>
                      <!-- <span class="danger" role="alert" *ngIf="msg && msg.description"> 
                                  <span>{{msg.description}}</span>
                                </span> -->
                      <span class="text-help">{{language.slicense.domainMsg}}</span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>
              </div>
              <!-- End Example Rounded Input -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Panel -->
      <!-- Panel -->
      <!-- <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
              <div class="col-xl-12">
                <div class="example-wrap faq_tabs">
                  <div class="nav-tabs-vertical" data-plugin="tabs">
                    <ul class="nav nav-tabs mr-25" role="tablist">
                      <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsLeftOne" aria-controls="exampleTabsLeftOne" role="tab" aria-selected="false">Version Information</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftTwo" aria-controls="exampleTabsLeftTwo" role="tab" aria-selected="true">Comments Settings</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftThree" aria-controls="exampleTabsLeftThree" role="tab">Url's Alias Settings</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftFour" aria-controls="exampleTabsLeftFour" role="tab">Information about the Author</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftFive" aria-controls="exampleTabsLeftFour" role="tab">Publishing Settings</a></li>
                    </ul>
                    <div class="tab-content pb-15">
                      <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">Create a new version</label>
                        </div>
                        <div class="example-wrap">
                          <h4 class="example-title">Version log message</h4>
                          <textarea class="form-control" id="textareaDefault" rows="3"></textarea>
                          <p class="text-help">An explanation of the innovations or changes made in order to make your motivation clear to other authors.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                        <div class="radio-custom radio-primary">
                          <input type="radio" id="inputRadiosChecked" name="inputRadios" checked="">
                          <label for="inputRadiosChecked">Open</label>
                          <p class="text-help">Users with the “Create Comments” permission can create comments.</p>
                        </div>
                        <div class="radio-custom radio-primary">
                          <input type="radio" id="inputRadiosChecked" name="inputRadios" checked="">
                          <label for="inputRadiosChecked">Close</label>
                          <p class="text-help">Users are not allowed to post comments.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked"> Generate automatic URL alias</label>
                          <p class="text-help">Deactivate to enter a custom url. <a>Configure patterns for URL aliases.</a></p>
                        </div>
                        <div class="example-wrap">
                          <h4 class="example-title">URL alias</h4>
                          <input type="text" class="form-control" id="inputPlaceholder" placeholder="placeholder">
                          <p class="text-help">You can specify an alternate URL that can be used to access this content. For example, “info” can be specified for an information page. Use a relative path and do not add a trailing slash or the URL alias will not work.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftFour" role="tabpanel">
                        <div class="example-wrap">
                          <h4 class="example-title">Created by</h4>
                          <input type="text" class="form-control" id="inputPlaceholder" placeholder="tarun@mangoitsolutions.in">
                          <p class="text-help">Leave blank for guest .</p>
                        </div>
                        <div class="example-wrap">
                          <h4 class="example-title">Written on</h4>
                          <input type="text" class="form-control" id="inputPlaceholder" placeholder="tarun@mangoitsolutions.in">
                          <p class="text-help">Format: 2021-12-27 07:00:11 +0100 . The date format is YYYY-MM-DD and +0100 is the time zone difference from UTC. Leave blank to use the current time.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftFive" role="tabpanel">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">Released</label>
                        </div>
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">On the home page</label>
                        </div>
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">At the top of lists</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div> -->
      <!-- End Panel -->
      <div class="example example-buttons">
        <div class="float-left">
          <button type="submit" data-style="zoom-in" data-plugin="ladda"
            class="btn btn-success ladda-button">
            <span class="ladda-label"><i aria-hidden="true" class="icon
                wb-upload text mr-10"></i>{{language.slicense.updateLicense}}</span>
            <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
          </button>
        </div>
        <div class="float-left" *ngIf="role[0].name
          =='Administrator' || permissions.Slicense &&
          permissions.Slicense.includes('DELETE')">
          <button type="button" data-style="zoom-out" data-plugin="ladda"
            class="btn btn-danger ladda-button" (click)="modal('delete')">
            <span class="ladda-label"><i class="icon wb-minus-circle mr-10"
                aria-hidden="true"></i>{{language.slicense.deleteLicense}}
            </span>
            <span class="ladda-spinner"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{language.modal.title}}</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{language.modal.msg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="modal('yes')">{{language.modal.yes}}</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
          data-dismiss="modal">{{language.modal.no}}</button>
      </div>
    </div>
  </div>
</div>