/* faq page css */
.faq_tabs ul.nav.nav-tabs.mr-25 {
    background: #f1f4f5;
}
.faq_tabs .nav-tabs-vertical .nav-tabs .nav-link.active {
    background: #495057;
    color: #FFF;
    border-right-color: #495057;
    border-radius: 0;
}