<div class="panel" *ngIf="error == true || success == true">
  <div class="panel-body">
    <div class="alert alert-danger" role="alert" *ngIf="error == true">
      <span>{{message}}</span>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success == true">
      <span>{{message}}</span>
    </div>
  </div>
</div>
<div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
<div class="survey-main">
  <table class="table table-responsive" *ngIf="activeSurvey && activeSurvey.length > 0">
    <thead>
      <tr>
        <th>{{language.Survey.title}}</th>
        <th>{{language.Survey.author}}</th>
        <th>{{language.Survey.active_form}}</th>
        <th>{{language.Survey.remaining_time}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of activeSurvey| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalActiveSurvey}">
        <td>{{item.title}}</td>
        <td>
          {{item.author}}

        </td>
        <td>{{item.survey_start_date.split('T')[0] | date: 'd MMM y'}}</td>
        <td>{{item.dayCount}} {{item.remain}}</td>
        <td>
          <div class="table-action-main">
            <div class="table-action-btn" routerLink="/survey-vote/{{item.id}}"><a><i
                  class="bx ri-eye-line text-primary"></i><br><span>{{language.Survey.view}}</span></a></div>
            <div class="table-action-btn" *ngIf="(authService.isAdmin() ) || permissions.survey &&
                permissions.survey.includes('EDIT')" routerLink="/update-survey/{{item.id}}"><a><i
                  class="bx ri-pencil-line text-warning"></i><br><span>{{language.Survey.edit}}</span></a></div>
            <div *ngIf="(authService.isAdmin() ) || permissions.survey &&
                        permissions.survey.includes('EDIT')">
              <div class="table-action-btn" *ngIf=" item.status == 1" (click)="surveyClose(item.id)"><a><i
                    class="bx ri-user-2-line text-danger"></i><br><span>{{language.Survey.close}}</span></a></div>
              <div class="table-action-btn" *ngIf=" item.status == 0" (click)="surveyClose(item.id)"><a><i
                    class="bx ri-user-2-line text-success"></i><br><span>{{language.Survey.active}}</span></a></div>
            </div>

          </div>
        </td>
        <!-- 
            <td >
                <a class="btn">{{language.Survey.close_survey}}</a> 
            </td>

            <td >
                <a class="btn">{{language.Survey.active_survey}}</a>
            </td> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="row pagination-filter" *ngIf="activeSurvey && activeSurvey.length > 0">
  <div class="col-lg-0">
    <pagination-controls (pageChange)="pageChanged($event);" previousLabel={{language.pagination.previous}}
      nextLabel={{language.pagination.next}}>
    </pagination-controls>
  </div>
  <div class="col-lg-6">
    <span>{{language.pagination.go_to_page}}
      <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
    </span>
    <span>{{language.pagination.limit_per_page}}
      <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
        <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
          {{limitValue.value}}
        </option>
      </select>
    </span>

    {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
    {{ (currentPageNmuber * itemPerPage) >
    totalActiveSurvey ? totalActiveSurvey : (currentPageNmuber * itemPerPage) }}
    {{language.pagination.of}} {{ totalActiveSurvey | number }} {{language.Survey.survey}}
  </div>
</div>

<div class="empty-data-image" *ngIf="activeSurvey && activeSurvey.length == 0">
  <span>{{language.Survey.no_survey}}</span>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>