table.table.table-responsive {
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow-x: auto;
}
.survey_action {
    display: inline-block;
}
.survey_action .btn{
    background-color: #e12217;
    color: #fff;
    padding: 8px 12px;
    text-transform: capitalize;
}
.survey_action .btn:hover{
    color: #fff;
}
.survey_action_main {
    float: right;
}
.survey_action_main .btn {
    margin-right: 5px;
}
.survey-main {
  font-family: Inter, sans-serif;
  font-size: 14px;
  margin-top: 30px;
}
.nav-tabs {
  border-bottom: transparent;
}
table.table.table-responsive th, table.table.table-responsive tr {
  padding: 15px 10px !important;
}
table.table.table-responsive thead tr th {
  border-bottom: transparent;
}
table.table.table-responsive tr {
  border-top: 1px solid #eff2f7;
  height: 56px;
}
table.table.table-responsive tr td{
  line-height: 32px;
}
.table-action-main {
  display: flex;
}
.table-action-btn {
  padding: 0 15px;
}
.table-action-btn {
  text-align: center;
  line-height: 16px;
}
.table-action-btn i{
  margin-right: 0px;
}
.table-action-btn span {
  font-size: 11px;
  color: #6c757d;
}
/* pagination css start */
::ng-deep .row.pagination-filter ul.ngx-pagination {
  float: right;
}
.pagination-filter {
  margin: 35px 0px 20px 0px;
}
.row.pagination-filter input, .row.pagination-filter select {
  width: 40px;
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
}
.row.pagination-filter input{
  padding-left: 5px;
}
.row.pagination-filter input:focus{
  outline: none;
}
::ng-deep .ngx-pagination .current {
  background: #5664d2 !important;
}
.pagination-filter .col-lg-6{
  padding: 0px;
  color: #919191;
}
@media only screen and (max-width:1300px){
  table.table.table-responsive {
    display: block;
}

}