<div class="page">
   <div class="page-header">
      <h1 class="page-title">{{language.memberManagement.membersList}}</h1>
      <ol class="breadcrumb">
         <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.viewProfile.home}}</a></li>
         <li class="active breadcrumb-item">{{language.memberManagement.membersList}}</li>
      </ol>
   </div>
   <div class="page-content">
      <div class="row">
         <!-- <div class="col-lg-4 col-md-6">
            <app-profile-sidebar [userId]="customerId"></app-profile-sidebar>
         </div> -->
         <div class="col-lg-4 col-md-6" *ngIf="EnterData && EnterData.length > 0">
            <div class="profile-sidebar">
               <div class="profile-sidebar-inner">
                  <div class="card">
                     <div class="card-body">
                        <div class="profile-img">
                           <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                              <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                              <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                           </a>
                        </div>
                        <div class="profile-media" *ngFor="let item of EnterData">
                           <h4 class="profile-user">{{item.mail}}</h4>
                           <p class="user-job" *ngIf="item && item.society"><strong>{{language.news.club}}:</strong>{{item.society}}</p>
                        </div>
                     </div>
                  </div>
                  <app-profile-sidebar [userId]="customerId" [userData]="EnterData"></app-profile-sidebar>
               </div>
            </div>
         </div>
         <div class="col-lg-8 col-md-6">
            <div class="profile-description">
               <div class="card">
                  <div class="card-header">{{language.memberManagement.membersList}}</div>
                  <div class="card-body">
                     <div class="card-details">
                        <div class="alert alert-danger" role="alert" *ngIf="error">
                           <span>{{message}}</span>
                        </div>

                        <div class="page-content add_content_main">
                           <div class="panel">
                              <div class="panel-inner">
                                 <!-- tab navigation start -->
                                 <div class="tabs">
                                    <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                                       <li role="presentation" class="nav-item">
                                          <a class="nav-link active p-3">
                                             {{language.memberManagement.members}}
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <!-- search heading of list start -->
                                 <div class="list-search-panel mt-10">
                                    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">

                                       <div class="form-group">
                                          <label class="control-label">{{language.role.filter}}</label>
                                          <select class="form-control" name="type" formControlName="type">
                                             <option value="member">{{language.memberManagement.members}}</option>
                                             <option value="company">{{language.memberManagement.companies}}</option>
                                             <option value="all">{{language.memberManagement.all}}</option>
                                          </select>
                                       </div>
                                       <div class="btns-group mt-10">
                                          <div class="btns-set">
                                             <button type="submit" data-style="zoom-in" data-plugin="ladda"
                                                class="btn btn-primary rounded-pill">{{language.viewUser.addFilter}}</button>
                                          </div>
                                       </div>
                                       <!-- <div class="btns-group mt-10">
                                                                  <div class="btns-set" (click)="reset()">
                                                                     <button type="button" data-style="zoom-in" data-plugin="ladda"
                                                                        class="btn btn-secondary rounded-pill">{{language.common.reset}}</button>
                                                                  </div>
                                                               </div> -->
                                    </form>
                                    <div class="search-list">
                                       <mat-form-field>
                                          <mat-label>{{language.domain.search}}</mat-label>
                                          <input matInput (keyup)="applyFilter($event)"
                                             placeholder="{{language.common.exsearch}}" autocomplete="off" #input>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <!-- search heading of list end -->
                                 <!-- tab navigation end -->
                                 <!-- search heading of list start -->
                                 <ng-container *ngIf="filterData == 'member'">


                                    <!-- search heading of list end -->
                                    <div *ngIf="isData == true" class="table-responsive">
                                       <table mat-table [dataSource]="dataSource" matSort
                                          (matSortChange)="sortData($event)" class="table
                                                               table-bordered" data-plugin="floatThead">
                                          <!-- Position Column -->
                                          <ng-container matColumnDef="DOB">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.dob}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.birth_date ">
                                                   {{row.birth_date | date: 'MMMM d, y'}}

                                                </ng-container>
                                                <ng-container *ngIf="row && !row.birth_date ">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="Email">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.viewUser.email}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                {{row.email}}
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="gender">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.gender}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.gender">
                                                   {{row.gender}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.gender">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="firstName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.firstName}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.firstname">
                                                   {{row.firstname}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.firstname">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="lastName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.lastName}} </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.lastname">
                                                   {{row.lastname}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.lastname">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>


                                          <ng-container matColumnDef="responsiblePerson">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.responsiblePerson}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.responsible_person">
                                                   {{row.responsible_person}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.responsible_person">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="companyName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.companyName}} </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.company_name">
                                                   {{row.company_name}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.company_name">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="status">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.status}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                {{row.status}}
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="mobile">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.mobile}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.mobile">
                                                   {{row.mobile}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.mobile">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="view-details">
                                             <th class="text-center" mat-header-cell *matHeaderCellDef>
                                                {{language.dashboard.view_detail}}
                                             </th>
                                             <td class="odd table_action view" mat-cell *matCellDef="let row"><button
                                                   class="btn btn-outline-secondary" (click)=" viewMemberData(row.id)">
                                                   <i class="bx ri-user-2-line"></i></button>
                                             </td>
                                          </ng-container>

                                          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                                          <!-- Row shown when there is no matching data. -->
                                          <tr class="mat-row" *matNoDataRow>
                                             <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                                                "{{input.value}}"
                                             </td>
                                          </tr>

                                       </table>

                                       <mat-paginator [length]="100" [pageSize]="10"
                                          [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                                       </mat-paginator>
                                    </div>
                                 </ng-container>

                                 <ng-container *ngIf="filterData == 'company'">


                                    <!-- search heading of list end -->
                                    <div *ngIf="isData == true" class="table-responsive">
                                       <table mat-table [dataSource]="dataSource" matSort
                                          (matSortChange)="sortData($event)" class="table
                                                                           table-bordered" data-plugin="floatThead">
                                          <!-- Position Column -->
                                          <ng-container matColumnDef="DOB">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.dob}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.birth_date ">
                                                   {{row.birth_date | date: 'MMMM d, y'}}

                                                </ng-container>
                                                <ng-container *ngIf="row && !row.birth_date ">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="Email">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.viewUser.email}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                {{row.email}}
                                             </td>
                                          </ng-container>


                                          <ng-container matColumnDef="gender">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.gender}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.gender">
                                                   {{row.gender}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.gender">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="firstName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.firstName}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.firstname">
                                                   {{row.firstname}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.firstname">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="lastName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.lastName}} </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.lastname">
                                                   {{row.lastname}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.lastname">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>


                                          <ng-container matColumnDef="responsiblePerson">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.responsiblePerson}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.responsible_person">
                                                   {{row.responsible_person}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.responsible_person">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="companyName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.companyName}} </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.company_name">
                                                   {{row.company_name}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.company_name">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="status">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.status}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                {{row.status}}
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="mobile">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.mobile}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.mobile">
                                                   {{row.mobile}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.mobile">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="view-details">
                                             <th class="text-center" mat-header-cell *matHeaderCellDef>
                                                {{language.dashboard.view_detail}}
                                             </th>
                                             <td class="odd table_action view" mat-cell *matCellDef="let row"><button
                                                   class="btn btn-outline-secondary" (click)=" viewMemberData(row.id)">
                                                   <i class="bx ri-user-2-line"></i></button>
                                             </td>
                                          </ng-container>

                                          <tr mat-header-row *matHeaderRowDef="columnsToDisplaycompany"></tr>
                                          <tr mat-row *matRowDef="let row; columns: columnsToDisplaycompany;"></tr>
                                          <!-- Row shown when there is no matching data. -->
                                          <tr class="mat-row" *matNoDataRow>
                                             <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                                                "{{input.value}}"
                                             </td>
                                          </tr>

                                       </table>

                                       <mat-paginator [length]="100" [pageSize]="10"
                                          [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                                       </mat-paginator>
                                    </div>
                                 </ng-container>

                                 <ng-container *ngIf="filterData == 'all'">

                                    <!-- search heading of list end -->
                                    <div *ngIf="isData == true" class="table-responsive">
                                       <table mat-table [dataSource]="dataSource" matSort
                                          (matSortChange)="sortData($event)" class="table
                                                                                       table-bordered"
                                          data-plugin="floatThead">
                                          <!-- Position Column -->
                                          <ng-container matColumnDef="DOB">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.dob}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.birth_date ">
                                                   {{row.birth_date | date: 'MMMM d, y'}}

                                                </ng-container>
                                                <ng-container *ngIf="row && !row.birth_date ">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="Email">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.viewUser.email}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                {{row.email}}
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="gender">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.gender}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.gender">
                                                   {{row.gender}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.gender">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="firstName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.firstName}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.firstname">
                                                   {{row.firstname}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.firstname">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="lastName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.lastName}} </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.lastname">
                                                   {{row.lastname}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.lastname">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>


                                          <ng-container matColumnDef="responsiblePerson">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.responsiblePerson}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.responsible_person">
                                                   {{row.responsible_person}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.responsible_person">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>



                                          <ng-container matColumnDef="companyName">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.companyName}} </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.company_name">
                                                   {{row.company_name}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.company_name">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="status">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.addUser.status}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                {{row.status}}
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="mobile">
                                             <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                {{language.memberManagement.mobile}}
                                             </th>
                                             <td class="odd" mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row && row.mobile">
                                                   {{row.mobile}}
                                                </ng-container>
                                                <ng-container *ngIf="row && !row.mobile">
                                                   ---
                                                </ng-container>
                                             </td>
                                          </ng-container>

                                          <ng-container matColumnDef="view-details">
                                             <th class="text-center" mat-header-cell *matHeaderCellDef>
                                                {{language.dashboard.view_detail}}
                                             </th>
                                             <td class="odd table_action view" mat-cell *matCellDef="let row"><button
                                                   class="btn btn-outline-secondary" (click)=" viewMemberData(row.id)">
                                                   <i class="bx ri-user-2-line"></i></button>
                                             </td>
                                          </ng-container>

                                          <tr mat-header-row *matHeaderRowDef="columnsToDisplayAll"></tr>
                                          <tr mat-row *matRowDef="let row; columns: columnsToDisplayAll;"></tr>
                                          <!-- Row shown when there is no matching data. -->
                                          <tr class="mat-row" *matNoDataRow>
                                             <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                                                "{{input.value}}"
                                             </td>
                                          </tr>

                                       </table>

                                       <mat-paginator [length]="100" [pageSize]="10"
                                          [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                                       </mat-paginator>
                                    </div>
                                 </ng-container>

                                 <div *ngIf="isData == false" style="text-align: center;">
                                    <h3>{{language.common.noDataFound}}</h3>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="modal fade commit_popup" id="member-details" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content" *ngFor="let item of view_member_data">
            <div class="modal-header">
               <h1 class="modal-title" id="exampleModalCenterTitle">{{language.memberManagement.memberDetails}}</h1>

            </div>
            <div class="modal-body">
               <div class="mandate-row mt-20 mb-20">
                  <div class="row">
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.salutation}}</div>
                              <div class="membar-content">{{item.salutation}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <ng-container *ngIf="filterData == 'member' || filterData == 'all'">
                        <div class="col-md-4">
                           <div class="membar-details">
                              <div class="membar-inner">
                                 <div class="membar-label">{{language.addUser.firstName}}</div>
                                 <div class="membar-content">{{item.firstname}}</div>
                              </div>
                           </div>
                        </div>
                        <!-- col-details end-->
                        <!-- col-details -->
                        <div class="col-md-4">
                           <div class="membar-details">
                              <div class="membar-inner">
                                 <div class="membar-label">{{language.addUser.lastName}}</div>
                                 <div class="membar-content">{{item.lastname}}</div>
                              </div>
                           </div>
                        </div>
                     </ng-container>


                     <ng-container *ngIf="filterData == 'company' || filterData == 'all'">
                        <div class="col-md-4">
                           <div class="membar-details">
                              <div class="membar-inner">
                                 <div class="membar-label">{{language.memberManagement.companyName}}</div>
                                 <div class="membar-content">{{item.company_name}}</div>
                              </div>
                           </div>
                        </div>
                        <!-- col-details end-->
                        <!-- col-details -->
                        <div class="col-md-4">
                           <div class="membar-details">
                              <div class="membar-inner">
                                 <div class="membar-label">{{language.memberManagement.responsiblePerson}}</div>
                                 <div class="membar-content">{{item.responsible_person}}</div>
                              </div>
                           </div>
                        </div>


                     </ng-container>

                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.addUser.userEmail}}</div>
                              <div class="membar-content">{{item.email}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.gender}}</div>
                              <div class="membar-content">{{item.gender}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.phone}}</div>
                              <div class="membar-content">{{item.phone}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.mobile}}</div>
                              <div class="membar-content">
                                 <ng-container *ngIf="item && item.mobile">
                                    {{item.mobile}}
                                 </ng-container>
                                 <ng-container *ngIf="item && !item.mobile">
                                    ---
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.addUser.zipCode}}</div>
                              <div class="membar-content">{{item.zipcode}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.street}}</div>
                              <div class="membar-content">{{item.street}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.city}}</div>
                              <div class="membar-content">{{item.city}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <ng-container *ngIf="filterData == 'member' || filterData == 'all'">
                        <div class="col-md-4">
                           <div class="membar-details">
                              <div class="membar-inner">
                                 <div class="membar-label">{{language.memberManagement.dob}}</div>
                                 <div class="membar-content">
                                    <ng-container *ngIf="item && item.birth_date">
                                       {{item.birth_date | date: 'MM/dd/yyyy'}}
                                    </ng-container>
                                    <ng-container *ngIf="item && !item.birth_date">
                                       ---
                                    </ng-container>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </ng-container>

                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.addUser.status}}</div>
                              <div class="membar-content">{{item.status}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.appUse}}</div>
                              <div class="membar-content">
                                 <ng-container *ngIf="item && item.app_in_use">
                                    {{item.app_in_use}}
                                 </ng-container>
                                 <ng-container *ngIf="item && !item.app_in_use">
                                    ---
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.department}}</div>
                              <div class="membar-content">{{ item.department}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.functionInClub}}</div>
                              <div class="membar-content">{{item.function}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.departmentEntryDate}}</div>
                              <div class="membar-content">{{item.department_entry_date | date: 'MM/dd/yyyy'}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.clubEntryDate}}</div>
                              <div class="membar-content">{{item.club_entry_date | date: 'MM/dd/yyyy'}}</div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.clubExitDate}}</div>
                              <div class="membar-content">
                                 <ng-container *ngIf="item && item.club_exit_date">
                                    {{item.club_exit_date | date: 'MM/dd/yyyy'}}
                                 </ng-container>
                                 <ng-container *ngIf="item && !item.club_exit_date">
                                    ---
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.reasonForExit}}</div>
                              <div class="membar-content">
                                 <ng-container *ngIf="item && item.reason_for_exit">
                                    {{item.reason_for_exit}}
                                 </ng-container>
                                 <ng-container *ngIf="item && !item.reason_for_exit">
                                    ---
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                     <!-- col-details -->
                     <div class="col-md-4">
                        <div class="membar-details notes">
                           <div class="membar-inner">
                              <div class="membar-label">{{language.memberManagement.notes}}</div>
                              <div class="membar-content">
                                 <ng-container *ngIf="item && item.notes">
                                    {{item.notes}}
                                 </ng-container>
                                 <ng-container *ngIf="item && !item.notes">
                                    ---
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col-details end-->
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" (click)="close()">{{language.Survey.close}}</button>
            </div>
         </div>
      </div>
   </div>

   <!-- End Page -->
   <div *ngIf="authService.showLoader">
      <div class="overlay">
         <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
         </div>
      </div>
   </div>