table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  font-size: 14px !important;
}

td,
th {
  padding: 15px 10px !important;
}

.header_add_option span {
  margin-top: 5px;
  display: inline-block;
}

.nav-tabs-custom {
  border-bottom: 2px solid #f1f5f7;
}

.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}

.nav-tabs-custom .nav-item .nav-link {
  border: none;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}

.p-3 {
  padding: 1rem !important;
}

.table-bordered th,
.table-bordered td,
.table-bordered {
  border: transparent;
  vertical-align: middle !important;
  color: #505d69;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}

tr {
  height: 56px;
  border-top: 1px solid #eff2f7;
}

.page-content.add_content_main table {
  font-family: Inter, sans-serif;
}

.table th {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.page-content table button {
  background: transparent !important;
  border: transparent;
  padding: 0;
}

.table_action {
  text-align: center;
}

td.table_action.view i {
  color: #5664d2;
}

.commit_popup .modal-header {
  justify-content: center;
}

.commit_popup .modal-dialog {
  max-width: 800px;
}

.mandate-row ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
}

.mandate-row ul li {
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

.mandate-row ul li label {
  margin-bottom: 0;
  padding: 10px;
  font-weight: 500;
  background-color: #f9f9f9;
}

.mandate-row ul li span {
  display: inline-flex;
  padding: 10px;
}

.nav-tabs-custom {
  border-bottom: 2px solid #f1f5f7;
}

.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}

.nav-tabs-custom .nav-item .nav-link {
  border: none;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}

.membar-inner {
  margin-bottom: 20px;
}

.membar-label {
  margin-bottom: 10px;
  font-weight: 500;
}

.membar-content {
  font-weight: 500;
  color: #505d69;
  background: #efefef;
  height: 45px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}