<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.memberManagement.editMember}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.editUser.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/member-management">
        <a>{{language.memberManagement.membersList}}</a>
      </li>
      <li class="active breadcrumb-item">{{language.memberManagement.editMember}}</li>
    </ol>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <form [formGroup]="editMemberForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-lg-3 col-sm-6">
              <div class="avatar_main">
                <div class="avatar-upload">
                  <label *ngIf="errorImage.isError" class="text-danger">
                    {{ errorImage.errorMessage }}
                  </label>
                  <div class="avatar-preview">
                    <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                    <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">

                    <!-- <h1  id="textPreview"></h1> -->
                  </div>
                  <div class="avatar-edit">
                    <input type='file' (change)="uploadFile($event)" id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"><i class="bx ri-pencil-line"></i></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-sm-6">
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="example-wrap mt-0 mb-20">
                    <div class="panel">
                      <div class="panel-heading">
                        <h4 class="example-title">{{language.addUser.personalInfo}}</h4>
                      </div>
                      <div class="row row-lg">
                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap">
                            <h4 class="example-title">
                              {{language.memberManagement.salutation}} <span style="color: red;">*</span></h4>
                            <div class="form-group">
                              <div class="example-wrap m-sm-0">
                                <div class="form-group">
                                  <select class="form-control" name="salutation" formControlName="salutation" [ngClass]="{'is-invalid': isSubmitted &&
                                    formControls['salutation'].errors }" (change)="salutationValue($event)">
                                    <option value="Mr">
                                      {{language.memberManagement.mr}}</option>
                                    <option value="Mrs">
                                      {{language.memberManagement.mrs}}</option>
                                    <option value="Company">
                                      {{language.memberManagement.company }}
                                    </option>
                                  </select>
                                  <span class="danger" *ngIf="isSubmitted &&
                                    formControls['salutation'].errors">
                                    {{language.error_message.required}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Example Placeholder -->
                        </div>
                        <ng-container *ngIf="companyName == false">
                          <div class="col-md-6 col-lg-4">
                            <!-- Example Placeholder -->
                            <div class="example-wrap mb-20">
                              <h4 class="example-title">{{language.addUser.firstName}}
                                <span style="color: red;">*</span>
                              </h4>
                              <input type="text" class="form-control" name="firstName"
                                placeholder="{{language.addUser.firstName}}" formControlName="firstName" [ngClass]="{
                                'is-invalid':
                                isSubmitted && formControls['firstName'].errors
                                }">
                              <span class="danger" *ngIf="isSubmitted &&
                                formControls['firstName'].errors">
                                {{language.error_message.firstNameError}}
                              </span>
                              <span *ngIf="(f['firstName'].touched ||
                                f['firstName'].dirty) && f['firstName'].invalid" class="danger">
                                <span *ngIf="f['firstName'].errors &&
                                  f['firstName'].errors['pattern']">{{language.error_message.invalidfirstName}}</span>
                              </span>
                              <span class="danger" role="alert" *ngIf="msg &&
                                msg.firstName">
                                <span>{{msg.firstName}}</span>
                              </span>
                            </div>
                            <!-- End Example Placeholder -->
                          </div>
                          <div class="col-md-6 col-lg-4">
                            <!-- Example Placeholder -->
                            <div class="example-wrap mb-20">
                              <h4 class="example-title">{{language.addUser.lastName}}
                                <span style="color: red;">*</span>
                              </h4>
                              <input type="text" class="form-control" name="lastName"
                                placeholder="{{language.addUser.lastName}}" formControlName="lastName" [ngClass]="{
                                'is-invalid':
                                isSubmitted && formControls['lastName'].errors
                                }">
                              <span class="danger" *ngIf="isSubmitted &&
                                formControls['lastName'].errors">
                                {{language.error_message.lastNameError}}
                              </span>
                              <span *ngIf="(f['lastName'].touched ||
                                f['lastName'].dirty) && f['lastName'].invalid" class="danger">
                                <span *ngIf="f['lastName'].errors &&
                                  f['lastName'].errors['pattern']">{{language.error_message.invalidlastName}}</span>
                              </span>
                              <span class="danger" role="alert" *ngIf="msg &&
                                msg.lastName">
                                <span>{{msg.lastName}}</span>
                              </span>
                            </div>
                            <!-- End Example Placeholder -->
                          </div>
                        </ng-container>

                        <ng-container *ngIf="companyName == true">
                          <div class="col-md-6 col-lg-4">
                            <!-- Example Placeholder -->
                            <div class="example-wrap mb-20">
                              <h4 class="example-title">{{language.memberManagement.companyName}}
                                <span style="color: red;">*</span>
                              </h4>
                              <input type="text" class="form-control" name="companyName"
                                placeholder="{{language.memberManagement.companyName}}" formControlName="companyName"
                                [ngClass]="{ 'is-invalid':
                                isSubmitted &&
                                formControls['companyName'].errors }">
                              <span class="danger" *ngIf="isSubmitted &&
                                formControls['companyName'].errors">
                                {{language.error_message.required}}
                              </span>


                            </div>
                            <!-- End Example Placeholder -->
                          </div>

                          <div class="col-md-6 col-lg-4">
                            <!-- Example Placeholder -->
                            <div class="example-wrap mb-20">
                              <h4 class="example-title">{{language.memberManagement.responsiblePerson}}
                                <span style="color: red;">*</span>
                              </h4>
                              <input type="text" class="form-control" name="responsiblePerson"
                                placeholder="{{language.memberManagement.responsiblePerson}}"
                                formControlName="responsiblePerson" [ngClass]="{
                                'is-invalid':
                                isSubmitted &&
                                formControls['responsiblePerson'].errors }">
                              <span class="danger" *ngIf="isSubmitted &&
                                formControls['responsiblePerson'].errors">
                                {{language.error_message.required}}
                              </span>

                            </div>
                            <!-- End Example Placeholder -->
                          </div>
                        </ng-container>
                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap mb-20">
                            <h4 class="example-title">{{language.addUser.userEmail}}
                              <span style="color: red;">*</span>
                            </h4>
                            <input type="text" class="form-control" placeholder="{{language.addUser.userEmail}}"
                              name="email" formControlName="email" [ngClass]="{
                              'is-invalid': isSubmitted
                              && formControls['email'].errors }">
                            <!-- <span class="text-help">{{language.addUser.emailMsg}}</span> -->
                            <span class="danger" *ngIf="isSubmitted &&
                              formControls['email'].errors">
                              {{language.error_message.userEmailError}}
                            </span>
                            <span *ngIf="(f['email'].touched ||
                              f['email'].dirty) &&
                              f['email'].invalid" class="danger">
                              <span *ngIf="f['email'].errors &&
                                f['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
                            </span>
                            <span class="danger" role="alert" *ngIf="msg &&
                              msg.email">
                              <span>{{msg.email}}</span>
                            </span>
                          </div>
                          <!-- End Example Placeholder -->
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap">
                            <h4 class="example-title">{{language.memberManagement.gender}}
                              <span style="color: red;">*</span>
                            </h4>
                            <div class="form-group">
                              <div class="example-wrap m-sm-0">
                                <div class="form-group">
                                  <select class="form-control" name="gender" formControlName="gender" [ngClass]="{'is-invalid': isSubmitted &&
                                    formControls['gender'].errors }">
                                    <option value="male">{{language.memberManagement.male}}</option>
                                    <option value="female">{{language.memberManagement.female}}</option>
                                    <option value="neuter">{{language.memberManagement.neuter}}</option>
                                  </select>
                                  <span class="danger" *ngIf="isSubmitted &&
                                    formControls['gender'].errors">
                                    {{language.error_message.required}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Example Placeholder -->
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap mb-20">
                            <h4 class="example-title">{{language.memberManagement.phone}}<span
                                style="color: red;">*</span>
                            </h4>
                            <input type="text" class="form-control" name="phone"
                              placeholder="{{language.memberManagement.phone}}" formControlName="phone"
                              [ngClass]="{ 'is-invalid':isSubmitted && formControls['phone'].errors }">

                            <span class="danger" *ngIf="isSubmitted && formControls['phone'].errors">
                              {{language.error_message.required}}
                            </span>

                            <span *ngIf="(f['phone'].touched || f['phone'].dirty) && f['phone'].invalid" class="danger">
                              <span
                                *ngIf="f['phone'].errors && f['phone'].errors['pattern']">{{language.error_message.enterNumber}}</span>
                            </span>

                            <span class="danger" *ngIf="formControls['phone'].errors?.['minlength']">
                              {{language.error_message.phoneNumberMin}}
                            </span>
                            <span class="danger" *ngIf="formControls['phone'].errors?.['maxlength']">
                              {{language.error_message.phoneNumberMax}}
                            </span>

                          </div>
                          <!-- End Example Placeholder -->
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap mb-20">
                            <h4 class="example-title">
                              {{language.memberManagement.mobile}}</h4>
                            <input type="text" class="form-control" name="mobile"
                              placeholder="{{language.memberManagement.mobile}}" formControlName="mobile" [ngClass]="{
                              'is-invalid':
                              isSubmitted && formControls['mobile'].errors }">


                          </div>
                          <!-- End Example Placeholder -->
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap mb-20">
                            <h4 class="example-title">{{language.addUser.zipCode}}<span style="color: red;">*</span>
                            </h4>
                            <input type="text" class="form-control" name="zipcode"
                              placeholder="{{language.addUser.zipCode}}" formControlName="zipcode" [ngClass]="{
                              'is-invalid':
                              isSubmitted && formControls['zipcode'].errors }">
                            <span class="danger" *ngIf="isSubmitted &&
                              formControls['zipcode'].errors">
                              {{language.error_message.zipError}}
                            </span>

                            <span *ngIf="(f['zipcode'].touched ||
                              f['zipcode'].dirty) && f['zipcode'].invalid" class="danger">
                              <span *ngIf="f['zipcode'].errors &&
                                f['zipcode'].errors['pattern']">
                                {{language.error_message.zipInvalid}}</span>
                            </span>

                            <span class="danger" role="alert" *ngIf="msg &&
                              msg.zipcode">
                              <span>{{msg.zipcode}}</span>
                            </span>

                            <span class="danger" *ngIf="formControls['zipcode'].errors?.['minlength']">
                              {{language.error_message.zipCodeMin4}}
                            </span>

                            <span class="danger" *ngIf="formControls['zipcode'].errors?.['maxlength']">
                              {{language.error_message.zipCodeMax}}
                            </span>
                          </div>
                          <!-- End Example Placeholder -->
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap mb-20">
                            <h4 class="example-title">
                              {{language.memberManagement.street}}<span style="color: red;">*</span></h4>
                            <input type="text" class="form-control" name="street"
                              placeholder="{{language.memberManagement.street}}" formControlName="street" [ngClass]="{
                              'is-invalid': isSubmitted &&
                              formControls['street'].errors }">

                            <span class="danger" *ngIf="isSubmitted &&
                              formControls['street'].errors">
                              {{language.error_message.required}}
                            </span>

                          </div>
                          <!-- End Example Placeholder -->
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <!-- Example Placeholder -->
                          <div class="example-wrap mb-20">
                            <h4 class="example-title">
                              {{language.memberManagement.city}}<span style="color: red;">*</span>
                            </h4>
                            <input type="text" class="form-control" name="city"
                              placeholder="{{language.memberManagement.city}}" formControlName="city" [ngClass]="{ 'is-invalid': isSubmitted &&
                              formControls['city'].errors }">
                            <span class="danger" *ngIf="isSubmitted &&
                              formControls['city'].errors">
                              {{language.error_message.required}}
                            </span>


                          </div>
                          <!-- End Example Placeholder -->
                        </div>

                        <ng-container *ngIf="companyName == false">
                          <div class="col-md-6 col-lg-4">
                            <!-- Example Placeholder -->
                            <div class="example-wrap mb-20">
                              <h4 class="example-title">{{language.memberManagement.dob}}<span
                                  style="color: red;">*</span></h4>
                              <input type="date" class="form-control" name="DOB" [max]="getToday()" placeholder="DOB"
                                formControlName="DOB" [ngClass]="{ 'is-invalid': isSubmitted &&
                                formControls['DOB'].errors }">
                              <span class="danger" *ngIf="isSubmitted &&
                                formControls['DOB'].errors">
                                {{language.error_message.required}}
                              </span>


                            </div>
                            <!-- End Example Placeholder -->
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <!-- End Panel -->
                </div>
              </div>
            </div>
          </div>
          <div class="row row-lg">
            <div class="col-md-12 col-lg-6">
              <div class="example-wrap mt-20 mb-0">
                <div class="panel-heading">
                  <h4 class="example-title">{{language.addUser.status}}<span style="color: red;">*</span></h4>
                </div>
                <div class="example-wrap add-role">
                  <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                    <div class="radio-custom radio-primary">
                      <input type="radio" value="1" name="status" formControlName="status" [checked]="checked == 1">
                      <label for="inputRadiosChecked">{{language.addUser.active}}</label>
                    </div>
                    <div class="radio-custom radio-primary">
                      <input type="radio" value="0" name="status" formControlName="status" [checked]="checked == 0">
                      <label for="inputRadiosChecked">{{language.memberManagement.inactive}}</label>
                    </div>
                  </div>
                  <span class="danger" *ngIf="isSubmitted &&
                    formControls['status'].errors">
                    {{language.error_message.statusError}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="example-wrap mt-20 mb-0">
                <div class="panel-heading">
                  <h4 class="example-title">{{language.memberManagement.appUse}}
                  </h4>
                </div>
                <!-- Example Placeholder -->
                <div class="example-wrap mb-20">
                  <div class="example-wrap add-role">
                    <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                      <div class="radio-custom radio-primary">
                        <input type="radio" value="no" name="appUse" formControlName="appUse" [checked]="">
                        <label for="inputRadiosChecked">{{language.memberManagement.no}}</label>
                      </div>
                      <div class="radio-custom radio-primary">
                        <input type="radio" value="yes" name="appUse" formControlName="appUse" [checked]="">
                        <label for="inputRadiosChecked">{{language.memberManagement.yes}}</label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <div class="example-wrap mt-20 mb-20">
                <div class="panel-heading">
                  <h4 class="example-title">{{language.memberManagement.department}}</h4>
                </div>
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.memberManagement.department}}<span
                          style="color: red;">*</span></h4>
                      <ng-multiselect-dropdown *ngIf="departmentList &&
                        departmentList.length" formControlName="department" [placeholder]="'custom placeholder'"
                        [settings]="departmentSettings" [data]="departmentList" (onSelect)="departmentSelect($event)"
                        (onDeSelect)="departmentDeSelect($event)" (onSelectAll)="departmentSelectAll($event)"
                        (onDeSelectAll)="departmentDeSelectAll($event)">
                      </ng-multiselect-dropdown>


                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['department'].errors">
                        {{language.error_message.required}}
                      </span>


                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.memberManagement.functionInClub}}<span
                          style="color: red;">*</span></h4>
                      <input type="text" class="form-control" name="functionClub"
                        placeholder="{{language.memberManagement.functionInClub}}" formControlName="functionClub"
                        [ngClass]="{ 'is-invalid': isSubmitted &&
                        formControls['functionClub'].errors }">
                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['functionClub'].errors">
                        {{language.error_message.required}}
                      </span>


                    </div>
                    <!-- End Example Placeholder -->
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">
                        {{language.memberManagement.departmentEntryDate}}<span style="color: red;">*</span>
                      </h4>
                      <input type="date" class="form-control" name="departmentEntryDate"
                        placeholder="{{language.memberManagement.departmentEntryDate}}"
                        formControlName="departmentEntryDate" [ngClass]="{ 'is-invalid': isSubmitted &&
                          formControls['departmentEntryDate'].errors }">

                      <span class="danger" *ngIf="isSubmitted &&
                          formControls['departmentEntryDate'].errors">
                        {{language.error_message.required}}
                      </span>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.memberManagement.clubEntryDate}}<span
                          style="color: red;">*</span></h4>
                      <input type="date" class="form-control" name="clubEntryDate"
                        placeholder="{{language.memberManagement.clubEntryDate}}" formControlName="clubEntryDate"
                        [ngClass]="{ 'is-invalid': isSubmitted &&
                        formControls['clubEntryDate'].errors }">

                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['clubEntryDate'].errors">
                        {{language.error_message.required}}
                      </span>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.memberManagement.clubExitDate}}</h4>
                      <input type="date" class="form-control" name="clubExitDate"
                        placeholder="{{language.memberManagement.clubExitDate}}" formControlName="clubExitDate"
                        [ngClass]="{ 'is-invalid': isSubmitted &&
                        formControls['clubExitDate'].errors }">
                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.memberManagement.reasonForExit}}</h4>
                      <angular-editor placeholder="{{language.memberManagement.reasonForExit}}" name="reasonForExit"
                        formControlName="reasonForExit">
                      </angular-editor>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.memberManagement.notes}}</h4>
                      <angular-editor placeholder="{{language.memberManagement.notes}}" name="notes"
                        formControlName="notes">
                      </angular-editor>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="error == true || success == true">

            <div class="alert alert-danger" role="alert" *ngIf="error == true">
              <span>{{message}}</span>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="success == true">
              <span>{{message}}</span>
            </div>

          </div>
          <div class="example example-buttons mt-0">
            <div class="float-left">
              <button type="submit" class="btn btn-primary">
                <span class="ladda-label">{{language.memberManagement.updateMember}}</span>
                <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
              </button>
            </div>
            <div class="float-left">
              <button type="button" class="btn btn-danger" (click)="deleteUser()">
                <span class="ladda-label">{{language.memberManagement.deleteMemeber}}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- End Page -->

  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>