<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <!-- Middle Column -->
                <div class="col-lg-12 col-xl-12 order-xl-2">
                    <!-- User Background -->
                    <div class="user-background card card-shadow
                        profile_info">
                        <div class="card-header card-header-transparent
                            p-20">
                            <h4 class="card-title mb-0">{{language.productPrice.Productdetails}}</h4>
                        </div>
                        <div class="panel" *ngIf="errorMessage == true || successMessage == true">
                            <div class="panel-body">
                                <div class="alert alert-danger" role="alert" *ngIf="errorMessage == true">
                                    <span>{{message}}</span>
                                </div>
                                <div class="alert alert-success" role="alert" *ngIf="successMessage == true">
                                    <span>{{message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="page-content" *ngFor="let item of productDetails">
                            <div class="panel">
                                <div class="panel-body container-fluid">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="product-image">
                                                <div class="product-img">
                                                    <img class="img-fluid" src="../assets/img/v-logo.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7">
                                            <div class="product-details">
                                                <p class="font-size-12 mb-1">{{item.planGroup.Name._c}}</p>
                                                <h5 class="font-size-20">{{item.InternalName}}</h5>
                                                <div class="divider-line"></div>
                                                <div class="plans-description">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-xs-6 col-sm-6">
                                                            <div class="plans_details">
                                                                <p class="text-muted mb-0">
                                                                    {{language.productPrice.planGroupName}}</p>
                                                                <h5>{{item.planGroup.Name._c}}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xs-6 col-sm-6">
                                                            <div class="plans_details">
                                                                <p class="text-muted mb-0">
                                                                    {{language.productPrice.planName}}</p>
                                                                <h5>{{item.planDetail.Name._c}}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xs-6 col-sm-6">
                                                            <div class="plans_details">
                                                                <p class="text-muted mb-0">
                                                                    {{language.productPrice.reccuringFee}}</p>
                                                                <h5>{{item.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xs-6 col-sm-6">
                                                            <div class="plans_details">
                                                                <p class="text-muted mb-0">
                                                                    {{language.productPrice.currency}}</p>
                                                                <h5>{{item.planGroup.Currency}}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xs-6 col-sm-6">
                                                            <div class="plans_details">
                                                                <p class="text-muted mb-0">
                                                                    {{language.productPrice.priceTaxType}}</p>
                                                                <h5>{{item.planGroup.PriceTaxType}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="divider-line"></div>
                                                <div class="order-btnsection">
                                                    <div class="alert alert-success" *ngIf="msg">
                                                        <h4 class="example-title mb-15"><a
                                                                style="text-transform: capitalize;">{{msg}}</a></h4>
                                                    </div>
                                                    <div class="row text-center mt-2 product_action">
                                                        <div class="col-sm-12">
                                                            <button type="button"
                                                                class="btn btn-primary btn-block waves-effect waves-light mt-2 mr-1"
                                                                (click)=" orderProduct(item.Id)"><i
                                                                    class="mdi mdi-cart mr-2"></i>
                                                                {{language.productPrice.orderProduct}} </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body desc_section">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <mat-tab-group class="mat-tabular-view">
                                                        <mat-tab label="{{language.productPrice.description}}">
                                                            <div class="tab-inner"
                                                                *ngIf="item && item.Description && item.Description._c">
                                                                <p [innerHTML]="item.Description._c"></p>

                                                            </div>
                                                            <div class="tab-inner"
                                                                *ngIf="item && !item.Description._c ">
                                                                <p>{{language.productPrice.noDescription}}</p>
                                                            </div>
                                                        </mat-tab>
                                                        <mat-tab label="{{language.productPrice.details}}">
                                                            <div class="tab-inner">
                                                                <table class="table table-bordered">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.billingPeriod}}</Strong>
                                                                            </th>
                                                                            <td>{{item.BillingPeriod.Quantity}}
                                                                                {{item.BillingPeriod.Unit}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row"><Strong>
                                                                                    {{language.productPrice.cancelPeriod}}</Strong>
                                                                            </th>
                                                                            <td>{{item.CancellationPeriod.Quantity}}
                                                                                {{item.CancellationPeriod.Unit}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.contractPeriod}}</Strong>
                                                                            </th>
                                                                            <td>{{item.ContractPeriod.Quantity}}
                                                                                {{item.ContractPeriod.Unit}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.recurringFee}}</Strong>
                                                                            </th>
                                                                            <td colspan="2">{{item.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.paymentPeriodMode}}</Strong>
                                                                            </th>
                                                                            <td colspan="2">{{item.PaymentPeriodMode}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.setupFee}}</Strong>
                                                                            </th>
                                                                            <td colspan="2">{{item.SetupFee | number :'1.2-2'}} {{language.billwerk.eur}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.feePeriod}}</Strong>
                                                                            </th>
                                                                            <td colspan="2">{{item.SetupFee | number : '1.2-2'}} {{language.billwerk.eur}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.laterCancellationPeriod}}</Strong>
                                                                            </th>
                                                                            <td colspan="2">
                                                                                {{item.LaterCancellationPeriod.Quantity}}
                                                                                {{item.LaterCancellationPeriod.Unit}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">
                                                                                <Strong>{{language.productPrice.laterContractPeriod}}</Strong>
                                                                            </th>
                                                                            <td colspan="2">
                                                                                {{item.LaterContractPeriod.Quantity}}
                                                                                {{item.LaterContractPeriod.Unit}}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </mat-tab>
                                                    </mat-tab-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Middle Column -->
            </div>
        </div>


        <div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">{{language.common.emailVerify}}</h5>
                        <button type="button" (click)="cancel()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="emailVerifyForm" (ngSubmit)="onSubmit()">

                            <div class="login-fields">
                                <input type="email" ng-model="email" class="form-control"
                                    placeholder="{{language.login.userEmail}}" name="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': isSubmitted &&
                                                formControls['email'].errors }">
                                <span class="danger" *ngIf="isSubmitted &&
                formControls['email'].errors">I
                                    {{language.login.userEmailError}}
                                </span>
                                <span *ngIf="(formControls['email'].touched || formControls['email'].dirty) &&
                formControls['email'].invalid" class="danger">
                                    <span
                                        *ngIf="formControls['email'].errors && formControls['email'].errors['pattern']">{{language.login.invalidEmail}}
                                    </span>
                                </span>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="error == true">
                                <span>email is not registered with us please </span> <a (click)="redirectedTo()"> click
                                    here </a> <span>to signup</span>
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="success == true">
                                <span>email is already registered with us please </span> <a (click)="redirectedTo()">
                                    click here </a> <span>to signin</span>

                            </div>
                            <div class="modal-footer d-flex justify-content-center"
                                *ngIf="error == false && success == false">
                                <button type="submit" class="btn btn-primary ">{{language.common.verifyEmail}}</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="authService.showLoader">
            <div class="overlay">
                <div class="overlay__inner">
                    <div class="overlay__content"><span class="spinner"></span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>
<!-- End Page -->