<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.permission.update}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.permission.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/permission">{{language.permission.viewPermission}}</li>
      <li class="active breadcrumb-item">{{language.permission.update}}</li>
    </ol>

  </div>

  <div class="page-content add_content_main">
    <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
      <div class="panel">

        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <!-- Example Rounded Input -->
              <div class="example-wrap">
                <div class="col-md-6 p-0 mt-20">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.permission.roleList}}
                    </h4>
                    <div class="form-group">
                      <select class="form-control" name="role" formControlName="roles">
                        <option *ngFor="let item of rolesList" [value]="item.id" [value]="item.id">{{item['name']}}
                        </option>
                      </select>
                      <!-- <ng-multiselect-dropdown
                            formControlName="roles" 
                            [placeholder]="'custom placeholder'"
                             [settings]="rolesSettings"
                             [data]="rolesList"
                           
                             >
                        </ng-multiselect-dropdown> -->
                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['roles'].errors">
                        {{language.error_message.perRoleError}}
                      </span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>
              </div>

              <div class="example-wrap">
                <div class="col-md-6 p-0 mt-20">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.permission.moduleList}}</h4>
                    <div class="form-group">
                      <select class="form-control" name="modules" formControlName="modules">
                        <option *ngFor="let item of modules.module" [value]="item.value">{{item['value']}}</option>
                      </select>
                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['modules'].errors">
                        {{language.error_message.perModuleError}}
                      </span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>
              </div>

              <div class="example-wrap">
                <div class="col-md-6 p-0 mt-20">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.permission.permissionList}}
                    </h4>
                    <div class="form-group">
                      <ng-multiselect-dropdown formControlName="permissions" [settings]="permissionSettings"
                        [data]="permissionList" (onSelect)="permissionSelect($event)"
                        (onDeSelect)="permissionDeSelect($event)" (onSelectAll)="permissionSelectAll($event)"
                        (onDeSelectAll)="permissionDeSelectAll($event)">
                      </ng-multiselect-dropdown>
                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['permissions'].errors">
                        {{language.error_message.permissionError}}
                      </span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>
              </div>
              <!-- End Example Rounded Input -->
            </div>
          </div>
        </div>
      </div>

      <div class="example example-buttons">
        <div class="float-left">
          <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-success ladda-button">
            <span class="ladda-label"><i aria-hidden="true" class="icon
                wb-upload text mr-10"></i>{{language.permission.update}}</span>
            <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
          </button>
        </div>

      </div>
    </form>
  </div>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>