<div class="page">
  <div class="panel" *ngIf="error == true || success == true">
    <div class="panel-body">
    </div>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.customerAssign.customerAssign}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.customerAssign.home}}</a></li>
      <li class="active breadcrumb-item">{{language.customerAssign.customerAssign}}</li>
    </ol>
  </div>
  <div class="page-content add_content_main">
    <div class="panel">

      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <!-- Example Rounded Input -->
          <div class="col-md-6 mt-0">
            <div class="example-wrap m-sm-0">
              <h4 class="example-title">{{language.customerAssign.select}}</h4>
              <div class="form-group">
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-0" *ngIf="visibility == 1 ||visibility == 2">
            <form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
              <!-- Example Rounded Input -->
              <div class="row">
                <div class="col-md-6" *ngIf="visibility == 1">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.customerAssign.sales}}
                    </h4>
                    <div class="form-group">
                      <ng-multiselect-dropdown formControlName="sales_id" [settings]="salesdownSettings"
                        [data]="salesList" (onSelect)="salesSelect($event)" (onDeSelect)="salesDeSelect($event)">
                      </ng-multiselect-dropdown>
                      <span class="danger" *ngIf="isSubmitted &&
                      formControls['sales_id'].errors">
                        {{language.error_message.salesError}}
                      </span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>

                <div class="col-md-6" *ngIf="visibility == 2">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.customerAssign.distributer}}
                    </h4>
                    <div class="form-group">
                      <ng-multiselect-dropdown formControlName="distributor_id" [settings]="salespartnerSettings"
                        [data]="salesPartnerList" (onSelect)="distSelect($event)" (onDeSelect)="distDeSelect($event)">
                      </ng-multiselect-dropdown>
                      <span class="danger" *ngIf="isSubmitted &&
                      formControls['distributor_id'].errors">
                        {{language.error_message.distributerError}}
                      </span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>

                <div class="col-md-6" *ngIf="customers == true">
                  <!-- Example Select -->
                  <div class="example-wrap m-sm-0">
                    <h4 class="example-title">{{language.customerAssign.customers}}
                    </h4>
                    <div class="form-group">
                      <ng-multiselect-dropdown formControlName="assignedCustomers" [settings]="customersdownSettings"
                        [data]="customersList" (onSelect)="customerSelect($event)"
                        (onDeSelect)="customerDeSelect($event)" (onSelectAll)="customerSelectAll($event)"
                        (onDeSelectAll)="customerDeSelectAll($event)">
                      </ng-multiselect-dropdown>
                      <span class="danger" *ngIf="isSubmitted &&
                      formControls['assignedCustomers'].errors">
                        {{language.error_message.customerError}}
                      </span>
                    </div>
                  </div>
                  <!-- End Example Select -->
                </div>
              </div>
              <!-- End Example Rounded Input -->
              <div class="alert alert-danger" role="alert" *ngIf="error == true">
                <span>{{message}}</span>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="success == true">
                <span>{{message}}</span>
              </div>
              <div class="example example-buttons">
                <div class="float-left">
                  <button type="submit" class="btn btn-primary">
                    <span class="ladda-label"><i aria-hidden="true" class="icon
                      wb-upload text mr-10"></i>{{language.customerAssign.assignCustomer}}</span>
                    <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!-- End Example Rounded Input -->
        </div>

      </div>
    </div>
  </div>

</div>