
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size: 14px !important;
  }
  td, th {
    padding: 10px !important ;
    word-break: break-all;
    width: 8% !important;
  }
  .header_add_option span{
    margin-top: 5px;
    display: inline-block;
  }
  button.btn.btn-primary i{
    color: #fff;
    font-size: 14px;
}