.pricing-option {
  background: white;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 24px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: 1px solid #eff2f7;
  cursor: pointer;
}
.pricing-option:hover i,
.pricing-option:hover h1,
.pricing-option:hover span,
.pricing-option:hover b {
  color: #5664d2 !important;
}
.pricing-option:hover .front {
  opacity: 1;
  visibility: visible;
}
.pricing-option:hover .detail_btn {
  opacity: 1 !important;
  visibility: visible !important;
}
.pricing-option:hover .back a.button {
  transform: translateY(0px) !important;
}
.pricing-option hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
.pricing-option i {
  font-size: 3rem;
  color: #d8d8d8;
  transition: all 0.3s ease-in-out;
}
.pricing-option h1 {
  margin: 10px 0;
  color: #212121;
  transition: all 0.3s ease-in-out;
}
.pricing-option p {
  color: #999;
  padding: 0 10px;
  line-height: 1.3;
}
.pricing-option p strong {
  color: #212121;
}
.pricing-option .price {
  position: relative;
}
.pricing-option .price .front span.price {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-weight: 700;
  position: relative;
}
.pricing-option .price .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600;
}
.pricing-option .price .detail_btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.pricing-option .price .detail_btn .button {
  background: #5664d2;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 13px;
  top: -5px;
  left: 0;
  right: 0;
  width: 165px;
  margin: auto;
  text-transform: uppercase;
  border: transparent;
}
.pricing-option .price .detail_btn .button:hover {
  background: #5664d2;
}
.pricing-option svg path {
  fill: #d8d8d8;
}
.pricing-option:hover svg path {
  fill: #5664d2;
}
.pricing-option svg {
  width: 50px;
}
.plan_description .modal-dialog {
  max-width: 650px;
  top: 4em;
}
.modal-title {
  font-size: 22px !important;
  margin-bottom: 0px !important;
}
.product_image {
  display: grid;
  place-content: center;
}
/* sidebar css start */
.sidebar-content ul {
  padding-left: 25px;
  margin: 0;
}
.sidebar-content ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #eff2f7;
}
.product-details a {
  text-decoration: none;
  font-weight: 500;
}
.product-details {
  font-family: Inter, sans-serif;
}
.front h3 {
  font-size: 14px;
  font-weight: 500;
  color: #5664d2;
  font-family: Inter, sans-serif;
  line-height: 20px;
}
.pricing-option:hover h5 a {
  color: #5664d2 !important;
}
.product_image img {
  width: 100px;
  height: auto;
  margin-bottom: 30px;
}
::ng-deep .row.pagination-filter ul.ngx-pagination {
  float: right;
}
.pagination-filter {
  margin: 35px 0px 20px 0px;
}
.row.pagination-filter input,
.row.pagination-filter select {
  width: 40px;
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 30px;
}
.row.pagination-filter input {
  padding-left: 5px;
}
.row.pagination-filter input:focus {
  outline: none;
}
::ng-deep .ngx-pagination .current {
  background: #5664d2 !important;
}
.pagination-filter .col-lg-6 {
  padding: 0px;
  color: #919191;
}

.product-row{
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.product-title{
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
}