<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.departMent.edit_Department}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.role.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/department-list">
        <a>{{language.memberManagement.departmentList}}</a></li>
      <li class="active breadcrumb-item"><a>{{language.departMent.edit_Department}}</a></li>

    </ol>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <form [formGroup]="editDepartmentForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-lg-12">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.departMent.departmentName}}</h4>
                <input type="text" class="form-control" placeholder="Department Name" name="department"
                  formControlName="department">
              </div>
            </div>
            <div class="col-lg-12">

              <div class="panel" *ngIf="error == true || success == true">
                <div class="panel-body">
                  <div class="alert alert-danger" role="alert" *ngIf="error == true">
                    <span>{{message}}</span>
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="success == true">
                    <span>{{message}}</span>
                  </div>
                </div>
              </div>
              <!-- End Panel -->
              <div class="example example-buttons">
                <div class="float-left">
                  <button type="submit" class="btn btn-primary">
                    <span class="ladda-label">{{language.departMent.update_Department}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- End Page -->
  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>