<div class="site-menubar bg-blue-grey-800">
  <div class="site-gridmenu-toggle" data-toggle="gridmenu" routerLink="/dashboard">
    <img class="navbar-brand-logo" src="../../assets/img/logo.svg" title="Remark">
    <span class="navbar-brand-text hidden-xs-down">S-Verein</span>
  </div>
  <div class="site-menubar-body">
    <div>
      <nav class="main-nav">
        <ul class="site-menu nav nav-list">
          <li class="site-menu-category">{{language.sideBar.general}}</li>
          <li class="site-menu-item has-sub parent-lavel">
            <a class="accordion-heading collapsed parent_anchor" data-toggle="collapse" data-target="#submenu1">
              <i class="bx ri-dashboard-line"></i>
              <span class="site-menu-title">{{language.sideBar.license_management}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub nav-list collapse" id="submenu1">
              <div class="main-ul">
                <ul class="site-menu-sub">
                  <li class="site-menu-item has-sub lavel-2">
                    <a routerLink="/product-price">
                      <span class="site-menu-title">{{language.productPrice.productPrice}}</span>
                    </a>
                  </li>

                </ul>

                <ul class="site-menu-sub"
                  *ngIf="permissions.salesPartner && permissions.salesPartner.length > 0 ||authService.isAdmin()">
                  <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() ||
                  permissions.salesPartner.includes('VIEW')">
                    <a routerLink="/sales-partner">
                      <span class="site-menu-title">{{language.sideBar.salesPartner}}</span>
                    </a>

                  </li>

                </ul>

                <ul class="site-menu-sub"
                  *ngIf="permissions.clubs && permissions.clubs.length > 0 ||authService.isAdmin()">
                  <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() ||
                  permissions.clubs.includes('VIEW')">
                    <a routerLink="/clubs">
                      <span class="site-menu-title">{{language.sideBar.clubs}}</span>
                    </a>

                  </li>

                </ul>

                <!-- For the user -->

                <ul class="site-menu-sub lavel-3">

                  <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin()">
                    <a class="accordion-heading" data-toggle="collapse" data-target="#submenu2">
                      <span class="site-menu-title">{{language.sideBar.orderSection}}</span>
                      <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub nav-list collapse" id="submenu2">

                      <li class="site-menu-item " *ngIf="authService.isAdmin()">
                        <a routerLink="/order-product-list">
                          <span class="site-menu-title">{{language.sideBar.allOrders}}</span>
                        </a>
                      </li>

                      <li class="site-menu-item" *ngIf="authService.isAdmin()">
                        <a routerLink="/completed-order">
                          <span class="site-menu-title">{{language.sideBar.completedOrders}}</span>
                        </a>
                      </li>

                      <li class="site-menu-item" *ngIf="authService.isAdmin()">
                        <a routerLink="/invoices">
                          <span class="site-menu-title">{{language.sideBar.invoice}}</span>
                        </a>
                      </li>

                      <!-- <li class="site-menu-item ">
                        <a routerLink="/order-history">
                          <span class="site-menu-title">{{language.sideBar.myOrderHistory}}</span>
                        </a>
                      </li> -->
                    </ul>
                  </li>

                  <li class="site-menu-item has-sub parent-lavel" *ngIf="!authService.isAdmin()">
                    <a class="accordion-heading" data-toggle="collapse" data-target="#submenu2">
                      <span class="site-menu-title">{{language.sideBar.orderSection}}</span>
                      <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub nav-list collapse" id="submenu2">

                      <li class="site-menu-item ">
                        <a routerLink="/order-product-list">
                          <span class="site-menu-title">{{language.sideBar.myOrderHistory}}</span>
                        </a>
                      </li>

                      <li class="site-menu-item">
                        <a routerLink="/user-completed-order">
                          <span class="site-menu-title">{{language.billwerk.completedOrders}}</span>
                        </a>
                      </li>

                      <li class="site-menu-item">
                        <a routerLink="/my-invoices">
                          <span class="site-menu-title">{{language.billwerk.myInvoices}}</span>
                        </a>
                      </li>
                    </ul>
                  </li>

                </ul>

                <ul class="site-menu-sub" *ngIf="authService.isAdmin()">
                  <li class="site-menu-item has-sub lavel-2">
                    <a routerLink="/assigned-products">
                      <span class="site-menu-title">{{language.productAssign.assignProduct}}</span>
                    </a>

                  </li>

                </ul>
              </div>
            </ul>
          </li>

          <li class="site-menu-item has-sub parent-lavel">
            <a class="accordion-heading collapsed parent_anchor" data-toggle="collapse" data-target="#submenu3">
              <i class="bx ri-account-circle-line"></i>
              <span class="site-menu-title" *ngIf="authService.isAdmin()">{{language.sideBar.administration}}</span>
              <span class="site-menu-title" *ngIf="!authService.isAdmin()">{{language.sideBar.user}}</span>
              <span class="site-menu-arrow"></span>
            </a>

            <ul class="site-menu-sub nav-list collapse" id="submenu3">
              <ul class="site-menu-sub" *ngIf="permissions.user && permissions.user.length > 0 ||authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() ||
                        permissions.user.includes('VIEW')">
                  <a routerLink="/user" class="accordion-heading" data-toggle="collapse" data-target="#submenu4">
                    <span class="site-menu-title">{{language.sideBar.user}}</span>

                  </a>

                </li>
              </ul>



              <ul class="site-menu-sub" *ngIf="permissions.role && permissions.role.length > 0 ||authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() ||
                permissions.role.includes('ADD')">
                  <a class="accordion-heading" routerLink="/roles" data-toggle="collapse" data-target="#submenu5">
                    <span class="site-menu-title">{{language.sideBar.role}}</span>
                  </a>
                </li>
              </ul>

              <ul class="site-menu-sub" *ngIf="permissions.permission && permissions.permission.length> 0
                     ||authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() ||
                    permissions.permission.includes('VIEW')">
                  <a class="accordion-heading" routerLink="/view-permission" data-toggle="collapse"
                    data-target="#submenu6">
                    <span class="site-menu-title">{{language.sideBar.permission}}</span>

                  </a>

                </li>
                <li class="site-menu-item" *ngIf="authService.isAdmin()">
                  <a routerLink="/user-roles">
                    <span class="site-menu-title"> {{language.sideBar.userRole}}</span>
                  </a>
                </li>


              </ul>

              <ul class="site-menu-sub" *ngIf="permissions.customerAssign &&
                   permissions.customerAssign.length> 0||authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2">
                  <a class="accordion-heading" data-toggle="collapse" data-target="#submenu7">
                    <span class="site-menu-title">{{language.sideBar.customerAssign}}</span>
                    <span class="site-menu-arrow"></span>
                  </a>
                  <ul class="site-menu-sub nav nav-list collapse" id="submenu7">
                    <li class="site-menu-item" *ngIf="authService.isAdmin() ||
                  permissions.customerAssign.includes('ADD')">
                      <a routerLink="/assign-customer">
                        <span class="site-menu-title">
                          {{language.sideBar.assignCustomer}}</span>
                      </a>
                    </li>
                    <li class="site-menu-item" *ngIf="authService.isAdmin() ||
                  permissions.customerAssign.includes('VIEW')">
                      <a routerLink="/view-assign-customer">
                        <span class="site-menu-title">{{language.sideBar.viewAssignCustomer}}</span>
                      </a>
                    </li>

                  </ul>
                </li>
              </ul>

              <ul class="site-menu-sub"
                *ngIf="permissions.survey && permissions.survey.length > 0 || authService.isAdmin() || !authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() || !authService.isAdmin() ||
                                                   permissions.survey.includes('ADD')">
                  <a class="accordion-heading" routerLink="/survey" data-toggle="collapse" data-target="#submenu5">
                    <span class="site-menu-title">{{language.Survey.survey}}</span>
                  </a>
                </li>
              </ul>


              <ul class="site-menu-sub"
                *ngIf="permissions.emailTemplate && permissions.emailTemplate.length> 0 || authService.isAdmin() ">
                <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin()  ||
                       permissions.emailTemplate.includes('VIEW')">
                  <a class="accordion-heading" routerLink="/email-template" data-toggle="collapse"
                    data-target="#submenu5">
                    <span class="site-menu-title">{{language.emailTemplate.email_template}}</span>
                  </a>
                </li>
              </ul>

              <ul class="site-menu-sub" *ngIf="authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2">
                  <a routerLink="/view-product">
                    <span class="site-menu-title">{{language.componentProduct.component_product}}</span>
                  </a>

                </li>

              </ul>

              <!-- <ul class="site-menu-sub">
                <li class="site-menu-item has-sub lavel-2">
                  <a href="javascript:void(0)" routerLink="/survey">
                    <span class="site-menu-title">{{language.Survey.survey}}</span>

                  </a>

                </li>

                <ul class="site-menu-sub" *ngIf="authService.isAdmin()">
                  <li class="site-menu-item has-sub lavel-2">
                    <a href="javascript:void(0)" routerLink="/email-template">
                      <span class="site-menu-title">{{language.emailTemplate.email_template}}</span>

                    </a>

                  </li>
                </ul>
              </ul> -->
            </ul>
          </li>

          <li class="site-menu-item has-sub parent-lavel">
            <a class="accordion-heading collapsed parent_anchor" data-toggle="collapse" data-target="#submenu8">
              <i class="bx ri-mail-send-line"></i>
              <span class="site-menu-title">{{language.sideBar.communication}}</span>
              <span class="site-menu-arrow"></span>
            </a>

            <ul class="site-menu-sub nav-list collapse" id="submenu8">

              <ul class="site-menu-sub" *ngIf="permissions.news && permissions.news.length> 0 ||
                authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2" *ngIf="authService.isAdmin() ||
                       permissions.news.includes('VIEW')">
                  <a routerLink="/user" class="accordion-heading" data-toggle="collapse" data-target="#submenu4"
                    routerLink="/view-news" *ngIf="authService.isAdmin() ||
                   permissions.news.includes('VIEW')">
                    <span class="site-menu-title">{{language.sideBar.pushNews}}</span>

                  </a>

                </li>
              </ul>

              <ul class="site-menu-sub" routerLink="/contact">
                <li class="site-menu-item has-sub lavel-2">
                  <a href="javascript:void(0)">
                    <span class="site-menu-title">{{language.sideBar.message}}</span>
                  </a>

                </li>

              </ul>

              <ul class="site-menu-sub" *ngIf="permissions.staticWebPage &&
              permissions.staticWebPage.length> 0
              ||authService.isAdmin()">
                <li class="site-menu-item has-sub lavel-2" routerLink="/view-pages" *ngIf="authService.isAdmin() ||
               permissions.staticWebPage.includes('VIEW')">
                  <a class="accordion-heading" data-toggle="collapse" data-target="#submenu4">
                    <span class="site-menu-title">{{language.sideBar.pages}}</span>

                  </a>

                </li>
              </ul>

            </ul>
          </li>

          <li class="site-menu-item has-sub parent-lavel">
            <a class="accordion-heading collapsed parent_anchor" data-toggle="collapse" data-target="#submenu11">
              <i class="bx ri-settings-2-line"></i>
              <span class="site-menu-title">{{language.sideBar.service_support}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub nav-list collapse" id="submenu11">
              <li class="site-menu-item has-sub lavel-2">
                <a routerLink="/ticketing">
                  <span class="site-menu-title">{{language.sideBar.ticketing}}</span>
                </a>
              </li>
              <li class="site-menu-item has-sub lavel-2">
                <a routerLink="/requests">
                  <span class="site-menu-title">{{language.sideBar.request}}</span>
                </a>
              </li>

            </ul>
          </li>

          <li class="site-menu-item has-sub parent-lavel" *ngIf="authService.isAdmin()">
            <a class="accordion-heading collapsed parent_anchor" data-toggle="collapse" data-target="#submenu12">
              <i class="bx ri-booklet-line"></i>
              <span routerLink="/contact-documents" class="site-menu-title">{{language.sideBar.contactDocs}}</span>

            </a>

          </li>

          <li class="site-menu-item has-sub parent-lavel" *ngIf="isCustomer()">
            <a class="accordion-heading collapsed parent_anchor" data-toggle="collapse" data-target="#submenu13">
              <i class="bx ri-user-settings-line"></i>
              <span class="site-menu-title">{{language.memberManagement.memberManagement}}</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub nav-list collapse" id="submenu13">
              <li class="site-menu-item has-sub lavel-2">
                <a routerLink="/member-management">
                  <span class="site-menu-title">{{language.memberManagement.memberList}}</span>
                </a>
              </li>
              <li class="site-menu-item has-sub lavel-2">
                <a routerLink="/members-statistics">
                  <span class="site-menu-title">{{language.memberManagement.memberStatistics}}</span>
                </a>
              </li>
              <li class="site-menu-item has-sub lavel-2">
                <a routerLink="/department-list">
                  <span class="site-menu-title">{{language.memberManagement.departmentList}}</span>
                </a>
              </li>

            </ul>
          </li>
        </ul>
      </nav>
      <!-- <div class="site-menubar-footer">
            
            <a (click)="logout()" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
              <span class="icon wb-power" aria-hidden="true"></span>
            </a>
          </div> -->
    </div>
  </div>
</div>

<app-confirm-dialog></app-confirm-dialog>