.add-role {
    display: inline-block;
    margin-right: 15px;
}


.avatar_main {
  background: #e8f0fe;
  height: 250px;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 0 auto;
  transform: translate(0px, 35%);
}
.avatar-upload .avatar-edit {
  margin-top: 20px;
  text-align: center;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  background: #fbac06;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  padding: 0;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 50px;
}
.avatar-upload .avatar-edit input + label i{
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-right: 0px;
}
.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-preview img {
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 5px;
  width: 150px;
  height: 150px;
}
  .panel-heading h4 {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #eff2f7;
    padding: 10px;
    background: #e8f0fe;
}
button.btn.btn-primary i {
  color: #fff;
  font-size: 14px;
}

button.btn.btn-secondry  {
  color: rgb(146, 147, 160);
  font-size: 14px;
}
.tab-pane {
  display: flex;
}
.tab-pane .radio-custom{
  margin-right: 15px;
}

/* upload css start */
.event_upload {
  position: relative;
}
.event_field label{
  width: 100%;
  display: inline-block;
  font-size: 14px;
  color: #1d202f;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.event_upload input {
  opacity: 0;
  position: relative;
  z-index: 222;
  height: 198px;
  width: 100%;
  cursor: pointer;
}
.event_field input {
  width: 100%;
  height: 50px;
  background: #fafbfc;
  border: 1px solid #dbdee0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
}
span.event_uplod_overlay {
  position: absolute;
  background: #fafbfc;
  left: 0;
  height: 198px;
  width: 100%;
  border: 1px dashed #d9d9d9;
  text-align: center;
  top: 0px;
}
.event_upload.news_pic_upload span.event_uplod_overlay img {
  text-align: center;
  width: 110px;
  margin: 42px 0;
  height: 110px;
  overflow: hidden;
  object-fit: contain;
}