<div class="container" id="container">
  <div class="form-container sign-in-container" *ngIf="progress == false">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <h1>{{language.password.confirm_password}}</h1>
      <div class="login-fields">
        <input type="password" class="form-control" id="inputPassword" name="password"
          placeholder="{{language.password.password}}" formControlName="password" [ngClass]="{ 'is-invalid': isSubmitted
            && formControls['password'].errors }">
        <span class="danger" *ngIf="isSubmitted &&
            formControls['password'].errors">
          {{language.password.passwordError}}
        </span>
        <span *ngIf="(f['password'].touched || f['password'].dirty) &&
            f['password'].invalid" class="danger">
          <span *ngIf="f['password'].errors &&
              f['password'].errors['pattern']">
            {{language.password.invalidPassword}} </span>
        </span>
        <span class="danger" role="alert" *ngIf="msg && msg.password">
          <span>{{msg.password}}</span>
        </span>

      </div>
      <div class="login-fields">
        <input type="password" class="form-control" placeholder="{{language.password.confirmPassError}}"
          name="confirmPassword" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': isSubmitted &&
            formControls['confirmPassword'].errors }">
        <span class="danger" *ngIf="isSubmitted &&
            formControls['confirmPassword'].errors">
          {{language.password.invalidPassword}}
        </span>
        <span *ngIf="(f['confirmPassword'].touched ||
            f['confirmPassword'].dirty) && show == true" class="danger">
          {{language.password.match}}
        </span>
        <span class="danger" role="alert" *ngIf="msg &&
            msg.confirmPassword">
          <span>{{msg.confirmPassword}}</span>
        </span>
      </div>
      <div class="form-group clearfix">
        <p>
          {{language.password.msg}}
        </p>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>
      <button type="submit" class="btn btn-primary ">{{language.password.setPass}}</button>
    </form>
  </div>

  <div class="form-container sign-in-container" *ngIf="progress == true">
    <div class="progress-bar-sigin">
      <div class="progress-bar-row">
        <figure class="logo-img">
          <img src="../assets/img/v-logo.png" alt="" />
        </figure>
        <h2 *ngIf="product"> {{product[0].InternalName}}</h2>
        <!-- <h2 *ngIf="!product"> Vereinsverwaltung TRIAL</h2> -->
        <div class="signin-inner">
          <h3 class="font-size-24">{{language.trialRegister.headconfirm}}</h3>
          <progress-bar [progress]="value" [color]="'#1cbb8c'">
          </progress-bar>
        </div>
      </div>
    </div>

  </div>

  <!-- End Page -->

  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>