<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.product.editProduct}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="/view-news">{{language.product.viewProduct}}</li>
            <li class="active breadcrumb-item">{{language.product.editProduct}}</li>
        </ol>
    </div>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
        <div class="page-content add_content_main">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title pl-20 pb-0">{{language.product.editProduct}}</h3>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-md-6 col-lg-6">
                            <!-- Example Rounded Input -->
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.product.productName}}
                                    <span style="color: red;">*</span>
                                </h4>
                                <input type="text" class="form-control" id="inputHelpText"
                                    placeholder="{{language.product.productName}}" name="product_name"
                                    formControlName="product_name" [ngClass]="{
                                    'is-invalid': isSubmitted &&
                                    formControls['product_name'].errors }">
                                <span class="danger" role="alert" *ngIf="msg &&
                                    msg.product_name">
                                    <span>{{msg.product_name}}</span>
                                </span>
                                <span class="danger" *ngIf="isSubmitted &&
                                    formControls['product_name'].errors">
                                    {{language.error_message.required}}
                                </span>
                            </div>
                            <!-- End Example Rounded Input -->
                        </div>
                        <div class="col-lg-6">
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.productPrice.taxPolicyId}}</h4>
                                <input type="text" class="form-control" id="inputPlaceholder" name="tax_policy"
                                    formControlName="tax_policy" placeholder="{{language.productPrice.taxPolicyId}}">
                            </div>
                        </div>
                    </div>
                    <div class="row row-lg">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-xl-12 col-md-12">
                                        <h4 class="example-title">{{language.product.description}}
                                            <span style="color: red;">*</span>
                                        </h4>
                                        <angular-editor name="description" formControlName="description" rows="3"
                                            placeholder="{{language.product.description}}" data-fv-field="skills"
                                            [ngClass]="{ 'is-invalid':
                                            isSubmitted && formControls['description'].errors }">
                                        </angular-editor>

                                        <span class="danger" *ngIf="isSubmitted
                                            &&
                                            formControls['description'].errors">
                                            {{language.error_message.required}}
                                        </span>
                                        <span class="danger" role="alert" *ngIf="msg &&
                                            msg.description">
                                            <span>{{msg.description}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <!-- Example File Upload -->
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.news.imageUpload}}</h4>
                                <div class="event_upload news_pic_upload">
                                    <label class="preview_txt" style="display: none;"></label>
                                    <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg"
                                        (change)="uploadFile($event)">
                                    <label *ngIf="errorImage.isError" class="text-danger">
                                        {{ errorImage.errorMessage }}
                                    </label>
                                    <span class="danger" *ngIf="isSubmitted &&
                              formControls['imageUpload'].errors">
                                        {{language.error_message.required}}
                                    </span>
                                    <span class="event_uplod_overlay avatar-preview">
                                        <img *ngIf="hasPicture == false" src="../assets/img/event_upload.png"
                                            id="imagePreview" class="preview_img">
                                        <img *ngIf="hasPicture == true" id="imagePreview" class="preview_img"
                                            [src]="imagePreview">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.product.productPrice}}<span
                                        style="color: red;">*</span></h4>
                                <input type="number" class="form-control" id="inputPlaceholder" min="0" name="price"
                                    formControlName="price" placeholder="{{language.product.productPrice}}" [ngClass]="{ 'is-invalid':
                                  isSubmitted && formControls['price'].errors }">

                                <span class="danger" *ngIf="isSubmitted &&
                                  formControls['price'].errors">
                                    {{language.error_message.required}}
                                </span>

                                <span *ngIf="(formControls['price'].touched || formControls['price'].dirty) &&
                                  formControls['price'].invalid" class="danger">
                                    <span *ngIf="formControls['price'].errors &&
                                  formControls['price'].errors['min']">{{language.error_message.positiveValue}}</span>
                                </span>

                                <span class="danger" role="alert" *ngIf="msg &&
                                    msg.price">
                                    <span>{{msg.price}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.productPrice.componentType}}</h4>
                                <input type="text" class="form-control" id="inputPlaceholder" name="component_type"
                                    formControlName="component_type"
                                    placeholder="{{language.productPrice.componentType}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="example-wrap mb-20">
                                <h4 class="example-title">{{language.componentProduct.notVisibleToRole}}</h4>
                                <ng-multiselect-dropdown *ngIf="roleCategoryData && roleCategoryData.length"
                                    formControlName="nonVisibleRoleCategory" [placeholder]="'custom placeholder'"
                                    [settings]="roleCategorySettings" [data]="roleCategoryList"
                                    (onSelect)="roleCategorySelect($event)" (onDeSelect)="roleCategoryDeSelect($event)"
                                    (onSelectAll)="roleCategorySelectAll($event)"
                                    (onDeSelectAll)="roleCategoryDeSelectAll($event)"
                                    [ngClass]="{ 'is-invalid': isSubmitted && formControls['nonVisibleRoleCategory'].errors }">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="alert alert-danger" role="alert" *ngIf="error ==
                                        true">
                                        <span>{{message}}</span>
                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf="success
                                        == true">
                                        <span>{{message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="example example-buttons mt-20 mb-0">
                                <div class="float-left">
                                    <button type="submit" class="btn btn-primary ">
                                        <span class="ladda-label">{{language.product.updateProduct}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </form>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>