<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.productPrice.productPlans}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
      <li class="active breadcrumb-item">{{language.productPrice.productPlans}}</li>
    </ol>
  </div>
  <div class="page-content">
    <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel widget_inner">
          <div class="panel-body container-fluid">
            <div class="col-md-12">
              <ng-container *ngIf="checkUserForNormal(clubTypeProducts)">
                <div class="row product-row" *ngIf="productData && productData.length > 0">
                  <h3 class="product-title">{{language.productPrice.clubType}}</h3>
                  <div class="pricing-option col-lg-3 col-md-6 col-sm-6"
                    *ngFor="let product of clubTypeProducts| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
    
  
                    <div class="product_image">
                      <img src="../assets/img/v-logo.png" />
                    </div>
                    <div class="product-details">
                      <p class="font-size-12 mb-1" *ngIf="product && product.planGroup">
                        <span>{{product.planGroup.Name._c}}</span>
                      </p>
                      <h5 class="font-size-18" *ngIf="product && product.InternalName"><a class="text-dark">
                          {{product.InternalName}}</a></h5>
                      <h5 class="font-size-18" *ngIf="product && product.RecurringFee"><a class="text-dark">
                          {{product.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</a></h5>
  
                    </div>
                    <div class="price">
                      <div class="detail_btn" routerLink="/product-details/{{product.Id}}">
                        <button type="button" class="button">{{language.productPrice.Productdetails}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="checkUserForSPG(vereinspgTypeProduct)">
                <div class="row product-row" *ngIf="productData && productData.length > 0">
                  <h3 class="product-title">{{language.productPrice.spgType}}</h3>
                  <div class="pricing-option col-lg-3 col-md-6 col-sm-6"
                    *ngFor="let product of vereinspgTypeProduct| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
                    <div>

                    </div>

                    <div class="product_image">
                      <img src="../assets/img/v-logo.png" />
                    </div>
                    <div class="product-details">
                      <p class="font-size-12 mb-1" *ngIf="product && product.planGroup">
                        <span>{{product.planGroup.Name._c}}</span>
                      </p>
                      <h5 class="font-size-18" *ngIf="product && product.InternalName"><a class="text-dark">
                          {{product.InternalName}}</a></h5>
                      <h5 class="font-size-18" *ngIf="product && product.RecurringFee"><a class="text-dark">
                          {{product.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</a></h5>

                    </div>
                    <div class="price">
                      <div class="detail_btn" routerLink="/product-details/{{product.Id}}">
                        <button type="button" class="button">{{language.productPrice.Productdetails}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="row product-row" *ngIf="productData && productData.length > 0">
                <h3 class="product-title">{{language.productPrice.financialType}}</h3>
                <div class="pricing-option col-lg-3 col-md-6 col-sm-6"
                  *ngFor="let product of financialTypeProducts| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
                  <div class="product_image">
                    <img src="../assets/img/v-logo.png" />
                  </div>
                  <div class="product-details">
                    <p class="font-size-12 mb-1" *ngIf="product && product.planGroup">
                      <span>{{product.planGroup.Name._c}}</span>
                    </p>
                    <h5 class="font-size-18" *ngIf="product && product.InternalName"><a class="text-dark">
                        {{product.InternalName}}</a></h5>

                    <h5 class="font-size-18" *ngIf="product && product.RecurringFee"><a class="text-dark">
                        {{product.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</a></h5>
                  </div>

                  <div class="price">
                    <div class="detail_btn" routerLink="/product-details/{{product.Id}}">
                      <button type="button" class="button">{{language.productPrice.Productdetails}}</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row product-row" *ngIf="productData && productData.length > 0">
                <h3 class="product-title">{{language.productPrice.vereinType}} </h3>
                <div class="pricing-option col-lg-3 col-md-6 col-sm-6"
                  *ngFor="let product of vereinCloudTypeProduct| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
                  <div class="product_image">
                    <img src="../assets/img/v-logo.png" />
                  </div>
                  <div class="product-details">
                    <p class="font-size-12 mb-1" *ngIf="product && product.planGroup">
                      <span>{{product.planGroup.Name._c}}</span>
                    </p>
                    <h5 class="font-size-18" *ngIf="product && product.InternalName"><a class="text-dark">
                        {{product.InternalName}}</a></h5>

                    <h5 class="font-size-18" *ngIf="product && product.RecurringFee"><a class="text-dark">
                        {{product.RecurringFee | number : '1.2-2'}} {{language.billwerk.eur}}</a></h5>
                  </div>
                  <div class="price">
                    <div class="detail_btn" routerLink="/product-details/{{product.Id}}">
                      <button type="button" class="button">{{language.productPrice.Productdetails}}</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row product-row" *ngIf="productData && productData.length > 0">
                <h3 class="product-title">{{language.productPrice.additionalalType}} </h3>
                <div class="pricing-option col-lg-3 col-md-6 col-sm-6"
                  *ngFor="let product of productComponent| paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
                  <div class="product_image"*ngIf="product && product.image != '' && product.image != 'undefined' ">
                    <img [src]=" product.image ? product.image: '/assets/img/v-logo.png'" />
                  </div>

                  <div class="product_image" *ngIf="product && product.image == '' || product.image == 'undefined' ">
                    <img [src]="'/assets/img/v-logo.png'" />
                  </div>
                  <div class="product-details">
                    <!-- <p class="font-size-12 mb-1" *ngIf="product && product.product_name">
                      <span>{{product.product_name}}</span>
                    </p> -->
                    <h5 class="font-size-18" *ngIf="product &&  product.product_name"><a class="text-dark">
                        {{ product.product_name}}</a></h5>
                    <h5 class="font-size-18"><a class="text-dark">
                        {{product.price | number : '1.2-2'}} {{language.billwerk.eur}}</a></h5>
                  </div>
                  <div class="price">
                    <div class="detail_btn" routerLink="/product-compoenent-details/{{product.id}}">
                      <button type="button" class="button">{{language.productPrice.Productdetails}}</button>
                    </div>
                  </div>
                </div>

              </div>



              <div
                *ngIf="productData  &&  productData.length == 0 && productComponent &&  productComponent.length == 0 "
                style="text-align: center;">
                <h3>{{language.common.noDataFound}}</h3>
              </div>

              <!-- <div class="row pagination-filter" *ngIf="productData && productData.length > 0">

                <div class="col-lg-0">
                  <pagination-controls (pageChange)="pageChanged($event);"
                    previousLabel={{language.pagination.previous}} nextLabel={{language.pagination.next}}>
                  </pagination-controls>
                </div>
                <div class="col-lg-6">
                  <span>{{language.pagination.go_to_page}}
                    <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
                  </span>
                  <span>{{language.pagination.limit_per_page}}
                    <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                      <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
                        {{limitValue.value}}
                      </option>
                    </select>
                  </span>

                  {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
                  {{ (currentPageNmuber * itemPerPage) >
                  totalRecord ? totalRecord : (currentPageNmuber * itemPerPage) }}
                  {{language.pagination.of}} {{ totalRecord | number }} {{language.productPrice.products}}
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->



<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>