<div class="container" id="container">
  <div class="form-container sign-in-container">
    <div class="error-wrapper">
      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>{{language.login.signIn}}</h1>
      <div class="login-fields">
        <input type="text" class="form-control" placeholder="{{language.login.userEmail}}" name="email"
          formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted &&
          formControls['email'].errors }">
        <span class="danger" *ngIf="isSubmitted &&
          formControls['email'].errors">
          {{language.login.userEmailError}}
        </span>
      </div>
      <div class="login-fields">
        <input type="password" class="form-control" id="inputPassword" name="password"
          placeholder="{{language.login.password}}" formControlName="password" [ngClass]="{ 'is-invalid': isSubmitted &&
          formControls['password'].errors }">
        <span class="danger" *ngIf="isSubmitted &&
          formControls['password'].errors">
          {{language.login.passwordError}}
        </span>
        <span *ngIf="(f['password'].touched || f['password'].dirty) &&
          f['password'].invalid" class="danger">
          <span *ngIf="f['password'].errors && f['password'].errors['pattern']">
            {{language.login.invalidPassword}}
          </span>
        </span>
      </div>
      <a routerLink="/forget-password">{{language.login.forgetPassword}}</a>
      <button type="submit">{{language.login.signIn}}</button>
      <!-- <p>{{language.login.noAccount}}<a routerLink="/signup">{{language.register.signUp}}</a></p>  -->
      <p><a routerLink="/trial-signup">{{language.common.trialMsg}}</a></p>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay form-overlay">
      <div class="overlay-panel overlay-left">
        <h1>{{language.common.welcome}}</h1>
        <p>{{language.common.keepConnected}}</p>
        <button class="ghost" id="signIn">{{language.login.signIn}}</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1> <img class="brand-img" src="../../assets/img/logo.svg" alt="...">S-Verein</h1>
        <p>{{language.common.startJourney}}</p>
        <button class="ghost trial-btn" id="signUp"
          routerLink="/trial-signup">{{language.register.trilasignUp}}</button>
        <!-- <button class="ghost" id="signUp" routerLink="/trial-signup">{{language.common.trialMsg}}</button> -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>