<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.permission.addPermission}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.permission.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/permission">{{language.permission.viewPermission}}</li>
      <li class="active breadcrumb-item">{{language.permission.addPermission}}</li>
    </ol>

  </div>

  <div class="page-content add_content_main">
    <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-inner">
          <!-- tab navigation start -->
          <div class="tabs mb-20">
            <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
              <li role="presentation" class="nav-item">
                <a class="nav-link active p-3">
                  {{language.permission.addPermission}}
                </a>
              </li>
            </ul>
          </div>
          <!-- tab navigation end -->
          <!-- Example Rounded Input -->
          <div class="row">
            <div class="col-md-4">
              <!-- Example Select -->
              <div class="example-wrap m-sm-0">
                <h4 class="example-title">{{language.permission.roleList}}
                </h4>
                <div class="form-group" *ngIf="rolesList.length> 0">
                  <!-- <select class="form-control" name="role"
                        formControlName="roles" onchange="roleSelect($event)">
                        <option *ngFor="let item of rolesList" [value]="item.id"
                          [value]="item.id">{{item['name']}}</option>
                      </select> -->
                  <ng-multiselect-dropdown formControlName="roles" [settings]="rolesSettings" [data]="rolesList"
                    (onSelect)="roleSelect($event)" (onDeSelect)="roleDeSelect($event)">
                  </ng-multiselect-dropdown>
                  <span class="danger" *ngIf="isSubmitted &&
                        formControls['roles'].errors">
                    {{language.error_message.perRoleError}}
                  </span>
                </div>
              </div>
              <!-- End Example Select -->
            </div>
            <div class="col-md-4">
              <!-- Example Select -->
              <div class="example-wrap m-sm-0">
                <h4 class="example-title">{{language.permission.moduleList}}</h4>
                <div class="form-group" *ngIf="modulesList.length> 0">
                  <!-- <select class="form-control" name="modules"
                        formControlName="modules"
                        onchange="moduleSelect($event)">
                        <option *ngFor="let item of modules.module"
                          [value]="item.value">{{item['value']}}</option>
                      </select> -->
                  <ng-multiselect-dropdown formControlName="modules" [settings]="modulesSettings" [data]="modulesList"
                    (onSelect)="moduleSelect($event)" (onDeSelect)="moduleDeSelect($event)">
                  </ng-multiselect-dropdown>
                  <span class="danger" *ngIf="isSubmitted &&
                        formControls['modules'].errors">
                    {{language.error_message.perModuleError}}
                  </span>
                </div>
              </div>
              <!-- End Example Select -->
            </div>
            <div class="col-md-4">
              <!-- Example Select -->
              <div class="example-wrap m-sm-0">
                <h4 class="example-title">{{language.permission.permissionList}}
                </h4>
                <div class="form-group">
                  <ng-multiselect-dropdown formControlName="permissions" [settings]="permissionSettings"
                    [data]="permissionList" (onSelect)="permissionSelect($event)"
                    (onDeSelect)="permissionDeSelect($event)" (onSelectAll)="permissionSelectAll($event)"
                    (onDeSelectAll)="permissionDeSelectAll($event)">
                  </ng-multiselect-dropdown>
                  <span class="danger" *ngIf="isSubmitted &&
                        formControls['permissions'].errors">
                    {{language.error_message.permissionError}}
                  </span>
                </div>
              </div>
              <!-- End Example Select -->
            </div>
          </div>
          <!-- End Example Rounded Input -->
          <div class="panel" *ngIf="error == true || success == true">
            <div class="panel-body">
              <div class="alert alert-danger" role="alert" *ngIf="error == true">
                <span>{{message}}</span>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="success == true">
                <span>{{message}}</span>
              </div>
            </div>
          </div>
          <div class="example example-buttons">
            <div class="float-left">
              <button type="submit" class="btn btn-primary">
                <span class="ladda-label"><i aria-hidden="true" class="icon
                    wb-upload text mr-10"></i>{{language.permission.addPermission}}</span>
                <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>