.nav-tabs-custom {
    border-bottom: 2px solid #f1f5f7;
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}
button.btn.btn-primary i {
    color: #fff;
    font-size: 14px;
}