
<!-- Page -->
<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
  </div>
  <div class="page-header">
    <h1 class="page-title">{{language.slicense.slicense}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.slicense.home}}</a></li>
      <li class="active breadcrumb-item">{{language.slicense.slicense}}</li>
    </ol>
    <div class="page-header-actions text-center header_add_option"
      routerLink="/s-license">
      <button type="button" class="btn btn-floating btn-success btn-sm"
        title="Add s_license"><i class="icon wb-plus" aria-hidden="true"></i></button><br>
    </div>
  </div>
  <div class="page-content add_content_main">
    <!-- Panel -->
    <!-- <div class="panel">
        <form [formGroup]="licenseListForm" (ngSubmit)="onSubmit()" >   
        <div class="panel-heading">
            <h3 class="panel-title pl-20 pb-0">{{language.viewUser.show}}</h3>
          </div>
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                  <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                      <h4 class="example-title">Role</h4>
                      <select class="form-control" name="role" formControlName="role">
                        <option *ngFor="let item of roleData" [value]="item.rid">{{item['name']}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                      <h4 class="example-title">Status</h4>
                      <select class="form-control" name="status" formControlName="status">
                        <option value="1">Active</option>
                        <option value="0">Locked</option>
                      </select>
                    </div>
                   </div>
            </div>
        </div>
        <div class="example example-buttons">
          <div class="float-left">
            <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-success ladda-button">
              <span  class="ladda-label"><i aria-hidden="true" class="icon wb-upload text mr-10"></i>Add Filter</span>
              <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
            </button>
          </div>
      
        </div>
      </form> 
      </div> -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title pl-20 pb-0">{{language.slicense.show}}</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-md-6 col-lg-4">
            <mat-form-field>
              <mat-label>{{language.slicense.filter}}</mat-label>
              <input matInput (keyup)="applyFilter($event)"  placeholder="{{language.common.exsearch}}" #input>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="example table-responsive user-table">


          <table mat-table matSort [dataSource]="dataSource" class="table
            table-striped table-bordered" data-plugin="floatThead">

            <!-- Position Column -->


            <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.slicense.title}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.title}} </td>
            </ng-container>

            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.slicense.description}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.data}} </td>
            </ng-container>

            <ng-container matColumnDef="Domain-Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{language.slicense.domainName}}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.domain}} </td>


            </ng-container>

            <ng-container matColumnDef="Publish_to">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.slicense.publishTo}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.publish_to}} </td>
              <!-- <td class="odd" mat-cell *matCellDef="let dataSource"> 
            <ng-container *ngFor="let item of dataSource.domain">
              {{item.sitename}} <span></span> <br>
            </ng-container>
          </td> -->
            </ng-container>

            <ng-container matColumnDef="Edit-s_license">
              <th mat-header-cell *matHeaderCellDef>{{language.slicense.edit}}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource"><button
                  class="btn btn-warning"
                  routerLink="/edit-s-license/{{dataSource.lid}}"> <i
                    class="icon wb-pencil" aria-hidden="true"></i></button>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>