
h3.panel-title {
    font-weight: 500 !important;
}
.navbar-avatar .avatar {
    width: auto;
}
.navbar-avatar .avatar img {
    width: 34px !important;
    margin-right: 8px;
}
span.avatar.avatar-online span {
    font-size: .9rem;
    color: #636e75;
    font-weight: 500;
    opacity: 0.7;
}
span.avatar.avatar-online i {
    font-size: .9rem;
}
.dropdown-menu.dropdown-menu-right.dropdown-menu-media.show {
    width: 180px;
    right: 20px;
    padding: 0px;
}
span.flag-icon i {
    position: relative;
    right: -25px;
    top: 1px;
    font-size: .9rem;
}
.dropdown-menu.show {
    border:none;
    box-shadow: 0 5px 12px rgb(0 0 0 / 10%);
}
.dropdown-menu.show a{
    margin: 0px;
}
.profile_dd_content ul, .language_menu {
    padding: 10px 0px;
    margin: 0;
}
.dropdown-menu.language_menu.show a {
    display: flex;
    padding-bottom: 8px;
}
.profile_dd_content ul li {
    padding: 0.60rem 1.5rem;
    font-weight: 400;
    color: #212529;
    font-family: Inter, sans-serif;
    font-size: .9rem;
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile_dd_content ul li i{
    font-size: 16px;
}

.profile_dd_content ul li:hover, .dropdown-menu.show a:hover {
background-color: #f8f9fa;
}
.trial_popup{
    text-align: center;
}
.trial_popup .product-img{
    text-align: center;
}
.trial_popup .product-img img{
    max-height: 130px;
}
.trial_popup .modal-body h3{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.trial_popup .modal-body p{
    font-size: 18px;
}
.trial_popup .modal-footer{
    justify-content: center;
}