<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
      data-toggle="menubar">
      <span class="sr-only">{{language.header.toggle_navigation}}</span>
      <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
      <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
      <span class="sr-only">{{language.header.toggle_search}}</span>
      <i class="icon wb-search" aria-hidden="true"></i>
    </button>
  </div>
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link" data-toggle="menubar" role="button">
            <i class="ri-menu-2-line align-middle"></i>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
            aria-expanded="false" role="button">
            <span class="flag-icon flag-icon-gb" *ngIf="displayFlag =='en'"><i class="fa fa-angle-down"
                aria-hidden="true"></i></span>
            <span class="flag-icon flag-icon-de" *ngIf="displayFlag =='de'"><i class="fa fa-angle-down"
                aria-hidden="true"></i></span>
          </a>
          <div class="dropdown-menu language_menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" (click)="onLanguageSelect('en')">
              <span class="flag-icon flag-icon-gb"></span> {{language.language.english}}</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" (click)="onLanguageSelect('de')">
              <span class="flag-icon flag-icon-de"></span>{{language.language.deutsch}}</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngFor="let userData of userData">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
            <span class="avatar avatar-online">

              <img *ngIf="hasPicture == false" src="../assets/img/profile.png">
              <img *ngIf="hasPicture == true" [src]="imagePreview">
              <Span>{{userData['email']}}&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></Span>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="profile_dd_content">
              <ul>
                <li routerLink="/view-profile"> <i class="bx ri-user-2-line"></i> &nbsp;{{language.header.viewProfile}}
                </li>
                <li routerLink="/change-password/{{userData['uid']}}"><i
                    class="bx ri-lock-2-line"></i>&nbsp;{{language.header.changePassword}}</li>
                <li (click)="logout()"><i class="bx ri-logout-box-line"></i>&nbsp;{{language.header.logout}}</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown" *ngIf="!authservice.isAdmin()">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
            <span class="avatar avatar-online">
              <button class="btn btn-primary" routerLink="/product-price">{{language.billwerk.order}}</button>
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown" *ngIf="!authservice.isAdmin()">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
            <span class="avatar avatar-online">
              <Span *ngIf="dayCount"> {{displayMsg}} : {{dayCount}}</Span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Navbar Collapse -->
  </div>
</nav>

<app-push-notification></app-push-notification>
<!-- <app-confirm-dialog></app-confirm-dialog> -->

<div class="modal fade trial_popup" id="trialPop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <figure class="product-img">
          <img src="../assets/img/v-logo.png" alt="" />
        </figure>
        <h3 *ngIf="productName">{{productName}}</h3>
        <p>{{language.billwerk.installationSuccess}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)=" proceed()">{{language.billwerk.proceed}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade trial_popup" id="trial1ProductExpire" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <figure class="product-img">
          <img src="../assets/img/v-logo.png" alt="" />
        </figure>
        <h3 *ngIf="productName">{{productName}}</h3>
        <p style="color:red;">
          {{language.billwerk.subscriptionExpired}}
        </p>
        <p>
          , {{language.billwerk.purchase}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
          (click)="trial1ProductExpire()">{{language.billwerk.continue}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade trial_popup" id="trialspgProductExpire" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <figure class="product-img">
          <img src="../assets/img/v-logo.png" alt="" />
        </figure>
        <h3 *ngIf="productName">{{productName}}</h3>
        <p style="color:red;">
          {{language.billwerk.subscriptionExpired}}
        </p>
        <p>
          , {{language.billwerk.purchase}}
        </p>
        <form [formGroup]="productSelectForm">
          <div class="col-md-12 col-lg-12">
            <div class="example-wrap mb-0 text-left">
              <div class="checkbox-custom checkbox-primary">
                <h4 class="example-title text-left">{{language.billwerk.choosePlan}}</h4>
                <div class="radio-custom radio-primary" *ngFor="let item of vereinspgTypeProduct; let i = index">
                  <input [type]="'radio'" class="input-radio" name="PlanVariantId" formControlName="PlanVariantId"
                    id="{{i}}" [value]="item.Id" (change)="onradioChange(item.Id)" />
                  <label for="{{i}}">{{item.InternalName}}</label>
                </div>
              </div>
              <span class="danger" *ngIf="isSubmitted &&
            formControls['PlanVariantId'].errors">
                {{language.error_message.required}}
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{language.billwerk.continue}}</button>
      </div>
    </div>
  </div>
</div>