<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.billwerk.orderDetails}}</h1>
    <ol class="breadcrumb">
      <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>

      <li class="active breadcrumb-item" (click)="goBack()" *ngIf="backUrl == 'orderHistory'">
        {{language.billwerk.orderHistory}}</li>
      <li class="active breadcrumb-item" (click)="goBack()" *ngIf="backUrl == 'allOrders'">
        {{language.billwerk.orderProductList}}</li>

      <li class="active breadcrumb-item">{{language.billwerk.orderDetails}}</li>
    </ol>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-inner" *ngFor="let item of EnterData">
        <mat-tab-group class="mat-tabular-view">
          <mat-tab label="Order Description">
            <div class="order-description-main">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.id}}</Strong></th>
                    <td>{{item['Id']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.ContractId}}</Strong></th>
                    <td>{{item['Contract']['Id']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.timestamp}}</Strong></th>
                    <td> {{item['CreatedAt'] | date: 'MMM d, y, h:mm:ss a'}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.status}}</Strong></th>
                    <td colspan="2">{{item['Status']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.type}}</Strong></th>
                    <td colspan="2">{{item['OrderType']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.amount}}</Strong></th>
                    <td colspan="2">{{item['TotalGross'] | number : '1.2-2'}} {{language.billwerk.eur}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.psp}}</Strong></th>
                    <td colspan="2" *ngIf="item && !item['Contract']['PaymentProvider']">--</td>
                    <td colspan="2" *ngIf="item && item['Contract']['PaymentProvider']">
                      {{item['Contract']['PaymentProvider']}}</td>

                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.paymentMethod}}</Strong></th>
                    <td colspan="2" *ngIf="item && !item['Contract']['PaymentBearer']">--</td>
                    <td colspan="2" *ngIf="item && item['Contract']['PaymentBearer']">
                      {{item['Contract']['PaymentBearer']['Type']}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Customer Data">
            <div class="order-description-main">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.firstName}}</Strong></th>
                    <td *ngIf="item && !item['Customer']['FirstName']">--</td>
                    <td *ngIf="item && item['Customer']['FirstName']">{{item['Customer']['FirstName']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.lastName}}</Strong></th>
                    <td *ngIf="item && !item['Customer']['LastName']">--</td>
                    <td *ngIf="item && item['Customer']['LastName']">{{item['Customer']['LastName']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.company}} </Strong></th>
                    <td>{{item['Customer']['CompanyName']}} </td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.login.userEmail}}</Strong></th>
                    <td colspan="2">{{item['Customer']['EmailAddress']}}</td>
                  </tr>
                  <!-- <tr>
                                    <th scope="row"><Strong>{{language.addUser.contactNumber}}</Strong></th>
                                    <td colspan="2">{{item['contactNumber']}}</td>
                                  </tr> -->
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.address}}</Strong></th>
                    <td colspan="2">--</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.addUser.country}}</Strong></th>
                    <td colspan="2">{{item['Customer']['Address']['Country']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.city}}</Strong></th>
                    <td colspan="2" *ngIf="item && !item['Customer']['Address']['City']">--</td>
                    <td colspan="2" *ngIf="item && item['Customer']['Address']['City']">
                      {{item['Customer']['Address']['City']}}</td>
                  </tr>
                  <tr>
                    <th scope="row"><Strong>{{language.billwerk.street}}</Strong></th>
                    <td colspan="2" *ngIf="item && !item['Customer']['Address']['Street']">--</td>
                    <td colspan="2" *ngIf="item && item['Customer']['Address']['Street']">
                      {{item['Customer']['Address']['Street']}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="{{language.billwerk.orderItem}}">
            <div class="order-description-main">
              <h1>{{language.billwerk.orderItem}}</h1>
              <h3><strong>{{language.billwerk.plan}}</strong></h3>{{item.PlanName}}
              <h3> <strong>{{language.billwerk.plan}}{{language.billwerk.planVariant}}</strong></h3>
              {{item.PlanVariantName}}
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{language.billwerk.description}}</th>
                    <th scope="col">{{language.billwerk.quantity}}</th>
                    <th scope="col">{{language.billwerk.pricePerUnit}}</th>
                    <th scope="col">{{language.billwerk.net}}</th>
                    <th scope="col">{{language.billwerk.vatPer}}</th>
                    <th scope="col">{{language.billwerk.vat}}</th>
                    <th scope="col">{{language.billwerk.gross}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of item['LineItems']">
                    <td>{{items['Description']}} <br>
                      {{items['ProductDescription']}} <br>
                      {{items['PeriodStart'] | date : 'MMM d, y, h:mm:ss a'}} -
                      {{items['PeriodEnd'] | date : 'MMM d, y, h:mm:ss a'}} <br>

                    </td>

                    <td *ngIf="items && items['Quantity']">{{items['Quantity'] }}</td>

                    <td *ngIf="items && items['PricePerUnit']">{{items['PricePerUnit'] | number : '1.2-2'}}
                      {{language.billwerk.eur}}</td>

                    <td *ngIf="items && items['TotalNet']">{{items['TotalNet'] | number : '1.2-2'}}
                      {{language.billwerk.eur}}</td>

                    <td>{{items['VatPercentage']}}</td>
                    <td>{{items['TotalVat'] | number : '1.2-2'}} {{language.billwerk.eur}}</td>
                    <td>{{items['TotalGross'] | number : '1.2-2'}} {{language.billwerk.eur}}</td>

                  </tr>
                  <tr>

                    <td colspan="6">{{language.billwerk.grandTotal}}</td>
                    <td colspan="1">
                      <h5> {{item.TotalGross | number : '1.2-2'}} {{language.billwerk.eur}} </h5>
                    </td>
                  </tr>
                  <!-- <tr>

                                    <td colspan="6">Total Net</td>
                                    <td colspan="1">
                                        <h5>{{item.Total}}</h5>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="6">Total EUR</td>
                                    <td colspan="1">
                                        <h5>{{item.TotalGross}}</h5>
                                    </td>
                                </tr> -->
                </tbody>
              </table>
            </div>

            <div class="order-description-main">
              <h1>{{language.billwerk.paymentTransactions}}</h1>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{language.billwerk.timestampPayment}}</th>
                    <th scope="col">{{language.billwerk.amount}}</th>
                    <th scope="col">{{language.billwerk.provider}}</th>
                    <th scope="col">{{language.billwerk.paymentMethod}}</th>
                    <th scope="col">{{language.billwerk.status}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{item['CreatedAt']| date : 'MMM d, y, h:mm:ss a'}}</td>
                    <td>{{item['TotalGross'] | number : '1.2-2' }} {{item['Currency']}}</td>
                    <td>

                      <ng-container *ngIf="item && item.Contract.PaymentProvider">
                        {{item.Contract.PaymentProvider}}
                      </ng-container>
                      <ng-container *ngIf="item && !item.Contract.PaymentProvider">
                        --
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="item && item.Contract.PaymentProviderRole">
                        {{item.Contract.PaymentProviderRole}}
                      </ng-container>
                      <ng-container *ngIf="item && !item.Contract.PaymentProviderRole">
                        --
                      </ng-container>
                    </td>
                    <td>{{item['Status']}}</td>

                  </tr>


                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="row">
          <!-- Middle Column -->
          <div class="col-lg-12 col-xl-9 order-xl-2 mb-20">
            <!-- User Background -->
            <button class="btn btn-primary mr-10" *ngIf="item.Status == 'Completed'"
              routerLink="/user-invoice-details/{{item.CustomerId}}/{{item.ContractId}}">View Invoice</button>
            <!-- <button class="btn btn-primary mr-10" *ngIf="item.Status != 'Completed'">Approved</button>
                        <button class="btn btn-danger mr-10">Decline</button>
                        <button class="btn btn-secondary" *ngIf="item.Status != 'Completed'"
                            (click)="commitProduct()">Commit</button> -->
          </div>
          <!-- End Middle Column -->
        </div>
      </div>
    </div>
    <!-- Panel -->
  </div>
  <!-- End Panel -->
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>