<div class="page">
   <div class="alert alert-danger" role="alert" *ngIf="error">
      <span>{{message}}</span>
   </div>
   <div class="page-header">
      <h1 class="page-title">{{language.memberManagement.membersList}}</h1>
      <div class="bread_with_add_btn">
         <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.viewUser.home}}</a></li>
            <li class="active breadcrumb-item">{{language.memberManagement.membersList}}</li>
         </ol>
         <div class="page-header-actions text-center header_add_option" *ngIf="isCustomer()" routerLink="/add-member">
            <button type="button" class="btn btn-floating btn-success btn-sm"
               title="{{language.memberManagement.addMember}}"><i class="icon wb-plus"
                  aria-hidden="true"></i></button><br>
         </div>
      </div>
   </div>


   <div class="page-content add_content_main">
      <div class="panel">
         <div class="panel-inner">
            <!-- tab navigation start -->
            <div class="tabs">
               <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                  <li role="presentation" class="nav-item">
                     <a class="nav-link active p-3">
                        {{language.memberManagement.members}}
                     </a>
                  </li>
               </ul>
            </div>
            <!-- search heading of list start -->
            <div class="list-search-panel mt-10">
               <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                     <label class="control-label">{{language.role.filter}}</label>
                     <select class="form-control" name="type" formControlName="type">
                        <option value="member">{{language.memberManagement.members}}</option>
                        <option value="company">{{language.memberManagement.companies}}</option>
                        <option value="all">{{language.memberManagement.all}}</option>
                     </select>
                  </div>
                  <div class="btns-group mt-10">
                     <div class="btns-set">
                        <button type="submit" data-style="zoom-in" data-plugin="ladda"
                           class="btn btn-primary rounded-pill">{{language.viewUser.addFilter}}</button>
                     </div>
                  </div>
                  <!-- <div class="btns-group mt-10">
                     <div class="btns-set" (click)="reset()">
                        <button type="button" data-style="zoom-in" data-plugin="ladda"
                           class="btn btn-secondary rounded-pill">{{language.common.reset}}</button>
                     </div>
                  </div> -->
               </form>
               <div class="search-list">
                  <mat-form-field>
                     <mat-label>{{language.domain.search}}</mat-label>
                     <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                        autocomplete="off" #input>
                  </mat-form-field>
               </div>
            </div>
            <!-- search heading of list end -->
            <!-- tab navigation end -->
            <!-- search heading of list start -->
            <ng-container *ngIf="filterData == 'member'">

       
               <!-- search heading of list end -->
               <div *ngIf="isData == true">
                  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
                  table-bordered" data-plugin="floatThead">
                     <!-- Position Column -->
                     <ng-container matColumnDef="DOB">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.dob}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.birth_date ">
                              {{row.birth_date | date: 'MMMM d, y'}}

                           </ng-container>
                           <ng-container *ngIf="row && !row.birth_date ">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.viewUser.email}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           {{row.email}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.gender}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.gender">
                              {{row.gender}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.gender">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.firstName}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.firstname">
                              {{row.firstname}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.firstname">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.lastName}} </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.lastname">
                              {{row.lastname}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.lastname">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>


                     <ng-container matColumnDef="responsiblePerson">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.responsiblePerson}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.responsible_person">
                              {{row.responsible_person}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.responsible_person">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="companyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.companyName}} </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.company_name">
                              {{row.company_name}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.company_name">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.status}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           {{row.status}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.mobile}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.mobile">
                              {{row.mobile}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.mobile">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="Edit-Member">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>
                           {{language.memberManagement.editMember}}
                        </th>
                        <td class="odd text-center table_action_edit" mat-cell *matCellDef="let row"><button class="btn"
                              routerLink="/edit-member/{{row.id}}"> <i class="bx ri-pencil-line"></i></button>
                        </td>
                     </ng-container>

                     <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                     <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                     <!-- Row shown when there is no matching data. -->
                     <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                           "{{input.value}}"
                        </td>
                     </tr>

                  </table>

                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
                  </mat-paginator>
               </div>
            </ng-container>

            <ng-container *ngIf="filterData == 'company'">


               
               <!-- search heading of list end -->
               <div *ngIf="isData == true">
                  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
                              table-bordered" data-plugin="floatThead">
                     <!-- Position Column -->
                     <ng-container matColumnDef="DOB">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.dob}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.birth_date ">
                              {{row.birth_date | date: 'MMMM d, y'}}

                           </ng-container>
                           <ng-container *ngIf="row && !row.birth_date ">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.viewUser.email}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           {{row.email}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.gender}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.gender">
                              {{row.gender}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.gender">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.firstName}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.firstname">
                              {{row.firstname}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.firstname">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.lastName}} </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.lastname">
                              {{row.lastname}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.lastname">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>


                     <ng-container matColumnDef="responsiblePerson">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.responsiblePerson}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.responsible_person">
                              {{row.responsible_person}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.responsible_person">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="companyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.companyName}} </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.company_name">
                              {{row.company_name}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.company_name">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.status}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           {{row.status}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.mobile}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.mobile">
                              {{row.mobile}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.mobile">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="Edit-Member">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>
                           {{language.memberManagement.editMember}}
                        </th>
                        <td class="odd text-center table_action_edit" mat-cell *matCellDef="let row"><button class="btn"
                              routerLink="/edit-member/{{row.id}}"> <i class="bx ri-pencil-line"></i></button>
                        </td>
                     </ng-container>

                     <tr mat-header-row *matHeaderRowDef="columnsToDisplaycompany"></tr>
                     <tr mat-row *matRowDef="let row; columns: columnsToDisplaycompany;"></tr>
                     <!-- Row shown when there is no matching data. -->
                     <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                           "{{input.value}}"
                        </td>
                     </tr>

                  </table>

                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
                  </mat-paginator>
               </div>
            </ng-container>
             
            <ng-container *ngIf="filterData == 'all'">


               <!-- search heading of list end -->
               <div *ngIf="isData == true" class="table-responsive">
                  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
                                                                                          table-bordered"
                     data-plugin="floatThead">
                     <!-- Position Column -->
                     <ng-container matColumnDef="DOB">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.dob}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.birth_date ">
                              {{row.birth_date | date: 'MMMM d, y'}}

                           </ng-container>
                           <ng-container *ngIf="row && !row.birth_date ">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.viewUser.email}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           {{row.email}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.gender}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.gender">
                              {{row.gender}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.gender">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.firstName}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.firstname">
                              {{row.firstname}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.firstname">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.lastName}} </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.lastname">
                              {{row.lastname}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.lastname">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>


                     <ng-container matColumnDef="responsiblePerson">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.responsiblePerson}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.responsible_person">
                              {{row.responsible_person}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.responsible_person">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="companyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.companyName}} </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.company_name">
                              {{row.company_name}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.company_name">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.addUser.status}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           {{row.status}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                           {{language.memberManagement.mobile}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                           <ng-container *ngIf="row && row.mobile">
                              {{row.mobile}}
                           </ng-container>
                           <ng-container *ngIf="row && !row.mobile">
                              ---
                           </ng-container>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="Edit-Member">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>
                           {{language.memberManagement.editMember}}
                        </th>
                        <td class="odd text-center table_action_edit" mat-cell *matCellDef="let row"><button class="btn"
                              routerLink="/edit-member/{{row.id}}"> <i class="bx ri-pencil-line"></i></button>
                        </td>
                     </ng-container>

                     <tr mat-header-row *matHeaderRowDef="columnsToDisplayAll"></tr>
                     <tr mat-row *matRowDef="let row; columns: columnsToDisplayAll;"></tr>
                     <!-- Row shown when there is no matching data. -->
                     <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                           "{{input.value}}"
                        </td>
                     </tr>

                  </table>

                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
                  </mat-paginator>
               </div>
            </ng-container>

            <div *ngIf="isData == false" style="text-align: center;">
               <h3>{{language.common.noDataFound}}</h3>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
   <div class="overlay">
      <div class="overlay__inner">
         <div class="overlay__content"><span class="spinner"></span></div>
      </div>
   </div>
</div>