
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size: 14px !important;
  }
  td, th {
    padding: 15px 10px !important ;
    word-break: break-all;
  }
  .header_add_option span{
    margin-top: 5px;
    display: inline-block;
  }
.nav-tabs-custom {
    border-bottom: 2px solid #f1f5f7;
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}
.p-3 {
  padding: 1rem!important;
}
.table-bordered th, .table-bordered td, .table-bordered {
 border: transparent;
 vertical-align: middle !important;
 color:#505d69;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color:#fff !important;
}
tr {
  height: 56px;
  border-top: 1px solid #eff2f7;
}
.page-content.add_content_main table {
  font-family: Inter, sans-serif;
}
.table th {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.page-content table button {
  background: transparent !important;
  border: transparent;
  padding: 0;
}
.table_action {
  text-align: center;
}
td.table_action.view i {
  color: #5664d2;
}