<div class="page">

  <div class="page-header">
    <h1 class="page-title">{{language.permission.viewPermission}}</h1>
    <div class="bread_with_add_btn">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.permission.home}}</a></li>
        <li class="active breadcrumb-item">{{language.permission.viewPermission}}</li>
      </ol>
      <div class="page-header-actions text-center header_add_option" routerLink="/add-permission" *ngIf="authService.isAdmin() || permissions.permission &&
        permissions.permission.includes('ADD')">
        <button type="button" class="btn btn-floating btn-success btn-sm"
          title="{{language.permission.addPermission}}"><i class="icon wb-plus" aria-hidden="true"></i></button><br>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{message}}</span>
  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <!-- tab navigation start -->
        <div class="tabs">
          <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
            <li role="presentation" class="nav-item">
              <a class="nav-link active p-3">
                {{language.permission.viewPermission}}
              </a>
            </li>
          </ul>

        </div>

        <!-- tab navigation end -->
        <!-- search heading of list start -->
        <div class="list-search-panel mt-10">
          <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="control-label">{{language.viewUser.role}}</label>
              <select class="form-control" name="rid" formControlName="rid">
                <option *ngFor="let item of role" [value]="item.rid">{{item['name']}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">{{language.permission.modules}}</label>
              <select class="form-control" name="module" formControlName="module">
                <option *ngFor="let item of modules.module" [value]="item.value">{{item['value']}}</option>
              </select>
            </div>
            <div class="btns-group mt-10">
              <div class="btns-set">
                <button type="submit" data-style="zoom-in"
                  class="btn btn-primary rounded-pill">{{language.viewUser.addFilter}}</button>
              </div>
            </div>
            <div class="btns-group mt-10">
              <div class="btns-set" (click)="reset()">
                <button type="button" data-style="zoom-in" class="btn btn-secondary rounded-pill">Reset</button>
              </div>
            </div>
          </form>
          <div class="search-list">
            <mat-form-field>
              <mat-label>{{language.domain.search}}</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
            </mat-form-field>
          </div>
        </div>
        <!-- search heading of list end -->
        <div *ngIf="isData == true">
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
            class="table table-bordered" data-plugin="floatThead">
            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.permission.roles}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.role}} </td>
            </ng-container>

            <ng-container matColumnDef="modules">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.permission.modules}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.module}} </td>
            </ng-container>

            <ng-container matColumnDef="permissions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.permission.permissions}} </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.permission}} </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <th class="text-center" mat-header-cell *matHeaderCellDef>{{language.permission.delete}}
              </th>
              <td class="odd text-center" mat-cell *matCellDef="let dataSource"> <button
                  class="btn btn-danger text-danger" (click)="modal('delete')" (click)="getPermisionId(dataSource.id)">
                  <i class="bx ri-delete-bin-2-line"></i></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
       
        </div>
        <div *ngIf="isData == false" style="text-align: center;">
          <h3>{{language.common.noDataFound}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{language.permission.delete}}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{language.confirmBox.delete_permission}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger rounded-pill" data-dismiss="modal"
            (click)="modal('yes')">{{language.confirmBox.yes}}</button>
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal"
            data-dismiss="modal">{{language.confirmBox.no}}</button>
        </div>
      </div>
    </div>
  </div>