<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.password.changePassword}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.password.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/view-profile"><a>{{language.password.viewProfile}}</a></li>
    </ol>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <form [formGroup]="changepassForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-body container-fluid">

          <div class="row row-lg">
            <div class="col-md-6 col-lg-4 mt-20">
              <div class="example-wrap mb-0">
                <h4 class="example-title">{{language.password.oldPassword}}</h4>
                <input type="password" class="form-control" id="inputPassword" name="oldPassword"
                  placeholder="{{language.password.oldPassword}}" formControlName="oldPassword"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls['oldPassword'].errors }">
              </div>
              <span class="danger" *ngIf="isSubmitted && formControls['oldPassword'].errors">
                {{language.password.passwordError}}
              </span>
              <span *ngIf="(f['oldPassword'].touched || f['oldPassword'].dirty) && f['oldPassword'].invalid"
                class="danger">
                <span *ngIf="f['oldPassword'].errors && f['oldPassword'].errors['pattern']">
                  {{language.password.invalidPassword}}
                </span>

              </span>
              <span class="danger" role="alert" *ngIf="msg && msg.oldPassword">
                <span>{{msg.oldPassword}}</span>
              </span>

              <br>
            </div>

            <div class="col-md-6 col-lg-4 mt-20">
              <div class="example-wrap mb-0">
                <h4 class="example-title">{{language.password.newPassword}}</h4>
                <input type="password" class="form-control" id="inputPassword" name="password"
                  placeholder="{{language.password.newPassword}}" formControlName="password"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls['password'].errors }">
              </div>
              <span class="danger" *ngIf="isSubmitted && formControls['password'].errors">
                {{language.password.passwordError}}
              </span>
              <span *ngIf="(f['password'].touched || f['password'].dirty) && f['password'].invalid" class="danger">
                <span *ngIf="f['password'].errors && f['password'].errors['pattern']">
                  {{language.password.invalidPassword}}
                </span>

              </span>
              <span class="danger" role="alert" *ngIf="msg && msg.password">
                <span>{{msg.password}}</span>
              </span>
              <br>
            </div>

            <div class="col-md-6 col-lg-4 mt-20">
              <div class="example-wrap mb-0">
                <h4 class="example-title">{{language.password.confirmNewPassword}}</h4>
                <input type="password" class="form-control" placeholder="{{language.password.confirmNewPassword}}" name="confirmPassword"
                  formControlName="confirmPassword"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls['confirmPassword'].errors }">

                <span class="danger" *ngIf="isSubmitted && formControls['confirmPassword'].errors">
                  {{language.password.confirmPassError}}
                </span>

                <span class="danger" *ngIf=" f['confirmPassword'].errors && f['confirmPassword'].errors['mustMatch']">
                  {{language.password.match}}</span>

                <span class="danger" role="alert" *ngIf="msg && msg.confirmPassword">
                  <span>{{msg.confirmPassword}}</span>
                </span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>

      <div class="example example-buttons">
        <div class="float-left">
          <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-primary ladda-button">
            <span class="ladda-label">{{language.password.changePassword}}</span>
            <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
          </button>
        </div>

      </div>
    </form>
  </div>

  <!-- End Page -->