<div class="wrapper ">
     <!-- Navbar -->
     <app-sidebar></app-sidebar>
     <!-- End Navbar -->
    
    <div class="main-panel">
        <app-header></app-header>
        <!-- Main content -->
        <router-outlet></router-outlet>
        <!-- <app-dashboard></app-dashboard> -->
        <!-- Main content ENDS -->
    </div>
</div>
