<div class="card">
  <div class="card-body">
    <div class="profile-navigation">
      <h4 class="widget-title">{{language.viewProfile.profileLinks}}</h4>
      <ul *ngIf="userId">
        <li><a routerLinkActive="active" routerLink="/information/{{userId}}"><i
              class="bx ri-list-ordered"></i>{{language.common.information}}</a></li>

        <li><a routerLinkActive="active" routerLink="/view-profile/{{userId}}"><i
              class="bx ri-user-2-line"></i>{{language.viewProfile.viewProfile}}</a></li>

        <li *ngIf="authService.isAdmin() ||
        permissions.user.includes('ADD','EDIT')"><a routerLinkActive="active" routerLink="/edit-profile/{{userId}}"><i
              class="bx ri-user-settings-line"></i>{{language.viewProfile.editProfile}}</a></li>

        <li><a routerLinkActive="active" routerLink="/contact/{{userId}}"><i
              class="bx ri-contacts-book-2-line"></i>{{language.viewProfile.contact}}</a>
        </li>

        <li *ngIf="!authService.isAdmin() || userId "><a routerLinkActive="active"
            routerLink="/user-docs/{{userId}}"><i class="ri-file-text-line"></i>User Docs</a>
        </li>

        <li><a routerLinkActive="active" routerLink="/user-order-history/{{userId}}"><i
            class="bx ri-contacts-book-2-line"></i>Order History</a>
        </li>
        <li *ngIf="accessSupport == true"><a routerLinkActive="active" routerLink="/members-list/{{userId}}"><i
              class="bx ri-user-settings-line"></i>{{language.memberManagement.memberManagement}}</a>
        </li>
        <li *ngIf="accessSupport == true"><a routerLinkActive="active"
            routerLink="/members-statistics/{{userId}}"><i class="ri-pie-chart-2-line"></i>{{language.memberManagement.memberStatistics}}</a>
        </li>
      </ul>

      <ul *ngIf="!userId">
        <li><a routerLinkActive="active" routerLink="/information"><i
              class="bx ri-list-ordered"></i>{{language.common.information}}</a></li>
        <li><a routerLinkActive="active" routerLink="/view-profile"><i
              class="bx ri-user-2-line"></i>{{language.viewProfile.viewProfile}}</a></li>
        <li><a routerLinkActive="active" routerLink="/edit-profile"><i
              class="bx ri-user-settings-line"></i>{{language.viewProfile.editProfile}}</a></li>
        <li><a routerLinkActive="active" routerLink="/contact"><i
              class="bx ri-contacts-book-2-line"></i>{{language.viewProfile.contact}}</a>
        </li>
        <li *ngIf="!authService.isAdmin() || userId "><a routerLinkActive="active"
            routerLink="/user-docs"><i class="ri-file-text-line"></i>User Docs</a>
       </li>
       <!-- <li><a routerLinkActive="active" routerLink="/user-order-history/{{userId}}"><i
            class="bx ri-contacts-book-2-line"></i>Order History</a>
       </li> -->
      </ul>

      <div class="logout-panel" (click)="logout()">
        <a><i class="bx ri-logout-box-line"></i>{{language.viewProfile.logout}}</a>
      </div>
    </div>
  </div>
</div>