
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <div class="alert alert-danger" role="alert" *ngIf="error == true">
      <span>{{message}}</span>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success == true">
      <span>{{message}}</span>
    </div>
    <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()">
      <h1>{{language.password.forgetPass}}</h1>
      <div class="login-fields">
        <input type="text" class="form-control" placeholder="{{language.login.userEmail}}" name="email"
          formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted && formControls['email'].errors }">
        <span class="danger" *ngIf="isSubmitted && formControls['email'].errors">
          {{language.login.userEmailError}}
        </span>
        <span *ngIf="(f['email'].touched || f['email'].dirty) && f['email'].invalid" class="danger">
          <span *ngIf="f['email'].errors && f['email'].errors['pattern']">{{language.login.invalidEmail}}</span>
        </span>
      </div>
      <button type="submit" style="padding:12px 20px;margin-top:20px;"> {{language.common.submit}}</button>
      <p> {{language.password.click}} <a routerLink="/signup">{{language.register.signUp}}</a></p>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay form-overlay">
      <div class="overlay-panel overlay-left">
        <h1>{{language.common.welcome}}</h1>
        <p>{{language.common.keepConnected}}</p>
        <button class="ghost" id="signIn">{{language.common.signIn}}</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1> <img class="brand-img" src="../../assets/img/logo.svg" alt="...">S-Verein</h1>
        <p>{{language.common.keepConnected}}</p>
        <button class="ghost" id="signUp" routerLink="/signin">{{language.common.signIn}}</button>
      </div>
    </div>
  </div>
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>