<div class="page">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <span>{{error}}</span>
    </div>
    <div class="page-header">
        <h1 class="page-title">{{language.productAssign.productAssign}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{language.productAssign.home}}</a></li>
            <li class="active breadcrumb-item">{{language.productAssign.productAssign}}</li>
        </ol>
    </div>
    <div class="page-content add_content_main">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-12 col-lg-12">
                        <!-- Example Rounded Input -->
                        <div class="example-wrap">
                            <div class="col-md-6 p-0 mt-20">
                                <div class="example-wrap m-sm-0">
                                    <h4 class="example-title">{{language.productAssign.select}}</h4>
                                    <div class="form-group">
                                        <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList"
                                            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="onDeSelect($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Rounded Input -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content add_content_main" *ngIf="visibility == 1
        ||visibility == 2">
        <form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
            <div class="panel">

                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-md-12 col-lg-12">
                            <!-- Example Rounded Input -->
                            <div class="example-wrap">
                                <div class="col-md-6 p-0 mt-20">
                                </div>
                                <div class="col-md-6 p-0 mt-20" *ngIf="visibility == 1">
                                    <!-- Example Select -->
                                    <div class="example-wrap m-sm-0">
                                        <h4 class="example-title">{{language.productAssign.sales}}
                                        </h4>
                                        <div class="form-group">
                                            <ng-multiselect-dropdown [placeholder]="'custom
                                                placeholder'" formControlName="sales_id" [settings]="salesdownSettings"
                                                [data]="salesList" (onSelect)="salesSelect($event)"
                                                (onDeSelect)="salesDeSelect($event)">
                                            </ng-multiselect-dropdown>
                                            <span class="danger" *ngIf="isSubmitted &&
                                                formControls['sales_id'].errors">
                                                {{language.error_message.salesError}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Example Select -->
                                </div>

                                <div class="col-md-6 p-0 mt-20" *ngIf="visibility == 2">
                                    <!-- Example Select -->
                                    <div class="example-wrap m-sm-0">
                                        <h4 class="example-title">{{language.productAssign.distributer}}
                                        </h4>
                                        <div class="form-group">
                                            <ng-multiselect-dropdown formControlName="distributor_id"
                                                [settings]="distributerdownSettings" [data]="distributerList"
                                                (onSelect)="distSelect($event)" (onDeSelect)="distDeSelect($event)">
                                            </ng-multiselect-dropdown>
                                            <span class="danger" *ngIf="isSubmitted &&
                                                formControls['distributor_id'].errors">
                                                {{language.error_message.distributerError}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Example Select -->
                                </div>

                                <div class="col-md-6 p-0 mt-20" *ngIf="products
                                    == true">
                                    <!-- Example Select -->
                                    <div class="example-wrap m-sm-0">
                                        <h4 class="example-title">{{language.productAssign.products}}
                                        </h4>
                                        <div class="form-group">
                                            <ng-multiselect-dropdown formControlName="assignedProducts"
                                                [settings]="productsdownSettings" [data]="productsList"
                                                (onSelect)="productsSelect($event)"
                                                (onDeSelect)="productsDeSelect($event)"
                                                (onSelectAll)="productsSelectAll($event)"
                                                (onDeSelectAll)="productsDeSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                            <span class="danger" *ngIf="isSubmitted &&
                                                formControls['assignedProducts'].errors">
                                                {{language.error_message.productError}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Example Select -->
                                </div>
                            </div>
                            <!-- End Example Rounded Input -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="example example-buttons">
                <div class="float-left">
                    <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-success
                        ladda-button">
                        <span class="ladda-label"><i aria-hidden="true"
                                class="icon wb-upload text mr-10"></i>{{language.productAssign.assignProduct}}</span>
                        <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>