<div class="container">
  <h2>404</h2>
  <h3>{{language.pageNotFound.nothingHere}}</h3>
  <p>{{language.pageNotFound.checkUrl}}</p>
  <p>{{language.pageNotFound.other}} <a routerLink="/dashboard"></a> {{language.pageNotFound.redirect}}.</p>
</div>
