<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.news.addnews}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/view-news">{{language.news.viewnews}}</li>
      <li class="active breadcrumb-item">{{language.news.addnews}}</li>
    </ol>
  </div>
  <form [formGroup]="addNewsForm" (ngSubmit)="onSubmit()">
    <div class="page-content add_content_main">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-lg-6">
              <!-- Example Rounded Input -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.news.title}} <span style="color: red;">*</span></h4>
                <input type="text" class="form-control" id="inputHelpText" placeholder="{{language.news.title}}"
                  name="title" formControlName="title" [ngClass]="{
                  'is-invalid': isSubmitted && formControls['title'].errors }">
                <span class="danger" role="alert" *ngIf="msg &&
                  msg.title">
                  <span>{{msg.title}}</span>
                </span>
                <span class="danger" *ngIf="isSubmitted &&
                  formControls['title'].errors">
                  {{language.error_message.titleError}}
                </span>
              </div>
            </div>
            <!-- <div class="col-lg-6">
              
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.news.imageUpload}}</h4>
                <div class="form-group">
             
                  <div class="input-group input-group-file" data-plugin="inputGroupFile">
                    <input type="text" class="form-control" readonly="">
                    <span class="input-group-btn">
                      <span class="btn btn-warning btn-file">
                        <i class="icon wb-upload" aria-hidden="true"></i>
                        <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg"(change)="uploadFile($event)">
                      </span>
                      <label *ngIf="errorImage.isError" class="text-danger">
                        {{ errorImage.errorMessage }}
                      </label>
                      <span class="danger" *ngIf="isSubmitted &&
                      formControls['imageUpload'].errors">
                         {{language.error_message.required}}
                      </span>
                    </span>
                    <div class="avatar-preview">
                      <div>
                        <img id="imagePreview">
                      </div>
                    </div>
                  </div>
                  <span class="text-help"> {{language.news.fileMsg}} </span>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="form-horizontal mb-20">
                <div class="form-group row">
                  <div class="col-xl-12 col-md-12">
                    <h4 class="example-title">{{language.news.body}} <span style="color: red;">*</span></h4>
                    <angular-editor name="content" formControlName="content" rows="3"
                      placeholder="{{language.news.enter_text}}" data-fv-field="skills" [ngClass]="{ 'is-invalid':
                      isSubmitted && formControls['content'].errors }">
                    </angular-editor>
                    <span class="danger" *ngIf="isSubmitted &&
                      formControls['content'].errors">
                      {{language.error_message.bodyError}}
                    </span>
                    <span class="danger" role="alert" *ngIf="msg &&
                      msg.content">
                      <span>{{msg.content}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <!-- Example File Upload -->
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.news.imageUpload}}</h4>
                <div class="event_upload news_pic_upload">
                  <label class="preview_txt" style="display: none;"></label>
                  <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="uploadFile($event)">
                  <label *ngIf="errorImage.isError" class="text-danger">
                    {{ errorImage.errorMessage }}
                  </label>
                  <span class="danger" *ngIf="isSubmitted &&
                formControls['imageUpload'].errors">
                    {{language.error_message.required}}
                  </span>
                  <span class="event_uplod_overlay avatar-preview">
                    <img src="../assets/img/event_upload.png" id="imagePreview" class="preview_img">
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="inputChecked" (change)="diableField($event)">
                <label for="inputChecked"> {{language.news.autoGenerate}}</label>
                <p class="text-help"> &nbsp;&nbsp;&nbsp;{{language.news.customUrl}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.news.url}}</h4>
                <input type="text" class="form-control" id="inputPlaceholder" name="url" formControlName="url"
                  placeholder="{{language.news.url}}">
                <p class="text-help"> {{language.news.alternateUrl}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="example-wrap mb-20">
                <h4 class="example-title"> {{language.news.youtubeUrl}}</h4>
                <input type="text" class="form-control" id="inputPlaceholder" name="youtube_url"
                  formControlName="youtube_url" placeholder="{{language.news.youtubeUrl}}">
              </div>
            </div>
          </div>
          <div class="row">
            <!-- End Example Rounded Input -->
            <div class="col-md-12">
              <div class="panel" *ngIf="error == true || success == true">
                <div class="panel-body">
                  <div class="alert alert-danger" role="alert" *ngIf="error == true">
                    <span>{{message}}</span>
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="success == true">
                    <span>{{message}}</span>
                  </div>
                </div>
              </div>
              <div class="example example-buttons mt-0">
                <div class="float-left">
                  <button type="submit" class="btn btn-primary">
                    <span class="ladda-label">{{language.news.saveNews}}</span>
                  </button>
                </div>
                <!-- <div class="float-left">
                <button  type="button" data-style="zoom-out" data-plugin="ladda" class="btn btn-warning ladda-button">
                  <span class="ladda-label"><i class="icon wb-eye mr-10" aria-hidden="true"></i>Preview</span>
                  <span class="ladda-spinner"></span>
                </button>
              </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-lg-6">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.news.videUpload}}</h4>
                <div class="form-group">
                  <div class="input-group input-group-file" data-plugin="inputGroupFile">
                    <input type="text" class="form-control" readonly="">
                    <span class="input-group-btn">
                      <span class="btn btn-warning btn-file">
                        <i class="icon wb-upload" aria-hidden="true"></i>
                        <input type="file" name="" (change)="onivideoSelected($event)">
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

        </div>
      </div>
      <!-- End Panel -->
      <!-- Panel -->
    </div>
  </form>
</div>
<!-- End Page -->

<div *ngIf="authService.showLoader">
  <div class="overlay">
     <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
     </div>
  </div>
</div>