
<div class="page">
  <div class="alert alert-danger" role="alert" *ngIf="error">
     <span>{{message}}</span>
  </div>
  <div class="page-header">
     <h1 class="page-title">{{language.club.club}}</h1>
     <div class="bread_with_add_btn">
        <ol class="breadcrumb">
           <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.viewUser.home}}</a></li>
           <li class="active breadcrumb-item">{{language.club.club}}</li>
        </ol>
     </div>
  </div>
  <div class="page-content add_content_main">
     <div class="panel">
        <div class="panel-inner">
           <!-- tab navigation start -->
           <div class="tabs">
              <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                 <li role="presentation" class="nav-item">
                    <a class="nav-link active p-3">
                       {{language.club.club}}
                    </a>
                 </li>
              </ul>
           </div>
           <!-- tab navigation end -->
           <!-- search heading of list start -->
           <div class="list-search-panel mt-10">

              <div class="search-list">
                 <mat-form-field>
                    <mat-label>{{language.domain.search}}</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                       autocomplete="off" #input>
                 </mat-form-field>
              </div>
           </div>
           <!-- search heading of list end -->
           <div *ngIf="isData == true">
              <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
             table-bordered" data-plugin="floatThead">
                 <!-- Position Column -->
           

                 <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       {{language.viewUser.email}}
                    </th>
                    <td class="odd" mat-cell *matCellDef="let row">
                       <a routerLink="/view-profile/{{row.uid}}">{{row.email}}</a>
                    </td>
                 </ng-container>

                 <ng-container matColumnDef="Club-Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       {{language.viewUser.clubname}}
                    </th>
                    <td class="odd" mat-cell *matCellDef="let row">
                       <ng-container *ngIf="row && row.clubName">
                          {{row.clubName}}
                       </ng-container>
                       <ng-container *ngIf="row && !row.clubName">
                          ---
                       </ng-container>
                    </td>
                 </ng-container>

                 <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       {{language.viewUser.status}}
                    </th>
                    <td class="odd" mat-cell *matCellDef="let row">
                       {{row.status}}
                    </td>
                 </ng-container>

                 <ng-container matColumnDef="Membar-Since">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       {{language.viewUser.memberSince}}
                    </th>
                    <td class="odd" mat-cell *matCellDef="let row">
                       {{row.memberSince| date: 'MM/dd/yyyy'}}
                    </td>
                 </ng-container>

                 <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                 <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                 <!-- Row shown when there is no matching data. -->
                 <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                       "{{input.value}}"
                    </td>
                 </tr>

              </table>

              <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
              </mat-paginator>
           </div>

           <div *ngIf="isData == false" style="text-align: center;">
              <h3>{{language.common.noDataFound}}</h3>
           </div>

        </div>
     </div>
  </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
     <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
     </div>
  </div>
</div>