<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.editUser.editUser}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.editUser.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/user"><a>{{language.editUser.userList}}</a></li>
      <li class="active breadcrumb-item">{{language.editUser.editUser}}</li>

    </ol>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-lg-3 col-sm-6">
              <div class="avatar_main">
                <div class="avatar-upload">
                  <label *ngIf="errorImage.isError" class="text-danger">
                    {{ errorImage.errorMessage }}
                  </label>
                  <div class="avatar-preview">
                    <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                    <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">

                    <!-- <h1  id="textPreview"></h1> -->
                  </div>
                  <div class="avatar-edit">
                    <input type='file' (change)="uploadFile($event)" id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"><i class="bx ri-pencil-line"></i></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-sm-6">
              <div class="row row-lg">
                <div class="col-md-12 col-lg-6">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.userEmail}} <span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" placeholder="{{language.editUser.userEmail}}" name="email"
                      formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted
                  && formControls['email'].errors }">
                    <!-- <span class="text-help">{{language.editUser.emailMsg}}</span> -->
                    <span class="danger" *ngIf="isSubmitted &&
                  formControls['email'].errors">
                      {{language.error_message.userEmailError}}
                    </span>
                    <span *ngIf="(formControls['email'].touched || formControls['email'].dirty) &&
                  formControls['email'].invalid" class="danger">
                      <span
                        *ngIf="formControls['email'].errors && formControls['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
                    </span>
                    <span class="danger" role="alert" *ngIf="msg && msg.email">
                      <span>{{msg.email}}</span>
                    </span>
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="example-wrap mb-0">
                    <h4 class="example-title">{{language.editUser.password}}</h4>
                    <input type="password" class="form-control" id="inputPassword" name="password"
                      placeholder="{{language.editUser.password}}" formControlName="password" [ngClass]="{ 'is-invalid':
                  isSubmitted && formControls['password'].errors }">
                  </div>
                  <span *ngIf="(formControls['password'].touched || formControls['password'].dirty) &&
                formControls['password'].invalid" class="danger">
                    <span *ngIf="formControls['password'].errors &&
                  formControls['password'].errors['pattern']">
                      {{language.error_message.invalidPassword}}
                    </span>
                  </span><br>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="example-wrap mb-0">
                    <h4 class="example-title">{{language.editUser.confirm_password}}</h4>
                    <input type="password" class="form-control" placeholder="{{language.editUser.confirm_password}}"
                      name="confirmPassword" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': isSubmitted &&
                  formControls['confirmPassword'].errors }">
                    <span class="text-help">{{language.editUser.passwordMsg}}</span>
                    <span class="danger"
                      *ngIf=" formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['mustMatch']">
                      {{language.password.match}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- status start -->
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <div class="example-wrap mb-20">
                <h4 class="example-title mt-20">{{language.editUser.status}}<span style="color: red;">*</span></h4>
                <div class="example-wrap add-role">

                  <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                    <div class="radio-custom radio-primary">
                      <input type="radio" value="1" name="status" formControlName="status" [checked]="checked == 1">
                      <label for="inputRadiosChecked">{{language.editUser.active}}</label>
                    </div>
                    <div class="radio-custom radio-primary">
                      <input type="radio" value="0" name="status" formControlName="status" [checked]="checked == 0">
                      <label for="inputRadiosChecked">{{language.editUser.locked}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- status End -->
          <!-- roles start -->
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <div class="example-wrap mb-20">
                <h4 class="example-title">{{language.editUser.role}}<span style="color: red;">*</span></h4>
                <div class="example-wrap add-role" *ngFor="let roleDatas of
                  roleData;">
                  <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" formArrayName="userRole" [value]="roleDatas.rid"
                      (change)="onCheckRole($event)" [checked]="roleDatas.r_id">
                    <label for="inputChecked">{{roleDatas['name']}} </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- roles end -->
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <div class="panel-heading">
                <h4 class="example-title">{{language.editUser.personalInfo}}</h4>
              </div>
              <div class="row row-lg">

                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.firstName}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" name="firstName"
                      placeholder="{{language.editUser.firstName}}" formControlName="firstName" [ngClass]="{ 'is-invalid':
                    isSubmitted && formControls['firstName'].errors }">
                    <span class="danger" *ngIf="isSubmitted && formControls['firstName'].errors">
                      {{language.error_message.firstNameError}}
                    </span>
                    <span *ngIf="(formControls['firstName'].touched || formControls['firstName'].dirty) &&
                    formControls['firstName'].invalid" class="danger">
                      <span *ngIf="formControls['firstName'].errors &&
                      formControls['firstName'].errors['pattern']">{{language.error_message.invalidfirstName}}</span>
                    </span>
                    <span class="danger" role="alert" *ngIf="msg && msg.firstName">
                      <span>{{msg.firstName}}</span>
                    </span>
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.lastName}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" name="lastName" placeholder="{{language.editUser.lastName}}"
                      formControlName="lastName" [ngClass]="{ 'is-invalid':
                    isSubmitted && formControls['lastName'].errors }">
                    <span class="danger" *ngIf="isSubmitted &&
                    formControls['lastName'].errors">
                      {{language.error_message.lastNameError}}
                    </span>
                    <span *ngIf="(formControls['lastName'].touched || formControls['lastName'].dirty) &&
                    formControls['lastName'].invalid" class="danger">
                      <span *ngIf="formControls['lastName'].errors &&
                      formControls['lastName'].errors['pattern']">{{language.error_message.invalidlastName}}</span>
                    </span>
                    <span class="danger" role="alert" *ngIf="msg && msg.lastName">
                      <span>{{msg.lastName}}</span>
                    </span>
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.society}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" name="society" placeholder="{{language.editUser.society}}"
                      formControlName="society" [ngClass]="{ 'is-invalid':
                    isSubmitted && formControls['society'].errors }">
                    <span class="danger" *ngIf="isSubmitted &&
                    formControls['society'].errors">
                      {{language.error_message.societyError}}
                    </span>
                    <span class="danger" role="alert" *ngIf="msg && msg.society">
                      <span>{{msg.society}}</span>
                    </span>
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <!-- Example Placeholder -->
                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.addressLine1}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" name="addressLine1"
                      placeholder="{{language.editUser.addressLine1}}" formControlName="addressLine1" [ngClass]="{ 'is-invalid':
                    isSubmitted && formControls['addressLine1'].errors }">
                    <span class="danger" *ngIf="isSubmitted &&
                    formControls['addressLine1'].errors">
                      {{language.error_message.addressLine1Error}}
                    </span>
                    <span class="danger" role="alert" *ngIf="msg &&
                    msg.addressLine1">
                      <span>{{msg.addressLine1}}</span>
                    </span>

                  </div>
                  <!-- End Example Placeholder -->
                </div>

                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.addressLine2}}</h4>
                    <input type="text" class="form-control" name="addressLine2"
                      placeholder="{{language.editUser.addressLine2}}" formControlName="addressLine2">
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.zipCode}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" name="zipcode" placeholder="{{language.editUser.zipCode}}"
                      formControlName="zipcode" [ngClass]="{ 'is-invalid':
                    isSubmitted && formControls['zipcode'].errors }">
                    <span class="danger" *ngIf="isSubmitted &&
                    formControls['zipcode'].errors">
                      {{language.error_message.zipError}}
                    </span>
                    <span *ngIf="(formControls['zipcode'].touched || formControls['zipcode'].dirty) &&
                    formControls['zipcode'].invalid" class="danger">
                      <span *ngIf="formControls['zipcode'].errors &&
                      formControls['zipcode'].errors['pattern']">{{language.error_message.zipInvalid}}</span>
                    </span>

                    <span class="danger" role="alert" *ngIf="msg && msg.zipcode">
                      <span>{{msg.zipcode}}</span>
                    </span>

                    <span class="danger" *ngIf="formControls['zipcode'].errors?.['minlength']">
                      {{language.error_message.zipCodeMin}}
                    </span>
                    <span class="danger" *ngIf="formControls['zipcode'].errors?.['maxlength']">
                      {{language.error_message.zipCodeMax}}
                    </span>
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.place}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" placeholder="{{language.editUser.place}}" name="place"
                      formControlName="place" [ngClass]="{ 'is-invalid': isSubmitted
                    && formControls['place'].errors }">
                    <span class="danger" *ngIf="isSubmitted &&
                    formControls['place'].errors">
                      {{language.error_message.placeError}}
                    </span>
                    <span class="danger" role="alert" *ngIf="msg && msg.place">
                      <span>{{msg.place}}</span>
                    </span>
                    <!-- <span *ngIf="(f['place'].touched || f['place'].dirty) && f['place'].invalid" class="danger">
                           <span *ngIf="f['place'].errors && f['place'].errors['place']">Place is invalid</span>
                        </span>   -->
                  </div>
                  <!-- End Example Placeholder -->
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <h4 class="example-title">{{language.editUser.contactNumber}}<span style="color: red;">*</span></h4>
                    <input type="text" class="form-control" placeholder="{{language.editUser.contactNumber}}"
                      name="contactNumber" formControlName="contactNumber" [ngClass]="{ 'is-invalid': isSubmitted &&
                    formControls['contactNumber'].errors }">
                    <span class="danger" *ngIf="isSubmitted &&
                    formControls['contactNumber'].errors">
                      {{language.error_message.contactError}}
                    </span>
                    <span *ngIf="(formControls['contactNumber'].touched ||
                    formControls['contactNumber'].dirty) && formControls['contactNumber'].invalid" class="danger">
                      <span *ngIf="formControls['contactNumber'].errors &&
                      formControls['contactNumber'].errors['pattern']">{{language.error_message.contactInvalid}}</span>
                    </span>
                    <span class="danger" role="alert" *ngIf="msg &&
                    msg.contactNumber">
                      <span>{{msg.contactNumber}}</span>
                    </span>

                    <span class="danger" *ngIf="formControls['contactNumber'].errors?.['minlength']">
                      {{language.error_message.contactNumberMin}}
                    </span>
                    <span class="danger" *ngIf="formControls['contactNumber'].errors?.['maxlength']">
                      {{language.error_message.contactNumberMax}}
                    </span>
                  </div>
                  <!-- End Example Placeholder -->
                </div>

                <div class="col-md-6 col-lg-4">
                  <!-- Example Placeholder -->
                  <div class="example-wrap mb-20">
                    <div class="example-wrap">
                      <h4 class="example-title">{{language.editUser.country}}<span style="color: red;">*</span></h4>
                      <div class="form-group">
                        <div class="example-wrap m-sm-0">
                          <div class="form-group">
                            <select class="form-control" name="country" formControlName="country" [ngClass]="{ 'is-invalid':
                            isSubmitted && formControls['country'].errors }">
                              <option>Germany</option>
                              <option>Switzerland</option>
                              <option>Austria</option>
                            </select>
                            <span class="danger" *ngIf="isSubmitted &&
                            formControls['country'].errors">
                              {{language.error_message.countryError}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Example Placeholder -->
                </div>
              </div>
            </div>
          </div>
          <!-- payment details  -->
          <div class="row row-lg">
            <div class="col-md-12 col-lg-12">
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="example-title">{{language.addUser.paymentDetail}}</h4>
                </div>
                <div class="row row-lg">
                  <div class="col-md-6 col-lg-3">
                    <div class="example-wrap mb-0">
                      <h4 class="example-title">{{language.productPrice.iban}}</h4>
                      <input type="text" class="form-control" placeholder="iban" (keyup)="validIban($event)" name="iban"
                        formControlName="iban">
                      <span class="danger" *ngIf="isValidIban">
                        {{isValidIban}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- payment details  End-->

          <div *ngIf="error == true || success == true">

            <div class="alert alert-danger" role="alert" *ngIf="error ==
                          true">
              <span>{{message}}</span>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="success
                          == true">
              <span>{{message}}</span>
            </div>

          </div>
          <div class="example example-buttons mt-0">
            <div class="float-left">
              <button type="submit" class="btn btn-primary">
                <span class="ladda-label">{{language.editUser.updateUser}}</span>
                <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
              </button>
            </div>
            <div class="float-left" *ngIf="authService.isAdmin() || permissions.user &&
              permissions.user.includes('DELETE')">
              <button type="button" class="btn btn-danger" (click)="deleteUser()">
                <span class="ladda-label">{{language.editUser.deleteAccount}}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- End Page -->

  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>

  <!-- 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{language.editUser.deleteAccount}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{language.confirmBox.delete_user}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"
            (click)="modal('yes')">{{language.confirmBox.yes}}</button>
          <button type="button" class="btn btn-success" data-dismiss="modal"
            data-dismiss="modal">{{language.confirmBox.no}}</button>
        </div>
      </div>
    </div>
  </div> -->