
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size: 14px !important;
  }
  td, th {
    padding: 15px 10px !important ;
  }
  .header_add_option span{
    margin-top: 5px;
    display: inline-block;
  }
.nav-tabs-custom {
    border-bottom: 2px solid #f1f5f7;
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #5664d2;
  background-color: #fff;
  border-bottom: 2px solid #5664d2;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 500;
  color: #5664d2;
}
.p-3 {
  padding: 1rem!important;
}
.table-bordered th, .table-bordered td, .table-bordered {
 border: transparent;
 vertical-align: middle !important;
 color:#505d69;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color:#fff !important;
}
tr {
  height: 56px;
  border-top: 1px solid #eff2f7;
}
.page-content.add_content_main table {
  font-family: Inter, sans-serif;
}
.table th {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.page-content table button {
  background: transparent !important;
  border: transparent;
  padding: 0;
}
.table_action {
  text-align: center;
}
td.table_action.view i {
  color: #5664d2;
}





.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.white_btn {
  background-color: #fff;
  border: 1px solid #95a2b4;
  border-radius: 12px;
  padding: 15px 25px;
  color: #677180;
  font-size: 16px;
  font-weight: 500;
}
.page-title h2 {
  margin: 0;
}
.white_btn .create_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.title-wrapper .white_btn {
  margin-top: 10px;
}
.survey-tabs-wrapper {
  width: 100%;
}
.chat-navigation a.nav-link.active:before,
.chat-navigation a.nav-link:hover:before,
.chat-navigation a.nav-link:before {
  background-image: none;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  .chat-navigation .nav-tabs .nav-item {
    width: 100%;
  }
  .chat-navigation a.nav-link {
    padding-left: 0 !important;
  }
}
.title-btn-group {
  margin-bottom: 0px;
}
.survey_action {
  display: inline-block;
  margin-right: 10px;
}
.survey_action_main {
  float: right;
}
.table-responsive {
  font-family: 'poppinsregular';
}
.pagination-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
::ng-deep .mat-tab-label-content {
  color: #424d5c;
  font-size: 14px;
  font-family: 'Poppinsregular';
  font-weight: 500;
}
::ng-deep .mat-tab-label-active .mat-tab-label-content{
  color: red;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background: red;
}
.survey_action_main {
  float: right;
}
.survey_action {
  display: inline-block;
}
.survey_action .btn{
  background-color: #e12217;
  color: #fff;
  padding: 8px 12px;
  text-transform: capitalize;
}

.survey_action .btn:hover{
  color: #fff;
}
.survey_action_main {
  float: right;
}
.survey_action_main .btn {
  margin-right: 5px;
}
.tasks_navigation a.nav-link {
  border-bottom: 2px solid transparent !important;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.tasks_navigation a.nav-link:hover {
  background: transparent;
  border: transparent;
}
.tasks_navigation a.nav-link.active {
  border-bottom: 2px solid #5664d2 !important;
  border: none;
}
.tasks_navigation a.nav-link.active div{
  color: #5664d2;
}
.tasks_navigation a.nav-link div{
  font-family: Inter, sans-serif;
}
.tasks_navigation {
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.mat-tab-label-content {
  text-transform: capitalize;
}
