<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.memberManagement.departmentList}}</h1>
    <div class="bread_with_add_btn">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.role.home}}</a></li>
        <li class="active breadcrumb-item">{{language.memberManagement.departmentList}}</li>
      </ol>
      <div class="page-header-actions text-center header_add_option">
        <button type="button" (click)="openModal()" class="btn btn-floating btn-success btn-sm"
          title="{{language.departMent.addDepartment}}"><i class="icon wb-plus" aria-hidden="true"></i></button><br>
      </div>
    </div>
  </div>
  <div class="page-content add_content_main">

    <div class="panel">
      <div class="panel-inner">
        <!-- tab navigation start -->
        <div class="tabs">
          <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
            <li role="presentation" class="nav-item">
              <a class="nav-link active p-3">
                {{language.memberManagement.departmentList}}
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="isData == true">
          <div class="alert alert-danger" role="alert" *ngIf="error == true">
            <span>{{message}}</span>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            <span>{{message}}</span>
          </div>
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.role.filter}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
            class="table table-bordered" data-plugin="floatThead">
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.role.name}} </th>
              <td mat-cell *matCellDef="let element"> {{element.department_name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                {{language.Survey.edit}} </th>
              <td mat-cell *matCellDef="let element" class="table_action_edit text-center"> <button class="btn
                            btn-warning" routerLink="/edit-department/{{element.id}}">
                  <i class="bx ri-pencil-line"></i></button>
              </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                {{language.common.delete}} </th>
              <td mat-cell *matCellDef="let element" class="table_action_edit text-center"> <button class="btn btn-danger text-danger" (click)="deleteDepartment(element.id)">
                  <i class="bx ri-delete-bin-2-line"></i></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns:
                        columnsToDisplay;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.role.noData}}
                "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>

        <div *ngIf="isData == false" style="text-align: center;">
          <h3>{{language.common.noDataFound}}</h3>
        </div>

      </div>
    </div>

    <!-- form section start for adding roles -->

    <!-- End Panel -->


    <div *ngIf="authService.showLoader">
      <div class="overlay">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
    </div>


  
<div class="modal fade" id="department" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{language.departMent.addDepartment}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="d1" class="col-form-label">{{language.departMent.departmentName}} <span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="d1" placeholder="Department Name" name="department"
            formControlName="department" [ngClass]="{ 'is-invalid': isSubmitted &&
        formControls['department'].errors }">
          </div>
       
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorModal == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="successModal == true">
        <span>{{message}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">{{language.register.close}}</button>
        <button type="submit" class="btn btn-primary"> {{language.departMent.addDepartment}} </button>
      </div>
    </div>
  </div>
  </form>
</div>