


<div class="container-fluid">
  <div class="outer-main">
<div class="page-header ">
  <h1 class="page-title">{{language.news.news}}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
    <li class="active breadcrumb-item">{{language.news.news}}</li>
  </ol>
</div>
<div class="page-content">
  <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel widget_inner">
        <div class="panel-body container-fluid">
          <div class="col-md-12">
            <div class="row" *ngIf="EnterData && EnterData.length > 0">
              <div class="pricing-option col-lg-3 col-md-6 col-sm-6" *ngFor="let item of EnterData 
                | paginate:{itemsPerPage: itemPerPage,currentPage: currentPageNmuber, totalItems: totalRecord}">
                <div class="product_image">
                  <img *ngIf="item && !item.image" src="../assets/img/v-logo.png" />
                  <img *ngIf="item && item.image" [src]="item.image" />

                </div>
                <div class="product-details">
                  <h5 class="font-size-18"><a class="text-dark"> {{item['title']}}</a></h5>
                  <p class="font-size-12 mb-1">
                    <span class="text-dark">{{ (item['content'].length > 0 )? (item['content'] |
                      slice:0:50)+'..':(item['content']) }} </span>
                  </p>
                  <h5 class="font-size-18 news-footer">
                    <span class="text-dark"><p class="text-dark"><strong>{{language.news.author}} :-</strong> {{item['author']}}
                      <h3>{{item['created']| date:
                        'MMM d'}}</h3>
                    </span>
                  </h5>
                </div>
                <div class="price" routerLink="/news-description/{{item['url']}}">
                  <div class="detail_btn">
                    <button type="button" class="button">{{language.news.continueRead}}</button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="EnterData && EnterData.length == 0" style="text-align: center;">
              <h3>{{language.common.noDataFound}}</h3>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>

        <div class="row pagination-filter" *ngIf="EnterData && EnterData.length > 0">

          <div class="col-lg-0">
            <pagination-controls (pageChange)="pageChanged($event);" previousLabel={{language.pagination.previous}}
              nextLabel={{language.pagination.next}}>
            </pagination-controls>
          </div>
          <div class="col-lg-6">
            <span>{{language.pagination.go_to_page}}
              <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
            </span>
            <span>{{language.pagination.limit_per_page}}
              <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
                  {{limitValue.value}}
                </option>
              </select>
            </span>

            {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
            {{ (currentPageNmuber * itemPerPage) >
            totalRecord ? totalRecord : (currentPageNmuber * itemPerPage) }}
            {{language.pagination.of}} {{ totalRecord | number }} {{language.news.news}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.showLoader">
      <div class="overlay">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Page -->
