<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.Survey.survey_vote}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.survey_vote}}</a></li>
            <li class="breadcrumb-item" routerLink="/survey"><a>{{language.Survey.survey_vote}} </a></li>
            <li class="breadcrumb-item"><a>{{language.Survey.survey_vote}}</a></li>
        </ol>
    </div>
    <div class="page-content">
        <div class="panel" *ngIf="error == true || success == true">
            <div class="panel-body">
                <div class="alert alert-danger" role="alert" *ngIf="error ==
                          true">
                    <span>{{message}}</span>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success
                          == true">
                    <span>{{message}}</span>
                </div>
            </div>
        </div>
        <!-- Panel -->
        <div class="panel">
            <div class="panel-inner">
                <div class="row">
                    <div class="survey-view-wrapper" *ngFor="let item of surveyData">
                        <div class="row" *ngIf="item.status == 1">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title-survey-wrap">
                                            <h2>{{item.title}}</h2>
                                            <div class="msg-by-right">
                                                <label>By <a>{{item.author}}</a></label>
                                                <div class="duration">{{item.month}}</div>
                                            </div>
                                        </div>
                                        <div class="msg-text-wrap">
                                            <p [innerHTML]="item.description"></p>
                                            <div *ngIf="alreadyVoted == 0 || alreadyVoted == 2 ">

                                                <div class="alert alert-warning" *ngIf="item.votingOption == 0">
                                                    <img src="assets/img/info-icon.svg"
                                                        alt="" />{{language.Survey.single_option}}
                                                </div>
                                                <div class="alert alert-warning" *ngIf="item.votingOption == 1">
                                                    <img src="assets/img/info-icon.svg"
                                                        alt="" />{{language.Survey.multiple_option}}
                                                </div>
                                                <div class="voting-options" *ngIf="item.votingOption == 0">
                                                    <form [formGroup]="surveyVoteForm" (ngSubmit)="serveyProcess()">
                                                        <div class="radio-custom radio-primary"
                                                            *ngFor="let fields of item.surveyAnswerOption; let i = index">
                                                            <input [type]="'radio'" class="input-radio" name="radio"
                                                                id="{{i}}" [value]="fields.id"
                                                                (change)="onradioChange($event)" />
                                                            <label for="{{i}}">{{fields.survey_answer}}</label>
                                                        </div>
                                                        <div *ngIf="errorAnswer.isError == true" class="text-danger">
                                                            {{ errorAnswer.errorMessage }}
                                                        </div>

                                                        <div class="btn-block">
                                                            <button class="btn btn-primary rounded-pill" type="button"
                                                                *ngIf="btnDisable == false"
                                                                disabled>{{language.Survey.to_vote}}!</button>
                                                            <button class="btn btn-primary rounded-pill" type="submit"
                                                                *ngIf="btnDisable == true">{{language.Survey.to_vote}}!</button>
                                                            <span class="duration-left">{{item.dayLeft}}</span>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="divider-line"></div>

                                                <div class="voting-options" *ngIf="item.votingOption == 1">
                                                    <form [formGroup]="surveyVoteForm" (ngSubmit)="serveyProcess()">
                                                        <div class="custom-control custom-radio"
                                                            *ngFor="let fields of item.surveyAnswerOption; let i = index">

                                                            <input [type]="'checkbox'" class="input-checkbox" id="{{i}}"
                                                                [value]="fields.id"
                                                                (change)="onCheckboxChange($event)" />

                                                            <label for="{{i}}">{{fields.survey_answer}}</label>
                                                        </div>
                                                        <div *ngIf="errorAnswer.isError == true" class="text-danger">
                                                            {{ errorAnswer.errorMessage }}
                                                        </div>

                                                        <div class="btn-block">
                                                            <button class="btn btn-primary rounded-pill" type="button"
                                                                *ngIf="btnDisable == false"
                                                                disabled>{{language.Survey.to_vote}}!</button>
                                                            <button class="btn btn-primary rounded-pill" type="submit"
                                                                *ngIf="btnDisable == true">{{language.Survey.to_vote}}!</button>
                                                            <span class="duration-left">{{item.dayLeft}}</span>
                                                        </div>
                                                    </form>
                                                </div>


                                            </div>

                                            <div *ngIf="alreadyVoted == 1">
                                                <div class="alert alert-info">
                                                    {{language.Survey.thanks_vote}} {{item.created_at.split('T')[0] | date:
                                                    'MM/dd/yyyy' }}
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="item.status == 0">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title-survey-wrap">
                                            <h2>{{item.title}}</h2>
                                            <div class="msg-by-right">
                                                <label>{{language.Survey.by}}
                                                    <a>{{item.author}}</a></label>
                                                <div class="duration">{{item. month}}</div>
                                            </div>
                                        </div>
                                        <div class="msg-text-wrap">
                                            <p [innerHTML]="item.description"></p>
                                            <div class="card-body">
                                                <div class="empty-data-image">

                                                    <h3>{{language.Survey.survey_close}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="item.showVote == true">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body" *ngIf="votesurveyanswer">
                                        <div class="title-survey-wrap">
                                            <h2>{{language.Survey.voting_result}}<span>({{language.Survey.total_vote}}
                                                    :{{votesurveyanswer[0].TotalVoteCount}})</span>
                                            </h2>
                                        </div>
                                        <div class="voting-results-graph"
                                            *ngFor="let item of votesurveyanswer[1] ; let i = index;">
                                            <div class="voting-results-wrap">
                                                <div class="vote-info">
                                                    <div class="date">{{item.survey_answer}}</div>
                                                    <div class="vote-info-right">
                                                        <div class="vote-inner">
                                                            <div class="votes-count">
                                                                <span>{{item.votedUsers.length}}{{language.Survey.votes}}</span>
                                                            </div>
                                                            <div class="votes-show-all"
                                                                *ngIf="(authService.isAdmin()) || item.additional_anonymous_voting == false">
                                                                <a data-bs-toggle="modal" data-bs-target="#exModal"
                                                                    (click)="showAll(item.id)">
                                                                    <a>{{language.Survey.show_all}}</a>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <div *ngIf="i == 0">
                                                            <progress-bar [progress]="item.per" [color]="'#ff3d60'">
                                                            </progress-bar>
                                                        </div>
                                                        <div *ngIf="i == 1">
                                                            <progress-bar [progress]="item.per" [color]="'#5664d2'">
                                                            </progress-bar>
                                                        </div>
                                                        <div *ngIf="i == 2">
                                                            <progress-bar [progress]="item.per" [color]="'#fcb92c'">
                                                            </progress-bar>
                                                        </div>
                                                        <div *ngIf="i == 3 || i > 3">
                                                            <progress-bar [progress]="item.per" [color]="'#1cbb8c'">
                                                            </progress-bar>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Middle Column -->
                    <div class="col-lg-12 col-xl-9 order-xl-2">
                        <!-- User Background -->
                        <div class="user-background card card-shadow profile_info">

                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12 page-main">

                                        <div class="error alert alert-danger" id="responseMessage"
                                            *ngIf="responseMessage">{{responseMessage}}</div>

                                    </div>
                                </div>
                            </div>



                            <div class="modal fade" id="showAll" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">{{language.Survey.voting_setting}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" *ngIf="showall && showall.survey_answer">
                                            <p>{{language.Survey.people_voting}}:<br><strong>{{showall.survey_answer}}</strong> 
                                            </p>
                                            <p>{{language.Survey.people_voting}} :<br>
                                                <strong>{{showall.votedUsers.length}}</strong></p>
                                            <div *ngFor="let item of showall.votedUsers">
                                                <strong *ngIf="item && item.voterName">{{item.voterName}}</strong>
                                               <strong *ngIf="item && !item.voterName">{{language.Survey.anonymous}}</strong>  <br>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">{{language.Survey.close}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- End Middle Column -->

                    <!-- Left Column -->

                    <!-- End Left Column -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>