.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.white_btn {
  background-color: #fff;
  border: 1px solid #95a2b4;
  border-radius: 12px;
  padding: 15px 25px;
  color: #677180;
  font-size: 16px;
  font-weight: 500;
}
.page-title h2 {
  margin: 0;
}
.white_btn .create_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.title-wrapper .white_btn {
  margin-top: 10px;
}
.survey-tabs-wrapper {
  width: 100%;
}
.chat-navigation a.nav-link.active:before,
.chat-navigation a.nav-link:hover:before,
.chat-navigation a.nav-link:before {
  background-image: none;
}

.table {
  background-color: #f7f7f9;
  margin: 25px 0 0;
}
.table th {
  text-transform: capitalize;
}
.table td,
.table th {
  border-color: #e5e9f2;
  color: #424d5c;
  font-size: 15px;
  padding: 20px 15px;
}
.table td .btn {
  border: 1px solid #e12217;
    border-radius: 4px;
    background: #e12217;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    text-transform: capitalize;
}
.table-responsive {
  overflow: auto;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  .chat-navigation .nav-tabs .nav-item {
    width: 100%;
  }
  .chat-navigation a.nav-link {
    padding-left: 0 !important;
  }
}
.title-btn-group {
  margin-bottom: 0px;
}
.survey_action {
  display: inline-block;
  margin-right: 10px;
}
.survey_action_main {
  float: right;
}
.table-responsive {
  font-family: 'poppinsregular';
}
.pagination-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
::ng-deep .mat-tab-label-content {
  color: #424d5c;
  font-size: 14px;
  font-family: 'Poppinsregular';
  font-weight: 500;
}
::ng-deep .mat-tab-label-active .mat-tab-label-content{
  color: red;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background: red;
}
.survey_action_main {
  float: right;
}
.survey_action {
  display: inline-block;
}
.survey_action .btn{
  background-color: #e12217;
  color: #fff;
  padding: 8px 12px;
  text-transform: capitalize;
}

.survey_action .btn:hover{
  color: #fff;
}
.survey_action_main {
  float: right;
}
.survey_action_main .btn {
  margin-right: 5px;
}
.tasks_navigation a.nav-link {
  border-bottom: 2px solid transparent !important;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.tasks_navigation a.nav-link:hover {
  background: transparent;
  border: transparent;
}
.tasks_navigation a.nav-link.active {
  border-bottom: 2px solid #5664d2 !important;
  border: none;
}
.tasks_navigation a.nav-link.active div{
  color: #5664d2;
}
.tasks_navigation a.nav-link div{
  font-family: Inter, sans-serif;
}
.tasks_navigation {
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.mat-tab-label-content {
  text-transform: capitalize;
}
