<!-- Page -->

<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.Survey.survey}}</h1>
        <div class="bread_with_add_btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
                <li class="active breadcrumb-item">{{language.Survey.survey}}</li>
            </ol>
            <div *ngIf="(authService.isAdmin())  || permissions.survey && permissions.survey.includes('ADD') " class="page-header-actions text-center header_add_option"
                routerLink="/create-survey">
                <button type="button" class="btn btn-floating btn-success btn-sm"
                    title="{{language.Survey.create_survey}}"><i class="icon wb-plus"
                        aria-hidden="true"></i></button><br>
            </div>
        </div>
    </div>
    <div class="page-content add_content_main">
        <!-- Panel -->
        <div class="content">
            <div class="row">
                <div class="col-md-12 page-main">
                    <div class="title-wrapper">

                    </div>
                    <div class="survey-tabs-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tasks_navigation">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="head-allTask"
                                                        (click)="onSurvey('1')">
                                                        <div class="mat-tab-label-content">
                                                            {{language.Survey.active_survey}}</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="head-personalTask" (click)="onSurvey('2')">
                                                        <div class="mat-tab-label-content">{{language.Survey.my_votes}}
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="head-groupTask" (click)="onSurvey(3)">
                                                        <div class="mat-tab-label-content">
                                                            {{language.Survey.completed_votes}}</div>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                        </div>
                                        <div class="tab-content">
                                            <div class="active" id="tabs-1" *ngIf="displayActiveSurvey">
                                                <div class="chat-navigation">
                                                    <div class="tab-content">
                                                        <app-active-survey></app-active-survey>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="" id="tabs-2" *ngIf="displayMySurvey">
                                                <div class="chat-navigation">
                                                    <div class="tab-content">
                                                        <app-my-votes></app-my-votes>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="" id="tabs-3" *ngIf="displayCompletedSurvey">
                                                <div class="chat-navigation">
                                                    <div class="tab-content">
                                                        <app-completed-survey></app-completed-survey>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<!-- End Page -->