<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.componentProduct.orderDetails}}</h1>
        <ol class="breadcrumb">
            <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>

            <li class="active breadcrumb-item" (click)="goBack()" *ngIf="backUrl == 'orderHistory'">
                {{language.billwerk.orderHistory}}</li>
            <li class="active breadcrumb-item" (click)="goBack()" *ngIf="backUrl == 'allOrders'">
                {{language.billwerk.orderProductList}}</li>

            <li class="active breadcrumb-item">{{language.componentProduct.orderDetails}}</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-inner" *ngFor="let item of EnterData">
                <mat-tab-group class="mat-tabular-view">
                    <mat-tab label="Order Description">
                        <div class="order-description-main">
                            <table class="table table-bordered">
                                <tbody>

                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.timestamp}}</Strong></th>
                                        <td> {{item['created_at'] | date: 'MMM d, y, h:mm:ss a'}}</td>

                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.amount}}</Strong></th>
                                        <td>{{item.price}} {{language.billwerk.eur}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.psp}}</Strong></th>

                                        <td>{{item.payment_provider}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.paymentMethod}}</Strong></th>
                                        <td>Bank Account</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.componentProduct.chairman_name}}</Strong></th>
                                        <td>{{item.chairman_name}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.productPrice.holderName}}</Strong></th>
                                        <td>{{item.account_holder_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Customer Data">
                        <div class="order-description-main">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.firstName}}</Strong></th>
                                        <td>{{item.firstname}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.lastName}}</Strong></th>
                                        <td>{{item.lastname}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.company}} </Strong></th>
                                        <td>{{item.society}}</td>

                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.login.userEmail}}</Strong></th>
                                        <td>{{item.mail}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.address}}</Strong></th>
                                        <td>{{item.address}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.addUser.country}}</Strong></th>
                                        <td>{{item.country}}</td>  
                                    </tr>
                                    <tr>
                                        <th scope="row"><Strong>{{language.billwerk.city}}</Strong></th>
                                        <td>{{item.city}}</td>   

                                    </tr>
                             
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{language.billwerk.orderItem}}">
                        <div class="order-description-main">
                            <h1>{{language.billwerk.orderItem}}</h1>
                            <h3><strong>{{language.billwerk.plan}}</strong>{{item.product_name}}</h3>
                            <h3> <strong></strong></h3>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">{{language.billwerk.description}}</th>
                                        <th scope="col">{{language.billwerk.pricePerUnit}}</th>
                                        <th scope="col">{{language.billwerk.gross}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{item['description']}} <br>
                                        </td>
                                        <td>{{item['price'] | number : '1.2-2'}}
                                            {{language.billwerk.eur}}</td>
                                        <td>{{item['price'] | number : '1.2-2'}} {{language.billwerk.eur}}</td>

                                    </tr>
                                    <tr>

                                        <td colspan="2">{{language.billwerk.grandTotal}}</td>
                                        <td colspan="1">
                                            <h5> {{item.price | number : '1.2-2'}} {{language.billwerk.eur}} </h5>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </mat-tab>
                </mat-tab-group>
                <div class="row">
                    <!-- Middle Column -->
                    <div class="col-lg-12 col-xl-9 order-xl-2 mb-20">
                        <!-- User Background -->
                        <button class="btn btn-primary mr-10" *ngIf="item.Status == 'Completed'"
                            routerLink="/user-invoice-details/{{item.CustomerId}}/{{item.ContractId}}">View
                            Invoice</button>
                    </div>
                    <!-- End Middle Column -->
                </div>
            </div>
        </div>
        <!-- Panel -->
    </div>
    <!-- End Panel -->
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>