<div class="page-content add_content_main">
  <div class="panel" *ngIf="error == true || success == true">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" *ngIf="error == true">
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        <span>{{message}}</span>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-inner">
      <!-- search heading of list start -->
      <div *ngIf="isData == true" class="table-responsive">
        <!-- search heading of list end -->
        <div class="list-search-panel mt-10">
          <div class="search-list">
            <mat-form-field appearance="standard">
              <mat-label>{{language.common.search}}</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
            </mat-form-field>
          </div>

          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
            class="table table-bordered" data-plugin="floatThead">
  
            <ng-container matColumnDef="Plan">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.product.productName}}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.product_name}}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.billwerk.amount }}
              </th>
              <td class="odd" mat-cell *matCellDef="let dataSource">
                {{dataSource.price | number : '1.2-2'}} {{language.billwerk.eur}}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Order-Details">
              <th mat-header-cell *matHeaderCellDef>{{language.billwerk.orderDetails}}
  
              </th>
              <td class="odd table_action view" mat-cell *matCellDef="let dataSource">
                <button class="btn" routerLink="/component-product-order-details/{{dataSource.id}}"> <i class="bx ri-eye-line"></i></button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.common.doNot}}
                {{input.value}}
              </td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
          class="table table-bordered" data-plugin="floatThead">


          <ng-container matColumnDef="Plan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{language.product.productName}}
            </th>
            <td class="odd" mat-cell *matCellDef="let dataSource">
              {{dataSource.product_name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{language.billwerk.amount }}
            </th>
            <td class="odd" mat-cell *matCellDef="let dataSource">
              {{dataSource.price | number : '1.2-2'}} {{language.billwerk.eur}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Order-Details">
            <th mat-header-cell *matHeaderCellDef>{{language.billwerk.orderDetails}}

            </th>
            <td class="odd table_action view" mat-cell *matCellDef="let dataSource">
              <button class="btn" routerLink="/component-product-order-details/{{dataSource.id}}"> <i
                  class="bx ri-eye-line"></i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">{{language.common.doNot}}
              {{input.value}}
            </td>
          </tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
      </div>

      <div *ngIf="isData == false" style="text-align: center;">
        <h3>{{language.common.noDataFound}}</h3>
      </div>

    </div>
  </div>


</div>
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>