


<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>


<!-- Page -->

<div class="page-content">
    <!-- Panel -->
    <div class="panel">

        <div class="panel-body container-fluid">
            <div class="row">
                <!-- Middle Column -->
                <div class="col-lg-12 order-xl-2">
                    <!-- User Background -->
                    <div class="user-background card card-shadow
                        profile_info" *ngIf="EnterData && EnterData.length > 0">
                        <div class="card-header card-header-transparent
                            p-20">
                            <h4 class="card-title mb-0">{{language.news.news}}</h4>
                        </div>
                        <div class="page-content" *ngFor="let item of EnterData">
                          <div class="back_btn"> <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/all-news"><mat-icon>subdirectory_arrow_left</mat-icon>&nbsp;Back to News</button></div>
                            <div class="panel">
                              <div class="panel-body container-fluid">
                                <div class="row">
                                  <div class="col-xl-5">
                                    <div class="product-image">
                                      <div class="product-img">
                                        <img class="img-fluid" *ngIf="item && !item.image" src="../assets/img/v-logo.png" />
                                        <img class="img-fluid" *ngIf="item && item.image" [src]="item.image" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-7">
                                    <div class="product-details">
                                      <h5 class="font-size-20">{{item['title']}}</h5>
                                      <p class="font-size-12 mb-1">{{item['content']}}</p>
                                      <div class="divider-line"></div>
                                      <div class="plans-description">
                                        <div class="row">

                                          <div class="col-lg-4 col-xs-6 col-sm-6">
                                            <div class="plans_details">
                                              <p class="text-muted mb-0">{{language.news.author}}</p>
                                              <h5>{{item['author']}} </h5>
                                            </div>
                                          </div>

                                          <div class="col-lg-4 col-xs-6 col-sm-6">
                                            <div class="plans_details">
                                              <p class="text-muted mb-0">Created At</p>
                                              <h5>{{item['created']| date:
                                                'MMM d'}}</h5>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="divider-line"></div>
                                      <!-- order button section start -->
    
                                    </div>
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="user-background card card-shadow profile_info" *ngIf="EnterData && EnterData.length ==  0">
                        <div class="card-header card-header-transparent
                        p-20">
                        <h4 class="card-title mb-0">{{language.news.news}}</h4>
                    </div>
                      <div  class="page-content">
                        <div style="text-align: center;">
                            <h3>{{language.common.noDataFound}}</h3>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- End Middle Column -->
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>
<!-- End Page -->
