<div class="alert alert-danger" id="responseMessage" *ngIf="responseMessage">{{responseMessage}}</div>
<div class="survey-main"  >
    <table class="table table-responsive" *ngIf="myVotes && myVotes.length > 0">
        <thead>
            <tr>
                <th>{{language.Survey.title}}</th>
                <th>{{language.Survey.author}}</th>
                <th>{{language.Survey.active_form}}</th>
                <th>{{language.Survey.remaining_time}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of myVotes | paginate: {itemsPerPage: itemPerPage,  currentPage: currentPageNmuber,  totalItems: totalMyVotes  }">
                <td>{{item.title}}</td>
                <td>
                    {{item.author}}
                </td>
                <td>{{item.created_at.split('T')[0] | date: 'd MMM y'}}</td>
                <td>{{item.dayCount}} {{item.remain}}</td>
                <td>
                    <div class="table-action-main">
                        <div class="table-action-btn" routerLink="/survey-view/{{item.id}}"><a><i
                                    class="bx ri-eye-line text-primary"></i><br><span>{{language.Survey.view}}</span></a></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row pagination-filter" *ngIf="myVotes && myVotes.length > 0">
    <div class="col-lg-0">
        <pagination-controls (pageChange)="pageChanged($event);" previousLabel={{language.pagination.previous}}
          nextLabel={{language.pagination.next}}>
        </pagination-controls>
      </div>
      <div class="col-lg-6">
        <span>{{language.pagination.go_to_page}}
          <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)">
        </span>
        <span>{{language.pagination.limit_per_page}}
          <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
            <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
              {{limitValue.value}}
            </option>
          </select>
        </span>

        {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to
        {{ (currentPageNmuber * itemPerPage) >
        totalMyVotes ? totalMyVotes : (currentPageNmuber * itemPerPage) }}
        {{language.pagination.of}} {{ totalMyVotes | number }} {{language.Survey.survey}}
      </div>
</div>

<div class="empty-data-image" *ngIf="myVotes && myVotes.length == 0">
    <span>{{language.Survey.no_votes}}</span>
</div>