<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.viewProfile.user}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>{{language.viewProfile.user}}</a></li>
      <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.viewProfile.home}}</a></li>
      <li class="active breadcrumb-item">{{language.viewProfile.viewProfile}}</li>
    </ol>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngIf="EnterData && EnterData.length > 0">
        <div class="profile-sidebar">
          <div class="profile-sidebar-inner">
            <div class="card">
              <div class="card-body">
                <div class="profile-img">
                  <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                    <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                    <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                  </a>
                </div>
                <div class="profile-media" *ngFor="let item of EnterData">
                  <h4 class="profile-user">{{item.mail}}</h4>
                  <p class="user-job" *ngIf="item && item.society"><strong>{{language.news.club}}:</strong>{{item.society}}</p>
                </div>
              </div>
            </div>

            <app-profile-sidebar [userId]="id" [userData]="EnterData"></app-profile-sidebar>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6" *ngFor="let item of EnterData">
        <div class="profile-description">
          <div class="card">
            <div class="card-header">{{language.viewProfile.viewProfile}}</div>
            <div class="card-body">
              <div class="card-details">
                <div class="row">
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['firstName']">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.firstName}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-user-2-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['firstName']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['lastName']">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.lastName}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-user-2-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['lastName']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['mail']">
                    <div class="profile-details mb-20">
                      <label>{{language.editUser.userEmail}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-mail-add-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['mail']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['society']">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.society}} </label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-user-follow-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['society']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['contactNumber']">
                    <div class="profile-details mb-20">
                      <label>Contact Number</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-cellphone-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['contactNumber']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['country']">
                    <div class="profile-details mb-20">
                      <label>Country</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-map-pin-2-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['country']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['place']">
                    <div class="profile-details mb-20">
                      <label>Place</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-road-map-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['place']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['addressLine1']">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.address}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-treasure-map-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['addressLine1']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['addressLine1']">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.address}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-treasure-map-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['addressLine1']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-6" *ngIf="item && item['ibanValue']">
                    <div class="profile-details mb-20">
                      
                      <label>{{language.productPrice.iban}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-account-box-line"></i></span>
                        <div class="profile-in">
                          <span>{{item['ibanValue']}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                  <!-- details field start -->
                  <!-- <div class="col-md-12 col-lg-6" *ngIf="item && item['accountNumber']">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.accountNum}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-account-box-line"></i></span>
                        <div class="profile-in">
                          <span> {{item['accountNumber']}}</span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- details field end -->
                  <!-- details field start -->
                  <div class="col-md-12 col-lg-6" *ngIf="item && item['role']; ">
                    <div class="profile-details mb-20">
                      <label>{{language.viewProfile.role}}</label>
                      <div class="profile-d-inner">
                        <span class="profile-ic"><i class="bx ri-user-2-line"></i></span>
                        <div class="profile-in">
                          <span *ngFor="let role of item['role'] ;let i = index">
                            {{role['role']}}<span *ngIf="i != (item['role'].length-1)">,</span><br>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- details field end -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="" *ngIf="memberData && memberData.length > 0 && isCustomer()">
          <div class="alert alert-danger" role="alert" *ngIf="error == true">
            <span>{{message}}</span>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            <span>{{message}}</span>
          </div>
          <div class="profile-description">
            <div class="card">
              <div class="card-header">{{language.common.viewAccess}}</div>
              <div class="card-body">
                <div class="card-details">
                  <div class="row">
                    <!-- details field start -->
                    <div class="col-md-12 col-lg-6">
                      <div class="profile-details mb-20">
                        <div class="profile-d-inner" style="border: none;">
                          <div class="profile-in">
                            <div class="row row-lg">
                              <div class="col-md-12 col-lg-12">
                                <div class="example-wrap mb-20">
                                  <div class="example-wrap add-role">
                                    <mat-slide-toggle [checked]="accessSupport" (change)="onCheckRole($event)">{{language.common.supportAccess}}</mat-slide-toggle>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- details field end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Page -->
  <div *ngIf="authService.showLoader">
    <div class="overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
  </div>