
<div class="page">
    <div class="alert alert-danger" role="alert" *ngIf="error">
       <span>{{message}}</span>
    </div>
    <div class="page-header">
       <h1 class="page-title">{{language.salesPartner.salesPartner}}</h1>
       <div class="bread_with_add_btn">
          <ol class="breadcrumb">
             <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.viewUser.home}}</a></li>
             <li class="active breadcrumb-item">{{language.salesPartner.salesPartner}}</li>
          </ol>
       </div>
    </div>
    <div class="page-content add_content_main">
       <div class="panel">
          <div class="panel-inner">
             <!-- tab navigation start -->
             <div class="tabs">
                <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                   <li role="presentation" class="nav-item">
                      <a class="nav-link active p-3">
                         {{language.salesPartner.salesPartner}}
                      </a>
                   </li>
                </ul>
             </div>
             <!-- tab navigation end -->
             <!-- search heading of list start -->
             <div class="list-search-panel mt-10">
                <div class="search-list">
                   <mat-form-field>
                      <mat-label>{{language.domain.search}}</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}"
                         autocomplete="off" #input>
                   </mat-form-field>
                </div>
             </div>
             <!-- search heading of list end -->
             <div *ngIf="isData == true">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table
               table-bordered" data-plugin="floatThead">
                   <!-- Position Column -->
                   <ng-container matColumnDef="Email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                         {{language.viewUser.email}}
                      </th>
                      <td class="odd" mat-cell *matCellDef="let row">
                         <a routerLink="/view-profile/{{row.uid}}">{{row.mail}}</a>
                      </td>
                   </ng-container>
  
                   <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                         {{language.viewUser.status}}
                      </th>
                      <td class="odd" mat-cell *matCellDef="let row">
                         {{row.status}}
                      </td>
                   </ng-container>
  
                   <ng-container matColumnDef="Membar-Since">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                         {{language.viewUser.memberSince}}
                      </th>
                      <td class="odd" mat-cell *matCellDef="let row">
                         {{row.membersince| date: 'MM/dd/yyyy'}}
                      </td>
                   </ng-container>
  
                   <ng-container matColumnDef="View-Profile">
                      <th class="text-center" mat-header-cell *matHeaderCellDef>
                         {{language.customerAssign.viewCustomerAssign}}
                      </th>
                      <td class="odd table_action view" mat-cell *matCellDef="let row"><button
                            class="btn btn-outline-secondary" routerLink="/assigned-customers/{{row.uid}}"> <i
                               class="bx ri-user-2-line"></i></button>
                      </td>
                   </ng-container>
                   <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                   <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                   <!-- Row shown when there is no matching data. -->
                   <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">{{language.viewUser.doNot}}
                         "{{input.value}}"
                      </td>
                   </tr>
                </table>
  
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
                </mat-paginator>
             </div>
  
             <div *ngIf="isData == false" style="text-align: center;">
                <h3>{{language.common.noDataFound}}</h3>
             </div>
  
          </div>
       </div>
    </div>
  </div>
  <!-- End Page -->
  <div *ngIf="authService.showLoader">
    <div class="overlay">
       <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
       </div>
    </div>
  </div>