<!-- Page -->
<div class="page">
    <div class="page-header">
      <h1 class="page-title">{{language.editProfile.user}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>{{language.editProfile.user}}</a></li>
        <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.editProfile.home}}</a></li>
        <li class="active breadcrumb-item">{{language.dashboard.orderHistory}}</li>
      </ol>
    </div>
  
    <div class="page-content">
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngIf="EnterData && EnterData.length > 0">
          <div class="profile-sidebar">
            <div class="profile-sidebar-inner">
              <div class="card">
                <div class="card-body">
                  <div class="profile-img">
                    <a class="avatar img-bordered avatar-100" href="javascript:void(0)">
                      <img *ngIf="hasPicture == false" id="imagePreview" src="../assets/img/profile.png">
                      <img *ngIf="hasPicture == true" id="imagePreview" [src]="imagePreview">
                    </a>
                  </div>
                  <div class="profile-media" *ngFor="let item of EnterData">
                    <h4 class="profile-user">{{item.mail}}</h4>
                    <p class="user-job" *ngIf="item && item.society"><strong>{{language.news.club}}:</strong>{{item.society}}</p>
                  </div>
                </div>
              </div>
              <app-profile-sidebar [userId]="id" [userData]="EnterData"></app-profile-sidebar>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6">
          <div class="profile-description">
            <div class="card">
              <div class="card-header">{{language.dashboard.orderHistory}}</div>
              <div class="card-body">
                <div class="tasks_navigation">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="head-allTask" (click)="onSelectCategory('1')">
                                <div class="mat-tab-label-content">{{language.sideBar.allOrders}} </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="head-personalTask" (click)="onSelectCategory('2')">
                                <div class="mat-tab-label-content">{{language.componentProduct.addCompOrdersList}} </div>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                </div>
                <div class="tab-content">
                    <div class="active" id="tabs-1" *ngIf="displayAllOrderedList">
                        <div class="chat-navigation">
                            <div class="tab-content">
                                <app-user-order-history-list [userId]="id"></app-user-order-history-list>
                            </div>
                            <!-- <div class="tab-content" *ngIf="!authService.isAdmin()">
                                <app-order-history></app-order-history>
                            </div> -->
                        </div>
                    </div>
                    <div class="" id="tabs-2"*ngIf="displayAdditionalComponents" >
                        <div class="chat-navigation">
                            <div class="tab-content">
                                <app-user-additional-order-history-list [userId]="id"></app-user-additional-order-history-list>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  
  <!-- Button trigger modal -->
  
