.profile_info h5 {
    font-size: 15px;
}
.user-base.card-block {
    color: #263238;
}

.page-profile .profile-user {
    margin: 10px 0px !important;
    color: #263238;
    font-size: 1.286rem;
    text-transform: capitalize;
  }
  .user-info {
    border: transparent;
    box-shadow: 0px 0px 6px 3px #f1f4f5;
}
.profile_info h5.card-title {
    padding: 10px 10px;
    background: #f1f4f5;
    margin:10px;
}
.profile-action a {
    color: #263238 ;
    padding-top: 10px;
}
