<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{language.billwerk.invoiceDetails}} </h1>
        <ol class="breadcrumb">
            <li class="active breadcrumb-item" routerLink="/dashboard"><a>{{language.common.home}}</a></li>
            <li class="active breadcrumb-item">{{language.billwerk.invoiceDetails}}</li>
        </ol>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel" *ngIf="EnterData && EnterData.length > 0">
            <div class="panel-body container-fluid" *ngFor="let item of EnterData">
                <div class="row">
                    <!-- Middle Column -->
                    <div class="col-lg-12 col-xl-9 order-xl-2">
                        <!-- User Background -->
                        <div class="user-background card card-shadow profile_info">
                            <div class="card-header card-header-transparent p-20">
                                <h4 class="card-title mb-0">{{language.billwerk.recipient}}</h4>

                                <h5 class="card-title">
                                    <span><i class="icon wb-user-circle mr-10" aria-hidden="true"></i><strong>
                                        {{language.billwerk.name}}:-</strong>{{item['RecipientName']}}</span>
                                </h5>
                                <h5 class="card-title">
                                    <span><i class="icon fa-map-marker mr-10"
                                            aria-hidden="true"></i><strong>{{language.billwerk.street}} :-</strong>
                                        {{item['RecipientAddress']['Street']}}</span>
                                </h5>
                                <h5 class="card-title">
                                    <span><i class="icon fa-map-o mr-10" aria-hidden="true"></i><strong>{{language.billwerk.city}} :-</strong>
                                        {{item['RecipientAddress']['City']}}</span>
                                </h5>
                                <h5 class="card-title">
                                    <span><i class="icon wb-users mr-10" aria-hidden="true"></i><strong>{{language.billwerk.vat}} {{language.billwerk.id}} :-</strong>
                                        -</span>
                                </h5>
                                <h1 class="card-title">
                                    <span><strong>{{language.billwerk.invoic}} :-</strong>
                                        {{item['Id']}}</span>
                                </h1>

                            </div>

                            <div class="card-header card-header-transparent p-20">
                                <h4 class="card-title mb-0">{{language.billwerk.orderItem}}</h4>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{language.billwerk.description}}</th>
                                            <th scope="col">{{language.billwerk.quantity}}</th>
                                            <th scope="col">{{language.billwerk.pricePerUnit}}</th>
                                            <th scope="col">{{language.billwerk.net}}</th>
                                            <th scope="col">{{language.billwerk.vatPer}}</th>
                                            <th scope="col">{{language.billwerk.vat}}</th>
                                            <th scope="col">{{language.billwerk.gross}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let items of item['ItemList']">
                                            <td>{{items['Description']}} <br>
                                                {{items['ProductDescription']}} <br>
                                                {{items['PeriodStart'] | date: 'M.d.yyyy, h:mm a'}} -
                                                {{items['PeriodEnd'] | date: 'M.d.yyyy, h:mm a'}} <br>

                                            </td>
                                            <td>{{items['Quantity']}}</td>
                                            <td>{{items['PricePerUnit'] | number : '1.2-2'}}  {{language.billwerk.eur}}</td>
                                            <td>{{items['TotalNet'] | number : '1.2-2'}}  {{language.billwerk.eur}}</td>
                                            <td>{{items['VatPercentage']}}</td>
                                            <td>{{items['TotalVat']}}</td>
                                            <td>{{items['TotalGross'] | number : '1.2-2'}} {{language.billwerk.eur}}</td>

                                        </tr>
                                        <tr>

                                            <td colspan="6">{{language.billwerk.grandTotal}}</td>
                                            <td colspan="1">
                                                <h5>  {{item.TotalGross | number : '1.2-2'}} {{language.billwerk.eur}}</h5>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>

                        <button class="btn btn-primary" (click)="downloadInvoice()">{{language.billwerk.download}}</button>

                    </div>
                    <!-- End Middle Column -->

                    <!-- Left Column -->

                    <!-- End Left Column -->
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body container-fluid" *ngIf="EnterData && EnterData.length <1">
                <div class="row">
                    <!-- Middle Column -->
                    <div class="col-lg-12 col-xl-9 order-xl-2">
                        <!-- User Background -->
                        <div class="user-background card card-shadow profile_info">
                            <div class="card-header card-header-transparent p-20">

                                <p>{{language.billwerk.noInvoice}}</p>


                            </div>



                        </div>



                    </div>
                    <!-- End Middle Column -->

                    <!-- Left Column -->

                    <!-- End Left Column -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>