<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">
      {{language.productAssign.assignedProducts}}
    </h1>
    <div class="bread_with_add_btn">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.viewUser.home}}</a></li>
        <li class="active breadcrumb-item">
          {{language.productAssign.assignedProducts}}
        </li>
      </ol>
      <div class="page-header-actions text-center header_add_option" routerLink="/assign-products-user">
        <button type="button" class="btn btn-floating btn-success btn-sm"
          title="{{language.productAssign.assignProduct}}"><i class="icon wb-plus" aria-hidden="true"></i></button><br>
      </div>
    </div>
  </div>
  <div class="page-content add_content_main">
    <div class="panel">
      <div class="panel-inner">
        <!-- tab navigation start -->
        <div class="tabs">
          <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
            <li role="presentation" class="nav-item">
              <a class="nav-link active p-3">
                {{language.productAssign.assignedProducts}}
              </a>
            </li>
          </ul>
        </div>
        <!-- tab navigation end -->
        <!-- search heading of list start -->
        <div *ngIf="isData == true">
          <div class="list-search-panel mt-10">
            <div class="search-list">
              <mat-form-field>
                <mat-label>{{language.role.filter}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="{{language.common.exsearch}}" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- search heading of list end -->
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
            class="table table-bordered" data-plugin="floatThead">
            <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.productAssign.customerName}}</th>
              <td mat-cell *matCellDef="let element"> {{element.userName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="assignedProducts">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.productAssign.assignedProducts}} </th>
              <td mat-cell *matCellDef="let element">
                {{element.product_name}}

              </td>
            </ng-container>
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{language.news.author}} </th>
              <td mat-cell *matCellDef="let element">
                {{element.author}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns:
                        columnsToDisplay;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">{{language.role.noData}}
                "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>
        </div>

        <div *ngIf="isData == false" style="text-align: center;">
          <h3>{{language.common.noDataFound}}</h3>
        </div>

      </div>
    </div>

    <!-- End Panel -->

    <div *ngIf="authService.showLoader">
      <div class="overlay">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
    </div>