/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.row-lg>.col, .row-lg>.col-1, .row-lg>.col-10, .row-lg>.col-11, .row-lg>.col-12, .row-lg>.col-2, .row-lg>.col-3, .row-lg>.col-4, .row-lg>.col-5, .row-lg>.col-6, .row-lg>.col-7, .row-lg>.col-8, .row-lg>.col-9, .row-lg>.col-lg, .row-lg>.col-lg-1, .row-lg>.col-lg-10, .row-lg>.col-lg-11, .row-lg>.col-lg-12, .row-lg>.col-lg-2, .row-lg>.col-lg-3, .row-lg>.col-lg-4, .row-lg>.col-lg-5, .row-lg>.col-lg-6, .row-lg>.col-lg-7, .row-lg>.col-lg-8, .row-lg>.col-lg-9, .row-lg>.col-md, .row-lg>.col-md-1, .row-lg>.col-md-10, .row-lg>.col-md-11, .row-lg>.col-md-12, .row-lg>.col-md-2, .row-lg>.col-md-3, .row-lg>.col-md-4, .row-lg>.col-md-5, .row-lg>.col-md-6, .row-lg>.col-md-7, .row-lg>.col-md-8, .row-lg>.col-md-9, .row-lg>.col-sm, .row-lg>.col-sm-1, .row-lg>.col-sm-10, .row-lg>.col-sm-11, .row-lg>.col-sm-12, .row-lg>.col-sm-2, .row-lg>.col-sm-3, .row-lg>.col-sm-4, .row-lg>.col-sm-5, .row-lg>.col-sm-6, .row-lg>.col-sm-7, .row-lg>.col-sm-8, .row-lg>.col-sm-9, .row-lg>.col-xl, .row-lg>.col-xl-1, .row-lg>.col-xl-10, .row-lg>.col-xl-11, .row-lg>.col-xl-12, .row-lg>.col-xl-2, .row-lg>.col-xl-3, .row-lg>.col-xl-4, .row-lg>.col-xl-5, .row-lg>.col-xl-6, .row-lg>.col-xl-7, .row-lg>.col-xl-8, .row-lg>.col-xl-9, .row-lg>.col-xxl, .row-lg>.col-xxl-1, .row-lg>.col-xxl-10, .row-lg>.col-xxl-11, .row-lg>.col-xxl-12, .row-lg>.col-xxl-2, .row-lg>.col-xxl-3, .row-lg>.col-xxl-4, .row-lg>.col-xxl-5, .row-lg>.col-xxl-6, .row-lg>.col-xxl-7, .row-lg>.col-xxl-8, .row-lg>.col-xxl-9 {
  padding-right: 15px;
  padding-left: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #343a40;
  font-family: Inter,sans-serif !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h5, h5 {
  font-size: 1.125rem;
}
.font-size-18 {
  font-size: 18px!important;
}
.danger {
  color: red;
}
.success {
  color: green;
}
@media only screen and (max-width: 990px) {
  .overlay {
    width: 100% !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1480px) {
  .overlay {
    width: 100%;
  }
}
.overlay {
  width: 100%;
}
.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.overlay {
  right: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spinner {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-width: 2px;
  background-color: #E12217;
  animation: spin 1s infinite linear;
  border-radius: 100%;
}
@keyframes spin {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f1f4f5;
}
.form-control {
  height: calc(1.8em + 0.75rem + 2px);
}
textarea::placeholder{
  font-weight: normal !important;
  font-family: Inter, sans-serif !important;
}
nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega{
    position: fixed;
    left: 240px;
    width: calc(100% - 240px);
    z-index: 1029;
}
.site-gridmenu-toggle {
  padding: 0px 20px;
  line-height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.site-gridmenu-toggle .navbar-brand-text{
  color: #fff;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-transform: uppercase;

}
body.site-menubar-fold nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega{
  left: 90px;
  width: calc(100% - 90px);
}
.site-menubar-fold .site-menu>.site-menu-item:hover .site-menu-sub {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.site-menubar-fold .site-menu>.site-menu-item:hover >a {
  height: auto;
  text-align: center;
  padding: 15px 20px;
  padding-left: 22px;
}
.site-menubar-fold .site-menu>.site-menu-item:hover > a .site-menu-title {
  top: 0;
  left: 90px;
  max-width: 190px;
  text-align: center;
  transition: visibility .25s, opacity .25s;
  background: #293041;
  padding: 5px 10px;
  color: #fff;
  position: absolute !important;
  height: 58px;
  display: flex;
  align-items: center;
  width: 240px;
}
.site-menubar-fold .site-menu>.site-menu-item:hover > a .site-menu-title {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.site-menubar-fold .site-menu>.site-menu-item>.site-menu-sub .site-menu-item>a:hover {
  color: #383c40;
}
.site-menubar-fold .site-menu>.site-menu-item>.site-menu-sub .site-menu-item>a:hover {
  color:#8590a5;
}
.flag-icon {
  width: 24px;
  height: 16px;
  background-size: 24px;
}
.panel-inner{
  padding:1.25rem;
  padding-top: 0px;
}
.btn-primary {
  color: #fff !important;
  background-color: #5664d2 !important;
  border-color: #5664d2 !important;
}
.btn-warning {
  color: #fff !important;
  background-color: #af3416 !important;
  border-color: #d63b14 !important;
}
.btn-secondary {
  color: #fff !important;
  background-color: #74788d !important;
  border-color: #74788d !important;
}
.btn-danger {
  color: #fff !important;
  background-color: #ff3d60 !important;
  border-color: #ff3d60 !important;
}
.btn-light {
  color: #212529 !important;
  background-color: #eff2f7 !important;
  border-color: #eff2f7 !important;
  border: 1px solid #e8ecf4 !important;
}
.rounded-pill {
  border-radius: 50rem!important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #505d69;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.47rem 0.75rem;
  font-size: .9rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btns-group {
  display: flex;
}
.btns-group .btns-set {
  margin-right: 10px;
}
.list-search-panel form {
  display: flex;
  align-items: center;
}
.list-search-panel form select {
  width: 250px;
  margin-right: 10px;
}
.list-search-panel {
  display: flex;
  justify-content: space-between;
}
.list-search-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mat-sort-header-container {
  justify-content: space-between;
}
button.btn.btn-danger.text-danger i {
  color: #ff3d60!important;
}
tr.mat-row, tr.mat-footer-row {
  height: auto !important;
}
tr.mat-header-row {
  height: 47px;
}
.mat-paginator-range-actions .mat-focus-indicator.cdk-mouse-focused {
  background: #5664d2;
  color: #fff;
}
.bread_with_add_btn {
  display: flex;
  align-items: center;
}
.bread_with_add_btn .header_add_option {
  margin-left: 15px;
}

.bread_with_add_btn .header_add_option button {
  background: #5664d2;
}
.bread_with_add_btn .header_add_option button i{
  color: #fff;
}
.table_action_edit i{
  color: #fbac06;
}
a.accordion-heading.parent_anchor.collapsed .site-menu-title, a.accordion-heading.parent_anchor.collapsed i {
  color: #74788d !important;
}
a.accordion-heading.parent_anchor .site-menu-title, a.accordion-heading.parent_anchor i {
  color: #d7e4ec !important;
}
.site-menubar-unfold .site-menu>.site-menu-item>a:hover .site-menu-title, .site-menubar-unfold .site-menu>.site-menu-item>a:hover i, .site-menubar-unfold .site-menu>.site-menu-item>a:hover .site-menu-arrow{
  color: #d7e4ec !important;
}
.widget_inner .panel-body {
  padding: 1.25rem;
}
.panel-widget-header h2 {
  color: #343a40;
  font-family: Inter,sans-serif;
  font-size: 1.285rem;
  font-weight: 500;
  line-height: 1.2;
}
.panel-widget-header h2 {
  margin-bottom: 0;
}
.sidebar-widget .panel-widget-header {
  border-bottom: 1px solid #eff2f7;
}
.sidebar-content {
  margin: 1.25rem 0;
}
nav.main-nav::-webkit-scrollbar, .user-list-main::-webkit-scrollbar{
    width: 3px;
    position: relative;
    z-index: 999;
}
nav.main-nav::-webkit-scrollbar-track, .user-list-main::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.3);
}
nav.main-nav::-webkit-scrollbar-thumb, .user-list-main::-webkit-scrollbar-thumb{
  background-color: #8590a5;
  outline: 1px solid #c9c9c9;
  border-radius: 25px 
}
body.site-menubar-unfold nav.main-nav {
  height: 100vh;
  overflow: scroll;
  display: inline-block;
  width: 100%;
}
.sidebar-content h5 {
  font-weight: 500;
  line-height: 1.2;
}
.form-check input[type="radio"]:checked + label::before {
  border-color: #5664d2;
}
.form-check input[type="radio"]:checked + label::after {
  background-color: #5664d2;
}
.form-check label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.form-check {
  padding-left: 5px;
}
.form-check-input {
  opacity: 0;
}
.form-check label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.divider-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #eff2f7;
  margin: 20px 0px;
}
.modal-title {
  font-size: 1.25rem !important;
  color: #343a40;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
}
.modal-footer button {
  width: 80px;
  font-size: 14px;
  font-family: Inter, sans-serif;
}
.multiselect-dropdown .dropdown-btn{
  border: 1px solid #ced4da !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
  top: 63% !important;
  border-width: 6px 5px 0 !important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid #5664d2 !important;
  background: #5664d2 !important;
  max-width: 214px !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
    /* min-width: 130px !important; */
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #5664d2 !important;
}
.multiselect-item-checkbox input[type=checkbox] + div:before {
  color: #5664d2 !important;
  border: 2px solid #5664d2 !important;
}
h4.example-title {
  margin-bottom: 10px;
}
.font-size-20{
  font-size: 20px !important;
}
.angular-editor-textarea {
  height: 120px !important;
}
.text-primary {
  color: #5664d2!important;
}
.font-size-11 {
  font-size: 11px!important;
}
.card {
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: transparent;
}
@media only screen and (max-width:1199px){
  .list-search-panel .btns-group{
    float: left;
}
}
/* profile pages css */
.profile-img:before {
  width: 100%;
  height: 150px;
  position: absolute;
  background: #5664d2;
  content: '';
  left: 0;
  top: 0;
}
.profile-sidebar-inner .avatar {
  width: 150px;
}
.profile-sidebar-inner .profile-img {
  text-align: center;
  padding-top: 48px;
}
.profile-sidebar-inner .profile-media {
  text-align: center;
}
.profile-sidebar-inner .profile-media h4, h4.widget-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
  color: #343a40;
  font-family: Inter, sans-serif;
}
.profile-sidebar-inner p.user-job {
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: #74788d;
}
.profile-sidebar-inner .card, .profile-description .card {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: transparent;
}
h4.widget-title {
  margin-top: 0;
  margin-bottom: 15px;
}
.profile-navigation ul{
  padding: 0;
}
.profile-navigation ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid #eff2f7;
  color: #343a40;
  text-decoration: none;
  font-family: Inter, sans-serif;
}
.profile-navigation ul li {
  list-style: none;
  width: 100%;
}
.logout-panel a {
  display: flex;
  color: #fff !important;
  font-weight: 500;
}
.logout-panel a i{
  color: #fff;
}
.logout-panel {
  height: 50px;
  display: flex;
  align-items: center;
  background: #5664d2;
  justify-content: center;
}
.profile-navigation ul li.active,  .profile-navigation ul li:hover{
  background: #f1f5f7;
}
.profile-description .card-header {
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #343a40;
  font-family: Inter, sans-serif !important;
  padding: 20px;
}
.card-details h4.widget-title {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
}
.card.user-following .card-header {
  background: #f1f5f7;
  border: 1px solid #eff2f7;
}
.card.user-following .card-title {
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
}
.card.user-following .card-block {
  border: 1px solid #eff2f7;
}
a.view-more {
  font-size: 12px;
  color: #fff;
  background: #fcb92c;
  padding: 5px 8px;
  border-radius: 5px;
}
.user-role-inner .user-status button {
  background: transparent !important;
  color: #4aa3ff !important;
  border-color: #4aa3ff !important;
  font-size: 11px;
  border-radius: 25px;
  padding: 3px 10px;
}
/* profile css end */
@media only screen and (max-width:1366px){
  table.mat-table {
    overflow: auto;
    display: inline-block;
  }
}
@media only screen and (max-width:1200px){
.list-search-panel {
  display: inline-block !important;
  width: 100%;
}
.list-search-panel form {
  display: inline-block;
  align-items: center;
  width: 100%;
}
.list-search-panel form select{
  width: 100%;
}
}
@media only screen and (max-width:767px){
  nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1029;
  }
  .list-search-panel form {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.list-search-panel form select {
  width: 100%;
}
.navbar-toolbar .show{
  position: absolute;
}
}
/* 29-04-22 */
.site-menubar-fold .site-menu>.site-menu-item:hover .site-menu-sub .collapse:not(.show) {
  display: none !important;
}
.pagination-filter {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.pagination-filter .col-lg-6,
.ngx-pagination li {
  color: #212529 !important;
}
.ngx-pagination {
  padding-left: 0px;
}
.ngx-pagination li {
  cursor: pointer;
  padding: 0.1875rem 0.625rem;
}
.ngx-pagination .disabled {
  color: #212529 !important;
}
.ngx-pagination .current span {
  color: #fff;
}

@media (max-width: 990px) {
  .pagination-filter {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}

/* 29-04-22 */
td.table_action.view i, td.table_action_edit i, td.cdk-column-Delete i {
  font-size: 18px !important;
  line-height: 0;
  display: flex;
}
tr.mat-header-row {
  height: 56px;
  background: #f2f4ff;
}