<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{language.Survey.update_surey}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.addUser.home}}</a></li>
      <li class="active breadcrumb-item" routerLink="/survey"> {{language.Survey.survey}}</li>
      <li class="active breadcrumb-item">{{language.Survey.update_surey}}</li>
    </ol>
  </div>
  <div class="page-content">

    <!-- Panel -->
    <div class="update-survey-info">
      <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <div class="panel">
          <div class="panel-inner">
            <div class="row row-lg">
              <div class="col-md-6 col-lg-6">
                <!-- Example Placeholder -->
                <div class="example-wrap mb-20">
                  <h4 class="example-title">{{language.Survey.title}}<span style="color: red;">*</span></h4>
                  <input type="text" class="form-control" placeholder="{{language.Survey.title}}" name="title" formControlName="title"
                    [ngClass]="{ 'is-invalid':
                    isSubmitted && formControls['title'].errors }">
                  <span class="danger" *ngIf="isSubmitted &&
                    formControls['title'].errors">
                    {{language.error_message.titleError}}
                  </span>
                  <span class="danger" role="alert" *ngIf="msg && msg.title">
                    <span>{{msg.title}}</span>
                  </span>
                </div>
                <!-- End Example Placeholder -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <!-- Example Placeholder -->
                <div class="example-wrap mb-20">
                  <h4 class="example-title">{{language.Survey.description}}</h4>
                  <angular-editor name="content" formControlName="content" placeholder="{{language.Survey.description}}"
                    [ngClass]="{ 'is-invalid':isSubmitted && formControls['content'].errors}">
                  </angular-editor>
                </div>
                <span class="danger" *ngIf="isSubmitted &&
                  formControls['content'].errors">
                  {{language.error_message.descriptError}}
                </span>
                <span class="danger" role="alert" *ngIf="msg && msg.content">
                  <span>{{msg.content}}</span>
                </span>
                <br>
                <!-- End Example Placeholder -->
              </div>
            </div>
            <div class="row row-lg">
              <div class="col-md-12 col-lg-12">
                <div class="example-wrap mb-30">
                  <h4 class="example-title">{{language.Survey.voting_options}}<span style="color: red;">*</span></h4>
                  <div class="example-wrap add-role">

                    <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                      <div class="radio-custom radio-primary">
                        <input type="radio" class="form-control" value="0" name="votingOption"
                          formControlName="votingOption" [checked]="">
                        <label for="inputRadiosChecked">{{language.Survey.single_selection}}</label>
                      </div>
                      <div class="radio-custom radio-primary">
                        <input type="radio" class="form-control" value="1" name="votingOption"
                          formControlName="votingOption" [checked]="">
                        <label for="inputRadiosChecked">{{language.Survey.multiple_selection}}</label>
                      </div>
                      <span class="danger" *ngIf="isSubmitted &&
                        formControls['votingOption'].errors">
                        {{language.error_message.statusError}}
                      </span>
                      <span class="danger" role="alert" *ngIf="msg && msg.votingOption">
                        <span>{{msg.votingOption}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="survery-answer mt-10" formArrayName="surveyAnswers">
              <div class="row">
                <div class="col-md-6 col-lg-5" *ngFor="let quantity of surveyAnswers.controls; let
              i=index">
                  <div class="example-wrap mb-0">
                    <input type="text" class="form-control" [formControlName]="i" placeholder="{{language.Survey.enterAnsOption}}"
                      name="productDetails" class="form-control"
                      [ngClass]="{ 'is-invalid':isSubmitted && surveyAnswers.controls[i].errors?.['required']}">
                    <span class="danger" *ngIf="isSubmitted && surveyAnswers.controls[i].errors?.['required']">
                      {{language.error_message.required}}
                    </span>
                  </div><br>
                  <div *ngIf="i >= 2">
                    <button (click)="removeQuantity(i)" class="btn btn-primary">{{language.product.remove}}</button>
                  </div>
                </div>
                <div class="example example-buttons mb-0 mt-0">
                  <button type="button" class="btn btn-primary" (click)="addQuantity()">Add</button>
                </div>
                <span class="danger" role="alert" *ngIf="msg && msg.surveyAnswer">
                  <span>{{msg.surveyAnswer}}</span>
                </span>
              </div>
            </div>
            <div class="row row-lg">
              <div class="panel-inner mt-20">
                <div class="row row-lg">
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <div class="example-wrap">
                        <h4 class="example-title">{{language.Survey.surveyType}}<span style="color: red;">*</span></h4>
                        <div class="form-group">
                          <div class="example-wrap m-sm-0">
                            <div class="form-group">
                              <select class="form-control" name="country" formControlName="surveyType" [ngClass]="{
                                'is-invalid': isSubmitted &&
                                formControls['surveyType'].errors }">
                                <option value="allUser">{{language.Survey.allUser}}</option>
                              </select>
                              <span class="danger" *ngIf="isSubmitted &&
                                formControls['surveyType'].errors">
                                {{language.error_message.required}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.Survey.activeFrom}}<span style="color: red;">*</span></h4>
                      <input type="date" class="form-control" name="surveyStartDate" [min]="getToday()"
                        placeholder="surveyStartDate" formControlName="surveyStartDate" [ngClass]="{ 'is-invalid':
                                              isSubmitted && formControls['surveyStartDate'].errors }">
                      <span class="danger" *ngIf="isSubmitted &&
                                              formControls['surveyStartDate'].errors">
                        {{language.error_message.required}}
                      </span>
                      <span class="danger" role="alert" *ngIf="msg && msg.surveyStartDate">
                        <span>{{msg.surveyStartDate}}</span>
                      </span>

                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20">
                      <h4 class="example-title">{{language.Survey.active_until}}<span style="color: red;">*</span></h4>
                      <input type="date" class="form-control" name="surveyEndDate" [min]="getToday()"
                        placeholder="surveyEndDate" formControlName="surveyEndDate" [ngClass]="{ 'is-invalid':
                          isSubmitted && formControls['surveyEndDate'].errors }">
                      <span class="danger" *ngIf="isSubmitted &&
                          formControls['surveyEndDate'].errors">
                        {{language.error_message.required}}
                      </span>
                      <span class="danger" role="alert" *ngIf="msg && msg.surveyEndDate">
                        <span>{{msg.surveyEndDate}}</span>
                      </span>

                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20 mt-20">
                      <div class="example-wrap">
                        <h4 class="example-title">{{language.Survey.view_results}}</h4>
                        <div class="example-wrap add-role">

                          <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                            <div class="radio-custom radio-primary">
                              <input type="radio" class="form-control" value="0" name="surveyViewOption"
                                formControlName="surveyViewOption" [checked]="">
                              <label for="inputRadiosChecked">{{language.Survey.always}}</label>
                            </div>

                            <div class="radio-custom radio-primary">
                              <input type="radio" class="form-control" value="1" name="surveyViewOption"
                                formControlName="surveyViewOption" [checked]="">
                              <label for="inputRadiosChecked">{{language.Survey.after_voting}}</label>
                            </div>

                            <div class="radio-custom radio-primary">
                              <input type="radio" class="form-control" value="2" name="surveyViewOption"
                                formControlName="surveyViewOption" [checked]="">
                              <label for="inputRadiosChecked">{{language.Survey.never}}</label>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20 mt-20">

                      <div class="col-md-12 col-xl-12">
                        <h4 class="example-title">{{language.Survey.choice_notifications}}</h4>
                        <div class="example-wrap mb-0 add-role" *ngFor="let
                          data of choiceData">
                          <div class="checkbox-custom checkbox-primary">
                            <input class="form-controls" type="checkbox" formArrayName="surveyNotificationOption"
                              [value]="data.value" (change)="onCheckSurvey($event)" [checked]="data.noti_id">
                            <label>{{data['name']}}</label>
                          </div>
                        </div>
                      </div>


                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                  <!-- Example Placeholder -->
                  <div class="col-md-6 col-lg-4">
                    <!-- Example Placeholder -->
                    <div class="example-wrap mb-20 mt-20">
                      <h4 class="example-title">{{language.Survey.additional_settings}}</h4>
                      <div class="col-md-12">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="switch" formControlName="additionalAnonymousVoting" />
                          <label>{{language.Survey.anonymous_voting}}</label>
                        </div>

                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="switch2" formControlName="additionalCastVote" />
                          <label>{{language.Survey.cast_vote}}</label>

                        </div>

                      </div>
                    </div>
                    <!-- End Example Placeholder -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel" *ngIf="error == true || success == true">
                  <div class="panel-body">
                    <div class="alert alert-danger" role="alert" *ngIf="error ==
                            true">
                      <span>{{message}}</span>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="success
                            == true">
                      <span>{{message}}</span>
                    </div>
                  </div>
                </div>
                <!-- End Panel -->
                <div class="example example-buttons">
                  <div class="float-left">
                    <button type="button" routerLink="/survey" class="btn btn-danger">
                      <span class="ladda-label">{{language.Survey.cancel}}
                      </span>
                    </button>
                  </div>

                  <div class="float-left" *ngIf="btnDisable == true">
                    <button type="button" disabled class="btn btn-primary">
                      <span class="ladda-label">{{language.Survey.update_surey}}</span>
                    </button>
                  </div>

                  <div class="float-left" *ngIf="btnDisable == false">
                    <button type="submit" class="btn btn-primary">
                      <span class="ladda-label">{{language.Survey.update_surey}}</span>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- End Page -->
<div *ngIf="authService.showLoader">
  <div class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
</div>