.introjs-overlay {
  position: absolute;
  z-index: 10000;
  background-color: #000;
  opacity: 0;
  transition: all .3s ease-out;
}

.introjs-fixParent {
  position: absolute !important;
  z-index: auto !important;
  opacity: 1 !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.introjs-showElement, tr.introjs-showElement > td, tr.introjs-showElement > th {
  z-index: 10100 !important;
}

.introjs-disableInteraction {
  position: absolute;
  z-index: 10300 !important;
}

.introjs-relativePosition, tr.introjs-showElement > td, tr.introjs-showElement > th {
  position: relative;
}

.introjs-helperLayer {
  position: absolute;
  z-index: 10099;
  background-color: #3e8ef7;
  border: 1px solid #777;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
  transition: all .3s ease-out;
}

.introjs-tooltipReferenceLayer {
  position: absolute;
  z-index: 10101;
  background-color: transparent;
  transition: all .3s ease-out;
}

.introjs-helperLayer *, .introjs-helperLayer *:before, .introjs-helperLayer *:after {
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.introjs-helperNumberLayer {
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: 10400 !important;
  width: 20px;
  height: 20px;
  padding: 4px;
  font-family: Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  background: #3e8ef7;
  /* Old browsers */
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}

.introjs-arrow {
  position: absolute;
  display: none !important;
  content: "";
  border: 5px solid white;
}

.introjs-arrow.top {
  top: -10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
}

.introjs-arrow.top-right {
  top: -10px;
  right: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
}

.introjs-arrow.top-middle {
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
}

.introjs-arrow.right {
  top: 10px;
  right: -10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
}

.introjs-arrow.right-bottom {
  right: -10px;
  bottom: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
}

.introjs-arrow.bottom {
  bottom: -10px;
  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.introjs-arrow.left {
  top: 10px;
  left: -10px;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.introjs-arrow.left-bottom {
  bottom: 10px;
  left: -10px;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.introjs-tooltip {
  position: absolute;
  min-width: 300px;
  max-width: 500px;
  padding: 10px;
  font-size: 30px;
  color: #fff;
  background-color: transparent;
  transition: opacity .1s ease-out;
}

.introjs-tooltip .content {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}

.introjs-tooltipbuttons {
  margin-top: 10px;
  text-align: right;
  white-space: nowrap;
}

/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
.introjs-skipbutton {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-size: 24px;
  color: #fff !important;
  text-align: center;
  text-shadow: none;
  background: #ff4c52 !important;
  border: none;
  border-radius: 100%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
}

.introjs-skipbutton i {
  line-height: 56px;
}

.introjs-skipbutton:hover {
  color: #fff;
  border: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
}

.introjs-skipbutton:active, .introjs-skipbutton:focus {
  background: #ff4c52;
}

.introjs-prevbutton, .introjs-nextbutton {
  padding: 8px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: #3e8ef7;
  border: 1px solid transparent;
  border-radius: 1000px;
  transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
  -webkit-font-smoothing: subpixel-antialiased;
}

.introjs-prevbutton:hover, .introjs-prevbutton:active, .introjs-prevbutton:focus, .introjs-nextbutton:hover, .introjs-nextbutton:active, .introjs-nextbutton:focus {
  color: #fff;
  text-decoration: none;
}

.introjs-prevbutton.introjs-disabled, .introjs-nextbutton.introjs-disabled {
  color: #a3afb7 !important;
  cursor: not-allowed;
  background: transparent !important;
  border: 1px solid;
}

.introjs-prevbutton {
  float: left;
}

.introjs-prevbutton i {
  margin-right: 10px;
}

.introjs-nextbutton {
  float: right;
}

.introjs-nextbutton i {
  margin-left: 10px;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
  text-decoration: none;
}

.introjs-bullets {
  text-align: center;
}

.introjs-bullets ul {
  display: inline-block;
  padding: 0;
  margin: 15px auto 0;
  clear: both;
}

.introjs-bullets ul li {
  float: left;
  margin: 0 2px;
  list-style: none;
}

.introjs-bullets ul li a {
  display: block;
  width: 6px;
  height: 6px;
  text-decoration: none;
  background: #ccc;
  border-radius: 10px;
}

.introjs-bullets ul li a:hover {
  background: #999;
}

.introjs-bullets ul li a.active {
  background: #999;
}

.introjs-progress {
  height: 10px;
  margin: 10px 0 5px;
  overflow: hidden;
  background-color: #ecf0f1;
  border-radius: 4px;
}

.introjs-progressbar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #08c;
}

.introjsFloatingElement {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.introjs-fixedTooltip {
  position: fixed;
}

.introjs-hint {
  position: absolute;
  width: 20px;
  height: 15px;
  background: 0 0;
}

.introjs-hidehint {
  display: none;
}

.introjs-fixedhint {
  position: fixed;
}

.introjs-hint:hover > .introjs-hint-pulse {
  border: 5px solid rgba(60, 60, 60, .57);
}

.introjs-hint-pulse {
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  background-color: rgba(136, 136, 136, .24);
  border: 5px solid rgba(60, 60, 60, .27);
  border-radius: 30px;
  transition: all .2s ease-out;
}

.introjs-hint-dot {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: 0 0;
  border: 10px solid rgba(146, 146, 146, .36);
  border-radius: 60px;
  opacity: 0;
  -webkit-animation: introjspulse 3s ease-out;
  animation: introjspulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes introjspulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }

  25% {
    opacity: .1;
    -webkit-transform: scale(0);
  }

  50% {
    opacity: .3;
    -webkit-transform: scale(.1);
  }

  75% {
    opacity: .5;
    -webkit-transform: scale(.5);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}
