<div *ngIf="message" class="modal" tabindex="-1" role="dialog" style="display:block!important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" *ngIf="message?.type == 'confirm'">
                <h5 class="modal-title" id="exampleModalLabel">{{message.head}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="message.noFn()">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="message?.type == 'confirm'">
                {{message.text}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="message.yesFn()">
                    {{language.confirmBox.yes}}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-dismiss="modal"
                    (click)="message.noFn()">{{language.confirmBox.no}}</button>
            </div>
        </div>
    </div>
</div>