.faq_tabs ul.nav.nav-tabs.mr-25 {
    background: #f1f4f5;
}
.faq_tabs .nav-tabs-vertical .nav-tabs .nav-link.active {
    background: #495057;
    color: #FFF;
    border-right-color: #495057;
    border-radius: 0;
}
span.btn.btn-warning.btn-file {
    height: 37px;
    background: #fbac06 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #fbac06 !important;
}
span.btn.btn-warning.btn-file i{
    color: #fff;
}
span.input-group-btn {
    height: 40px;
}
.avatar-preview img {
    width: 40px;
    height: 37px;
    object-fit: contain;
    margin-left: 10px;
}

/* upload css start */
.event_upload {
    position: relative;
}
.event_field label{
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #1d202f;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.event_upload input {
    opacity: 0;
    position: relative;
    z-index: 222;
    height: 198px;
    width: 100%;
    cursor: pointer;
}
.event_field input {
    width: 100%;
    height: 50px;
    background: #fafbfc;
    border: 1px solid #dbdee0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
}
span.event_uplod_overlay {
    position: absolute;
    background: #fafbfc;
    left: 0;
    height: 198px;
    width: 100%;
    border: 1px dashed #d9d9d9;
    text-align: center;
}
.event_upload.news_pic_upload span.event_uplod_overlay img {
    text-align: center;
    width: 110px;
    margin: 42px 0;
    height: 110px;
    overflow: hidden;
    object-fit: contain;
}