<!-- Page -->
<div class="page">
   <div class="page-header">
      <h1 class="page-title">{{language.addUser.addUser}}</h1>
      <ol class="breadcrumb">
         <li class="breadcrumb-item" routerLink="/dashboard"><a>{{language.addUser.home}}</a></li>
         <li class="active breadcrumb-item" routerLink="/user">{{language.addUser.userList}}</li>
         <li class="active breadcrumb-item">{{language.addUser.addUser}}</li>

      </ol>
   </div>
   <div class="page-content">
      <!-- Panel -->
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
         <div class="panel">
            <div class="panel-body container-fluid">
               <div class="row row-lg">
                  <div class="col-lg-3 col-sm-6">
                     <div class="avatar_main">
                        <div class="avatar-upload">
                           <label *ngIf="errorImage.isError" class="text-danger">
                              {{ errorImage.errorMessage }}
                           </label>
                           <div class="avatar-preview">
                              <img id="imagePreview" src="../assets/img/profile.png">
                              <!-- <h1  id="textPreview"></h1> -->
                           </div>
                           <div class="avatar-edit">
                              <span class="danger" *ngIf="isSubmitted &&
                              formControls['image'].errors">
                                 {{language.error_message.required}}
                              </span>
                              <input type='file' (change)="uploadFile($event)" id="imageUpload"
                                 accept=".png, .jpg, .jpeg" />
                              <label for="imageUpload"><i class="bx ri-pencil-line"></i></label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-9 col-sm-6">
                     <div class="row">

                        <div class="col-md-6 col-lg-6">
                           <!-- Example Placeholder -->
                           <div class="example-wrap mb-20">
                              <h4 class="example-title">{{language.addUser.userEmail}} <span
                                    style="color: red;">*</span></h4>
                              <input type="text" class="form-control" placeholder="{{language.addUser.userEmail}}"
                                 name="email" formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted
                                       && formControls['email'].errors }">
                              <!-- <span class="text-help">{{language.addUser.emailMsg}}</span> -->
                              <span class="danger" *ngIf="isSubmitted &&
                                      formControls['email'].errors">
                                 {{language.error_message.userEmailError}}
                              </span>
                              <span *ngIf="(formControls['email'].touched || formControls['email'].dirty) &&
                                   formControls['email'].invalid" class="danger">
                                 <span
                                    *ngIf="formControls['email'].errors && formControls['email'].errors['pattern']">{{language.error_message.invalidEmail}}</span>
                              </span>
                              <span class="danger" role="alert" *ngIf="msg && msg.email">
                                 <span>{{msg.email}}</span>
                              </span>
                           </div>
                           <!-- End Example Placeholder -->
                        </div>

                     </div>
                  </div>
               </div>
               <div class="row row-lg">
                  <div class="col-md-12 col-lg-12">
                     <div class="example-wrap mt-20 mb-20">
                        <div class="panel-heading">
                           <h4 class="example-title">{{language.addUser.status}}<span style="color: red;">*</span></h4>
                        </div>
                        <div class="example-wrap add-role">
                           <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                              <div class="radio-custom radio-primary">
                                 <input type="radio" value="1" name="status" formControlName="status" [checked]="">
                                 <label for="inputRadiosChecked">{{language.addUser.active}}</label>
                              </div>
                              <div class="radio-custom radio-primary">
                                 <input type="radio" value="0" name="status" formControlName="status" [checked]="">
                                 <label for="inputRadiosChecked">{{language.addUser.locked}}</label>
                              </div>
                           </div>
                           <span class="danger" *ngIf="isSubmitted &&
                          formControls['status'].errors">
                              {{language.error_message.statusError}}
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row row-lg">
                  <div class="col-md-12 col-lg-12">
                     <div class="panel">
                        <div class="panel-heading">
                           <h4 class="example-title">{{language.editUser.role}}<span style="color: red;">*</span></h4>
                        </div>
                        <div class="example-wrap mb-0 add-role" *ngFor="let roleDatas of roleData">
                           <div class="checkbox-custom checkbox-primary">
                              <input type="checkbox" formArrayName="userRole" [value]="roleDatas.rid"
                                 (change)="onCheckRole($event)">
                              <label>{{roleDatas['name']}}</label>
                           </div>
                        </div> <br>
                        <span class="danger" *ngIf="isSubmitted &&
                    formControls['userRole'].errors">
                           {{language.error_message.roleError}}
                        </span>
                     </div>
                     <div class="panel">
                        <div class="panel-heading">
                           <h4 class="example-title">{{language.addUser.personalInfo}}</h4>
                        </div>
                        <div class="row row-lg">
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.firstName}}</h4>
                                 <input type="text" class="form-control" name="firstName"
                                    placeholder="{{language.addUser.firstName}}" formControlName="firstName" [ngClass]="{ 'is-invalid':
                                isSubmitted && formControls['firstName'].errors }">
                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['firstName'].errors">
                                    {{language.error_message.firstNameError}}
                                 </span>
                                 <span *ngIf="(formControls['firstName'].touched ||
                                 formControls['firstName'].dirty) && formControls['firstName'].invalid" class="danger">
                                    <span
                                       *ngIf="formControls['firstName'].errors &&
                                    formControls['firstName'].errors['pattern']">{{language.error_message.invalidfirstName}}</span>
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg &&
                                msg.firstName">
                                    <span>{{msg.firstName}}</span>
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.lastName}}</h4>
                                 <input type="text" class="form-control" name="lastName"
                                    placeholder="{{language.addUser.lastName}}" formControlName="lastName" [ngClass]="{ 'is-invalid':
                                isSubmitted && formControls['lastName'].errors }">
                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['lastName'].errors">
                                    {{language.error_message.lastNameError}}
                                 </span>
                                 <span *ngIf="(formControls['lastName'].touched ||
                                 formControls['lastName'].dirty) && formControls['lastName'].invalid" class="danger">
                                    <span
                                       *ngIf="formControls['lastName'].errors &&
                                    formControls['lastName'].errors['pattern']">{{language.error_message.invalidlastName}}</span>
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg &&
                                msg.lastName">
                                    <span>{{msg.lastName}}</span>
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.society}}<span
                                       style="color: red;">*</span></h4>
                                 <input type="text" class="form-control" name="society"
                                    placeholder="{{language.addUser.society}}" formControlName="society" [ngClass]="{ 'is-invalid':
                                isSubmitted && formControls['society'].errors }">
                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['society'].errors">
                                    {{language.error_message.societyError}}
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg &&
                                msg.society">
                                    <span>{{msg.society}}</span>
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <!-- Example Placeholder -->
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.addressLine1}}
                                 </h4>
                                 <input type="text" class="form-control" name="addressLine1"
                                    placeholder="{{language.addUser.addressLine1}}" formControlName="addressLine1"
                                    [ngClass]="{
                                'is-invalid': isSubmitted &&
                                formControls['addressLine1'].errors }">
                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['addressLine1'].errors">
                                    {{language.error_message.addressLine1Error}}
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg &&
                                msg.addressLine1">
                                    <span>{{msg.addressLine1}}</span>
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.addressLine2}}</h4>
                                 <input type="text" class="form-control" name="address2"
                                    placeholder="{{language.addUser.addressLine2}}" formControlName="address2">
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.zipCode}}</h4>
                                 <input type="text" class="form-control" name="zipcode"
                                    placeholder="{{language.addUser.zipCode}}" formControlName="zipcode" [ngClass]="{ 'is-invalid':
                                isSubmitted && formControls['zipcode'].errors }">
                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['zipcode'].errors">
                                    {{language.error_message.zipError}}
                                 </span>
                                 <span *ngIf="(formControls['zipcode'].touched ||
                                 formControls['zipcode'].dirty) && formControls['zipcode'].invalid" class="danger">
                                    <span
                                       *ngIf="formControls['zipcode'].errors &&
                                    formControls['zipcode'].errors['pattern']">{{language.error_message.zipInvalid}}</span>
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg &&
                                msg.zipcode">
                                    <span>{{msg.zipcode}}</span>
                                 </span>
                                 <span class="danger" *ngIf="formControls['zipcode'].errors?.['minlength']">
                                    {{language.error_message.zipCodeMin}}
                                 </span>
                                 <span class="danger" *ngIf="formControls['zipcode'].errors?.['maxlength']">
                                    {{language.error_message.zipCodeMax}}
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.place}}
                                 </h4>
                                 <input type="text" class="form-control" placeholder="{{language.addUser.place}}"
                                    name="place" formControlName="place" [ngClass]="{ 'is-invalid':
                                isSubmitted && formControls['place'].errors }">
                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['place'].errors">
                                    {{language.error_message.placeError}}
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg &&
                                msg.place">
                                    <span>{{msg.place}}</span>
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <h4 class="example-title">{{language.addUser.contactNumber}}
                                 </h4>
                                 <input type="text" class="form-control"
                                    placeholder="{{language.addUser.contactNumber}}" name="contactNumber"
                                    formControlName="contactNumber" [ngClass]="{ 'is-invalid': isSubmitted &&
                                    formControls['contactNumber'].errors }">

                                 <span class="danger" *ngIf="isSubmitted &&
                                formControls['contactNumber'].errors">
                                    {{language.error_message.contactError}}
                                 </span>
                                 <span
                                    *ngIf="(formControls['contactNumber'].touched || formControls['contactNumber'].dirty) && formControls['contactNumber'].invalid"
                                    class="danger">
                                    <span
                                       *ngIf="formControls['contactNumber'].errors && formControls['contactNumber'].errors['pattern']">{{language.error_message.contactInvalid}}</span>
                                 </span>
                                 <span class="danger" role="alert" *ngIf="msg && msg.contactNumber">
                                    <span>{{msg.contactNumber}}</span>
                                 </span>
                                 <span class="danger" *ngIf="formControls['contactNumber'].errors?.['minlength']">
                                    {{language.error_message.contactNumberMin}}
                                 </span>
                                 <span class="danger" *ngIf="formControls['contactNumber'].errors?.['maxlength']">
                                    {{language.error_message.contactNumberMax}}
                                 </span>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <!-- Example Placeholder -->
                              <div class="example-wrap mb-20">
                                 <div class="example-wrap">
                                    <h4 class="example-title">{{language.addUser.country}}</h4>
                                    <div class="form-group">
                                       <div class="example-wrap m-sm-0">
                                          <div class="form-group">
                                             <select class="form-control" name="country" formControlName="country"
                                                [ngClass]="{
                                            'is-invalid': isSubmitted &&
                                            formControls['country'].errors }">
                                                <option>Germany</option>
                                                <option>Switzerland</option>
                                                <option>Austria</option>
                                             </select>
                                             <span class="danger" *ngIf="isSubmitted &&
                                            formControls['country'].errors">
                                                {{language.error_message.countryError}}
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- End Example Placeholder -->
                           </div>
                        </div>
                     </div>
                     <!-- End Panel -->
                  </div>
               </div>
               <!-- payment details start -->
               <div class="row row-lg">
                  <div class="col-md-12 col-lg-12">
                     <div class="panel">
                        <div class="panel-heading">
                           <h4 class="example-title">{{language.addUser.paymentDetail}}</h4>
                        </div>
                        <div class="row row-lg">
                           <div class="col-md-6 col-lg-3">
                              <div class="example-wrap mb-0">
                                 <h4 class="example-title">{{language.productPrice.iban}}</h4>
                                 <input type="text" class="form-control" placeholder="iban" (keyup)="validIban($event)"
                                    name="iban" formControlName="iban">
                                 <span class="danger" *ngIf="isValidIban">
                                    {{isValidIban}}
                                 </span>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <!-- payment details end -->

               <!-- alert message here -->
               <div class="panel" *ngIf="error == true || success == true">
                  <div class="panel-body">
                     <div class="alert alert-danger" role="alert" *ngIf="error ==
                  true">
                        <span>{{message}}</span>
                     </div>
                     <div class="alert alert-success" role="alert" *ngIf="success
                  == true">
                        <span>{{message}}</span>
                     </div>
                  </div>
               </div>
               <div class="example example-buttons mt-0">
                  <div class="float-left">
                     <button type="submit" class="btn btn-primary">
                        <span class="ladda-label">{{language.addUser.addUser}}</span>
                        <span class="ladda-spinner"></span></button>
                  </div>
               </div>
               <!-- alert message end -->
            </div>
         </div>
         <!-- End Panel -->
      </form>
   </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
   <div class="overlay">
      <div class="overlay__inner">
         <div class="overlay__content"><span class="spinner"></span></div>
      </div>
   </div>
</div>