@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
form a {
    color: #74788d !important;
    font-weight: 500;
}
span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
form a:hover {
	color:#FF4B2B !important;
}
button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.login-fields {
    display: inline-block;
    width: 100%;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:27px 50px;
    height: 100%;
    text-align: center;
}
.alert-success{
    padding: 7px;
    margin-bottom: 3px !important;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 50px;
}

img.brand-img {
    width: 40px;
    margin-right: 10px;
    margin-top: -10px;
}

/* .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 140px auto;
} */

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 130%;
    min-height: 533px;
    margin: 62px auto;
}

.form-container {
    position: absolute;
    top: 0;
    /* height: 100%; */
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.form-overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    max-width: inherit;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

@media only screen and (max-width:700px) {
    .sign-in-container {
        width: 100%;
    }

    .form-container {
        position: inherit;
    }

    .sign-up-container {
        display: none;
    }

    .overlay-container {
        display: none;
    }

    .d-flex.align-items-center a {
        display: inline-block;
        line-height: 0;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 0 20px !important;
    }

    .d-flex.align-items-center {
        display: none !important;
    }

    .container {
        box-shadow: transparent !important;
    }
}

@media only screen and (max-width:990px) and (min-width:768px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row !important;
    }

    .navbar-expand-lg .navbar-nav li {
        margin-right: 10px !important;
    }

    .d-flex.align-items-center {
        display: none !important;
    }
}

/* header-css start */
a.navbar-brand .brand {
    display: flex;
    align-items: center;
}

.header a.navbar-brand .brand img {
    width: 35px;
}

.header a.navbar-brand .brand h3 {
    font-size: 28px !important;
}

.header a.navbar-brand.mt-2.mt-lg-0 {
    margin: 0;
    display: flex;
    align-items: center;
}

.d-flex.align-items-center a {
    color: rgba(0, 0, 0, 0.5);
}

.header button {
    padding: 10px 20px;
}

.header .dropdown-menu.show {
    left: -40px;
}

.header button.navbar-toggler {
    height: auto;
    width: auto;
    border-radius: 5px;
}

.collapse.navbar-collapse.expand {
    display: block;
}

.form-container.sign-in-container .alert {
    margin: 20px 20px 0;
}
.error-wrapper{
    min-height: 53px;
}