<div class="container" id="container">
    <div class="form-container sign-in-container">
        <div class="error-wrapper">
            <div class="alert alert-danger" role="alert" *ngIf="error == true">
                <span>{{message}}</span>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="success == true">
                <span>{{message}}</span>
            </div>
        </div>
        <form [formGroup]="trialregisterForm" (ngSubmit)="onSubmit()">
            <h1>{{languages.trialRegister.trilasignUp}}</h1>
            <div class="login-fields">
                <input type="email" ng-model="email" class="form-control"
                    placeholder="{{languages.trialRegister.userEmail}}" name="email" formControlName="email" [ngClass]="{ 'is-invalid':
                    isSubmitted &&
                    formControls['email'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
                    formControls['email'].errors">
                    {{languages.trialRegister.userEmailError}}
                </span>
                <span *ngIf="(f['email'].touched || f['email'].dirty) &&
                    f['email'].invalid" class="danger">
                    <span *ngIf="f['email'].errors &&
                        f['email'].errors['pattern']">{{languages.trialRegister.invalidEmail}}
                    </span>
                </span>
            </div>
            <div class="login-fields">
                <input type="email" class="form-control" match="email" id="inputPassword" name="conEmail"
                    placeholder="{{languages.trialRegister.confirmEmail}}" formControlName="conEmail" [ngClass]="{ 'is-invalid':
                    isSubmitted &&
                    formControls['conEmail'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
                    formControls['conEmail'].errors">
                    {{languages.trialRegister.conemailError}}
                </span>
                <span class="danger" *ngIf=" f['conEmail'].errors && f['conEmail'].errors['mustMatch']">
                    {{languages.trialRegister.conemailInvalid}}</span>
            </div>
            <div class="login-fields">
                <input type="text" class="form-control" placeholder="{{languages.trialRegister.society}}" name="society"
                    formControlName="society" [ngClass]="{ 'is-invalid':
                    isSubmitted &&
                    formControls['society'].errors }">
                <span class="danger" *ngIf="isSubmitted &&
                    formControls['society'].errors">
                    {{languages.register.societyError}}
                </span>
            </div>
            <div class="form-group clearfix">
                <div class="checkbox-custom checkbox-inline checkbox-primary
                    float-left">
                    <input type="checkbox" id="rememberMe" name="termsCon" formControlName="termsCon" [ngClass]="{ 'is-invalid':
                        isSubmitted &&
                        formControls['termsCon'].errors }">

                    <label for="rememberMe">{{languages.trialRegister.accept}}
                        <a class="float" (click)="termsCondition()">{{languages.trialRegister.termsCon}}</a>
                    </label>
                    <span class="danger" *ngIf="isSubmitted &&
                        formControls['termsCon'].errors">
                        {{languages.trialRegister.termsConError}}
                    </span>
                </div>

            </div>
            <button type="submit">{{languages.trialRegister.trilasignUpBtn}}</button>
            <p>{{languages.trialRegister.alreadyAccount}} <a routerLink="/signin">{{languages.login.signIn}}</a></p>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay form-overlay">
            <div class="overlay-panel overlay-left">
                <h1>{{languages.common.welcome}}</h1>
                <p>{{languages.common.keepConnected}}</p>
                <button class="ghost" id="signIn">{{languages.login.signIn}}</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1> <img class="brand-img" src="../../assets/img/logo.svg" alt="...">S-Verein</h1>
                <p>{{languages.common.keepConnected}}</p>
                <button class="ghost" id="signUp" routerLink="/signin">{{languages.login.signIn}}</button>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
<div *ngIf="authService.showLoader">
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</div>