﻿<div class="page-content">
    <p> Allgemeine Geschäftsbedingungen und
        Nutzungsbedingungen
        der Tineon AG für die S-Verein Softwarelösungen
    </p>
    <p>§ 1 Vertragsgegenstand</p>
    <p> 1.1. Diese Allgemeinen Geschäftsbedingungen und
        Nutzungsbedingungen der Tineon AG (im
        folgenden AGB genannt), mit Sitz in 88709
        Meersburg und eingetragen beim Registergericht
        Freiburg unter HRB 706 986, regeln die Überlassung
        der S-Verein Softwarelösungen. Der
        Einsatz der cloudbasierten S-Verein
        Softwarelösungen unterstützt Vereine insbesondere
        bei der
        Verwaltung oder Finanzbuchhaltung und erhöht die
        Effizienz von Abläufen. Unter der Marke S-
        Verein werden aktuell die
        Vereinsverwaltungs-Softwareprogramme inklusive
        einer DATEV-
        Schnittstelle sowie ein dazu passendes
        Finanzbuchhaltungs-Softwareprogramm angeboten.
        Sollten weitere Softwaremodule hinzukommen, so
        gelten diese AGB auch für die neuen
        Module.
    </p>
    <p>1.2. Die Tineon AG räumt dem Verein das
        nicht-ausschließliche Recht ein, für je eine
        registrierte
        Domain die im Vertrag oder unter www.s-verein.de
        beschriebene, bekannte Leistungs-
        beschreibung gemäß den Bestimmungen dieses
        Vertrages zu nutzen. Die Tineon AG überlässt
        dem Verein für den gemäß § 4 genannten Zeitraum
        die Software ausschließlich zum Zwecke
        der vertragsgemäßen Nutzung.
    </p>
    <p>1.3. Die Tineon AG stellt dem Verein für die
        Software eine entsprechende Dokumentation als
        digitale Onlinehilfe zur Verfügung.
    </p>
    <p>1.4. Der Vertragschluß zwischen der Tineon AG und
        dem Verein erfolgt online auf der Webseite von
        S-Verein. Dazu muss der Verein eine
        Authentifizierung durchführen und das Anmelde- und
        Registrierungsverfahren ordnungsgemäß durchlaufen.
        Daraufhin erfolgt die Zuteilung einer
        Zugangskennung.
    </p>
    <p>1.5. Nach Ablauf der Vertragslaufzeit erlischt
        das Recht auf Nutzung der Software. Die Tineon
        weist
        den Verein hiermit auf eine rechtzeitige
        Datensicherung (Datenexport) vor Ablauf des
        Vertrages
        hin. Die Tineon AG ist im Falle des Ablaufs der
        Vertragslaufzeit zur sofortigen Sperrung der
        Daten des Vereins berechtigt und nach einer
        Nachfrist von 30 Tagen, ohne weitere
        Ankündigung, zur Löschung der Daten des Vereins
        berechtigt.
    </p>
    <p>1.6. Die Tineon AG behält sich das Recht vor, im
        Rahmen der vertragsgegenständlichen S-Verein
        Softwarelösungen zentrale Werbeplätze zu
        definieren und zu vermarkten. Es wird sicher-
        gestellt, dass die Nutzung der Funktionen der vom
        Verein bezogenen Software dadurch in
        keiner Weise beeinträchtigt wird. Die Tineon AG
        wird die der zentralen Vermarktung
        vorbehaltenen Werbeplätze und die Bereiche, die
        der dezentralen Vermarktung durch die
        Vereine vorbehaltenen Flächen, entsprechend
        kennzeichnen.
    </p>
    <p>§ 2 Pflichten und Obliegenheiten des Vereins</p>
    <p>2.1 Der Verein verpflichtet sich zur
        vertragsgemäßen Nutzung der Software und zur
        fristgerechten
        Zahlung der vereinbarten Lizenzbeträge.
    </p>
    <p>2.2 Ansichtsfrist/Testphase: Sofern im
        Bestellangebot eine Ansichtsfrist/Testphase
        angegeben ist
        (z.B. "Jetzt 4 Wochen testen. Kostenlos!"), hat
        der Verein beim erstmaligen Bezug eine
        angebotsabhängige Ansichtsfrist/Testphase. Die
        Ansichtsfrist/Testphase beginnt mit Erhalt der
        Zugangsdaten. Während der Ansichtsfrist/Testphase
        kann der Verein die bestellten Produkte
        ausgiebig testen.
    </p>
    <p>2.3 Über das Online-Vereinskonto kann der
        registrierte Verein viele Dinge rund um seine
        Produkte
        selbst online verwalten, z.B. Änderungen von
        Adressen, Kontostand überprüfen, Rechnungs-
        download etc.).
    </p>
    <p>Die Nutzung des Online-Vereinskontos setzt
        zwingend einen wirksamen Vertrag voraus. Ein
        Vertragsschluss mit einer juristischen Person darf
        nur von vertretungsberechtigten natürlichen
        Personen vorgenommen werden, die namentlich
        genannt werden müssen.
    </p>
    <p>Der Zugang des Vereins zum Online-Vereinskonto
        und/oder zur vertragsgegenständlichen
        Software erfolgt passwortgeschützt über das
        Internet. Der Verein ist verpflichtet, seine
        Zugangsdaten und sein Passwort geheim zu halten
        und vor Missbrauch durch Dritte zu
        schützen. In diesem Zusammenhang weisen wir darauf
        hin, dass unsere Mitarbeiter nicht
        berechtigt sind, telefonisch oder schriftlich
        Passwörter abzufragen. Bei der Wahl des Pass-
        wortes sollten die allgemein bekannten Regeln
        beachtet werden (Länge, Komplexität des
        Passwortes), Änderungen des Passwortes sind nur
        online innerhalb des Vereinskontos
        möglich. Der Verein hat die entsprechenden
        Zugangskennungen geschützt vor dem Zugriff
        unbefugter Dritter aufbewahren.
    </p>
    <p>Der Verein hat uns bei Verlust der Zugangsdaten,
        des Passwortes oder bei Verdacht der
        missbräuchlichen Nutzung dieser Daten unverzüglich
        zu unterrichten. Im Übrigen sind wir
        berechtigt, bei Missbrauch den Zugang zum
        Kundenkonto bzw. zu den Online-Produkten zu
        sperren. Der Verein haftet bei von ihm zu
        vertretendem Missbrauch.
    </p>
    <p>2.4 Der Verein ist weiterhin insbesondere
        verpflichtet,
    </p>
    <p>2.4.1 keine Informationsangebote mit rechts- oder
        sittenwidrigen Inhalten anzubieten, insbesondere
        keine Informationen zu übermitteln, die i.S.d.
        §130, §130 a und §131 des StGB zum
        Rassenhass aufstacheln, Gewalt verherrlichen oder
        verharmlosen, sexuell anstößig sind, i. S.
        d. §184 StGB pornografisch sind, den Krieg
        verherrlichen, geeignet sind, Kinder oder
        Jugendliche sittlich schwer zu gefährden oder in
        ihrem Wohl zu beeinträchtigen, Dritte zu
        beleidigen sowie das Ansehen der Tineon schädigen
        können oder auf Angebote mit solchem
        Inhalt hinzuweisen,
    </p>
    <p>2.4.2 die Tineon AG von Ansprüchen Dritter
        freizustellen, die sich aus den mit der
        Beanspruchung,
        Nutzung oder Registrierung einer eigenen
        Domain-Namensseite des Vereins verbundenen
        namens-, marken-, urheber- oder sonstigen
        schutzrechtlichen Streitigkeiten ergeben,
    </p>
    <p>2.4.3 den möglichen Austausch von elektronischen
        Nachrichten nicht missbräuchlich für den
        unzulässigen Versand von E-Mails an Dritte (sog.
        Spamming) zu nutzen,
    </p>
    <p>2.4.4 auf seiner Internet-Seite eingestellte
        Inhalte als eigene Inhalte, unter Angabe seines
        vollständigen Namens und seiner Anschrift zu
        kennzeichnen. Eine gesetzliche Kennzeich-
        nungspflicht bleibt hiervon unberührt. Der Verein
        stellt die Tineon AG von allen Ansprüchen frei,
        die auf einer Verletzung der vorgenannten
        Pflichten beruhen. Die Tineon AG ist nicht
        verpflichtet, die Internetpräsenz des Vereins auf
        eventuelle Rechtsverstöße zu prüfen.
    </p>
    <p>2.5 Der Verein sichert zu, dass die von ihm
        gemachten Angaben richtig und vollständig sind. Er
        verpflichtet sich, die Tineon AG jeweils
        unverzüglich über vertragsrelevante Änderungen der
        mitgeteilten Daten zu unterrichten.
    </p>
    <p>§ 3 Weitergabe / Vermietung</p>
    <p>3.1 Der Verein ist berechtigt, die Nutzung der
        Software innerhalb seines Vereins weiter zu geben.
        Der Verein wird die Personen, die die Zugangsdaten
        erhalten, in geeigneter Weise darüber
        informieren, dass Zugangsdaten so zu behandeln
        sind, dass sie unautorisierten Dritten nicht zur
        Kenntnis gelangen.
    </p>
    <p>3.2 Der Verein ist nicht berechtigt, die Software
        zu vermieten oder zu verleasen oder in sonstiger
        Wiese kostenpflichtig Dritten zur Nutzung zu
        überlassen.
    </p>
    <p>§ 4 Vertragsbeginn, -laufzeit und -beendigung</p>
    <p>4.1 Der Vertrag tritt mit dem Zeitpunkt der
        Aktivierung einer Lizenz in Kraft gemäß § 1.4 in
        Kraft.
    </p>
    <p>4.2 Die Zuteilung einer Zugangskennung zu den
        Softwarelösungen setzt voraus, dass der Verein
        die Allgemeinen Geschäfts- und Nutzungsbedingungen
        anerkannt hat.
    </p>
    <p>4.3 Für jedes Software-Modul wird ein eigener
        Lizenzvertrag mit einer eigenen Laufzeit
        geschlossen:
    </p>
    <p>4.3.1 Die Mindestvertragslaufzeit für die
        S-Verein Softwaremodule beträgt jeweils 12 Monate.
        Der
        Vertrag verlängert sich nach Ablauf der
        Mindestvertragslaufzeit automatisch um weitere 12
        Monate, wenn er nicht mit einer Frist von vier
        Kalenderwochen, frühestens zum Ende der
        jeweiligen Mindestvertragslaufzeit, gekündigt
        wird.
    </p>
    <p>4.3.2 Wird ein weiteres Modul (z.B. S-Verein
        Finanz) zu einem bereits genutzten Vereins-
        verwaltungs-Softwaremodul hinzu gebucht, hat diese
        grundsätzlich auch eine eigene 12-
        monatige Vertragslaufzeit. Diese endet aber
        automatisch spätestens bei der Kündigung des
        Softwaremoduls S-Verein Vereinsverwaltung.
    </p>
    <p>4.4 Jede Partei hat das Recht zur
        außerordentlichen Kündigung aus wichtigem Grund.
        Wichtige
        Gründe für die Tineon sind insbesondere
    </p>
    <p>4.4.1 wenn der Verein gegen eine vertragliche
        Verpflichtung, insbesondere die des § 2 dieser AGB
        verstößt,
    </p>
    <p>4.4.2 wenn ein Insolvenzverfahren über das
        Vermögen des Vereins beantragt oder eröffnet wird,
    </p>
    <p>4.4.3 wenn der Verein mit der Bezahlung der
        Vergütung mehr als drei Monate nach Fälligkeit in
        Verzug gerät.
    </p>
    4.5 Die Tineon kann diesen Vertrag ordentlich
    kündigen wenn der Verein nach Zugang einer
    Mitteilung über die Änderung der AGB dieser
    innerhalb von vier Wochen widerspricht.<br>
    4.6 Kündigungen haben schriftlich zu erfolgen.<br>
    § 5 Vergütung, Zahlungsbedingungen<br>
    5.1 Die monatliche Vergütung für die Software und
    ggf. zusätzliche verwendete weitere Module
    wird gemäß der zum Vertragsbeginn aktuellen
    Preisliste zuzüglich der jeweils gültigen
    gesetzlichen Mehrwertsteuer festgelegt und ist im
    voraus jährlich (je 12 Monate) zu bezahlen.
    Vergütungen werden im Lastschriftverfahren
    eingezogen. Eine Rechnung wird elektronisch,
    z.B. per E-Mail, übermittelt. Der Verein ist damit
    einverstanden, Rechnungen auf
    elektronischem Wege zu erhalten.<br>
    5.2 Einwendungen gegen die Höhe der
    nutzungsabhängigen Entgelte sind umgehend nach
    Zugang
    der Rechnung gegenüber der Tineon AG schriftlich zu
    erheben und müssen innerhalb von
    sechs Wochen ab Rechnungsdatum bei der Tineon AG
    eingegangen sein. Die Unterlassung
    rechtzeitiger Einwendungen gilt als Genehmigung;
    gesetzliche Ansprüche des Vereins bei
    Einwendungen nach Fristablauf bleiben unberührt.<br>
    5.3 Der Verein verpflichtet sich, der Tineon AG für
    sämtliche Zahlungen aus diesem Vertrag und
    den sich eventuell ergebenden Änderungen des
    Vertrages jeweils eine Einzugsermächtigung
    für den Einzug der fälligen Beiträge – im Rahmen
    eines Lastschriftseinzugs – zu erteilen.<br>
    5.4 Sollten im Rahmen des
    Lastschrifteinzugsverfahrens Rücklastschriften
    anfallen, so berechnet
    die Tineon AG eine pauschale Bearbeitungsgebühr in
    Höhe von 9,60 Euro pro Lastschrift zzgl.
    der für die Tineon AG anfallenden Bankgebühren.<br>
    5.5 Bei Zahlungsverzug ist die Tineon AG berechtigt,
    dem Verein Verzugszinsen in Höhe von 3%-
    Punkte über dem jeweiligen Basiszinssatz, mind.
    jedoch 6% p. a. in Rechnung zu stellen.<br>
    5.7 Ist der Verein trotz zweier Mahnungen in
    Zahlungsverzug, ist die Tineon AG berechtigt, die
    Leistungen einzustellen und/oder den Zugang des
    Vereins zur Software sofort zu sperren. Der
    Verein bleibt auch für die Zeit der Sperrungen zur
    Zahlung des vereinbarten Entgelts
    verpflichtet.<br>
    § 6 Preiserhöhung<br>
    Die Tineon AG hat jederzeit das Recht, die Vergütung
    für die Nutzung der Software zu erhöhen.
    Eine Preiserhöhung tritt immer erst dann in Kraft,
    wenn bestehende Lizenzverträge und
    Vertragslaufzeiten verlängert werden, d.h. ab dem
    auf das jeweils aktuelle Vertragsjahr
    folgende Vertragsjahr (siehe § 4, Ziffer 4). Die
    Tineon AG wird eine Preiserhöhung mindestens
    drei Monate vor Inkrafttreten ankündigen. Der Verein
    kann der angekündigten Preiserhöhung
    innerhalb von vier Wochen nach Zugang der
    Ankündigung widersprechen. Die Tineon AG weist
    schon jetzt darauf hin, dass sie in diesem Fall die
    Möglichkeit hat, den Vertrag ordentlich zu
    kündigen.<br>
    § 7 Änderungen der AGB<br>
    Änderungen dieser AGB wird Tineon dem Verein
    schriftlich oder per E-Mail mitteilen. Die
    Zustimmung des Vereins zur Änderung von
    Vertragsbedingungen gilt als erteilt wenn der Verein
    der Änderung nicht innerhalb von vier Wochen nach
    Zugang der Mitteilung über die Änderung
    per Brief oder per E-Mail widerspricht. Widerspricht
    der Verein, kann die Tineon AG den
    jeweiligen Vertrag ordentlich zum nächstmöglichen
    Termin kündigen. Die Tineon AG verpflichtet
    sich, mit der Änderungsmitteilung den Verein auf die
    Folgen eines nicht erfolgten Widerspruchs
    hinzuweisen.<br>
    § 8 Gewährleistung / Updates<br>
    8.1 Die Tineon AG weist daraufhin, dass es nach dem
    Stand der Technik nicht möglich ist,
    Software so zu erstellen, dass sie in allen
    Anwendungen und unter allen Bedingungen fehlerfrei
    arbeitet. Die Tineon AG gewährleistet, dass die
    Software den wesentlichen Funktionsbe-
    schreibungen entspricht. Der Verein hat eventuell
    auftretende Mängel – unter Protokollierung
    gegebenenfalls angezeigter Fehlermeldungen –
    schriftlich zu melden. Von der Gewährleistung
    ausgeschlossen sind grundsätzlich solche Fehler, die
    durch äußere Einflüsse, Bedienungs-
    fehler oder nicht von der Tineon AG bzw. im Auftrag
    der Tineon AG durchgeführte Änderungen,
    Ergänzungen, Ein- oder Ausbauten, Reparaturversuchen
    oder sonstige Manipulationen
    entstehen, es sei denn, der Verein weist nach, dass
    diese Nutzung für den Mangel nicht
    ursächlich war.<br>
    8.2 Die Tineon AG gewährleistet eine Erreichbarkeit
    der Server von mind. 99 % im Jahresmittel.
    Hiervon ausgenommen sind reguläre Wartungsarbeiten
    und Zeiten, in denen der Server auf
    Grund von technischen oder sonstigen Problemen, die
    nicht im Einflussbereich von der Tineon
    AG liegen (höhere Gewalt, Verschulden Dritter usw.)
    über das Internet nicht zu erreichen ist.<br>
    Die Tineon AG kann den Zugang zu den Leistungen
    beschränken, sofern dies die Sicherheit
    des Netzbetriebes, die Aufrechterhaltung der
    Netzintegrität, insbesondere die Vermeidung
    schwerwiegender Störungen des Netzes, der Software
    oder gespeicherter Daten erfordern.<br>
    8.3 Wenn es der Tineon AG nicht gelingt, den
    aufgetretenen Fehler innerhalb von 20 Werktagen zu
    beseitigen und dieser Fehler nicht vom Verein zu
    vertreten ist hat der Verein das Recht den
    Vertrag fristlos zu kündigen. Ansonsten ist das
    Kündigungsrecht des Vereins wegen Nicht-
    gewährung des Gebrauchs gem. § 542 BGB
    ausgeschlossen.<br>
    8.4 Die Tineon AG wird die Software weiterentwickeln
    und in regelmäßigen Abständen die Software
    updaten.<br>
    8.5 Die Tineon AG informiert den Verein rechtzeitig
    über wesentliche Änderungen der Software
    bzw. des Leistungspakets, welche die mit dem Verein
    vertraglich vereinbarten Funktionalitäten
    betreffen.<br>
    § 9 Haftung<br>
    9.1 Die Software wird von der Tineon AG nach dem
    Stand der Technik getestet und auf ihre
    allgemeine Tauglichkeit hin geprüft.<br>
    9.2 Die Tineon AG oder ein Erfüllungsgehilfe der
    Tineon AG haften für Vorsatz oder grobe
    Fahrlässigkeit. Darüber hinaus haftet Tineon AG bis
    zur Höhe des typischerweise voraus-
    sehbaren Schadens, jedoch maximal der Höhe nach
    beschränkt auf eine Jahresgebühr, auch
    für solchen Schaden, den die Tineon AG oder die
    leitenden Angestellten der Tineon AG in
    Verletzung einer Pflicht, deren Erfüllung die
    ordnungsgemäße Durchführung des Vertrages
    überhaupt erst ermöglicht und auf deren Einhaltung
    der Nutzer regelmäßig vertrauen darf
    (wesentliche Vertragspflicht/Kardinalpflicht)
    verursacht haben.<br>
    9.3 Diese Haftungsbeschränkung gilt im Hinblick auf
    alle Schadensersatzansprüche und unab-
    hängig von ihrem Rechtsgrund insbesondere auch im
    Hinblick auf vorvertragliche oder neben-
    vertragliche Ansprüche. Sie schränkt jedoch eine
    gesetzlich zwingende Haftung nach dem
    Produkthaftungsgesetz oder eine Haftung für
    zugesicherte Eigenschaften, soweit die
    zugesicherte Eigenschaft den Verein gerade vor dem
    einge-tretenen Schaden schützen sollte,
    ebenso nicht ein wie die Haftung für schuldhafte
    Verletzung von Leib, Leben oder Gesundheit.
    Die verschuldensunabhängige Haftung von der Tineon
    AG für bereits bei Vertragsabschluß
    vorhandene Fehler nach § 536 b BGB wird ausdrücklich
    ausgeschlossen.<br>
    § 10 Datenschutz<br>
    Die Tineon AG bietet dem Verein die Möglichkeit
    einen Vertrag zur Auftragsverarbeitung gemäß
    Art. 28 DS-GVO abzuschließen. Näheres kann auf der
    Webseite www.s-verein.de/datenschutz
    in Erfahrung gebracht werden.<br>
    § 11 Nebenabreden, Rechtswirksamkeit, Aufrechnung<br>
    11.1 Nebenabreden und Vertragsergänzungen bedürfen
    zu ihrer Wirksamkeit der Schriftform. Das
    gilt auch für das Schriftformerfordernis selbst.
    Sollte eine Bestimmung dieses Vertrages
    unwirksam sein oder werden, so wird hiervon die
    Wirksamkeit der sonstigen Bestimmungen
    nicht berührt. Die unwirksame oder fehlende
    Bestimmung soll vielmehr durch eine wirtschaftlich
    und rechtlich gleichwertige ersetzt werden.
    Entsprechendes gilt im Falle einer Regelungslücke.<br>
    11.2 Die Geltendmachung eines
    Zurückbehaltungsrechtes oder die Aufrechnung mit
    etwaigen
    Gegenansprüchen des Vereins ist ausgeschlossen,
    soweit diese Gegenansprüche nicht
    rechtskräftig festgestellt, oder von der Tineon AG
    ausdrücklich anerkannt worden sind.<br>
    § 12 Gerichtsstand<br>
    Erfüllungsort ist Meersburg. Überlingen wird als
    Gerichtsstand für alle Streitigkeiten im
    Zusammenhang mit diesem Vertrag vereinbart. Es gilt
    deutsches Recht mit Ausnahme des UN-
    Kaufrechts (CISG).<br>
    Stand: 26. Mai 2018<br>
</div>