  <!-- Page -->
  <div class="page">
    <div class="page-header">
        <h1 class="page-title">Questionnaire</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item"><a >Content</a></li>
          <li class="active breadcrumb-item">Questionnaire</li>
        </ol>
        <div class="page-header-actions">
          <a class="btn btn-sm btn-default btn-outline btn-round" href="https://angularjs.org/" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
        </div>
      </div>
    <div class="page-content add_content_main">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title pl-20">Questionnaire</h3>
          </div>
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-6 col-lg-6">
                    <!-- Example Rounded Input -->
                    <div class="example-wrap mb-20">
                        <h4 class="example-title">Title <span style="color: red;">*</span></h4>
                        <input type="text" class="form-control" id="inputHelpText">
                      </div>
                      <div class="form-horizontal">
                        <div class="form-group row">
                          <div class="col-xl-12 col-md-12">
                            <h4 class="example-title">Body (Edit Summery) <span style="color: red;">*</span></h4>
                            <textarea class="form-control" name="skills" rows="3" placeholder="Detailed question" required="" data-fv-field="skills"></textarea>
                          <small class="invalid-feedback" data-fv-validator="notEmpty" data-fv-for="skills" data-fv-result="NOT_VALIDATED" style="display: none;">The skills is required</small><small class="invalid-feedback" data-fv-validator="stringLength" data-fv-for="skills" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small></div>
                        </div>
                         <!-- Example Select -->
                         <div class="example-wrap m-sm-0">
                            <h4 class="example-title mt-20">Text format</h4>
                            <div class="form-group">
                              <select class="form-control">
                                <option>Filtered HTML</option>
                                <option>Plain Text</option>
                                <option>PHP Code</option>
                              </select>
                              <span class="text-help">Internet and e-mail addresses are converted automatically.</span>
                              <span class="text-help">Global tokens are replaced by their values ​​(e.g. [site: name] or [current-page: title]).</span>
                              <span class="text-help">Permitted HTML tags: &lt;a&gt; &lt;p&gt; &lt;span&gt; &lt;div&gt; &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;h4&gt; &lt;h5&gt; &lt;h6&gt; &lt;img&gt; &lt;map&gt; &lt;area&gt; &lt;hr&gt; &lt;br&gt; &lt;br &gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;table&gt; &lt;tr&gt; &lt;td&gt; &lt;th&gt; &lt;em&gt; &lt;b&gt; &lt;u&gt; &lt;i&gt; &lt;strong&gt; &lt;del&gt; &lt;ins&gt; &lt;sub&gt; &lt;sup&gt; &lt;quote&gt; &lt;blockquote&gt; &lt;pre&gt; &lt;address&gt; &lt;code&gt; &lt;cite&gt; &lt;embed&gt; &lt;object&gt; &lt;param&gt; &lt;strike&gt; &lt;caption&gt; &lt;thead&gt; &lt;tbody&gt; &lt;tfoot&gt; &lt;tt&gt; &lt;var&gt; &lt;small&gt; &lt;big&gt; &lt;samp&gt; &lt;s&gt; &lt;q&gt; &lt;kbd&gt; &lt;dfn&gt; &lt;iframe&gt; 
                                </span>
                                <span class="text-help">HTML line breaks and paragraphs are generated automatically.</span>
                            </div>
                          </div>
                          <!-- End Example Select -->
                      </div>
                    <!-- End Example Rounded Input -->
                  </div>
            </div>
        </div>
      </div>
      <!-- End Panel -->
       <!-- Panel -->
       <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title pl-20">Domain Access Settings</h3>
          </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                <div class="col-md-12 col-lg-12">
                    <!-- Example Rounded Input -->
                    <div class="example-wrap">
                        <h4 class="example-title">Question <span style="color: red;">*</span></h4>
                        <div class="example-wrap">
                            <div class="checkbox-custom checkbox-primary">
                              <input type="checkbox" id="inputUnchecked">
                              <label for="inputUnchecked">Send to all partners</label>
                              <span class="text-help">Select if this content can be shown to all affiliates. This setting will override the options below, but you must still select a domain that "owns" this content.</span>
                            </div>
                            <h4 class="example-title mt-20">Publish to <span style="color: red;">*</span></h4>
                            <div class="checkbox-custom checkbox-primary">
                              <input type="checkbox" id="inputChecked" checked="">
                              <label for="inputChecked">My S-Club</label>
                            </div>
                            <div class="checkbox-custom">
                              <input type="checkbox" >
                              <label>S-Club | The online club administration</label>
                            </div>
                            <div class="checkbox-custom">
                              <input type="checkbox" checked="">
                              <label>Online help for the S-Verein</label>
                            </div>
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="inputChecked" checked="">
                                <label for="inputChecked">Online help DFBNet Verein</label>
                              </div>
                              <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="inputChecked" checked="">
                                <label for="inputChecked">S-Club | The online club management NEW</label>
                                <span class="text-help">Choose which partners can access this content.</span>
                              </div>
                          </div>
                          <div class="col-md-6 p-0 mt-20">
                            <!-- Example Select -->
                            <div class="example-wrap m-sm-0">
                              <h4 class="example-title">Source domain</h4>
                              <div class="form-group">
                                <select class="form-control">
                                  <option>Use active domain</option>
                                  <option>My S-Club</option>
                                  <option>S-Club | The online club administration</option>
                                  <option>Online help for the S-Verein</option>
                                  <option>Online help DFBNet Verein</option>
                                </select>
                                <span class="text-help">This affiliate will be used to write links to this content from other affiliates, as needed.</span>
                              </div>
                            </div>
                            <!-- End Example Select -->
                          </div>
                      </div>
                    <!-- End Example Rounded Input -->
                  </div>
            </div>
        </div>
      </div>
      <!-- End Panel -->
       <!-- Panel -->
       <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
              <div class="col-xl-12">
                <!-- Example Tabs Left -->
                <div class="example-wrap faq_tabs">
                  <div class="nav-tabs-vertical" data-plugin="tabs">
                    <ul class="nav nav-tabs mr-25" role="tablist">
                      <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsLeftOne" aria-controls="exampleTabsLeftOne" role="tab" aria-selected="false">Version Information</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftTwo" aria-controls="exampleTabsLeftTwo" role="tab" aria-selected="true">Comments Settings</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftThree" aria-controls="exampleTabsLeftThree" role="tab">Url's Alias Settings</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftFour" aria-controls="exampleTabsLeftFour" role="tab">Information about the Author</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsLeftFive" aria-controls="exampleTabsLeftFour" role="tab">Publishing Settings</a></li>
                    </ul>
                    <div class="tab-content pb-15">
                      <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">Create a new version</label>
                        </div>
                        <div class="example-wrap">
                          <h4 class="example-title">Version log message</h4>
                          <textarea class="form-control" id="textareaDefault" rows="3"></textarea>
                          <p class="text-help">An explanation of the innovations or changes made in order to make your motivation clear to other authors.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                        <div class="radio-custom radio-primary">
                          <input type="radio" id="inputRadiosChecked" name="inputRadios" checked="">
                          <label for="inputRadiosChecked">Open</label>
                          <p class="text-help">Users with the “Create Comments” permission can create comments.</p>
                        </div>
                        <div class="radio-custom radio-primary">
                          <input type="radio" id="inputRadiosChecked" name="inputRadios" checked="">
                          <label for="inputRadiosChecked">Close</label>
                          <p class="text-help">Users are not allowed to post comments.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked"> Generate automatic URL alias</label>
                          <p class="text-help">Deactivate to enter a custom url. <a>Configure patterns for URL aliases.</a></p>
                        </div>
                        <div class="example-wrap">
                          <h4 class="example-title">URL alias</h4>
                          <input type="text" class="form-control" id="inputPlaceholder" placeholder="placeholder">
                          <p class="text-help">You can specify an alternate URL that can be used to access this content. For example, “info” can be specified for an information page. Use a relative path and do not add a trailing slash or the URL alias will not work.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftFour" role="tabpanel">
                        <div class="example-wrap">
                          <h4 class="example-title">Created by</h4>
                          <input type="text" class="form-control" id="inputPlaceholder" placeholder="tarun@mangoitsolutions.in">
                          <p class="text-help">Leave blank for guest .</p>
                        </div>
                        <div class="example-wrap">
                          <h4 class="example-title">Written on</h4>
                          <input type="text" class="form-control" id="inputPlaceholder" placeholder="tarun@mangoitsolutions.in">
                          <p class="text-help">Format: 2021-12-27 07:00:11 +0100 . The date format is YYYY-MM-DD and +0100 is the time zone difference from UTC. Leave blank to use the current time.</p>
                        </div>
                      </div>
                      <div class="tab-pane" id="exampleTabsLeftFive" role="tabpanel">
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">Released</label>
                        </div>
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">On the home page</label>
                        </div>
                        <div class="checkbox-custom checkbox-primary">
                          <input type="checkbox" id="inputChecked" checked="">
                          <label for="inputChecked">At the top of lists</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Example Tabs Left -->
              </div>
            </div>
        </div>
      </div>
      <!-- End Panel -->
      <div class="example example-buttons">
        <div class="float-left">
          <button type="submit" data-style="zoom-in" data-plugin="ladda" class="btn btn-success ladda-button">
            <span  class="ladda-label"><i aria-hidden="true" class="icon wb-upload text mr-10"></i>Save</span>
            <span _ngcontent-meq-c61="" class="ladda-spinner"></span>
          </button>
        </div>
        <div class="float-left">
          <button  type="button" data-style="zoom-out" data-plugin="ladda" class="btn btn-warning ladda-button">
            <span class="ladda-label"><i class="icon wb-eye mr-10" aria-hidden="true"></i>Preview</span>
            <span class="ladda-spinner"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->